<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>

        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a>  
        </div>

    </ion-nav-buttons>
    <ion-content scroll="true">
        <div class="back-bg">
            <div class="wrapper section-one" style="text-align: justify;">
                <!--<div class="section-line">-->
                <h1><span>Meet</span> The Four Biographers</h1>

                <p>Before you start the story take a moment and introduce yourself to the four biographers whose accounts we are using to tell the harmonized version of the story of Jesus. </p>
                <h1><span>Matthew <a class="" href="javascript:void(0)" style="color:#850e0e" data="{{event.id}}"><i ng-click="playAudio($event, '0_2.mp3','Matthew')" class="ion-android-volume-mute playAudio"></i><i class="ion-volume-mute pauseAudio" style="display:none"></i></a></span></h1>
                
                <!--                <div style="display: none;">
                                    <audio controls id="Matthew">
                                        <source id="mp3_src" src="" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                </div>-->
                <h3>The Gospel of Matthew is the first of four books that we will draw upon to tell the harmonized story of Jesus. </h3>
                <!--</div>-->
                <p><strong>As the first year</strong> of Jesus’ public ministry came to a close, the time was right for him to choose his final disciple. </p>
                <p>Jesus had spent much of his time in Judea, by the Jordan River where John the Baptist was preaching the message that people should turn away from their sins and be baptized to show that they had changed their hearts. </p>
                <p>Soldiers sent from King Herod arrested and imprisoned John. After this happened, Jesus went to a region in Galilee called Capernaum where he healed the sick and diseased, cast out demons, and performed many other miraculous works.</p>
                <p>As Jesus was walking along the Galilean seashore and teaching those who kept coming up to be with him, he saw a tax collector sitting in his  office. Jesus went up to him and said, Follow me.</p>
                <p>The tax collectors name was Matthew (also called Levi) and as soon as Jesus called him he immediately left all his business behind and followed Jesus.</p>
                <p>Later, Matthew celebrated his new friendship by having a large celebration for Jesus at his home. The other disciples joined Jesus along with Matthews’s friends and acquaintances, which included a large number of tax collectors and other people of low reputation. </p>
                <p>When the religious leaders (Pharisees and teachers) saw Jesus eating and drinking with tax collectors and other outcasts of society, they criticized Jesus and his disciples by asking:</p>
                <blockquote><p>Why do you eat and drink with tax collectors and sinners?</p></blockquote>
                <p>When Jesus heard what they were saying, he replied:</p>
                <blockquote><p>It isn’t people who are well who need a doctor, but those who are sick. Jesus went on to say, I haven’t come to call the righteous; I have come to call sinners to repentance.</p></blockquote>
                <p>This incident in the story of Jesus is recorded in the book that Matthew wrote. This book is called </p>


                <h1><span>Mark <a class="" href="javascript:void(0)" style="color:#850e0e"><i ng-click="playAudio($event, '0_3.mp3','Mark')" class="ion-android-volume-mute playAudio"></i><i class="ion-volume-mute pauseAudio" style="display:none"></i></a></span></h1>
                <div style="display: none">
                    <audio controls id="Mark">
                        <source src="" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <h3>The Gospel of Mark is the second source that we will use to tell the harmonized story of Jesus.</h3>
                <p><strong>One day Jesus left</strong>his hometown of Nazareth and went to the Jordan River where John the Baptist was busy preaching that the Kingdom of Heaven was at hand and that men needed to repent and be baptized. </p>
                <p>When Jesus asked John to baptize him, John objected, by saying:</p>
                <blockquote><p>I am the one who needs to be baptized by you.</p></blockquote>
                <p>Jesus reassured John that this is something he needed to do as a part of what God had already planned.</p>
                <p>John then agreed to baptize Jesus. As Jesus came out of the water, the Holy Spirit in the form of a dove came down from heaven and rested on Jesus. At the same time a voice thundered from heaven and said:</p>
                <blockquote><p>This is my beloved Son in whom I am well pleased.</p></blockquote>
                <p>The very next day, Jesus passed by John the Baptist and two of John's disciples. John, seeing Jesus, proclaimed:</p>
                <blockquote>
                    <p>Behold the Lamb of God who takes away the sin of the world. </p>
                </blockquote>
                <p>John’s two disciples, hearing this, began to follow Jesus.</p>
                <p>Jesus, seeing them, followed and asked them:</p>
                <blockquote>
                    <p>What are you looking for?  </p>
                </blockquote>
                <p>Teacher, they replied:</p>
                <blockquote>
                    <p>Where are you staying?   </p>
                </blockquote>
                <p>Jesus answered:</p>
                <blockquote><p>Come and see.</p></blockquote>
                <p>The two men followed Jesus and spent the rest of the day with him.</p>
                <p>One of the men was a fisherman named Andrew. After spending just a short time with Jesus, Andrew became convinced that Jesus was the long awaited Messiah. He went and found his brother Simon and brought him to Jesus. </p>
                <p>As soon as Jesus met Simon he looked at him with intensity and asked:</p>
                <blockquote><p>You are Simon, the son of John? You shall be called Peter.</p></blockquote>
                <p>Peter, whose name means ‘stone,’ became one of the most ardent disciples of Jesus and a personal witness to Jesus’ miracles and his teachings. Peter became one of the leaders of the first Christian church in Jerusalem after Jesus’ death and resurrection.</p>
                <p>It was during that time that Peter became connected with a man named John Mark (simply known as Mark) Mark became Peter’s personal secretary. Mark wrote the story of Jesus that is called the Gospel of Mark. </p>
                <p>Most biblical scholars agree that Peter was the authoritative source of Mark’s account. Mark was not one of the 12 disciples, but he was an eyewitness to many of the events surrounding Jesus’ life and was part of the wider circle of Jesus’ followers.</p>
                <p>The Gospel of Mark is the second source that we will use to tell the harmonized story of Jesus.</p>


                <h1><span>Luke <a class="" href="javascript:void(0)" style="color:#850e0e"><i ng-click="playAudio($event, '0_4.mp3','Luke')" class="ion-android-volume-mute playAudio"></i><i class="ion-volume-mute pauseAudio" style="display:none"></i></a></span></h1>
                <div style="display: none">
<!--                    <audio controls id="Luke">
                        <source src="" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>-->
                </div>
                <h3>The third source we will use to tell the story of Jesus comes from the gospel written by Luke.</h3>
                <p><strong>Luke was a Greek physician.</strong>He did not witness the life of Jesus personally, but he did carefully compile everything he could learn about Jesus and his ministry from those who witnessed the life and ministry of Jesus Christ. </p>
                <p>Luke watched the growth of the church and the miracles of the Holy Spirit that attended that growth. He was a friend and companion of Paul, the apostle.</p>
                <p>Each of the four “good news” accounts of Jesus was either written by men who knew and walked with Jesus, or were accounts based on personal, firsthand testimonies of men who heard Jesus teach, witnessed his works and testified to the truthfulness of what they saw.</p>


                <h1><span>John <a class="" href="javascript:void(0)" style="color:#850e0e"><i ng-click="playAudio($event, '0_5.mp3','John')" class="ion-android-volume-mute playAudio"></i><i class="ion-volume-mute pauseAudio" style="display:none"></i></a></span></h1>
                <div style="display: none">
<!--                    <audio controls id="John">
                        <source src="" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>-->
                </div>
                <h3>John is the fourth and final source we will use to tell the “harmonized” story of Jesus.</h3>
                <p><strong>One day a fisherman named John</strong> was mending his nets by the sea of Galilee when Jesus came by and called John to follow him. John left his fishing nets and for the next three years followed Jesus. During that time, he became one of Jesus’ closest companions. He listened to what Jesus said and saw most of the miracles that Jesus made happen. </p>
                <p>It was during this time that John became convinced that Jesus was not just a man – but God.</p>
                <p>John is the fourth and final source we will use to tell the “harmonized” story of Jesus. </p>
            </div>

        </div>
    </ion-content>
</ion-view>
