<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>

        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a>  
        </div>     
    </ion-nav-buttons>



    <ion-content scroll="true">
        <div class="left-arrow">
            <a ng-href="#/app/mp5"><i class="ion-arrow-left-c side-menu-btn"></i></a>
        </div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h1>His Approaching Passion</h1>

                    <p>In the meantime, the crowds continued to grow to many thousands. There were so many people that they could hardly move without stepping on someone.</p>

                    <p>With the crowds nearby, Jesus began teaching his <a href="javascript:void(0)" ng-click="popup('apostles')">disciples</a>. Jesus told them:</p>

                    <p>Beware of the <a href="javascript:void(0)" ng-click="popup('yeast')">yeast</a> of the <a href="javascript:void(0)" ng-click="popup('pharisees')">Pharisees</a>, which is hypocrisy. There is nothing that is now concealed that will not be revealed, and nothing is hidden that will not be made known.</p>

                    <p>Remember that whatever you have said in darkness will be heard in the light, and things which you have spoken in the most secret place will be broadcast on the housetops.</p>

                    <p>I say to you my friends, Do not be afraid of those who kill the body, because that is all they can do. But I warn you to be afraid of he who has the power not only to kill the body but to cast the soul into <a href="javascript:void(0)" ng-click="popup('hell')">hell</a>. Fear him.</p>

                    <img src="img/palmsunset.png" class="img-responsive" name="palmsunset" title="palmsunset" />
                    <p>Aren't five sparrows worth about two cents? And not one of them is forgotten in the sight of God. Every hair of your head is numbered, Fear not: You are more valuable than many sparrows.</p>

                    <p>And I tell you this, everyone who acknowledges me before men, I will acknowledge him before the <a href="javascript:void(0)" ng-click="popup('angel')">angels</a> of God. But the person who denies me in the presence of men, he will be denied before the angels of God.</p>

                    <p>Everyone who speaks a word against the Son of man will be forgiven. But if a person <a href="javascript:void(0)" ng-click="popup('blasphemies')">blasphemes</a> the <a href="javascript:void(0)" ng-click="popup('holyspirit')">Holy Spirit</a>, will not be forgiven.</p>

                    <p>When they bring you before the <a href="javascript:void(0)" ng-click="popup('synagogues')">synagogue</a> and the rulers and the authorities, do not be anxious about how you will answer their charges, or what you should say, for the Holy Spirit will teach you what to say at the time when you are required to speak.</p>

                    <p>One of the people in the multitude shouted out:</p>

                    <p><a href="javascript:void(0)" ng-click="popup('teacher')">Teacher</a>, tell my brother to divide the inheritance with me.</p>

                    <p>Jesus told him:</p>

                    <p>Who made me a judge or a divider over you?</p>

                    <p>He turned to the crowd and said:</p>

                    <p>Pay attention and keep yourself from covetousness. A man's life is not measured by the number of things that he owns.</p>

                    <p>Jesus then told them a <a href="javascript:void(0)" ng-click="popup('parable')">parable</a>:</p>

                    <p>There was a rich man who had a tremendous harvest. He said to himself:</p>

                    <p>What should I do since I have no place to store all the harvest.</p>

                    <p>And he said to himself:</p>

                    <img src="img/camelshadow.png" class="img-responsive" name="camelshadow" title="camelshadow" />
                    <p>This is what I will do: I will pull down my barns and build bigger barns; I will put all my grains and my goods in the new barns. I will say to my soul,</p>

                    <p>Soul you have much wealth laid up for many years to come, take your ease, eat drink and be merry.</p>

                    <p>But God said to him:</p>

                    <p>You foolish man, this very night your soul is required of you; the things that you have stored up for yourself, whose will they be?</p>

                    <p>This is just like the person who stores up treasure for himself but is not rich toward God.</p>

                    <p>And he said to his disciples:</p>

                    <p>Listen to what I say. Do not be anxious about your life, as to what you are going to eat; or about your body, as to what you will wear. Life is more than food and clothing.</p>

                    <p>Think about the ravens, they do not plant or reap, they have no barns to store up grain, and yet God feeds them.</p>

                    <p>How much more valuable are you than the birds? Who among you, by being anxious, can add one minute to the length of his life?</p>

                    <img src="img/aloecactus.png" class="img-responsive" name="aloecactus" title="aloecactus" />
                    <p>You cannot affect even the smallest thing by being anxious. Why be anxious about everything else.</p>

                    <p>Think about the lilies of the field. They do not labor or make their own clothing, and yet Solomon and all his glory was not dressed like any of them.</p>

                    <p>If God clothes the grass of the field, which is here today and gone into the furnace tomorrow, how much more will he clothe you? Oh you of little faith.</p>

                    <p>Don't worry about what you are going to eat or drink, and don't be anxious in your minds about the future. For this is how the world responds to life. Seek the kingdom and all these other things will be taken care of.</p>

                    <p>Do not be afraid, little flock, for it is your Father's good will to give you the kingdom. Sell what you have, and give gifts to God and his service.</p>

                    <p>Make for yourselves purses that do not wear out, and a treasure in heaven that will never run out, where there is no thief who will steal it or moths that will consume it. Wherever your treasure is, that's where your heart will be.</p>

                    <p>And be prepared to move quickly and keep your lamps burning.</p>

                    <p>Keep alert like men who are waiting for the groom to return to the marriage feast, so that when he comes and knocks on the door you are ready to answer it and let him in quickly.</p>

                    <p>Blessed are the servants who the Lord finds waiting for his return. When he comes he will gather his faithful servants together and sit down to a meal with them and serve them.</p>

                    <p>Blessed are the servants who are ready for their Lord to come, even when he is least expected. So be ready, for he will come at a time when you don't think he is coming.</p>

                    <p>Peter then asked the Lord if these parables were for the disciples only or for everyone.</p>

                    <p>Jesus answered:</p>

                    <p>Blessed is the wise steward who is found doing his master's will when he comes. That faithful servant will be put in charge of much more after the master returns.</p>

                    <p>But woe to the servant who thinks, My Lord is going to be late coming, so I may mistreat the servants under me, and eat and drink and becomes drunk without any regard for the Lord's coming.</p>

                    <p>The Lord will come on a day that the servant does not expect and he will be punished severely.</p>

                    <p>The servant who acts disobediently, out of ignorance, will receive a lesser punishment.</p>

                    <p>To everyone who has been given much, much shall be required.</p>

                    <p>I came to rouse men to spiritual conflict. Do not think that I have come to give peace on the earth. No, but rather division.</p>

                    <p>In the future, five in one house will be divided; three will be of one mind and two of another.</p>

                    <p>A father will be divided against his son, and a son against his father; mother against daughter and daughter against her mother; mother in law against her daughter in law, and the daughter in law against her mother in law.</p>

                    <p>Then Jesus spoke to the crowds and said:</p>

                    <p>When you see a cloud rising in the west, you know that it is going to rain. And so it does. And when you see the south wind blowing, you say, There will be a scorching heat; And so it happens.</p>

                    <p>You hypocrites, you know how to interpret the weather and the sky; but you don't know how to interpret these present times.</p>
                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_62">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_64">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
