<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>
        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a>  
        </div>     
    </ion-nav-buttons>



    <ion-content scroll="true">
        <div class="left-arrow">
            <a ng-href="#/app/mp6"><i class="ion-arrow-left-c side-menu-btn"></i></a>
        </div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h1>Sabbath Healing </h1>

                    <p>The time came when Jesus went into one the rulers of the <a href="javascript:void(0)" ng-click="popup('pharisees')">Pharisees</a> home to eat bread on the <a href="javascript:void(0)" ng-click="popup('')">Sabbath</a> day. They were watching him to see what he would do.</p>

                    <p>And a man with the <a href="javascript:void(0)" ng-click="popup('dropsy')">dropsy</a> came and stood before Jesus.</p>

                    <p>Jesus knew what the Pharisees were thinking, and said:</p>

                    <p>Is it lawful to heal on the Sabbath, or not?</p>

                    <p>The Pharisees didn't say a word.</p>

                    <p>Jesus then healed the man.</p>

                    <p>Then he said to the Pharisees:</p>

                    <p>Which one of you whose ox or donkey fell into a well on the Sabbath day would not immediately pull him out?</p>

                    <p>They couldn't answer him.</p>

                    <img src="img/yemenite.png" class="img-responsive" name="yemenite" title="yemenite" />
                    <p>When Jesus saw how the Pharisees honored themselves by taking the chief seats. He told them a <a href="javascript:void(0)" ng-click="popup('parable')">parable</a>.</p>

                    <p>Jesus said:</p>

                    <p>When you are invited to a marriage feast, don't sit in the place of honor, or someone who is more important than you will come in and you will be asked to move to one of the lesser seats.</p>

                    <p>But instead, find the lowest seat you can and take it so that when the host comes he will invite you to take a better seat next to the host, and you will receive honor from everyone there.</p>

                    <p>Everyone who exalts himself will be humbled, and he who humbles himself will be exalted.</p>

                    <p>And then he said to the Pharisee who had invited him to eat:</p>

                    <p>When you make a dinner or a supper, don't call your friends, or your brothers, or your relatives or your rich neighbors. They can all pay you back with the same hospitality.</p>

                    <p>When you make a feast, invite the poor, the injured, the lame and the blind. You will be blessed because they do not have any way to repay you. You will receive a reward in the resurrection of the just.</p>

                    <p>One of the guests at the meal with Jesus, after hearing what Jesus said, exclaimed:</p>

                    <p>Blessed is the person that eats bread in the kingdom of God.</p>

                    <p>But Jesus answered him:</p>

                    <p>A man made a great supper, and he invited many to come. He sent his servants out to ask his friends to come because the feast was just about ready.</p>

                    <p>But the friends began to make excuses as to why they could not come.</p>

                    <p>One invited guest said:</p>

                    <p>I have just purchased a field and I need to go see it, please excuse me from coming.</p>

                    <p>Another invited guest said:</p>

                    <p>I have just purchased five yoke of oxen, I need to go and try them out, please excuse me.</p>

                    <p>And another said:</p>

                    <p>I have just gotten married and I cannot come.</p>

                    <p>When the servant came to his master and told him how his invited guests had replied, the man became very angry. He said to his servant:</p>

                    <p>Go quickly into the streets and lanes of the city and bring in the poor, the maimed and the blind.</p>

                    <p>After that had been done there was still room at the feast. So the servant was sent to find guests in the highways and hedges, until the man's house was full.</p>

                    <p>The Master of the feast said:</p>

                    <p>None of those men who were first invited will ever taste my feast.</p>

                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_100">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_102">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
