<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>

        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a>  
        </div>

    </ion-nav-buttons>



    <ion-content scroll="true">
        <div class="left-arrow">
            <a ng-href="#/app/mp4"><i class="ion-arrow-left-c side-menu-btn"></i></a>
        </div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h1>Jesus Heals a Paralytic </h1>
                    <img src="img/safedalleyscene.png" class="img-responsive" name="safedalleyscene" title="safedalleyscene" />
                    <p>Days later, Jesus returned to <a href="javascript:void(0)" ng-click="popup('capernaum')">Capernaum</a> for more teaching. The crowds discovered the house where Jesus was staying.</p>

                    <p>The crowds trying to get into the house were so great that there was no room for anyone to even squeeze through a door. Jesus was teaching them the word of God. <a href="javascript:void(0)" ng-click="popup('pharisees')">Pharisees</a> and <a href="javascript:void(0)" ng-click="popup('lawyers')">doctors of the law</a> had come from every village of <a href="javascript:void(0)" ng-click="popup('galilee')">Galilee</a>, <a href="javascript:void(0)" ng-click="popup('judea')">Judea</a> and <a href="javascript:void(0)" ng-click="popup('jerusalem')">Jerusalem</a>.</p>

                    <p>Jesus was displaying the Lord's power as healed people of all sorts of sickness and disease.</p>

                    <p>Four men carried a man in a <a href="javascript:void(0)" ng-click="popup('bed')">bed</a> who was paralyzed, but they could not reach Jesus because of the crowds.</p>

                    <p>So they carried the man up the stairs to the rooftop where they uncovered the roof tiles and let the man down through the hole in the roof. They let him down right in the middle of the crowd where Jesus was teaching and healing.</p>

                    <p>Jesus saw their faith and said to the paralyzed man:</p>

                    <p>Man, be of good cheer, your sins are forgiven.</p>

                    <p>When some of the <a href="javascript:void(0)" ng-click="popup('scribes')">scribes</a> and Pharisees who were sitting near Jesus heard what he had said to the paralytic, they spoke among and wondered:</p>

                    <p>How can he say something like this? He is a blasphemer. Who is this person speaking <a href="javascript:void(0)" ng-click="popup('blasphemies')">blasphemies</a>? Who can forgive sins? Only God can forgive a man's sins.</p>

                    <p>Jesus knew what they were thinking and asked them:</p>

                    <p>Why are you thinking evil thoughts in your hearts? What is easier, to say to the paralyzed man, 'your sins be forgiven,' or to say, 'stand up and take up your bed and walk?'</p>

                    <p>The man immediately stood up and took his bed and walked in front of everyone. He left for his house, glorifying God. Everyone was amazed, and when the crowd saw what had happened, they were afraid.</p>

                    <p>They were filled with excitement and began glorifying God who had given such authority to a man. </p>
                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_34">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_36">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
