<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>
        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a>  
        </div>     
    </ion-nav-buttons>



    <ion-content scroll="true">
       <div class="left-arrow">
            <a ng-href="#/app/mp6"><i class="ion-arrow-left-c side-menu-btn"></i></a>
        </div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h3>The Lost Son </h3>

                    <p>Jesus said:</p>

                    <p>A man had two sons. The younger son said to his father:</p>

                    <p>Give me my inheritance.</p>

                    <p>And the father did as the son requested and divided his inheritance and gave his portion to the youngest son.</p>

                    <p>A couple days later, the young son gathered all his things together and took a journey into a faraway country.</p>

                    <p>When he arrived in the far country he spent his entire inheritance on wild living. And after he had spent everything he had, there came a mighty famine in the land, and the son began to go hungry.</p>

                    <p>So he joined himself to one of the citizens of the country who sent him into his pasture to feed the pigs.</p>

                    <p>And the son was so hungry that he started thinking about eating the husks that were being feed to the pigs. No one would help him.</p>
                    <img src="img/brothers.png" class="img-responsive" name="brothers" title="brothers" />
                    <p>After a while, he came to his senses and said:</p>

                    <p>My father's hired hands have bread to spare and lack of nothing, and I am here dying of hunger. I will get up and go to my father's house and tell him that I have sinned against heaven and in his sight.</p>

                    <p>I will tell him that I am not worthy to be his son, and beg him to hire me on as a servant.</p>

                    <p>So he got up and went to his father. And while he was off in the distance, a ways from his father house, his father saw him and was moved with compassion for him. He ran and met him, and hugged and kissed him.</p>

                    <p>The son said to the father, I have sinned against heaven and in your sight, I am not worthy to be called your son.</p>

                    <p>But the father interrupted the son and said to his servants:</p>

                    <p>Bring out the finest clothes and dress my son, put a ring on his hand and new shoes on his feet. And pick out the finest calf and kill it and make a feast.</p>

                    <p>Let's celebrate, for this was my son who was dead, and he is now alive. He was lost and now he is found.</p>

                    <p>And they had a celebration.</p>

                    <p>But the oldest son was in the field, and when he came near the house and heard the music and saw the dancing, he called one of the servants aside to find out what was happening. And the servant told him.</p>

                    <p>The older brother became angry and would not go into join the celebration. His father came out to talk with him and asked him to join the celebration, but he would not.</p>

                    <p>He said to his father:</p>

                    <p>I have served you faithfully for all these years and never disobeyed any of your rules. You never gave me a baby goat, much less a calf, that I might have a celebration with my friends.</p>

                    <p>But your son, who has wasted his inheritance and spent his money on prostitutes, has been given a party. You have killed a calf for him and made a feast.</p>

                    <p>The father said:</p>

                    <p>You are always with me and everything I have belongs to you. But it was good to have a celebration for you younger brother. Your brother was dead and is now alive.</p>

                    <p>He was lost but now he is found.</p>

                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_103c">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_103e">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
