<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>

        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a>  
        </div>     
    </ion-nav-buttons>



    <ion-content scroll="true">
        <div class="left-arrow">
            <a ng-href="#/app/mp5"><i class="ion-arrow-left-c side-menu-btn"></i></a>
        </div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h1>Accusations of the Jews</h1>

                    <p>When the <a href="javascript:void(0)" ng-click="popup('scribes')">scribes</a> and the <a href="javascript:void(0)" ng-click="popup('pharisees')">Pharisees</a> heard this, they said:</p>

                    <p>This man casts out <a href="javascript:void(0)" ng-click="popup('demon')">demons</a> by the power of <a href="javascript:void(0)" ng-click="popup('satan')">Beelzebub</a>, the prince of demons.</p>

                    <p>Others tried to get Jesus to perform a heavenly sign to show that the Pharisees were mistaken.</p>

                    <p>Jesus, understanding everything they were thinking, called them together and told this <a href="javascript:void(0)" ng-click="popup('parable')">parable</a>:</p>

                    <p>How can Satan cast out Satan? A city or a house divided against itself cannot stand. A kingdom that is divided against itself cannot stand.</p>

                    <p>If Satan is divided against himself, then how will his kingdom stand? And if Satan has risen up against himself, he cannot stand but will come to an end.</p>

                    <img src="img/harvesttall.png" class="img-responsive" name="harvesttall" title="harvesttall" />
                    <p>If I am casting out demons by the power of Beelzebub, then by whose power are your disciples casting demons out? They will be your judge.</p>

                    <p>But if, by the power of the <a href="javascript:void(0)" ng-click="popup('holyspirit')">Holy Spirit</a> of God, I cast out demons, then the kingdom of God has come upon you.</p>

                    <p>When a strong man who is fully armed guards his home and belongings, his home is safe. But if a stronger man comes and defeats him, he takes away the armor that he was trusting in, steals his goods and wrecks his home.</p>

                    <p>This can only happen if the strong man is bound and defeated.</p>

                    <p>He who is not with me is against me, and the person who is not gathering with me is scattering.</p>

                    <p>The truth you need to understand is this: Every sin and <a href="javascript:void(0)" ng-click="popup('blasphemies')">blasphemy</a> will be forgiven. But the blasphemy against the Holy Spirit will not be forgiven. Anyone that speaks a word against the Son of man can be forgiven.</p>

                    <p>But anyone that blasphemes against the Holy Spirit can never be forgiven and has committed an eternal sin. This is a sin that will not be forgiven in this world or in the world to come.</p>

                    <p>This was Jesus' response to those who said he had an <a href="javascript:void(0)" ng-click="popup('demon')">unclean spirit</a>.</p>	

                    <p>Jesus continued:</p>

                    <p>Be honest, say that the tree is good and produces good fruit or say that the tree is corrupt and produces corrupt fruit.</p>

                    <p>You children of snakes: how can you, being evil, speak good things. For out of the abundance of your heart your mouth speaks.</p>

                    <p>The good man, out of the good stored in him, produces good things. The evil man, out of the evil stored in him, produces evil things.</p>

                    <p>I tell you this, every careless word that a man speaks, he will give an account for it on the day of judgment. Your words will either justify you or they will condemn you.</p>
                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_58">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_60">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
