<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>
        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a> 
        </div>     
    </ion-nav-buttons>



    <ion-content scroll="true">
        <div class="left-arrow"><a ng-href="#/app/mp7"><i class="ion-arrow-left-c side-menu-btn"></i></a></div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h1>Destruction of Jerusalem Foretold</h1>
                    <img src="img/mtolivegraves.png" class="img-responsive" name="mtolivegraves" title="mtolivegraves" />
                    <p>Jesus went out from the <a href="javascript:void(0)" ng-click="popup('temple')">temple</a> for the last time. He would never return. As he was going by the temple buildings, one of the <a href="javascript:void(0)" ng-click="popup('apostles')">disciples</a> came to Jesus and said:</p>

                    <p>Look at the majesty of these buildings. The stone work is marvelous and the adornments are spectacular.</p>

                    <p>Jesus said:</p>

                    <p>You see these buildings? The truth is that in the days to come there will not be one stone left upon another. It will all be thrown down.</p>

                    <p>Later, as Jesus sat on the <a href="javascript:void(0)" ng-click="popup('mountofolives')">Mount of Olives</a>, on the side near the temple, the disciples Peter, James, John and Andrew came to Jesus privately and said:</p>

                    <p><a href="javascript:void(0)" ng-click="popup('teacher')">Teacher</a>, tell us when will these things happen? What will be the sign of your coming, and of the end of the world?</p>

                    <p>Jesus said:</p>

                    <img src="img/mtolivepilgrims.png" class="img-responsive" name="mtolivepilgrims" title="mtolivepilgrims" />
                    <p>Beware that no one leads you astray: For many will come using my name and will tell you that the time to set up the eternal kingdom has arrived. Do not follow after them.</p>

                    <p>You will hear of wars and disturbances, and rumors of wars. Do not let this trouble you or make you afraid.</p>

                    <p>These things must happen before I come, but the end is not yet.</p>

                    <p>Nation will rise up against nation, and kingdom against kingdom.</p>

                    <p>There will be earthquakes all over the world, and all over the world there will be famines and earthquakes; and there will be terrors and great signs from heaven.</p>

                    <img src="img/romesidenav.jpg" class="img-responsive" name="romesidenav" title="romesidenav" />
                    <p>All these are just the beginning of birth pains.</p>

                    <p>But before all these things happen, they will lay hands on you and persecute you, they will deliver you up to the synagogues and prisons, and bring you before kings and governors for my name's sake.</p>

                    <p>They will deliver you up to councils and to tribulation, and they will kill you. You will be beaten in the <a href="javascript:void(0)" ng-click="popup('synagogues')">synagogues</a> and hated of all nations for my name's sake.</p>

                    <p>You will stand before kings and give testimony for my name's sake.</p>

                    <p>The <a href="javascript:void(0)" ng-click="popup('gospel')">Gospel</a> must first be preached to all the nations.  When they lead you to judgment and deliver you up, do not be anxious ahead of time about what you will say.</p>

                    <p>Settle it in your hearts not to meditate beforehand on how to answer. I will give you  wise words to say that your adversaries will not be able to withstand.</p>

                    <img src="img/jesusjudea.jpg" class="img-responsive" name="jesusjudea" title="jesusjudea" />
                    <p>Whatever is given to you in that hour to say, you can say it, but it is not you who speaks, it is the <a href="javascript:void(0)" ng-click="popup('holyspirit')">Holy Spirit</a>.</p>

                    <p>Many will stumble and betray you, and hate you.  Many false prophets will rise and lead many astray.</p>

                    <p>Because iniquity will come to its full fruition, the love of many will grow cold. Even parents will deliver up their own sons and daughters and friends.</p>

                    <p>Brother will deliver up brother to death, and children will rise up against their parents and cause them to be put to death.</p>

                    <p>You will be hated of all men for my namesake.</p>

                    <p>But he who endures to the end will be saved. In your patience you will win your souls.</p>

                    <p>This Gospel of the kingdom shall be preached in the whole world for a testimony to all the nations; and then the end will come</p>

                    <p>But when you see Jerusalem encompassed with armies, then know that her desolation is at hand.</p>

                    <p>When you see the abomination of desolation, which was spoken of through Daniel the <a href="javascript:void(0)" ng-click="popup('prophesied')">prophet</a> standing in the holy place where he should not be, then let those in <a href="javascript:void(0)" ng-click="popup('judea')">Judea</a> flee to the mountains.</p>

                    <p>Don't let those who are in the middle of Jerusalem depart; don't let those who are in the country enter into Jerusalem.</p>

                    <p>Don't waste your time trying to collect your property or goods for these are the days of vengeance, so that all that is written may be fulfilled.</p>

                    <p>Woe to those who are pregnant and to those with small children. There is going to be great distress upon the land and wrath to this people.</p>

                    <p>They will fall by the edge of the sword, and will be led captive into all nations. Jerusalem will be trodden down by the <a href="javascript:void(0)" ng-click="popup('gentiles')">Gentiles</a>.</p>

                    <p>Pray that your flight not be in the winter, or on the <a href="javascript:void(0)" ng-click="popup('sabbath')">Sabbath</a>.</p>

                    <p>For in those days there will be great tribulation, such as there has not been since the beginning of the world.</p>

                    <p>Unless those days were shortened no human would have been saved. But for the sake of the elect, the ones God has chosen, he has shortened those days.</p>

                    <p>If any man says to you:</p>

                    <p>Go here to see the <a href="javascript:void(0)" ng-click="popup('christ')">Christ</a>.</p>

                    <p>Do not believe him. For there will arise false Christ's and false prophets, and they will show great signs and wonders so as to lead the elect astray, if possible.</p>

                    <p>Be warned ahead of time, I have told you all these things so that you will not be deceived. If they tell you:</p>

                    <p>Look, he is in the wilderness.</p>

                    <p>Do not go looking for him.</p>

                    <p>Or if they say:</p>

                    <p>Look, he is in the inner chambers.</p>

                    <p>Do not believe it.</p>

                    <p>For as the lightning comes out of the east, and is seen in the west; so it will be with the coming of the Son of man.</p>

                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_123">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_125">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
