<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>
        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a> 
        </div>     
    </ion-nav-buttons>



    <ion-content scroll="true">
        <div class="left-arrow"><a ng-href="#/app/mp7"><i class="ion-arrow-left-c side-menu-btn"></i></a></div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h1>Preparation for Passover</h1>

                    <p>The days of unleavened bread came. It was the day that the <a href="javascript:void(0)" ng-click="popup('passover')">Passover</a> lamb must be <a href="javascript:void(0)" ng-click="popup('sacrifices')">sacrificed</a>.</p>

                    <p>The <a href="javascript:void(0)" ng-click="popup('apostles')">disciples</a> came to Jesus and said:</p>

                    <p>Where will we go to eat the Passover meal?</p>

                    <p>Jesus sent Peter and John to make ready the Passover meal.</p>

                    <p>He said to them:</p>

                    <p>Go into the city, and when you have entered you will meet a man who is carrying a pitcher of water. Follow him into the house that he enters.</p>

                    <p>And when they ask you why you are there, tell them that the Teacher says:</p>

                    <p>My time is at hand. Where will I eat the Passover with my disciples?</p>

                    <img src="img/sedarsmall.png" class="img-responsive" name="sedarsmall" title="sedarsmall" />
                    <p>And he will show you a large upper room that is furnished and ready. Go to the upper room and make things ready for us.</p>

                    <p>The disciples went into the city, and found the man who Jesus described, and made ready the Passover.</p>

                    <p>When the evening came, Jesus and the twelve disciples came to the upper room.</p>

                    <p>Jesus sat down with his twelve disciples. He said to them:</p>

                    <p>I desire to eat this Passover with you before I begin my suffering.</p>

                    <p>And Jesus received the cup and gave thanks and said:</p>

                    <p>Take this cup and distribute it among yourselves. For I say to you:</p>

                    <p>I will not drink from the fruit of the vine again until the kingdom of God shall come.</p>

                    <img src="img/jeruromandoor.png" class="img-responsive" name="jeruromandoor" title="jeruromandoor" />
                    <p>An argument started among them as to which one of them was going to be considered greatest in the coming kingdom. </p>

                    <p>They misunderstood Jesus and thought that he was just about to set up his earthly kingdom.</p>

                    <p>Jesus said to them:</p>

                    <p>The kings of the <a href="javascript:void(0)" ng-click="popup('gentiles')">Gentiles</a> have lordship over others, and those who have authority over others are called Benefactors.</p>

                    <p>But it will not be that way with you.</p>

                    <p>He that is greater among you let him take the place of the youngest; and the one who is chief among you, let him be the one who serves.</p>

                    <p>Who is greater, the one who is served the meal or the one who serves it? Isn't it the one who sits at the meal?</p>

                    <p>But I am in the midst of you, as one who serves.</p>

                    <p>You have continued with me in my trials. And I will have appointments for you in the kingdom, just as the Father has appointed me, that you may eat and drink at my table in the kingdom; and you will sit on thrones judging the <a href="javascript:void(0)" ng-click="popup('abraham')">twelve tribes of Israel</a>.</p>

                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_127">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_129">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
