<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>
        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a>  
        </div>     
    </ion-nav-buttons>



    <ion-content scroll="true">
         <div class="left-arrow">
            <a ng-href="#/app/mp6"><i class="ion-arrow-left-c side-menu-btn"></i></a>
        </div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h1>Raising of Lazarus</h1>

                    <p>A friend of Jesus was sick.  His name was Lazarus. He lived in <a href="javascript:void(0)" ng-click="popup('bethany')">Bethany</a> with his sisters Mary and Martha. It was Mary who had anointed the Lord with ointment and <a href="javascript:void(0)" ng-click="popup('anointfeet')">wiped his feet</a> with her hair.</p>

                    <p>Mary and Martha sent word to Jesus that their brother Lazarus, who Jesus loved, was sick to the point of death.</p>

                    <p>When Jesus heard it he said:</p>

                    <p>This sickness has come about so that God and his Son will be glorified.</p>

                    <p>Jesus loved Mary and Martha and their brother Lazarus.</p>

                    <p>Jesus stayed two more days where he was. Then after two days he said to his <a href="javascript:void(0)" ng-click="popup('apostles')">12 disciples</a>:</p>

                    <p>Lets go back to <a href="javascript:void(0)" ng-click="popup('judea')">Judea</a>.</p>

                    <p>The disciples said to him:</p>

                    <p><a href="javascript:void(0)" ng-click="popup('teacher')">Teacher</a>, the Jews who live in that region want to <a href="javascript:void(0)" ng-click="popup('stoning')">stone</a> you, and you want to go back there?</p>

                    <p>Jesus answered:</p>

                    <img src="img/lazarustomb.png" class="img-responsive" name="lazarustomb" title="lazarustomb" />
                    <p>Are there not twelve hours in the day? If a man walks in the daylight he doesn't stumble because he sees the light of this world.</p>

                    <p>But if a man walks in the night, he stumbles because the light is not in him.</p>

                    <p>Jesus said these things to his disciples after he told them that their friend Lazarus had fallen asleep:</p>

                    <p>I will go and wake him up.</p>

                    <p>His disciples said:</p>

                    <p>If he is asleep then perhaps the fever is gone.</p>

                    <p>Jesus was saying that Lazarus was dead, but the disciples thought he was saying that Lazarus was restfully sleeping.</p>

                    <p>Finally Jesus said to his disciples:</p>

                    <p>Lazarus is dead. And I am glad for your sakes that I was not there, so that you may believe. Let's go to him.</p>

                    <p>Thomas, who is also called Didymus. said to his fellow-disciples:</p>

                    <p>Let's go so that we may die with him.</p>

                    <p>So when Jesus came to Bethany, to the house of Mary and Martha, he found that Lazarus had been in the tomb for four days.</p>

                    <p>Now Bethany was very near <a href="javascript:void(0)" ng-click="popup('jerusalem')">Jerusalem</a>. Many of the Jews had come to Martha and Mary to console them over the death of their brother.</p>

                    <img src="img/jesusjudea.jpg" class="img-responsive" name="jesusjudea" title="jesusjudea" />
                    <p>When Martha heard that Jesus was coming, she went to meet him. But Mary stayed in the house.</p>

                    <p>Martha said to Jesus:</p>

                    <p>Lord, if you had been here my brother would not have died. But even now I know that what you ask God to do, He will do.</p>

                    <p>Jesus said to her:</p>

                    <p>Your brother will rise again.</p>

                    <p>Martha said to him:</p>

                    <p>I know that he will rise again in the resurrection at the last day.</p>

                    <p>Jesus said to her:</p>

                    <p>I am the resurrection, and the life. He who believes in me, <a href="javascript:void(0)" ng-click="popup('eternal')">even if he dies, he will live</a>, and whoever lives and believes in me will never die. Do you believe this?</p>

                    <p>Martha said to him:</p>

                    <p>Yes, Lord. I believe that you are the <a href="javascript:void(0)" ng-click="popup('christ')">Christ</a>, the Son of God, the one sent into this world from God.</p>

                    <p>After she said this she went and called Mary her sister secretly, saying:</p>

                    <p>The Teacher is here and is looking for you.</p>

                    <p>Mary got up quickly and went to Jesus. Jesus was not yet in Bethany, but waiting at the same place that Martha had left him.</p>

                    <p>The Jews who were consoling Mary and Martha in their homes, saw Mary get up quickly and leave. They supposed that she was going to the tomb to weep, and they followed her.</p>

                    <p>When Mary came to where Jesus was she fell at his feet and said to him:</p>

                    <p>Lord if you had been here, my brother would not have died.</p>

                    <p>Jesus saw her weeping, and he saw the Jews also who had come along with her weeping. He groaned in his spirit and was troubled and asked:</p>

                    <p>Where have you laid him?</p>

                    <p>They said to him:</p>

                    <p>Lord, come and see.</p>

                    <p>Jesus wept.</p>

                    <p>The Jews said:</p>

                    <p>Look how he loved him!</p>

                    <p>But others said:</p>

                    <p>If he could open the eyes of the blind couldn't he have prevented Lazarus from dying?</p>

                    <p>After groaning, Jesus came up to the tomb that was in a cave with a stone lying against the opening.</p>

                    <p>Martha said:</p>

                    <p>Lord, the body is decayed since it has been dead for four days.</p>

                    <p>Jesus said to her:</p>

                    <p>Didn't I tell you that if you believed you would see the glory of God?</p>

                    <p>So at Jesus' instruction they took away the stone from in front of the tomb.</p>

                    <p>Jesus lifted up his eyes and said:</p>

                    <p>Father, I thank you that you hear me. I know you always hear me but I want the people who are here to believe that you sent me.</p>

                    <p>And then Jesus with a loud voice said:</p>

                    <p>Lazarus come out.</p>

                    <p>Lazarus came out of the tomb, his hands and feet were bound with grave-clothes, and his face was covered by a napkin. Jesus said to them:</p>

                    <p>Unwrap him and let him go.</p>

                    <p>Many of the Jews who had come to comfort Mary and her sister Martha saw Jesus raise Lazarus from the dead and believed in him.</p>

                    <p>Others went out and told the <a href="javascript:void(0)" ng-click="popup('pharisees')">Pharisees</a> what Jesus had done. </p>

                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_103g">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_105">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
