<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>
        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a> 
        </div>     
    </ion-nav-buttons>


    <ion-content scroll="true">
        <div class="left-arrow"><a ng-href="#/app/mp7"><i class="ion-arrow-left-c side-menu-btn"></i></a></div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h3>Jesus Found to Be Dead</h3>

                    <p>Because the <a href="javascript:void(0)" ng-click="popup('sabbath')">Sabbath</a> of the <a href="javascript:void(0)" ng-click="popup('passover')">Passover</a> week was approaching and the Jews did not want any bodies hanging on the <a href="javascript:void(0)" ng-click="popup('cross')">cross</a> on that Sabbath, they asked <a href="javascript:void(0)" ng-click="popup('pilate')">Pilate</a> to <a href="javascript:void(0)" ng-click="popup('legs')">break their legs</a> and dispose of the bodies.</p>

                    <p>The soldiers came and broke the legs of the first criminal, but when he came to Jesus he saw that he was already dead. So they did not break his legs. But to be sure that Jesus was dead they took a spear and pierced his side. Blood and water poured from his wound.</p>

                    <p>The fulfilled the <a href="javascript:void(0)" ng-click="popup('scripture')">scripture</a> that said:</p>

                    <p>Not a bone of his body will be broken. And again, They will look on him who they pierced.</p>

                    <p>Joseph of Arimathaea, who was a rich man, and also a good and righteous man, had not consented to what the chief <a href="javascript:void(0)" ng-click="popup('priest')">priests</a> and rulers of Israel had done. He was also looking for the kingdom of God, and was a secret <a href="javascript:void(0)" ng-click="popup('apostles')">disciple</a> of Jesus, fearing the Jews.</p>

                    <p>He boldly went to Pilate and asked for the body of Jesus.</p>

                    <p>Pilate was amazed that Jesus was already dead and called the <a href="javascript:void(0)" ng-click="popup('centurion')">centurion</a> in charge to ask how long Jesus had been dead.</p>

                    <img src="img/aloe.png" class="img-responsive" name="aloe" title="aloe" />
                    <p>The centurion verified that Jesus was dead, and told Pilate the details of his death. Pilate then gave the body of Jesus to Joseph of Arimathaea.</p>

                    <p>Nicodemus, who had come to Jesus by night, had also come to help with the dead body of Jesus. He brought with him about a hundred pounds of <a href="javascript:void(0)" ng-click="popup('vinegar')">myrrh</a> and aloes. Joseph brought linen cloth.</p>

                    <p>Joseph took down the body of Jesus and wrapped him in linen cloth with <a href="javascript:void(0)" ng-click="popup('spices')">spices</a>, which was the burial custom of the Jews.</p>

                    <p>Now, near the place where Jesus was <a href="javascript:void(0)" ng-click="popup('crucified')">crucified</a>, there was a garden, and in the garden there was a new tomb that had been carved out of the rock. No one had been buried in this tomb before.</p>

                    <p>They laid Jesus in the tomb and rolled a great stone up against the door of the tomb, and left.</p>

                    <p>The women who had come from <a href="javascript:void(0)" ng-click="popup('galilee')">Galilee</a> followed after Joseph and his party and saw the place where Jesus' body was laid. Mary Magdalene was there, and the other Mary.</p>

                    <p>They returned to where they were staying to prepare <a href="javascript:void(0)" ng-click="popup('spices')">spices</a> and ointments for burial. But they rested on the Sabbath day.</p>

                    <p>The chief <a href="javascript:void(0)" ng-click="popup('priest')">priests</a> and <a href="javascript:void(0)" ng-click="popup('pharisees')">Pharisees</a> gathered together and came to <a href="javascript:void(0)" ng-click="popup('pilate')">Pilate</a>. They said to Pilate:</p>

                    <p>Sir, we remember that this deceiver said while he was still alive that he would rise again after three days.</p>

                    <p>Command that the tomb be guarded until the third day, so that one of his disciples does not come and steal the body and say to the people that Jesus is risen from the dead, which would make matters worse.</p>

                    <p>Pilate said to them:</p>

                    <p>I will give you a squadron of guards so that you can go and make the tomb as secure.</p>

                    <p>So they went and secured the tomb where Jesus had been laid, sealing the stone and posting guards around it. </p>

                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_144c">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
