<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>
        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a> 
        </div>     
    </ion-nav-buttons>



    <ion-content scroll="true">
        <div class="left-arrow"><a ng-href="#/app/mp7"><i class="ion-arrow-left-c side-menu-btn"></i></a></div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h1>Peter Denies the Lord</h1>

                    <p>Simon Peter had followed Jesus and so did another <a href="javascript:void(0)" ng-click="popup('apostles')">disciple</a>. Now that disciple was known to the high <a href="javascript:void(0)" ng-click="popup('priest')">priest's</a> household, and they entered into the court of the high priest.</p>

                    <p>Peter followed along and was standing at the door outside the court of the high priest. The other disciple went and spoke to the woman who kept the door, and she let Peter inside.</p>

                    <p>The maid, who kept the door said to Peter:</p>

                    <p>Aren't you one of Jesus' disciples?</p>

                    <p>Peter replied:</p>

                    <p>I am not.</p>

                    <p>And Peter entered in.</p>

                    <p>Now the servants and the officers were standing by a fire of coals that they had going, warming themselves because it was cold.</p>
                    <img src="img/jeruexcavatetower.png" class="img-responsive" name="jeruexcavatetower" title="jeruexcavatetower" />
                    <p>Peter sat with them and as he was sitting there warming himself by the light of the fire, another servant girl came by and looked directly at Peter and said:</p>

                    <p>You were with Jesus the <a href="javascript:void(0)" ng-click="popup('galilee')">Galilaean</a>.</p>

                    <p>Peter denied it before all of them, saying:</p>

                    <p>I don't know what you are talking about. Woman, I do not know him.</p>

                    <p>Those who were with Peter by the fire said to him:</p>

                    <p>Aren't you one of his disciples?</p>

                    <p>Peter said:</p>

                    <p>I am not!</p>

                    <p>Then he went out into the porch, and the rooster crowed.</p>

                    <p>After a little while longer another said:</p>

                    <p>I am sure this man was with Jesus, for he is a Galilaean.</p>

                    <p>But Peter said:</p>

                    <p>Man, I don't know what you are talking about.</p>

                    <p>And again they came to Peter and said:</p>

                    <p>Your accent gives you away, you're a Galilaean and a disciple of Jesus.</p>

                    <p>And the rooster crowed the second time</p>

                    <p>Then Peter began to curse and to swear:</p>

                    <p>I don't know this man who you are talking about.</p>

                    <p>And as soon as he said it, while he was still speaking, they brought the Lord out of the house and he turned and looked at Peter.</p>

                    <p>Then Peter remembered how the Lord had told him that before the rooster crows twice you will deny me three times.</p>

                    <p>And Peter left, and as he thought about what he had done, he wept bitterly.</p>

                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_137">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_139">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
