<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>
        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a>  
        </div>     
    </ion-nav-buttons>



    <ion-content scroll="true">
        <div class="left-arrow"><a ng-href="#/app/mp7"><i class="ion-arrow-left-c side-menu-btn"></i></a></div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h1>Jesus' Triumphant Entry</h1>

                    <p>The next day, as Jesus came near to Bethphage and <a href="javascript:void(0)" ng-click="popup('bethany')">Bethany</a> at the <a href="javascript:void(0)" ng-click="popup('mountofolives')">Mount of Olives</a>, he sent two of his <a href="javascript:void(0)" ng-click="popup('apostles')">disciples</a> on a mission.</p>

                    <p>He told them to go in a nearby village where they would find a donkey:</p>

                    <p>If anyone asks what you are doing with the donkey, just tell them that the Lord has need of him and will send him back very shortly.</p>

                    <p>This happened as was prophesied:</p>

                    <p>Tell the daughter of Zion (poetical name for the city of Jerusalem):</p>

                    <p>Look, your King comes to you, meek, and riding upon a donkey, and upon a colt, the foal of a donkey.</p>

                    <p>The two disciples left and did as Jesus had commanded.</p>

                    <p>They brought the animals to Jesus and put their coats on the back of the colt, where Jesus sat.</p>

                    <img src="img/donkey.png" class="img-responsive" name="donkey" title="donkey" />
                    <p>A multitude came to the <a href="javascript:void(0)" ng-click="popup('feast')">feast</a>. When they heard that Jesus was coming to Jerusalem, they took the branches from palm trees and went to meet him.</p>

                    <p>When they saw Jesus coming, they began to cry out:</p>

                    <p>Hosanna, Blessed is he who comes in the name of the Lord, even the king of Israel.</p>

                    <p>The <a href="javascript:void(0)" ng-click="popup('pharisees')">Pharisees</a>, seeing this, said among themselves:</p>

                    <p>We cannot stop this man. The world has gone after him.</p>

                    <p>As Jesus went to <a href="javascript:void(0)" ng-click="popup('jerusalem')">Jerusalem</a> riding on the back of the colt of a donkey, people spread their garments and branches in his path.</p>

                    <p>As he approached the foot of the <a href="javascript:void(0)" ng-click="popup('mountofolives')">Mount of Olives</a>, all his disciples rejoice and praised God with a loud voice for all the mighty works which they had seen.</p>

                    <p>The multitude cried:</p>

                    <p>Hosanna to the Son of <a href="javascript:void(0)" ng-click="popup('david')">David</a>.  Blessed is the King who comes in the name of the Lord. Peace in heaven, and glory in the highest.</p>


                    <img src="img/palmsunday.png" class="img-responsive" name="palmsunday" title="palmsunday" />
                    <p>But some of the <a href="javascript:void(0)" ng-click="popup('pharisees')">Pharisees</a> who were in the multitude came to Jesus and told him to rebuke his disciples.</p>

                    <p>Jesus said to them:</p>

                    <p>I tell you that if they keep silent, the stones will cry out.</p>

                    <p>When Jesus came near Jerusalem, he wept over it, saying:</p>

                    <p>If you had know what this day might have meant. But now it is hidden from your eyes.</p>

                    <p>Then Jesus said:</p>

                    <p>The day is coming when they will encircle you with embankments and keep you surrounded from every side.  </p>

                    <p>Jerusalem will be dashed to the ground, and her children with her.</p>

                    <p>They will not leave one stone upon another because you didn't realize that you have been given a special period of grace.</p>

                    <p>Jesus entered the <a href="javascript:void(0)" ng-click="popup('temple')">temple of God</a>. The blind came into the temple and he restored their sight.</p>

                    <img src="img/romesidenav.jpg" class="img-responsive" name="romesidenav" title="romesidenav" />
                    <p>But when the chief priest and <a href="javascript:void(0)" ng-click="popup('scribes')">scribes</a> saw the wonderful thingsthat he did, and they heard the children in the temple who were crying, Hosanna to the Son of David; they were displeased.</p>

                    <p>They said to Jesus:</p>

                    <p>Don't you hear what they are saying? </p>

                    <p>Jesus answered:</p>

                    <p>Haven't you read, Out of the mouth of babes and nursing infants you have prepared praise? </p>

                    <p>It was sunset. Jesus inspected the temple and left for Bethany, where he and his 12 disciples would spend the night.</p>

                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_117">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
