<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>

        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a>  
        </div>

    </ion-nav-buttons>



    <ion-content scroll="true">
        <div class="left-arrow">
            <a ng-href="#/app/mp4"><i class="ion-arrow-left-c side-menu-btn"></i></a>
        </div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h1>Woman at the Well </h1>
                    <img src="img/3_18gallilee.jpg" class="img-responsive" name="gallilee" title="gallilee" />

                    <p>In order to get to <a href="javascript:void(0)" ng-click="popup('galilee')">Galilee</a> he needed to pass through <a href="javascript:void(0)" ng-click="popup('samaira')">Samaria</a>. Jesus and his disciples came to a city called <a href="javascript:void(0)" ng-click="popup('sychar')">Sychar</a>, which was near a field that the Jacob had given to his son Joseph.</p>
                    <img src="img/samariaairview.png" class="img-responsive" name="samariaairview" title="samariaairview" style="float:right;padding-left:1%"/>
                    <p><a href="javascript:void(0)" ng-click="popup('jacob')">Jacob's</a> well was there. Jesus was tired from the journey, and he rested by the well.</p></p>
                    <img src="img/samaria.png" class="img-responsive" name="samaria" title="samaria" />
                    <p>He sent his <a href="javascript:void(0)" ng-click="popup('apostles')">disciples</a> into town to buy food. While Jesus was sitting alone, a Samaritan woman came to draw some water.</p>

                    <p>Jesus said to her:</p>

                    <p>Give me a drink.</p>

                    <p>The Samaritan women was surprised and asked him:</p>

                    <img src="img/samarianwoman.png" class="img-responsive" name="samarianwoman" title="samarianwoman" />
                    <p>How is that you who are a Jew would ask me, a Samaritan woman, for a drink? (The Jews did not associate with the Samaritans)</p>

                    <p>Jesus said to her:</p>

                    <p>If you only knew the gift of God and who it is that is asking you for a drink, you would have asked him and he would have given you living water.</p>

                    <p>The woman said to Jesus:</p>

                    <p>Sir, you have nothing to use to draw water out of the well, and the well is deep. Where are we going to get living water? Are you greater than our father Jacob, who gave us this well and drank from it himself, along with his sons and his cattle?</p>

                    <p>Jesus said:</p>

                    <p>Everyone who drinks this water will thirst again: but whoever drinks the water that I will give him will never be thirsty again. The water that I give him will become a well of water in him springing up to <a href="javascript:void(0)" ng-click="popup('eternal')">eternal</a> life.</p>

                    <p>The woman said:</p>

                    <p>Sir, give me this water so that I will never be thirsty again or need to come all this way to draw water from the well.</p>

                    <p>Jesus said to her:</p>

                    <p>Go call your husband and both of you come back here.</p>

                    <p>The woman answered:</p>

                    <p>I do not have a husband.</p>

                    <p>Jesus said to her:</p>

                    <p>You have answered correctly that you do not have a husband, for you have had five husbands and the man your now living with is not your husband. You have told the truth.</p>

                    <p>The woman said to Jesus:</p>

                    <p>I perceive that your are a <a href="javascript:void(0)" ng-click="popup('prophesied')">prophet</a>. Our fathers worshipped on this mountain; and you Jews say that Jerusalem is the proper place to worship.</p>

                    <p>Jesus said to her:</p>

                    <p>Woman, believe me, the hour is coming, when neither this mountain nor in <a href="javascript:void(0)" ng-click="popup('jerusalem')">Jerusalem</a> shall be the place to worship the Father. You worship ignorantly: We worship intelligently, for salvation is from the Jews. </p>

                    <p>But the hour is coming, and now is here, when the true worshippers will worship the Father in spirit and truth. These are the kind of worshippers that the Father is seeking to worship him. God is Spirit and those who worship him must worship him in <a href="javascript:void(0)" ng-click="popup('holyspirit')">spirit</a> and truth.</p>

                    <p>The woman said:</p>

                    <p>I know the <a href="javascript:void(0)" ng-click="popup('messiah')">Messiah</a>, the one called <a href="javascript:void(0)" ng-click="popup('christ')">Christ</a>, is coming; when he comes, he will declare all things to us.</p>

                    <p>Jesus said:</p>

                    <p>I, the one who is speaking to you, am he.</p>

                    <p>The disciples were coming back from town and they were amazed to see Jesus speaking to the woman. But no one said anything about it.</p>

                    <p>The woman left her water pot and went away to the city, and said to the townspeople:</p>

                    <p>Come see a man who told me all the things I ever did. Can this be the Christ?</p>

                    <p>People began leaving the city to find Jesus.</p>

                    <p>In the meantime, the disciples asked Jesus to eat. But he said to them:</p>

                    <p>I have food to eat that you do not know about. The disciples began to ask one another, Did someone bring him something to eat?</p>

                    <p>Jesus said to them:</p>

                    <p>My food is to do the will of him that sent me, and to accomplish his work. Do not say, Aren't there still four months before the harvest?</p>

                    <p>I tell you, Lift up your eyes and look on the fields, they are white and ready for harvest. He that reaps the harvest receives a wage, and gathers the fruit;  the one that sows the seed and he that reaps the harvest will rejoice together. For here is a true saying: One sows and another reaps.</p>

                    <p>I send you to reap where other have sown the seed, and you have become a part of their labor.</p>

                    <p>Many of the Samaritans believed in him because of the Samaritan woman who testified that Jesus had told her everything she ever did.</p>

                    <p>When the Samaritans found Jesus,  they asked him to stay with them. He did, for two days. Then many more believed because of his word.</p>

                    <p>They said to the woman:</p>

                    <p>Now we believe, not because of what you said. Now we believe because we have heard him for ourselves, and know that he is indeed the Savior of the world.</p>
                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_25">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_27">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
