<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>
        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a> 
        </div>     
    </ion-nav-buttons>



    <ion-content scroll="true">
        <div class="left-arrow"><a ng-href="#/app/mp8"><i class="ion-arrow-left-c side-menu-btn"></i></a></div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h1>Angels Announce the Resurrection </h1>

                    <p>But when the <a href="javascript:void(0)" ng-click="popup('sabbath')">Sabbath</a> was past, on the first day of the week, early in the morning, they came to <a href="javascript:void(0)" ng-click="popup('spices')">anoint the body</a> of Jesus.</p>

                    <p>Mary Magdalene and the other Mary had prepared <a href="javascript:void(0)" ng-click="popup('spices')">spices</a> and were coming to prepare the dead body of Jesus for final burial.</p>

                    <p>Before they approached the tomb, there was a great earthquake, and an <a href="javascript:void(0)" ng-click="popup('angel')">angel</a> of the Lord descended from heaven and came and rolled away the stone and sat upon it.</p>

                    <p>The angel's appearance was like lightning and his clothing was white as snow. The <a href="javascript:void(0)" ng-click="popup('rome')">Roman</a> guards were paralyzed with fear, and became like dead men.</p>

                    <p>Later, Mary Magdalene and the other Mary and others came to the place where Jesus had been buried. It was early Sunday morning.</p>

                    <p>The stone was rolled away and the Roman guards were gone. When they entered the tomb, the Lord's body was not there.</p>

                    <p>Mary Magdalene ran to find Simon Peter and the other <a href="javascript:void(0)" ng-click="popup('apostles')">disciple</a> who Jesus loved, and when she found them she said:</p>

                    <p>They have taken the Lord out of the tomb, and we do not know where they have laid him.</p>

                    <img src="img/gardentombflowers.png" class="img-responsive" name="gardentombflowers" title="gardentombflowers" />
                    <p>While Mary was going to get Peter and John, two angels appearing as young men in dazzling apparel appeared to those who were still at the tomb.</p>

                    <p>They were very frightened and bowed down their faces to the earth.</p>

                    <p>The angel said to the women:</p>

                    <p>Don't be afraid. We know that you are looking for Jesus, the <a href="javascript:void(0)" ng-click="popup('nazareth')">Nazarene</a>, who has been <a href="javascript:void(0)" ng-click="popup('crucified')">crucified</a>.</p>

                    <p>Why are you looking for the living among the dead? He is not here, but he is risen, just like he said he would.</p>

                    <p>Don't you remember what he told you when he was in <a href="javascript:void(0)" ng-click="popup('galilee')">Galilee</a>? The Son of man was going to be delivered up into the hands of sinful men and be crucified and rise again on the third day.</p>

                    <p>They remembered the words of Jesus.</p>

                    <p>The angel said:</p>

                    <p>Come, look at the place where they laid him! See the place where the Lord lay.</p>

                    <p>Now, go quickly and tell his disciples and Peter:</p>

                    <p>He is risen from the dead and he is going to meet you into Galilee. You will see him there.</p>

                    <p>They departed quickly and fled from the tomb with fear and with great joy. They ran to bring word to the disciples. They did not tell anyone they met on the way about what had happened, because they were trembling and astonished.</p>

                    <p>After Mary found them, Peter and John ran to the tomb. John outran Peter and arrived first. He stooped down and looked at the linen cloth that was lying in place.</p>

                    <p>Peter ran right into the tomb and saw the linen cloths lying by themselves and the napkin that had been upon Jesus' head. It was rolled up in a place by itself.</p>

                    <p>Then the other disciples entered the tomb and saw and believed that Jesus had risen from the dead.</p>

                    <p>The disciples went home wondering about all that had happened.</p>

                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_144d">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_146">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
