<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>

        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a>  
        </div>

    </ion-nav-buttons>



    <ion-content scroll="true">
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h1>John the Baptist </h1>
                    <p>The word of God came to John the Baptist while he was in the wilderness. The message he preached was that men and women should <a href="javascript:void(0)" ng-click="popup('repent')">repent</a> because the kingdom of heaven is at hand.</p>

                    <p>John was the person who <a href="javascript:void(0)" ng-click="popup('isaiah')">Isaiah</a> said would come in the spirit and power of <a href="javascript:void(0)" ng-click="popup('elijah')">Elijah</a> to make the way ready for the <a href="javascript:void(0)" ng-click="popup('messiah')">Messiah</a>.

                        Isaiah said:</p>

                    <p>Behold I send my messenger, before your face, who will prepare your way. The voice of one crying in the wilderness: Make ready the way of the Lord, Make his paths straight.</p>

                    <p>Every valley shall be filled and every mountain and hill shall be brought low; and the crooked shall become straight, and the rough ways smooth. And all people will see the salvation of God.</p>

                    <p>John began <a href="javascript:void(0)" ng-click="popup('baptizing')">baptizing</a> in the wilderness and preaching repentance for the <a href="javascript:void(0)" ng-click="popup('remission')">remission</a> of sins. John wore clothing made from camel's hair and wore a leather belt around his waist. He ate locusts and wild honey.</p>


                    <img src="img/judeanwilderness.png" class="img-responsive" name="judeanwilderness" title="judeanwilderness" />
                    <p>People came from everywhere to hear John preach. They came from the country of <a href="javascript:void(0)" ng-click="popup('judea')">Judea</a> and from Jerusalem. They came from the region around the Jordan. He baptized all who came to him confessing their sins.</p>

                    <p>John Warns the Religious Leaders</p>

                    <p>When he saw <a href="javascript:void(0)" ng-click="popup('pharisees')">Pharisees</a> and <a href="javascript:void(0)" ng-click="popup('sadducees')">Sadducees</a> coming to his baptisms, he spoke to them so that the multitude of people around him could hear:</p>

                    <p>You offspring of vipers, who told you to flee from the wrath to come, John said. Produce a manner of life that shows you really want to change, and don't think that just because you are descendants of <a href="javascript:void(0)" ng-click="popup('abraham')">Abraham</a> that God will save you.</p>

                    <p>I tell you plainly that God is able to make children of Abraham from the stones that are around you. Right now the ax lies at the root of the trees; every tree that doesn't produce good fruit is cut down and cast into the fire.</p>

                    <p>People in the crowd around John asked, What must we do?</p>

                    <p>John told them:</p>

                    <p>Those of you that have two coats, give one to the person who has none. He that has an abundance of food, share it with those who have no food.</p>

                    <img src="img/part2judea.jpg" class="img-responsive" name="part2judea" title="part2judea" />
                    <p>Publicans (<a href="javascript:void(0)" ng-click="popup('tax')">tax collectors</a> for <a href="javascript:void(0)" ng-click="popup('rome')">Rome</a>) who had come to John to be baptized asked, What must we do?</p>

                    <p>John said:</p>

                    <p>Don't steal money, but only collect the taxes that are due.</p>

                    <p>To the soldiers, John said:</p>

                    <p>Don't extort money by means of violence, and do not accuse anyone falsely or blackmail anyone. Be content with your wages.</p>

                    <p>John the Baptist's ministry created a great expectation. Many began to wonder if John might be the <a href="javascript:void(0)" ng-click="popup('christ')">Christ</a>.</p>

                    <p>John became aware of what they were thinking. He told them that while he was baptizing with water to show repentance and demonstrate that a mightier man would succeed him – a man whose shoes he was not worthy to stoop down and unloose.</p>

                    <p>John said:</p>

                    <p>The one who is coming after me will baptize with the <a href="javascript:void(0)" ng-click="popup('holyspirit')">Holy Spirit</a> and fire. The winnowing shovel is in his hand and he will completely clean the threshing floor. He will gather his grain into his vault, but the chaff he will burn up with a fire that will not go out.</p>

                    <p>With many other exhortations, John preached good tidings to the people.</p>

                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part2">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
