<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>

        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a>  
        </div>     
    </ion-nav-buttons>



    <ion-content scroll="true">
        <div class="left-arrow">
            <a ng-href="#/app/mp5"><i class="ion-arrow-left-c side-menu-btn"></i></a>
        </div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h3>Feeding the Five Thousand</h3>
                    <p>But when the multitude heard that Jesus was crossing the <a href="javascript:void(0)" ng-click="popup('seaofgalilee')">lake</a>, they followed him. Many others ran from all the surrounding cities to find Jesus.</p>

                    <p>When Jesus saw the crowds, he had pity on them and he welcomed them. Jesus taught them and healed all their diseases.</p>

                    <p>Later on, he and his disciples went into the mountain, and Jesus sat with them. The time for the feast of the <a href="javascript:void(0)" ng-click="popup('passover')">Passover</a> was near.</p>

                    <p>As the day wore on, the <a href="javascript:void(0)" ng-click="popup('apostles')">12 disciples</a> came to Jesus and said:</p>

                    <p>Send the multitudes away, it is getting late and they need to leave so that they can go into the villages and towns nearby to buy food and find lodging.</p>

                    <p>But Jesus said to them:</p>

                    <p>There is no reason for them to go away.</p>

                    <p>Jesus lifted his eyes and looked over the crowd coming to him. He said to Phillip:</p>

                    <p>Where can we buy bread enough for all these people to eat?</p>

                    <img src="img/boybread.png" class="img-responsive" name="boybread" title="boybread" />
                    <p>Jesus already knew what he was going to do, but said this to test Philip. Philip answered and said:</p>

                    <p>Even if everyone only had a small piece of bread it would cost thousands of dollars to feed them.</p>

                    <p>Jesus said to his disciples:</p>

                    <p>Give them food to eat.  they asked him, Do you want us to go and spend thousands of dollars on bread?</p>

                    <p>Jesus asked them:</p>

                    <p>How many loaves of bread do you have? Simon Peter's brother said to Jesus, There is a young lad who has five barley loaves and two fish.</p>

                    <p>But there are about 5,000 men to feed. What good would a couple loaves of bread and two fish do?</p>

                    <p>Jesus told them to bring him the five loaves and two fish. When they had done this, Jesus commanded all the people to sit down on the grass in groups of 50.</p>

                    <p>He took the bread and fish and looked up to heaven. He blessed the food and broke the loaves. He gave the loaves and fish to the disciples to distribute to the crowd.</p>

                    <p>Everyone ate until they were filled.</p>

                    <p>Once they were full, he told his disciples to gather up everything that was left over. They gathered up all the remaining loaves and fish, and it filled 12 baskets.</p>

                    <p>When the people saw this miracle they said:</p>

                    <p>This is truly the <a href="javascript:void(0)" ng-click="popup('messiah')">Messiah</a> who has come into the world.</p>

                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_74">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_74c">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
