<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>

        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a>  
        </div>     
    </ion-nav-buttons>



    <ion-content scroll="true">
        <div class="left-arrow">
            <a ng-href="#/app/mp6"><i class="ion-arrow-left-c side-menu-btn"></i></a>
        </div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h1>Parable of the Good Samaritan</h1>

                    <p>There was a <a href="javascript:void(0)" ng-click="popup('lawyers')">lawyer</a> who stood up and tried to put on trial the skill of Jesus to answer a difficult question:</p>

                    <p><a href="javascript:void(0)" ng-click="popup('teacher')">Teacher</a>, what shall I do to inherit <a href="javascript:void(0)" ng-click="popup('eternal')">eternal life</a>?</p>

                    <p>Jesus answered him:</p>

                    <p>What is written in <a href="javascript:void(0)" ng-click="popup('lawsofmoses')">the law</a>? How do you read it?</p>

                    <p>The man said:</p>

                    <p>You shall love the Lord you God with all your heart, and with all your soul, and with all your strength, and with all your mind.  You should love your neighbor as you love yourself.</p>

                    <p>Jesus said to him:</p>

                    <p>You have answered correctly. Do this and you will live.</p>

                    <img src="img/roadjericho.png" class="img-responsive" name="roadjericho" title="roadjericho" />
                    <p>But trying to justify himself, he said to Jesus:</p>

                    <p>Who is my neighbor?</p>

                    <p>Jesus told the man:</p>

                    <p>A man was going down from Jerusalem to <a href="javascript:void(0)" ng-click="popup('jericho')">Jericho</a>, and he was attacked by robbers who stripped him and beat him, leaving him half dead.</p>

                    <p>By chance, a <a href="javascript:void(0)" ng-click="popup('priest')">priest</a> was going down the same way and when he saw the man he walked on the other side of the road and passed him by.</p>

                    <p>A little later a <a href="javascript:void(0)" ng-click="popup('levite')">Levite</a>, also traveling down the road, saw the man and moved to the other side of the road and ignored him.</p>

                    <p>But a <a href="javascript:void(0)" ng-click="popup('samaira')">Samaritan</a>, who was traveling down the same road, saw the injured man and had compassion on him. He bound up his wounds, and poured <a href="javascript:void(0)" ng-click="popup('perfumedoil')">oil</a> and <a href="javascript:void(0)" ng-click="popup('vinegar')">wine</a> on them.</p>

                    <img src="img/jesusjudea.jpg" class="img-responsive" name="jesusjudea" title="jesusjudea" />
                    <p>He then put the man on his donkey and brought him to the closest inn, and took care of him.</p>

                    <p>The following day he took out a day's wage from his purse and gave it to the innkeeper with instructions to take care of the man.</p>

                    <p>He also told him that if he needed more money, he'd repay him on his next trip.</p>

                    <p>Jesus asked:</p>

                    <p>Which of the three proved to be the neighbor to the man who was attacked by the robbers?</p>

                    <p>The lawyer replied:</p>

                    <p>The one who showed him mercy.</p>

                    <p>Then Jesus said to him:</p>

                    <p>You go and do the same.</p>

                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_94">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_96">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
