<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>
        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a> 
        </div>     
    </ion-nav-buttons>



    <ion-content scroll="true">
        <div class="left-arrow"><a ng-href="#/app/mp7"><i class="ion-arrow-left-c side-menu-btn"></i></a></div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h1>Judas Bargains for Jesus Death</h1>

                    <p>Then Jesus said to his <a href="javascript:void(0)" ng-click="popup('apostles')">disciples</a>:</p>

                    <p>You know that in two days it will be <a href="javascript:void(0)" ng-click="popup('passover')">Passover</a>, and the Son of man is going to be delivered up to be <a href="javascript:void(0)" ng-click="popup('crucified')">crucified</a>.</p>

                    <p>The chief <a href="javascript:void(0)" ng-click="popup('priest')">priests</a> and elders gathered together to hold court with the high priest <a href="javascript:void(0)" ng-click="popup('caiaphas')">Caiaphas</a>.</p>	

                    <p>And they began planning how they would arrest Jesus without creating a crisis with the people, and then put him to death.</p>

                    <p>They feared the people.</p>

                    <p><a href="javascript:void(0)" ng-click="popup('satan')">Satan</a> entered into Judas Iscariot, who was one of the twelve disciples.</p>

                    <p>Judas went to meet with the chief priests and captains to discuss how he might deliver Jesus up to them.</p>

                    <p>Judas asked:</p>
                    <img src="img/jerugoldgate.png" class="img-responsive" name="jerugoldgate" title="jerugoldgate" />
                    <p>What will you pay me to deliver Jesus up to you?</p>

                    <p>When the chief priests heard that Judas was willing to give up Jesus, they were glad. They agreed to pay Judas thirty pieces of silver.</p>

                    <p>Judas agreed, and from that time on he looked for an opportunity to deliver Jesus up to the Jewish leaders, when there were no crowds around. </p>

                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_126">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_128">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
