<ion-view >
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>

        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a>  
        </div>

    </ion-nav-buttons>



    <ion-content scroll="true">
        <div class="left-arrow">
            <a ng-href="#/app/mp1"><i class="ion-arrow-left-c side-menu-btn"></i></a>
        </div>
        <div class="back-bg">

            <div class="wrapper">
                <div class="section-one">
                    <h1>The Naming of Jesus </h1>
                    <img src="img/betholivetrees.png" class="img-responsive" name="betholivetrees" title="betholivetrees" />
                    <p>After eight days, having fulfilled the rite of <a href="javascript:void(0)" ng-click="popup('circumcise')">circumcising</a> the child and officially naming him Jesus, and after all the <a href="javascript:void(0)" ng-click="popup('lawsofmoses')">ceremonial laws</a> concerning purification was complete; they brought Jesus to <a href="javascript:void(0)" ng-click="popup('jerusalem')">Jerusalem</a> to present him to the Lord. This was all done according to the law of the Lord written by <a href="javascript:void(0)" ng-click="popup('lawsofmoses')">Moses</a>.</p>

                    <p>There was a man in Jerusalem, whose name was Simeon. He was a righteous and devout man who was looking for the era of the <a href="javascript:void(0)" ng-click="popup('messiah')">Messiah</a> to be ushered in.</p>

                    <p>The Holy Spirit was upon him and had revealed to him that he would not die until he had seen the long awaited Messiah, the Lord's <a href="javascript:void(0)" ng-click="popup('christ')">Christ</a>.</p>

                    <p>Simeon had been inspired by the Spirit to go into the <a href="javascript:void(0)" ng-click="popup('temple')">temple</a> at the same time Joseph and Mary brought their child into the temple in order to perform all the customs and duties that the law of Moses required.</p>

                    <p>When Simeon saw Jesus, he took him into his arms and blessed God, and said:</p>

                    <p>Now let your servant depart in peace Lord, according to your word. For I have seen with my own eyes your salvation, which you have prepared before the face of all peoples. A light of revelation to the <a href="javascript:void(0)" ng-click="popup('gentiles')">Gentiles</a>, and the glory of your people Israel.</p>

                    <p>Joseph and Mary were marveling at the things that Simeon was saying about the child Jesus.</p>

                    <p>Then Simeon blessed the parents of Jesus and said to Mary:</p>

                    <p>Behold, this child is going to cause the falling and the rising of many in Israel and many will resist the truth. Yes, and for a sword that shall pierce through your own soul and the thoughts of many hearts may be revealed.</p>

                    <p>At the ceremony was an old woman named Anna, a prophet of the tribe of Asher. Anna was devoted to the services of the temple and spent much of her time worshipping with <a href="javascript:void(0)" ng-click="popup('fasting')">fasting</a>, praying both night and day.</p>

                    <p>When she saw Jesus she spoke to him and gave thanks to God. She pointed Jesus out to all who were looking for the redemption of <a href="javascript:void(0)" ng-click="popup('jerusalem')">Jerusalem</a>.</p>

                    <p>After Joseph and Mary had completed all the ceremonies and fulfilled the laws required regarding their firstborn, they returned home.</p>
                </div>   
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive social-footer">
        <ul class="footer-pre-nex">
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_8">PREVIOUS</a></li>
            <li class="listen-block"><a href="javascript:void(0)" ng-click="playAudio($event)" class="button button-light playAudio"><i class="ion-android-volume-mute"><span>Listen audio</span></i></a>                 <a href="javascript:void(0)" class="button button-light pauseAudio" style="display:none"><i class="ion-volume-mute">Pause Audio</i></a></li>
            <li> <a  class="button button-icon  button-light"  ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_10">NEXT</a></li>
        </ul>
    </ion-footer-bar>
</ion-view>
