<ion-view>
    <ion-nav-buttons side="right" class="gb">
        <div class="upper">
            <a style="color: white;" class="button button-icon welcome-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/home" ng-class="{'sbu-header-items-active':$root.headerurl == 'home'}"><i class="ion-ios-home-outline"></i>WELCOME</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part1_1" ng-class="{'sbu-header-items-active':$root.headerurl == 'part1' || $root.headerurl == 'mp1'}">Part 1</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part2_14" ng-class="{'sbu-header-items-active':$root.headerurl == 'part2'}">Part 2</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part3_15" ng-class="{'sbu-header-items-active':$root.headerurl == 'part3' || $root.headerurl == 'mp3'}">Part 3</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part4_21" ng-class="{'sbu-header-items-active':$root.headerurl == 'part4' || $root.headerurl == 'mp4'}">Part 4</a> 
        </div>

        <div class="upper">
            <a style="color: white;" class="button button-icon invite-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/invitation" ng-class="{'sbu-header-items-active':$root.headerurl == 'invitation'}"><i class="ion-ios-email-outline"></i>INVITATION</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part5_37" ng-class="{'sbu-header-items-active':$root.headerurl == 'part5' || $root.headerurl == 'mp5'}">Part 5</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part6_76" ng-class="{'sbu-header-items-active':$root.headerurl == 'part6' || $root.headerurl == 'mp6'}">Part 6</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part7_115" ng-class="{'sbu-header-items-active':$root.headerurl == 'part7' || $root.headerurl == 'mp7'}">Part 7</a> 
            <a style="color: white;" class="button button-icon parts-section" 
               ng-click="clickCreaElencoSpese()" ng-href="#/app/part8_145" ng-class="{'sbu-header-items-active':$root.headerurl == 'part8' || $root.headerurl == 'mp8'}">Part 8</a>  
        </div>     
    </ion-nav-buttons>
    <ion-content scroll="true">

        <div class="back-bg">
            <div class="menu-wrapper">
                <div class="right-arrow">
                    <a href="javascript:;" onclick="window.history.back()"><i class="ion-arrow-right-c side-menu-btn"></i></a>
                </div>                
                <ion-list class="list-section">
                    <ion-item ng-href="#/app/part4_21" ng-class="{'sbu-items-active':$root.url == '/app/part4_21'}">
                        21. First Passover of Jesus' Ministry
                    </ion-item>
                    <ion-item ng-href="#/app/part4_22" ng-class="{'sbu-items-active':$root.url == '/app/part4_22'}">
                        22. Jesus Cleanses the Temple
                    </ion-item>
                    <ion-item ng-href="#/app/part4_23" ng-class="{'sbu-items-active':$root.url == '/app/part4_23'}">
                        23. Nicodemus Visits Jesus by Night
                    </ion-item>
                    <ion-item ng-href="#/app/part4_24" ng-class="{'sbu-items-active':$root.url == '/app/part4_24'}">
                        24. First Ministry in Judea
                    </ion-item>
                    <ion-item ng-href="#/app/part4_25" ng-class="{'sbu-items-active':$root.url == '/app/part4_25'}">
                        25. Jesus Goes to Galilee
                    </ion-item>
                    <ion-item ng-href="#/app/part4_26" ng-class="{'sbu-items-active':$root.url == '/app/part4_26'}">
                        26. Woman at the Well
                    </ion-item>
                    <ion-item ng-href="#/app/part4_27" ng-class="{'sbu-items-active':$root.url == '/app/part4_27'}">
                        27. Arrival in Galilee
                    </ion-item>
                    <ion-item ng-href="#/app/part4_28" ng-class="{'sbu-items-active':$root.url == '/app/part4_28'}">
                        28. The Second Miracle at Cana
                    </ion-item>
                    <ion-item ng-href="#/app/part4_29" ng-class="{'sbu-items-active':$root.url == '/app/part4_29'}">
                        29. Jesus' Temporary Residence
                    </ion-item>
                    <ion-item ng-href="#/app/part4_30" ng-class="{'sbu-items-active':$root.url == '/app/part4_30'}">
                        30. Jesus Calls Four Fishermen
                    </ion-item>
                    <ion-item ng-href="#/app/part4_31" ng-class="{'sbu-items-active':$root.url == '/app/part4_31'}">
                        31. Healing a Demoniac
                    </ion-item>
                    <ion-item ng-href="#/app/part4_32" ng-class="{'sbu-items-active':$root.url == '/app/part4_32'}">
                        32. Healing Peter's Mother-In-Law
                    </ion-item>
                    <ion-item ng-href="#/app/part4_33" ng-class="{'sbu-items-active':$root.url == '/app/part4_33'}">
                        33. Preaching Tour Through Galilee
                    </ion-item>
                    <ion-item ng-href="#/app/part4_34" ng-class="{'sbu-items-active':$root.url == '/app/part4_34'}">
                        34. Jesus Heals a Leper
                    </ion-item>
                    <ion-item ng-href="#/app/part4_35" ng-class="{'sbu-items-active':$root.url == '/app/part4_35'}">
                        35. Jesus Heals a Paralytic
                    </ion-item>
                    <ion-item ng-href="#/app/part4_36" ng-class="{'sbu-items-active':$root.url == '/app/part4_36'}">
                        36. The Call of Matthew
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>