<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3><img src="img/jordanpilgrims.jpg"></h3>
        <h6>Pilgrims await baptism in the Jordan River</h6>
        <h1><span>Baptism</span></h1>

        <p>Baptism is a public ceremony indicating an inward decision of life changing importance.  John the Baptist baptized people who repented (changed the way they lived). Jesus talks about baptism as being significant.</p>

        <p>There are differences of opinion about whether a person should be sprinkled with water or immersed one or more times, and if it should happen when a person is an infant, or as a public statement indicating a conscious adult decision.</p>

        <p>Baptism symbolizes your identification with Jesus and what has taken place spiritually in your life. When you are submerged under the water and then are brought up out of the water, it shows your identification with Jesus when he died, was buried and rose from the dead.</p>

        <p> It is also symbolizes how you died to sin and your old way of life when you go under the water, and how your sins are washed away, and you are raised to a new life in Jesus as you come up out of the water.</p>
        <p>The Bible teaches that it is not baptism which saves you, but instead putting your faith in Jesus and trusting in His death on the cross to pay the penalty for your sins so you can have a relationship with God.</p>
        <p>Baptism is an opportunity for you to publicly acknowledge that you have put your faith in Jesus alone and that you want to live your life as his disciple.</p>
    </div>
</ion-content>