<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h1><span>Bed</span></h1>

        <p>A bed in Jesus' time could be a mat, or a couple of quilts, or a cot with a light portable frame, or a platform along the side of a house.</p>
        <p>Most of the time it was much like a light blanket or two. When Jesus told a man who was healed to pick up his bed, he would have been rolling up a mat.</p>

    </div>
</ion-content>