<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3><img src="img/caiapha.jpg"></h3>
        <h6>Caiaphas, by the Italian painter Angelico</h6>
        <h1><span>Caiaphas</span></h1>

        <p>The High Priesthood of <strong>Annas</strong> and <strong>Caiaphas</strong>. Annas was the father in law of Caiaphas, and although Caiaphas was the official high priest of Israel, Annas who had been the former high priest still held power and authority. Caiaphas is the high priest who tore his clothes and declared Jesus worthy of death.</p>
    </div>
</ion-content>