<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3><img src="img/centurion.jpg"></h3>
        <h6>A Centurion depicted on his gravestone</h6>
        <h6>about 100 years after the time of Jesus </h6>
        <h1><span>Centurion</span></h1>

        <p>A Roman officer in charge of a hundred men. It's the same root word as "century," which is 100 years. Centurions were often chosen because of their character and leadership qualities as well as their ability in battle.</p>
    </div>
</ion-content>