<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        
        <h1><span>Circumcise</span></h1>
        <p>The word comes from two Greek roots meaning to "cut around," and it refers to cutting the foreskin off of a male.</p>
        
        <p>God instituted circumcision with Abraham. It was to be a physical reminder of the covenant (contract or agreement) between God and Abraham and his descendants. God's covenant with Abraham was that God would make his descendants a great nation and that God would bless the world through them.</p>
        
        <p>Jesus fulfilled that covenant when he came to earth as both God and a descendant of Abraham. He lived a perfect life, died on the cross, and rose from the dead so he could establish a new covenant.</p>
        
        <p>We don't rely on physical circumcision any more as a sign of God's covenant with us, because when we have faith in Jesus and put our trust in Him, He "circumcises" or changes our hearts as a sign that we belong to Him.</p>
    </div>
</ion-content>