<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h1><span>Commandments</span></h1>

        <p> Usually refers to the 10 commandments that God gave to Moses as basic moral guidelines for the Israelites to follow. (Exodus, chapter 20)</p>

        <p>1. Thou shalt have no other gods before me.</p>
        <p>2. Thou shalt not make unto thee any graven image.</p>
        <p>3. Thou shalt not take the name of the LORD thy God in vain.</p>
        <p>4. Remember the sabbath day, to keep it holy.</p>
        <p>5. Honour thy father and thy mother.</p>
        <p>6. Thou shalt not kill.</p>
        <p>7. Thou shalt not commit adultery.</p>
        <p>8. Thou shalt not steal.</p>
        <p>9. Thou shalt not bear false witness against thy neighbour.</p>
        <p>10. Thou shalt not covet any thing that is thy neighbour's.</p>
    </div>
</ion-content>