<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="false">
    <div class="section-one angel-page common-padding">
        <h1><span>Demon, or Unclean Spirit</span></h1>

        <p>Demons are angels who chose to follow Satan and were banished from heaven with him.</p>

        <p>They roam the earth and tempt people, and sometimes even control or possess them. They try to get us to choose against God and ultimately destroy ourselves and our relationships. Unclean spirits are the same thing as demons.</p>
    </div>
</ion-content>