<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="false">
    <div class="section-one common-padding">
        <h1><span>Elijah</span></h1>
        <p>Elijah was a prophet in Israel who lived about 800 years before Christ. He challenged and defeated more than 800 pagan priests in a dramatic contest in front of many people of Israel. </p>
        <p>He was also taken to heaven in a fiery chariot, so he never died. Many people thought when they saw John the Baptist, that Elijah had returned to earth. </p>
    </div>
</ion-content>