<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h1><span>Fasting</span></h1>

        <p>Going without food, and sometimes without food and water. </p>

        <p>The Bible records people fasting on different occasions, usually for two reasons.</p>

        <p>First, it was something that people would do as an act of worship to God. They would go without eating so they could devote themselves to reading scripture and praying, and by doing that, demonstrate by their actions that God was more important to them than their physical comfort.</p>
        <p>Secondly, people would fast to help them remember that their relationship to God was even more important than eating, and sometimes also to concentrate on God and focus on knowing what God would want them to do when they had a difficult decision to make.</p>

    </div>
</ion-content>