<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3><img src="img/galbig.jpg"></h3>
        <h6>Hillside near the Mount of Beatitudes</h6>
        <h1><span>Galilee</span></h1>
        <p>Then as now, Galilee remains an agricultural region of expansive vistas. The heart of the region, the Sea of Galilee and surrounding towns, was the site of Jesus' first miracles. It was here where Jesus delivered his cornerstone sermon -- the Sermon on the Mount -- and attracted his following and most of his disciples.</p>
        <h3><img src="img/regionmap2.jpg"></h3>
        <p>Jesus' home town of Nazareth was here as well as Cana, Nain, Gennesaret, Magdala (of Mary Magdalene), and Capernaum. John the Baptist had much of his ministry in this area, too. </p>
        <p>Jesus spent much of his first year of ministry in Judea. When Herod Antipas put John the Baptist in prison, Jesus came back to Galilee. </p>
        <p>He went to Nazareth and read a prophecy from the book of Isaiah about the Messiah and told everyone there that he was the fulfillment of that prophecy – God in the flesh. This “blasphemy” so enraged the Jews that they tried to push Jesus over a cliff. They would have killed Jesus had he not miraculously escaped.    </p>
        <p>Galilee was also a prosperous area, so it wasn't uncommon to see tax collectors.</p>
    </div>
</ion-content>