<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h1><span>Hell</span></h1>

        <p>Hell is a place of permanent separation from God.</p>
        <p>Three different words in the New Testament refer to different aspects of hell:</p>
        <blockquote>
            <p>&bull; Sheol has the idea of insatiable unfulfilled desires.</p>
            <p>&bull; Hades is similar to sheol, with the added burden of prison with bars and locks.</p>
            <p>&bull; Gehenna refers to the place of the lost with terrible conditions.</p>
        </blockquote>
        <p>Dante, C.S. Lewis and other authors also created frightening descriptions of hell. Permanent separation from total love, goodness, and peace is impossible for us to fathom, but possible to avoid by putting your trust in Jesus.</p>
    </div>
</ion-content>