<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one common-padding">
        <h1><span>Isaiah</span></h1>
        <p> A prophet who lived about 750 years before Jesus was born.  </p>
        
        <p>His prophecies about the Messiah are quoted many times in the gospels as being fulfilled by Jesus. </p>
        <p>Isaiah 7: 14 prophesied that a "…virgin will conceive and bear a son and will call his name Immanuel…" (which means "God with us"). </p>
        <p>After Jesus had begun his public ministry, he went to the synagogue in Nazareth and read a prophecy from Isaiah about the Messiah and then said that he was fulfilling it (Luke 4: 16-21). </p>
        <p>As the apostles looked back at Jesus' life and death, they realized that Isaiah 53: 1-12 was fulfilled by Jesus' life and death. Jesus fulfilled these and other prophecies of Isaiah specifically 750 years after they were written. </p>
    </div>
</ion-content>