<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one common-padding">
        <h1><span>12 Tribes of Israel</span></h1>
        <p>God promised Abraham that He would make his descendants a great nation. That promise was passed to Abraham's son Isaac, then to Isaac's son Jacob. </p>
        
        <p>Jacob's 12 sons are considered the beginning of the line of each of the twelve tribes of Israel, and each tribe is named after the son from whom it descended.</p>
        <p>However, there is one slight irregularity in this part of the family tree. Jacob had 12 sons, but two of the twelve tribes are named after his grandsons. </p>
        
        <p>Levi did not get an inheritance of land because his descendants were responsible to assist the priests and maintain the temple, so their inheritance was the tithes and offerings of the people. </p>
        <p>Jacob made Joseph equal with him as a patriarch because Joseph saved their family from famine when he was second in charge in Egypt and invited them to come and live near him in Egypt. </p>
        <p>Jacob made Joseph's two sons Manasseh and Ephraim to each be the head of a tribe.</p>
    </div>
</ion-content>