<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3><img src="img/damascusgatebig.jpg"></h3>
        <h6>Damascus Gate into the Old City</h6>
        <h1><span>Jerusalem</span></h1>

        <p>Already more than a thousand years old at the time of Jesus, the city remains venerated as the home of the Temple built by Solomon, son of King David.</p>

        <p>At the time of Jesus, Jerusalem was in control of the Roman-backed army of Herod, having been under both Persian and Greek control in previous centuries. </p>
        <h3><img src="img/jerusalembasegatessmall.jpg"></h3>


        <p>Located on the heights overlooking the Rift valley, at 2500 feet above sea level, it is not uncommon for it to snow, allowing for hot summer days but cool evenings.</p>

        <h3><img src="img/jereusnow.jpg"></h3>
        <h6>Snow covered Old City</h6>
        
    </div>
</ion-content>