<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one judea-page common-padding">
        <h3><img src="img/judeabig.jpg"></h3>
        <h6>Judean Desert, Wadi Kelt, where Jesus wandered in the wilderness</h6>
        <h1><span>Judea</span></h1>
        <p>Judea is the southern province in Israel. Just north of Judea is Samaria and north of that is Galilee. Jews despised the Samaritans so much that when they were walking to Galilee from Judea, they would go out of their way to cross over to the east side of the Jordan River and go all the way around Samaria until they were far enough north to cross over into Galilee. </p>
        <img src="img/regionmap2.jpg">
        <p>It surprised Jesus' disciples when he went from Judea to Galilee straight through Samaria. It was on one of these trips that Jesus stopped to meet the Samaritan woman at the well.</p>

        <p>Judea contained the cities of Jerusalem, Bethlehem, Jericho, Bethany, Bethpage, Emmaus and others. Jerusalem is on a hill, so anytime someone is traveling to Jerusalem, they are going "up to.," and anytime they are going away from Jerusalem they are going "down to …" </p>
        <p>That's why in the story of the Good Samaritan, the traveler was going "down from Jerusalem to Jericho." (Luke 10:30) We would usually think that would mean he was traveling south, but Jericho is actually east of Jerusalem. </p>

        

    </div>
</ion-content>