<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3><img src="img/moses.jpg"></h3>
        <h6>Moses, by Miichaelangelo</h6>
        <h1><span>Laws of Moses</span></h1>
        
        <p> Moral, ceremonial, and dietary laws that God gave to Moses.  They are recorded in the first five books of the Bible.</p>
        
        <p>These books include Genesis, Exodus, Leviticus, Numbers, and Deuteronomy. It was in these books that God gave us the ten commandments and many other detailed rules and regulations.</p>
        <p> God gave the law to Moses in order to teach the children of Israel in particular, and mankind in general, that they were incapable of keeping God’s requirements and all fall under God’s condemnation.</p>
        
        <p><strong>Moses</strong> was born in Egypt during a time when the Egyptians were trying to limit the Jewish population by killing all male newborns.</p>
        <p>When Moses was born to a Jewish family, they hid him for three months and then put him in a basket and set him in the reeds near the Nile River. Moses' sister watched from a distance as Pharaoh's daughter came to bathe in the river, found the basket, and recognized him as a Hebrew (Jewish) child. </p>
        <p>The sister then asked Pharaoh's daughter if she needed someone to nurse the child. When she said yes, the daughter went to get her mother. </p>
        <p>Pharaoh's daughter paid the mother to nurse Moses until he was weaned. Then Pharaoh's daughter raised him as her son. </p>
        <p>When he was a young man, he saw an Egyptian beating a Hebrew slave and got mad and killed the Egyptian. He left the country and lived as a shepherd for forty years. </p>
        <p>Then God spoke to him through a burning bush (that didn't burn up), and came back with his brother Aaron to tell Pharaoh to let the Jews leave Egypt. </p>
        <p>When they finally left and were on their way to the land God had promised them, God called Moses to climb up Mount Sinai, where He gave Moses the stones with the Ten Commandments engraved on them (Exodus 20). </p>
        <p>When they reached the land God had promised them, they didn't really believe that God would give them victory over the people they would battle to take over the land. </p>
        <p>Because of unbelief, God said they would wander in the desert for 40 years until the unbelieving generation died off. Moses led them during those years. </p>
        <p>Moses also wrote the books of Genesis, Exodus, Leviticus, Numbers and Deuteronomy.  </p>
    </div>
</ion-content>