<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3><img src="img/romeegypt.jpg"></h3>
        <h1><span>Egypt</span></h1>

        <p>The Greeks ruled Egypt from about 330 years before Jesus was born to about 50 years before Jesus was born.</p>

        <p>Then the Romans ruled for about the next 400 years. Greek was the main language there because of so many years of Greek influence, and the Romans didn't try to change it to their official language of Latin.</p>

        <p>Alexandria, the capital of Egypt, became an important center of learning and culture. Since the whole area was controlled by Rome, it was easy for Mary and Joseph to travel to Egypt from Israel.</p>
        <h3><img src="img/egypt.jpg"></h3>
        <h6>Bedouin women cross the Sinai desert,</h6>
        <h6>which lies between Egypt and Israel</h6>

    </div>
</ion-content>