<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3><img src="img/accobig.jpg"></h3>
        <h6>Modern Mediterranean port of Acre (Acco)</h6>
        <h6>lies at southern tip of old Phoenicia</h6>
        <h1><span>Phoenicia</span></h1>

        <p>Phoenicia is the Greek name for the region that now includes the coastal regions of present-day Syria, Lebanon and Israel. This is roughly the same area sometimes referred to as Canaan. These people were known for purple dyed goods and for being great sailors and traders.
</p>
        <h3><img src="img/regionmap2.jpg"></h3>
    </div>
</ion-content>