<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3><img src="img/seaverywide.jpg"></h3>
        <h6>Sea of Galilee at Sunrise</h6>
        <h1><span>Sea of Galilee</span></h1>

        <p>Many of Jesus' disciples were fishermen on the Sea of Galilee. The lake was known for violent squalls that would come up with little warning.</p>
        
        <h3><img src="img/galileefisherman.jpg"></h3>
        <h6>Modern fisherman on the Sea of Galilee</h6>
        <p>One of the main industries was salting the fish to be exported across the Roman Empire. When Jesus was talking about the "salt of the earth" in Matthew 5: 13, the people from that area knew about salt because it was their job, and they would see it every day.</p>
    </div>
</ion-content>