<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3><img src="img/samariabig.jpg"></h3>
        <h6>Modern highway follows ancient Via Maris,</h6>
        <h6>east-west trade route across Samaria</h6>
        <h1><span>Samaria</span></h1>

        <p>People who lived in Samaria who were the result of intermarriage with Jews and Assyrians.</p>

        <h3><img src="img/regionmap2.jpg"></h3>
        
        
        <p>Assyrians invaded Israel about 700 years before Christ was born. They took many of the leaders as captives back to Assyria and transplanted Assyrians in order to change the Jewish culture in Samaria.</p>

        <p>Jews came to view these people as inferior. They would even walk around a Samarian city instead of going directly through it just so they could avoid talking or contacting a Samaritan.</p>

    </div>
</ion-content>