<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one common-padding">
        <h1><span>Messiah</span></h1>
        <p>A Hebrew word referring to a descendant of King David who would bring about peace and justice on earth. The word literally means "anointed one." </p>
        <p>God mandated that prophets, priests, and kings be anointed.  Oil was poured on them, which symbolized the Holy Spirit coming on them to give them the ability and wisdom to perform their responsibilities. </p>
        <p>When Jesus came as the Messiah, He was God in the flesh and the supreme prophet, priest, and king in one person. </p>
        <p>The Jews thought the Messiah would be a warrior-king who would establish a political kingdom with Jerusalem as the capital city. They didn't believe Jesus was the Messiah because he didn't establish a political kingdom. </p>
        <p>The Jews ignored the messianic passages written by the prophets who spoke of a suffering servant. Jesus claimed to be the Messiah, but also said that his kingdom is eternal and is in people's hearts. </p>
        <p>The kingdom that Jesus came to establish is more powerful than any political or military kingdom. While Rome and many other political kingdoms have been conquered, the Kingdom of God established by Jesus' life, death and resurrection can never be shaken. The miracle of this kingdom is that Jesus is still alive and active in the lives of his disciples. </p>
        <p>One day Jesus will come to earth again, but not as a servant.  His next coming will be heralded by the sound of trumpets announcing that King Jesus has come to rule completely and supremely over all creation. </p>
       
    </div>
</ion-content>