<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3><img src="img/jerusalembasegates.jpg"></h3>
        <h1><span>Mount of Olives </span></h1>

        <p>A mountain ridge east of Jerusalem, separated from the city by the Kidron valley.</p>

        <p>It gets its name from the olive trees that grow there and the fact that it stands about 200 feet above Jerusalem.</p>

        <p>It was one of Jesus' favorite places. He would often walk there on a road that went to Bethany.</p>

        <p>He went to pray there the night before he allowed himself to be crucified, and Judas knew where to find him. It is also prophesied that Jesus will return there (Zechariah 14: 3-5).</p>
    </div>
</ion-content>