<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h1><span>Parable</span></h1>

        <p>A story about earthly things with a spiritual meaning.</p>
        <p>Jesus used parables by describing things that were familiar to people. This helped them understand spiritual truths.</p>
        <p>Parables are different from allegories in that parables have one point and the details are important but secondary, while in an allegory, every detail has significance. Pilgrim's Progress is an allegory.</p>
        <p>One of the most well known parables is the Good Samaritan. Jesus is making the point that your neighbor is anyone who is in need who you can help, regardless of their nationality or how they have treated you.</p>
        <p>The fact that the hero in the story is a Samaritan is an important part of Jesus' main point because the Jews despised the Samaritans, and yet he was the only one to stop and help a Jew in need, and he did it generously. (Luke 10: 25-37)</p>
    </div>
</ion-content>