<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one priest-page common-padding">
        <h3><img src="img/prirest.jpg"></h3>
        <h6>A Priest, a Levite, and an Officer,</h6>
        <h6>from the History of Costume</h6>
        <h1><span>Priests and High Priests</span></h1>
        <p>Priests were descendants of Aaron whose job was to offer sacrifices and represented the people to God. </p>
        <p>Since Jesus was the ultimate sacrifice, there are no more sacrifices for sin needed. When we trust in Christ, we have direct access to God, so each of us is a priest (1 Peter 2: 9; Revelation 1: 6).</p>

        <p><strong>High Priest:</strong> Aaron, Moses' brother, was the first high priest. </p>
        <p>Originally, the office was hereditary and the person held it for life. Their most important duty was to enter the Holy of Holies once a year on the Day of Atonement, to offer sacrifices for the sins of whole nation.  </p>
        <p>They were also the head of the Sanhedrin, which was like a Jewish Supreme Court. By the time Jesus was doing his public ministry, Herod or the Roman official in charge appointed the high priest. </p>
        <p>It had become a political appointment. They would choose someone they thought would cooperate with them, and appoint someone else whenever they thought it was convenient. </p>
        <p>The Jews still had the mindset that this was a lifetime position, so, for instance, even though Caiaphas succeeded Annas as high priest, Luke 3: 2 refers to both Annas and Caiaphas as high priests at Jesus' trial. </p>
    </div>
</ion-content>