<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h1><span>Prophet</span></h1>
        <p>A prophet is a spokesman for God. God would use prophets to give His message to the Israelites. The main purpose of most of the messages was to try and bring the people back to the true worship of God. </p>

        <p>The prophets preached against the worship of idols and warned those whose practices were contrary to God's will and character.   Sometimes they would also foretell future events. Sometimes a message would have an immediate fulfillment and another fulfillment in the future. </p>
        
        <p>Prophets were very careful about making sure their message was from God, because God had instructed the Israelites to immediately kill any false prophet who claimed that something was from God and it turned out to be false. </p>
        <p>The great prophets of the old testament period before the coming of Christ included men like Ezekiel, Daniel, Jonah, Micah, Isaiah, Jeremiah, and Malachi.  Then there was John the Baptist and Jesus, who was the greatest prophet of all. </p>
        <p>Prophets like Isaiah and Micah prophesied details about the birth and life of Jesus more than 800 years before he lived. Micah 5:2 said Jesus would be born in Bethlehem, and Isaiah chapter 53 gives details about the death of Jesus. </p>
        <p>There are 60 major prophecies about the Messiah in the Old Testament and Jesus fulfilled all of them. The odds of that happening in one person are staggering. In fact if you just took the probability of eight of them happening in one person, it would be like covering the country of France in silver dollars two feet deep and then getting one chance to pick the correct silver dollar (1 in 100,000,000,000,000,000.) Now consider the odds for all 60! </p>
    </div>
</ion-content>