<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h1><span>Psalm</span></h1>

        <p>A lyrical poem or prayer.</p>
        <p>Some were written to go with music so people could sing them. Their purpose is to praise God.</p>
        <p>Many were written by David and express not only his reverence and awe of God, but also his emotions when he was going through difficult times in his life -- when he was being treated unfairly, when people were trying to kill him, and when he was repenting for sins he had committed (murder, adultery).</p>
        <p>In the Bible, the book of Psalms is a collection of 150 of these psalms.</p>
    </div>
</ion-content>