<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one priest-page common-padding">
        <h3><img src="img/rome.jpg"></h3>
        <h1><span>Rome</span></h1>
        <p>A city in present-day Italy that grew to become an empire and ruled the western world for about 400 years, from about 150 years before Jesus was born.</p>

        <p>The empire was still growing in the time of Jesus and would eventually consume far reaching outposts, including modern day England.</p>

        <p>Romans were known for their military which was built on disciplined soldiers and effective tactics. Many countries didn't like being controlled by Rome because the Roman armies maintained order using brutal tactics like public crucifixions, which were not discontinued until the fourth century.</p>

        <p>When Rome decreed that a census be taken, Mary and Joseph went to their ancestral home of Bethlehem, otherwise Jesus may have been born in Nazareth where they were living.</p>

        <p>Pontius Pilate was a Roman governor in charge of Judea when Jesus was crucified. The Jews did not like being ruled by Rome and objected to their worship of idols and mythological gods.</p>

        <p>Zealots were Jews who wanted to overthrow the Roman armies by armed rebellion. </p>
    </div>
</ion-content>