<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        
        <h1><span>Satan/Beelzebub</span></h1>

        <p>These are two names for the same thing. Satan was the highest angel in heaven when the universe was created.</p>

        <p>He wanted to usurp God, and because of his sin of pride, he was thrown out of heaven along with a third of the angels who chose to follow him.</p>

        <p>He is opposed to God and tried without success to get Jesus to go against God when Jesus was on earth. Beelzebub comes from a word that means "lord of flies," or "lord or dung."</p>

    </div>
</ion-content>