<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h1><span>Synagogue</span></h1>

        <p>A place where Jews would gather to participate in services including prayer, the reading of the Scriptures (Old Testament), and exposition of the scripture that was read. They would sometimes be used as schools.</p>
        
    </div>
</ion-content>