<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3><img src="img/massaciocoin.jpg"></h3>
        <h6>In "Tribute Money", the Italian Painter Massacio depicted gathering a coin from the mouth of a</h6>
        <h6>fish (far left) and then presenting it to a collector. The disciples are depicted in the center</h6>
        <h1><span>Tax</span></h1>

        <p>Rome charged occupied countries to pay for the Roman legions stationed in the country and the cost of government as a whole. Rome was in control of Israel during the time Christ lived.</p>

        <p>This tax had a complicated structure:</p>

        <p> People in each country would work for Rome as independent contractors. Rome would designate a certain amount that had to come from each area. The tax collectors would often collect more than was required and keep the difference. Most Jews hated them because most were dishonest, plus they represented Roman oppression.</p>

    </div>
</ion-content>