<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3><img src="img/tiberius2.jpg"></h3>
        <h6>Roman coin with image of Tiberius Caesar</h6>
        <h1><span>Tiberius Caesar</span></h1>

        <p>Jesus was crucified in the fifteenth year of the reign of <strong>Tiberius Caesar</strong>, the emperor of Rome. Tiberius had distinguished himself as a citizen for his oratory skills, as a soldier and a public official. As emperor of Rome he was slothful, self indulgent, licentious, vindictive and cruel. He was a master at lying and he was very cunning.</p>
    </div>
</ion-content>