<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h1><span>Vinegar, myrrh, gall</span></h1>

        <p><strong>Vinegar</strong> mixed with <strong>myrrh</strong> or <strong>gall–</strong> The vinegar mentioned here was a common sour wine used daily by the Roman soldiers.</p>

        <p>Myrrh and gall both refer to a bitter-tasting substance that is a mild analgesic pain-reliever.</p>

        <p>It was offered to people who were crucified to relieve their pain. Jesus chose to suffer the pain instead.</p>
        <p>It is interesting that myrrh is one of the gifts the magi presented to Jesus when he was a small child.</p>

    </div>
</ion-content>