<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>52. THE TWO WAYS.</h3>
        <h3>MATTHEW 7: 13-23;  LUKE 6: 43-45</h3>
        <p align="left" class="style4"><span class="style5">13</span> 
            Enter ye in by the narrow gate: for wide is 
            the gate, and broad is the way, that leadeth to destruction, and many are they 
            that enter in thereby.


        <p align="left" class="style4"><span class="style5">14</span> 
            For narrow is the gate, and straitened 
            the way, that leadeth unto life, and few are they that find it. (<span class="comm">The Master 
                here presents two cities before us. One has a wide gateway opening onto the 
                broad street, and other a narrow gate opening onto a straitened street or 
                alley. The first city is Destruction, the second is Life.</span>) 


        <p align="left" class="style4"><span class="style5">15</span> Beware of false prophets, who come to you in sheep's clothing, but inwardly are ravening wolves. (<span class="comm">From the two ways Jesus turns to warn his disciples against those who lead into the wrong path--the road to destruction. Prophets are those who lay claim to teach men correctly the life which God would have us live. The scribes and Pharisees were such, and Christ predicted the coming of others (<span class="comm"><span class="style7">Matthew 24: 5, 24</span></span>), and so did Paul (<span class="comm"><span class="style7">Acts 20: 29</span></span>). Their fate is shown in <span class="style7">
                    Matthew 7: 21, 22</span>. By sheep's clothing we are to understand that they shall bear a gentle, meek, and inoffensive outward demeanor; but they use this demeanor as a cloak to hide their real wickedness, and so effectually does it hide it that the false prophets often deceive even themselves.</span>)


        <p align="left" class="style4"><span class="style5">16</span> 
            By their fruits ye shall know them. Do men gather grapes of thorns, or figs of 
            thistles? 



        <p align="left" class="style4"><span class="style5">17</span> 
            Even so every good tree bringeth forth good fruit; 
            but the corrupt tree bringeth 

            forth evil fruit. 




        <p align="left" class="style4"><span class="style5">Luke 6: 43</span> 
            For there is no good tree that bringeth forth 
            corrupt fruit; nor again a corrupt tree that bringeth forth good fruit.




        <p align="left" class="style4"><span class="style5">Matthew 7: 18</span> 
            A good tree cannot bring forth evil fruit, 
            neither can a corrupt tree bring forth good fruit.  



        <p align="left" class="style4"><span class="style5">Luke 6: 44</span> 
            For each tree is known by its own fruit. For of thorns men do 
            not gather figs, nor of a bramble bush gather they grapes. 




        <p align="left" class="style4"><span class="style5">Matthew 7: 19</span> 
            Every tree that bringeth not forth good fruit is hewn 
            down, and cast into the fire. (<span class="comm">It is a law of universal application that 
                whatever is useless and evil shall eventually be swept away.</span>) 



        <p align="left" class="style4"><span class="style5">20</span> 
            Therefore 
            by their fruits ye shall know them.  



        <p align="left" class="style4"><span class="style5">Luke 6: 45</span> 
            A 
            good man out of the good treasure of his heart bringeth forth that which is 
            good; and the evil man out of 
            the evil treasure bringeth forth 
            that which is evil: for out of the abundance of the heart his mouth 
            speaketh. (<span class="comm">Teachers are to be judged by their conduct as men, and also by 
                the effect of their teaching. If either be predominantly bad, the man must be 
                avoided. But we must not judge hastily, nor by slight and trivial actions, for 
                some specimens of bad fruit grown on good trees.</span>)  


        <p align="left" class="style4"><span class="style5">Matthew 7: 21</span> 
            Not every one that saith unto me, Lord, Lord, shall enter into the kingdom 
            of heaven; but he that doeth the will of my Father who is in heaven. (<span class="comm">To 
                say, "Lord, Lord," is to call on the Lord in prayer. While it is 
                almost impossible to overestimate the value of prayer when associated with a 
                consistent life, it has been too common to attribute to it a virtue which it 
                does not possess. The Pharisees were excessively devoted to prayer, and they 
                led the people to believe that every prayerful man would be saved. The 
                Mohammedans and Romanists are subject to the same delusion, as may be seen in 
                their punctilious observance of the forms of prayer, while habitually 
                neglecting many of the common rules of morality. It is here taught that prayer, 
                unattended by doing the will of the Father in heaven, can not save us. 
                Doing the will of God must be understood, not in the sense of sinless 
                obedience, but as including a compliance with the conditions on which sins are 
                forgiven. Whether under the 

                old covenant or the new, sinless 
                obedience is an impossibility; but obedience to the extent of our possibility 
                amid the weaknesses of the flesh, accompanied by daily compliance with the 
                conditions of pardon for our daily sin, has ever secured the favor of God.</span>)


        <p align="left" class="style4"><span class="style5">22</span> Many will say to me in that day (<span class="comm">the final judgment day</span>), Lord, Lord, did we not prophesy by thy name, and by thy name cast out demons, and by thy name do many mighty works? (<span class="comm">Jesus here prophetically forecasts those future times wherein it would be worth while to assume to be a Christian. Times when hypocrisy would find it a source of profit and of honor to be attached to Christ's service. In these days we may well question the motives which induce us to serve Christ. High place in the visible kingdom is no proof of one's acceptance with God. Neither are mighty works, though successfully wrought in his name. Judas was an apostle and miracle-worker, and Balaam was a prophet, yet they lacked that condition of the heart which truly allies one with God (<span class="comm"><span class="style7">
                        1 Corinthians 13: 1-3</span></span>). 
                Jesus says the number of false teachers is large. We must not carelessly ignore 
                the assertion of that important fact. We should also note that Christ will not 
                lightly pass over their errors on the judgment day, though they seem to have 
                discovered them for the first time. Such truths should make us extremely 
                cautious both as teachers and learners.</span>) 



        <p align="left" class="style4"><span class="style5">23</span> And then will I profess (<span class="comm">better, confess</span>) unto them, I never knew you (<span class="comm">never approved or recognized you</span>): depart from me (<span class="comm"><span class="style7">
                    Matthew 25: 41</span></span>), ye that work iniquity. (<span class="comm">This indicates 
                that false teachers filled with a patronizing spirit toward the Lord, and with 
                a sense of power as to his work, will be deceived by a show of success. Through 
                life Christ appeared to them to be accepting them and approving their lives, 
                but he now confesses that this appearance was not real. It arose from a 
                misconception on their part and on that of others. Many works which men judge 
                to be religious really undermine religion. The world esteems him great whose 
                ministry begets Pharisees, but in Christ's eyes such a one is a worker of 
                iniquity.</span>) 
    </div>


</ion-content>