<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>84. CHILDLIKENESS.</h3>
        <h3>(<span class="comm">CAPERNAUM, AUTUMN, A.D. 29.</span>)</h3>
        <h3>MATTHEW 18: 1-14;  MARK 9: 33-50;  LUKE 9: 46-50.</h3>
        <p align="left" class="style4"><span class="style5">Luke 9: 46</span>  And there arose a reasoning among them, which of 
            them was the greatest.
        <p align="left" class="style4"><span class="style5">Mark 9: 33</span> And he came to 
            Capernaum:
        <p align="left" class="style4"><span class="style5">Luke 9: 47</span>  But when Jesus saw the 
            reasoning of their heart,

        <p align="left" class="style4"><span class="style5">Mark 9: 33</span> and when he was in the 
            house (<span class="comm">probably Simon Peter's house</span>) he asked them, What were ye 
            reasoning on the way?

        <p align="left" class="style4"><span class="style5">34</span> But they held their peace: for they had 
            disputed one with another on the way, who was
            the greatest. (<span class="comm">The Lord with his disciples was now on his way 
                back to Galilee from C&aelig;sarea Philippi, where, some ten days before, he 
                had promised the keys of the kingdom to Peter, and where he had honored Peter 
                and the sons of Zebedee by a mysterious withdrawal into the mount. These facts, 
                therefore, no doubt started the dispute as to which should hold the highest 
                office in the kingdom. The fires of envy thus set burning were not easily 
                quenched. We find them bursting forth again from time to time down to the very 
                verge of Christ's exit from the world--<span class="style7">Matthew 20: 20-24; Luke 22: 24</span>.</span>)

        <p align="left" class="style4"><span class="style5">35</span> And he sat down, and 
            called the twelve, and he said unto them, If any man would be first, he shall 
            be last of all, and servant of all. (<span class="comm">The spirit which proudly seeks to be 
                first in place thereby consents to make itself last in character, for it 
                reverses the graces of the soul, turning love into envy, humility into pride, 
                generosity into selfishness, etc.</span>)   

        <p align="left" class="style4"><span class="style5">Matthew 18: 1</span> In that hour 
            came the disciples unto Jesus, saying, Who then is greatest in the kingdom of 
            heaven? (<span class="comm">Not comprehending our Lord's answer and wishing to have him 
                definitely point out the honored person, they now come asking this question. 
                Had Jesus wished to teach the primacy of Peter, no better opportunity 

                could have been found.</span>) 

        <p align="left" class="style4"><span class="style5">2</span> And he called to him a little child

        <p align="left" class="style4"><span class="style5">Mark 9:36</span> And he took a child,  
            and set him by his side,  and set him in the midst 
            of them: and taking him in his arms, he said unto them, 
            Verily I say unto you, Except ye turn, and become as little 
            children, ye shall in no wise enter into the kingdom of heaven.

        <p align="left" class="style4"><span class="style5">Matthew 18: 4</span> Whosoever therefore shall humble himself as this little child, the same is 
            greatest in the kingdom of heaven. (<span class="comm">Jesus told them plainly that they must 
                turn from their sin of personal ambition or they could not be his 
                disciples--part of his kingdom--and he pointed them to a little child 
                as the model in this particular, because the humble spirit in which the child 
                looks up to its parents stood out in sharp contrast with their self-seeking, 
                self-exalting ambition.</span>)

        <p align="left" class="style4"><span class="style5">5</span> And <span class="style5">Mark 9: 37</span> Whosoever shall 
            receive one of such little children {this little 
            child} in my name, receiveth me: and whosoever shall receive {receiveth} me, receiveth not me, but  
            receiveth him that sent me: for he that is least among you all, the same is 
            great. (<span class="comm">Greatness does not consist in place. Disciples who receive those of 
                a childlike spirit and disposition that they may thereby honor the name of 
                Christ are honored of Christ as the greatest. The words "in my 
                name" probably suggested to John the incident which follows.</span>)

        <p align="left" class="style4"><span class="style5">Luke 9: 49</span> And 
            John answered and said, Master,  Teacher, we saw one 
            casting out demons in thy name; and we forbade him,  
            because he followeth {followed}  
            not with us. (<span class="comm">Was not one of our immediate company. This man's actions 
                had excited the jealousy of John. Jealousy as to official prerogative is very 
                common. His zeal for Jesus reminds us of the friends of Moses (<span class="comm"><span class="style7">Numbers 11: 27-29</span></span>). But Jesus shows that 
                one who knows enough of him to use his power is not apt to dishonor him.</span>)

        <p align="left" class="style4"><span class="style5">50</span> But Jesus said unto him,  Forbid him not: for there is 
            no man who shall do a mighty work in my name, and be able quickly to speak evil 
            of me.

        <p align="left" class="style4"><span class="style5">Mark 9: 40</span> For he that is not against us is for us.  for he that is not against 

            you is for you.
            (<span class="comm">The converse of this statement is found at <span class="style7">Matthew 12: 30</span>. The two statements taken together declare the impossibility 
                of neutrality. If a man is in no sense against Christ, then he is for him; and 
                if he is not for Christ, he is against him.</span>)

        <p align="left" class="style4"><span class="style5">41</span> For whosoever shall give you a cup of water to drink, because ye are Christ's, 
            verily I say unto you, he shall in no wise lose his reward. (<span class="comm">Jesus here 
                returns to the discussion of greatness, and reasserts the doctrine that the 
                smallest act of righteousness, if performed for the sake of the King, shall be 
                honored in the kingdom. For comment, see page 368.</span>)

        <p align="left" class="style4"><span class="style5">42</span> And {<span class="style5">Matthew 18: 6</span> but}  whosoever shall cause one of 
            these little ones that believe on me to stumble, it were better for him if {it is profitable for him that}  a 
            great millstone (<span class="comm">the word indicates a large millstone which was turned by 
                an ass</span>) were {should be}  
            hanged about his neck, and he were {that he should be}  
            cast into the sea.  sunk in the depth of the sea. 
            (<span class="comm">Character depends upon small things. If a small act of goodness receives its 
                reward, an act of evil, made apparently small by the trifling insignificance of 
                the person against whom it is committed, receives just as inevitably its 
                punishment. In short, there is no smallness in good and evil that men may rely 
                upon, for heavy penalties may be meted out for what the world judges to be 
                light sins. Those who cause the weak to lapse into unbelief through their 
                ecclesiastical arrogance have a heavy reckoning for which to answer. Greeks, 
                Romans and Egyptians were punished by such millstone drowning. But the fate of 
                one who, by striving for place, causes others to sin, will be worse than that. 
                From offenses caused by a proud spirit Jesus now passes to discuss offences or 
                sins caused by any spirit of evil.</span>)

        <p align="left" class="style4"><span class="style5">Matthew 18: 7</span> Woe unto the world because of 
            occasions of stumbling! for it must needs be that the occasions come; but woe 
            to that man through whom the occasion cometh! (<span class="comm">The depravity of man makes 
                sin inevitable, but nevertheless it does not remove or reduce the personal 
                responsibility of him who tempts to or 

                causes to sin.</span>)

        <p align="left" class="style4"><span class="style5">Mark 9: 43</span> And if thy hand causeth thee to stumble, cut it off: it 
            is good for thee to enter into life maimed, rather than having thy two hands to 
            go into hell, into the unquenchable fire.

        <p align="left" class="style4"><span class="style5">45</span> And if 
            thy foot causeth thee to stumble, cut it off: it is good for thee to enter into 
            life halt, rather than having thy two feet to be cast into hell. {the eternal fire.} (<span class="comm">We see from this that "hell" 
                and "eternal fire" are interchangeable terms, and stand in contrast 
                to eternal life.</span>)

        <p align="left" class="style4"><span class="style5">Matthew 18: 9</span> And if thine eye causeth {cause}  thee to stumble, pluck it out, and cast it from 
            thee: it is good for thee to enter into life {the 
            kingdom of God} with one eye, rather than having two eyes to be castinto the hell of fire.

        <p align="left" class="style4"><span class="style5">Mark 9: 48</span> where their worm dieth not, and the fire is not 
            quenched. (<span class="comm">It is better to deny ourselves all unlawful pleasures, even if 
                the denial be as painful and distressing as the loss of a member. The image of 
                the worm is taken from <span class="style7">Isaiah 66: 24</span>, 
                and refers to those worms which feed upon the carcasses of men. The fire and 
                worm can hardly be taken literally, for the two figures are 
                incompatible--worms do not frequent fires. The two figures depict hell as 
                a state of decay which is never completed and of burning which does not 
                consume. Some regard the worm as a symbol of the gnawings of remorse, and the 
                fire as a symbol of actual punishment.</span>)

        <p align="left" class="style4"><span class="style5">49</span> For every one shall be salted 
            with fire. (<span class="comm">At this point many ancient authorities add, "and every 
                sacrifice shall be salted with salt."</span>)

        <p align="left" class="style4"><span class="style5">50</span> Salt is good: but if the 
            salt have lost its saltness, wherewith will ye season it? Have salt in 
            yourselves, and be at peace one with another. (<span class="comm">We have here one of the most 
                difficult passages in the Bible. If the word "fire" were found in 
                an isolated text it might be taken as a symbol either of purification or of 
                punishment. But the context here determines its meaning, for it has just been 
                taken twice as a symbol of punishment. Salt is a symbol of that which preserves 
                from decay. Now, Jesus has just been talking about the future state, with its 
                two conditions or states 

                of bliss and punishment. In both of these 
                states the souls of men are salted or preserved. Every one of the wicked is 
                preserved by a negative or false salt--a worm which feeds but does not 
                die, and a fire which consumes but refuses to go out. Though this state is a 
                condition of life, it is such a negative and false condition that it is 
                elsewhere termed a second death. It is therefore rightly called a 
                "salted" or preserved condition, yet it contradicts the symbolic 
                idea of saltness. As we understand it, the difficulty of the passage lies in 
                this contradictory sense in which the term "salt" is used--a 
                contradiction in which the term "eternal life" also shares, for 
                eternal life is the constant contrast to life in hell, though that life also is 
                spoken of as eternal. The true Christian--the man who offers his body as 
                "a living sacrifice, holy, acceptable to God"--is preserved by 
                the true salt or element of preservation, which is a divinely begotten life of 
                righteousness within him. This is the good state of preservation which a man is 
                counseled to obtain, and not to lose, since it will not be restored to him. The 
                passage summarizes and contrasts the two states of future preservation, one 
                being the salt of eternal life which preserves a man to enjoy the love of God 
                in heaven, and the other being the salt of fire which preserves him in hell to 
                endure the just punishment of God. The "every one" in <span class="style7">Mark 9: 49</span> refers to the sufferers mentioned in <span class="style7">Mark 9: 48</span>.</span>)

        <p align="left" class="style4"><span class="style5">Mark 18: 10</span> See that ye despise not one of these little ones: for I say unto you, that 
            in heaven their angels do always behold the face of my Father who is in 
            heaven. (<span class="comm">Jesus here resumes his warning against that pride which exalts 
                itself and despises the humble; disclosing the fact that the ministration of 
                angels is not only general but special, certain angels being entrusted with the 
                care of certain individuals, and all of them supplementing their own wisdom and 
                power by direct access to the presence of God.</span>)

        <p align="left" class="style4"><span class="style5">12</span> How think ye? if any man 
            have a hundred sheep, and one of them be gone astray, doth he not leave the 
            ninety and nine, and go unto the mountains, and seek that which is goeth 
            astray?

        <p align="left" class="style4"><span class="style5">13</span> And if so be that he find it, verily I say unto you,


            he rejoiceth over it more than over the ninety and nine which 
            have not gone astray.

        <p align="left" class="style4"><span class="style5">14</span> Even so it is not the will of your Father 
            who is in heaven, that one of these little ones should perish. (<span class="comm">Those who 
                have led highly moral lives have a tendency to despise those who have been 
                defiled by gross sin. This truth is abundantly illustrated by the conduct of 
                the Pharisees, but that such little ones should not be despised Jesus speaks 
                this warning parable. Though the sheep in the fold and the one that is lost 
                have, as individuals, the same intrinsic value, yet this even balance of value 
                is somewhat modified by the sentiments and emotions incident to loss and 
                recovery. Moreover, the anxiety and trouble caused by the sheep's wandering do 
                not depreciate but rather enhance the value of that sheep, 
                because the heart of the Shepherd is so replete with goodness that the 
                misbehavior of the sheep prompts him to feel pity and compassion, rather than 
                to cherish resentment and revenge. Sin does not add to a man's intrinsic value 
                in God's sight--nay, it detracts from it; but it excites in the heart of 
                God pity, compassion, and other tender emotions which make it extremely 
                dangerous for those who hinder his reformation and imperil his soul by 
                despising him.</span>)


    </div> 


</ion-content>