<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>47. ALMSGIVING, PRAYER, AND FASTING.</h3>
        <h3>MATTHEW 6: 1-18.</h3>
        <p align="left" class="style4"><span class="style5">1</span> Take heed that ye do not your righteousness before men, to be seen of them: else ye have no reward of your Father which is in heaven. (<span class="comm">This verse refers back to <span class="style7">Matthew 5: 20</span> of the previous chapter, where the disciple is told that his righteousness must exceed that of the scribes and Pharisees. Matthew's fifth chapter deals with the actions themselves, but this sixth chapter treats of the motives and manners of our actions.</span>)



        <p align="left" class="style4"><span class="style5">2</span> When therefore when thou doest alms, 
            sound not a trumpet before thee, as the hypocrites do in the synagogues and in 
            the streets, that they may have glory of men. Verily I say unto you, They have 
            received their reward. (<span class="comm">Trumpets were sounded as signals to large bodies. 
                This fact gave to the word trumpet a symbolic significance. Anything which is 
                noised or blazoned abroad is spoken of as being trumpeted. The figure 
                also conveys the idea of pompous self-laudation. Hence we still speak of an 
                egotistical man as one who "blows his own trumpet." The hypocrites 
                of that day did not blow a literal trumpet to call attention to their gifts any 
                more than the hypocrites of this day do. But they used methods to call 
                attention to their generosity as those of our time do when they publish an 
                account of their munificence in the newspapers. Almsgiving was a prominent 
                feature of Jewish life. Transplanted from Judaism, almsgiving became one of the 
                characteristic features of the early church (<span class="comm"><span class="style7">Acts 9: 36; 10: 2; Galatians 2: 10</span></span>). Christ corrected the error as to it in 
                what he said about the widow's mites. As these hypocrites sought the praise of 
                men, they had their reward when they received it.</span>) </p>



        <p align="left" class="style4"><span class="style5">3</span> But when thou doest 
            alms, let not thy left hand know what thy right hand doeth: 



        <p align="left" class="style4"><span class="style5">4</span> that 
            thine alms 

            may be in secret: and thy Father who seeth in 
            secret shall recompense thee. (<span class="comm">Jesus here recommends secret and noiseless 
                giving, by the never-to-be-forgotten metaphor of the left and right hand. Our 
                generosity is to come so spontaneously, and with so little thought, that the 
                liberality of one part of the body shall not be communicated to the other. The 
                command does not forbid publicity, but that spirit which desires 
                publicity. "The true Christian cares not how much men hear of his 
                public charities, nor how little they hear of his private 
                ones" (<span class="comm">Toplady</span>). Good deeds may be published by others to 
                stimulate good in others; but care should be taken lest they be stimulated to 
                give for the sake of like notoriety (<span class="comm"><span class="style7">Mark 12: 41-44; Acts 4: 36, 37</span></span>). Salvation is a matter of favor, and 
                not of merit. But there is, nevertheless, a recompense attendant upon it. The 
                joys of the world come, and the blessings in this world are included in that 
                recompense--<span class="style7">Matthew 25: 34-40</span>.</span>)



        <p align="left" class="style4"><span class="style5">5</span> And when ye pray, ye shall not be as the 
            hypocrites: for they love to stand and pray in the synagogues and in the 
            corners of the street. that they may be seen of men. Verily I say unto you, 
            They have received their reward. (<span class="comm">Jesus deals with our conduct toward God 
                as well as toward man. However perfectly we may act toward man, our life is 
                one-sided and imperfect if we omit or improperly perform our duties toward God. 
                The Pharisaical habit of standing in a prayerful attitude, to be seen of men, 
                was certainly not prayer. In their case public opinion, and not the praise of 
                God, "was the wind that set the wind-mill a-work" (<span class="comm">Trapp</span>). 
                As Pharisees loved the standing and not the praying, so Christians should love 
                the praying and not the standing. Yet prayer for the edification or comfort of 
                others is not here condemned. Prayer itself is nowhere condemned. It is the 
                ostentatious prayer-attitude which Jesus stamps with his displeasure. Needless 
                attitudes of private prayer in pulpit and pew are here condemned.</span>)



        <p align="left" class="style4"><span class="style5">6</span> But 
            thou, when thou prayest, enter into thine inner chamber, and having shut thy 
            door, pray to thy Father who is in secret, 

            and thy Father 
            who seeth in secret shall recompense thee. (<span class="comm">The inner chamber was properly 
                a little room in the interior of the house or on the housetop, but it is here 
                used to indicate any place of privacy, and the shut door emphasizes the 
                strictness of the privacy, for in all personal prayer we should strive to be 
                alone with God. Jesus found a prayer-chamber upon the mountain-top and in the 
                garden.</span>) 



        <p align="left" class="style4"><span class="style5">7</span> And in praying use not vain repetitions, as the Gentiles do: for 
            they think that they shall be heard for their much speaking. 




        <p align="left" class="style4"><span class="style5">8</span> Be 
            not ye therefore like unto them: for your Father knoweth what things ye have 
            need of, before ye ask him. (<span class="comm">For samples of repetitions, see <span class="style7">1 Kings 18: 26; Acts 19: 34</span>. Strictly 
                speaking, Jesus does not here forbid either a long prayer, or the use of the 
                same words in a prayer when the heart sincerely prompts the utterance. He 
                himself prayed at great length, even continuing in prayer all night (<span class="comm"><span class="style7">Luke 6: 12</span></span>), and in the garden he thrice repeated 
                the same words. What he does forbid is making the number and length of prayers 
                an object of consideration or a source of trust. This command is especially 
                violated by the repetitions of the Roman Catholic rosary. Speech to God can not 
                be ordered too carefully (<span class="comm"><span class="style7">Ecclesiastes 5: 2</span></span>). In 
                stating that God knows our desires before we ask, Jesus gives the reason 
                against vain repetitions. God does not need elaborate explanations, and prayer 
                is not uttered to inform him, but to put ourselves in such communion with him 
                as to make us fit to receive. Moreover, prayer is a matter of asking and 
                receiving, and not a meritorious service, as Mohammedans and Catholics still 
                hold, and as the Pharisees held. With them, as public prayers were to gain 
                credit with men, so long and repeated prayers were to obtain merit before God. 
                Christ teaches contrary to all this.</span>) 



        <p align="left" class="style4"><span class="style5">9</span> After this manner therefore pray 
            ye (<span class="comm">having pointed out the errors which then characterized prayer, Jesus 
                proceeds to give a brief outline as a model in matter, arrangement, and 
                expression</span>): Our Father who art in heaven. (<span class="comm">The common Jewish 
                invocation was, "O Lord God of our fathers." Jesus, as the brother 
                of man, 

                introduced this new and precious invocation, which puts us 
                in prayer's proper attitude</span>), Hallowed be thy name. 




        <p align="left" class="style4"><span class="style5">10</span> 
            Thy kingdom come. Thy will be done, as in heaven, so on earth. (<span class="comm">This is the 
                first section of the prayer.</span>)


        <p align="left" class="style4"><span class="style5">11</span> Give us this day our daily bread. (<span class="comm">So 
                long as it is "this day" we do not need to-morrow's bread.</span>)




        <p align="left" class="style4"><span class="style5">12</span> 
            And forgive us our debts, as we also have forgiven our debtors. (<span class="comm">God can 
                not forgive the temper that is unforgiving, for it can only exist in a heart 
                blind as to the amount of its debt. Forgiveness, too, must be a completed act 
                before we begin to pray. Our Lord lays stress on this one point in the prayer, 
                returning to it after he had closed the form, that he may assure us that the 
                divine procedure will, in this respect, be fashioned to our own. Debt is a mild 
                word for our sin, and is broader than trespass. Trespass indicates a misstep, a 
                wrong-doing, but debt an unfulfilled obligation of any kind. We must not be 
                hard in exacting our rights, when to do so would be oppressive.</span>)



        <p align="left" class="style4"><span class="style5">13</span> And 
            bring us not into temptation, but deliver us from the evil one. (<span class="comm">This petition, to be effective, must be 
                followed by an earnest effort on our part to fulfill it. We prefer to read 
                "the evil," rather than "the evil one," for the 
                neuter is more comprehensive (<span class="comm"><span class="style7">2 Timothy 4: 18</span></span>), and includes deliverance from the evil thoughts of man's own 
                heart, and from evils from without as well as temptations of Satan. As to the 
                prayer generally, we note the following: It is divided into two sections, and 
                each section is subdivided into three heads. Of these the first three are 
                invocations for the glory of God; thus: 1. That God may be glorified in his 
                name, so that it shall be universally reverenced; 2. That God may be glorified 
                in his kingdom--that kingdom before which every power of evil shall 
                eventually fall; 3. That God may be glorified in the hearts of humanity by all 
                men becoming obedient unto his will. These petitions come first, for it is of 
                first importance to us that God should be honored in his person, in his 
                authority and in his desires. The three petitions represent three stages of 
                spiritual growth in the communion and fellowship with God. We first know and 
                revere his name 

                as God. From that we advance to the full 
                recognition of his royal and divine authority. And from this in turn we again 
                advance until we know him fully as Father, and, forgetting his authority, 
                perform his wishes through the joyous constraint of love, as do the angels in 
                heaven. The second three petitions are for humanity; thus: 1. For their 
                bodies, that they may have sustenance. It is not a petition for milk and 
                honey, symbols of luxury, but for bread, life's staff and necessity, and for 
                bread in moderation--bestowed day by day, like the manna. 2. For their 
                souls in things concerning the past--that past trespasses may be 
                forgiven. This is the one thing needful to the soul in regard to the past. 
                Since a certain soul condition is necessary (<span class="comm">viz.: the spirit of forgiveness</span>), 
                as a condition precedent to obtaining this petition, that condition is plainly 
                stated in the petition itself. 3. For their souls as to the future, that 
                they may be enabled to avoid temptation, and that they may be finally delivered 
                from evil. God does not tempt us (<span class="comm"><span class="style7">James 1: 13</span></span>), but he can permit us to be led into temptation, or he can 
                shield us from it, only permitting us to enter so far into it as to come off 
                victorious over it (<span class="comm"><span class="style7">1 Corinthians 10: 13; 2 Peter 2: 9</span></span>); so that it shall prove unto us a blessing instead of a 
                curse--<span class="style7">James 1: 12; 5: 11</span>.</span>) 



        <p align="left" class="style4"><span class="style5">14</span> For if ye forgive men their trespasses, your heavenly Father will also forgive 
            you. 



        <p align="left" class="style4"><span class="style5">15</span> But if ye forgive not men their trespasses, neither will 
            your Father forgive your trespasses. (<span class="comm">Forgiveness may be difficult, but it 
                is essential: we should realize that as we pray. Jesus presents this truth 
                positively and negatively, that we may make no mistake about it. Those who are 
                accustomed to repeat the Lord's Prayer will notice that the doxology with which 
                it closes is omitted. It was probably inserted from some early liturgy. It is 
                absent from the oldest manuscripts, and interrupts the connection of the 
                thought about forgiveness. All textual editors omit it.</span>)



        <p align="left" class="style4"><span class="style5">16</span> Moreover when ye 
            fast, be not, as the hypocrites, of a sad countenance: for they disfigure their 
            faces. [<span class="comm">by omitting to wash their faces and neglecting to dress or anoint 
                their beards</span>], that they may 

            appear unto men to 
            fast. Verily I say unto you, They have received their reward. 


        <p align="left" class="style4"><span class="style5">17</span> 
            But thou, when thou fastest, anoint thine head, and wash thy face; 


        <p align="left" class="style4"><span class="style5">18</span> that thou be not seen of men to fast, but of thy Father who is in secret: 
            and thy Father, who seeth in secret, shall recompense thee. (<span class="comm">Fasting, as an 
                aid to meditation and prayer, is a wholesome practice, but stated fasts lead to 
                hollow formality, and fasts which are endured for public praise are an 
                abomination. Christ admonishes us to conceal the fast, and so avoid the 
                temptation to be hypocritically ostentatious, for fasting is intended for 
                self-abasement, and not to cultivate pride. His words allude to the practice of 
                anointing. Rich Jews were accustomed to anoint their bodies daily with olive or 
                sweet oil. This was refreshing, and prevented many of the disease which the 
                dry, hot air of Palestine made prevalent. The custom still prevails among 
                Eastern nations.</span>)
    </div>

</ion-content>