<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>15. JESUS BAPTIZED BY JOHN</h3>
        <h3>(<span class="comm">JORDAN EAST OF JERICHO, SPRING OF A.D. 27.</span>)</h3>
        <h3>MATTHEW 3: 13- 17; MARK 1: 9- 11; LUKE 3: 21- 23. 9 </h3>
        <p align="left" class="style4"><span class="style5">9</span> And {<span class="style5">Matthew 3: 13</span> Then} it came to pass in those days, that Jesus came {cometh} from Nazareth of Galilee, to the Jordan (<span class="comm">Tradition fixes upon a ford of Jordan east of Jericho as the place where Jesus was baptized. It is the same section of the river which opened for the passage of Israel under Joshua, and later for Elijah and Elisha. This ford is seventy or eighty miles from Nazareth</span>) unto John, to be baptized of him (<span class="comm">He set out from Nazareth, intending to be baptized. Such was his intention before he heard John preach, and he was therefore not persuaded to do it by the preaching. His righteousness was not the result of human persuasion.</span>) and was baptized of John in (<span class="comm">Greek &quot;into.&quot; The body of Jesus was immersed or plunged into the river</span>)</p>
        <p align="left" class="style4"><span class="style5">Matthew 3: 14</span>  But John would have hindered him (<span class="comm">It seemed to John too great an honor for him to baptize Jesus, and too great a humiliation for Jesus to be baptized. There is some dispute as to how John came to know this righteousness of Christ, which prompted his protest. The one natural explanation is, that the intimacy of the two families indicated at the beginning of Luke's account had been kept up, and John knew the history of his kinsman</span>), saying, I have need to be baptized of thee (<span class="comm">those are most fit to administer an ordinance who have themselves deeply experienced the need of it</span>), and comest thou to me? (<span class="comm">John felt 
                that he needed Jesus' baptism, but could not think that Jesus needed his. The 
                words "I," "thee," "thou," and 
                "me," show that John contrasted the baptizers as well as the 
                baptisms. As a human being he marveled that the Son of God should come to him 
                to be immersed. The comings of Jesus and the purposes for which he comes are 
                still the greatest marvels which confront the minds of men. Moreover, it should 
                be noted that this protest of John's needed to be made, for it saved Jesus from 
                being baptized without explanation, as if he were a sinner. Baptism without 
                such explanation might have compromised our Lord's claim as the sinless one.</span>) 

        <p align="left" class="style4"><span class="style5">15</span> But Jesus answering said unto him, Suffer it now (<span class="comm">Permit me for this moment to appear as your inferior. The future will make plain and clear the difference between us, both as to our missions and our natures. The words show a Messianic consciousness on the part of Jesus</span>): for thus it becometh us (<span class="comm">Some take the word 
                "us" as referring to Jesus and John, but the clause "to 
                fulfil all righteousness" shows that "us" refers to Jesus, 
                and he uses the plural to show that it also becometh all of us</span>) to fulfil 
            all righteousness (<span class="comm">Jesus came not only to fulfill all the requirements of 
                the law, but also all that wider range of righteousness of which the law was 
                only a part. 1. Though John's baptism was no part of the Mosaic ritual, it was, 
                nevertheless, a precept of God, given by his prophet (<span class="comm"><span class="style7">John 1: 33</span></span>). Had Jesus neglected or refused to obey this 
                precept he would have lacked a portion of the full armor of righteousness, and 
                the Pharisees would have hastened to strike him at this loose joint of his 
                harness (<span class="comm"><span class="style7">Matthew 21: 23- 27</span></span>). 2. 
                It was the divinely appointed method by which the Messiahship of Jesus was to 
                be revealed to the witness John (<span class="comm"><span class="style7">John 1: 33, 
                        34</span></span>). We should note here that those who fail to obey God's ordinance 
                of baptism fail (<span class="comm">1</span>) to follow the example of Jesus in fulfilling the divine 
                will and precepts; (<span class="comm">2</span>) to obey one of the positive commands of almighty God 
                spoken by his own Son.</span>) Then he suffereth him. (<span class="comm">John's humility 
                caused him to shrink from this duty, but did not make him willfully 
                persist in declining it. Humility ceases to be a virtue when it keeps us from 
                performing our allotted tasks.</span>)</p>



        <p align="left" class="style4"><span class="style5">Luke 3: 21</span> Now it came to 
            pass, when all the people were baptized (<span class="comm">This may mean that, on the day of 
                his baptism, Jesus was the last candidate, and hence his baptism was the most 
                conspicuous of all; but it more probably means that Jesus was baptized in the 
                midst of John's work--at the period when his baptism was in greatest 
                favor</span>), that, Jesus also having been</p> 


        <p align="left" class="style4"><span class="style5">Matthew 3: 16</span> {And Jesus, when he was}  baptized, and praying (<span class="comm">All divine ordinances should be accompanied with prayer. Luke frequently notes the times when Jesus prayed. Here, at the entrance of his ministry, he prayed, and at the last moment of it he also prayed (<span class="comm"><span class="style7">Luke 23: 46</span></span>). In his highest exultation at the transfiguration (<span class="comm"><span class="style7">Luke 9: 29</span></span>), and in the lowest depths 
                of humiliation in Gethsemane (<span class="comm"><span class="style7">Luke 22: 
                        41</span></span>), he prayed. He prayed for his apostles whom he chose (<span class="comm"><span class="style7">Luke 6: 12</span></span>), and for his murderers by whom he was 
                rejected (<span class="comm"><span class="style7">Luke 23: 34</span></span>). He prayed 
                before Peter confessed him (<span class="comm"><span class="style7">Luke 9: 18</span></span>), and also before Peter denied him (<span class="comm"><span class="style7">Luke 
                        22: 32</span></span>).</p>



        <p align="left" class="style4">
            <span class="style5">Mark 1: 10</span> And straightway 
            coming up out of {went up straightway from}
            the water (<span class="comm">the two prepositions, "out of" and "from," show that Jesus was not yet fully out of the river, and that the vision and the voice were immediately associated with his baptism</span>), and lo, he saw (<span class="comm">The 
                statement that he saw the Spirit descending, which is also the language 
                of Matthew, has been taken by some as implying that the Spirit was invisible to 
                the multitude. But we know from John's narrative that it was also seen by John 
                the Baptist </span>(<span class="comm"><span class="style7">John 1: 33, 34</span></span>), and if it 
            was visible to him and to Jesus, and it descended, as Luke affirms, in a bodily 
            shape like a dove (<span class="comm"><span class="style7">Luke 3: 22</span></span>), it 
            would have required a miracle to hide it from the multitude. Moreover, the 
            object of the Spirit's visible appearance was to point Jesus out, not to 
            himself, but to others; and to point him out as the person concerning whom the 
            voice from heaven was uttered. No doubt, then, the Spirit was visible and 
            audible to all who were present the heavens rent asunder (<span class="comm">for</span>),
            the heavens were {heaven 
            was}  opened unto him (<span class="comm">The heavens open at the 
                beginning of Jesus' ministry to honor him, and at the end of it to receive him. 
                Christ is the opener of heaven for all men</span>), and he saw the Spirit of 
            God descending (<span class="comm">the Spirit came upon Jesus to give him the miraculous power 
                which he afterward exerted (<span class="comm"><span class="style7">Luke 4: 
                        14</span></span>) as a dove (<span class="comm">That is, like a dove. All four evangelists are 
                    careful to inform us that it was not an actual dove</span>), and coming upon 
                him;</p>   



        <p align="left" class="style4"><span class="style5">Luke 3: 22</span> and the Holy Spirit descended in 
            a bodily form (<span class="comm">Lightfoot suggests that the Spirit thus descended that he 
                might be revealed to be a personal substance and not merely an operation of the 
                Godhead, and might thus make a sensible demonstration as to his proper place in 
                the Trinity</span>), as a dove (<span class="comm">The descent of the Spirit upon Jesus was 
                in accordance with prophecy (<span class="comm"><span class="style7">Isaiah 11: 2; 41: 
                        1</span></span>).  The dove shape suggests purity, gentleness, peace, etc. Jesus 
                makes the dove a symbol of harmlessness (<span class="comm"><span class="style7">Matthew 10: 
                        15</span></span>). In fact, the nature of this bird makes it a fit emblem of the 
                Spirit, for it comports well with the fruits of the Spirit (<span class="comm"><span class="style7">Galatians 5: 22, 23</span></span>). The nations of the earth emblazon 
                eagles upon their banners and lions upon their shields, but He who shall gather 
                all nations into his kingdom, appeared as a Lamb, and his Spirit appeared under 
                the symbol of a dove. Verily his kingdom is not of this world. It 
                is a kingdom of peace and love, not of bloodshed and ambition. Noah's dove bore 
                the olive branch, the symbol of peace, and the Holy Spirit manifested Jesus, 
                God's olive branch of peace sent into this world (<span class="comm"><span class="style7">Psalm 72: 7; Luke 2: 14; John 14: 27; Ephesians 2: 11- 18</span></span>),  upon him,</p> 



        <p align="left" class="style4"><span class="style5">Matthew 3: 17</span> and lo, a voice  came  out of the heavens, {heaven} (<span class="comm">Voices from heaven acknowledged the person of Christ 
                at his birth, his baptism, his transfiguration and during the concluding days 
                of his ministry. At his baptism Jesus was honored by the attestation of both 
                the Spirit and the Father. But the ordinance itself was honored by the sensible 
                manifestation of each several personality of the Deity--that the three 
                into whose name we ourselves are also baptized</span>),  
            saying, This is {thou art} (<span class="comm">The "this 
                is," etc. of Matthew are probably the words as John the Baptist reported 
                them; the "thou art," etc., of Mark and Luke are the words as Jesus 
                actually heard them. The testimony of the Father is in unreserved support of 
                the fundamental proposition of Christianity on which the church of Christ is 
                founded (<span class="comm"><span class="style7">Matthew 16: 15- 18</span></span>). On 
                this point no witness in the universe was so well qualified to speak as the 
                Father, and no other fact was so well worthy the honor of being sanctioned by 
                his audible utterance as this. The testimony of Christ's life, of his works, of 
                the Baptist, and of the Scriptures might have been sufficient; but when the 
                Father himself speaks, who shall doubt the adequacy of the proof?</span>) my beloved Son (<span class="comm"><span class="style7">Matthew 17: 5</span></span>). The Father himself states that relationship of which the apostle John so often spoke (<span class="comm"><span class="style7">John 1: 1</span></span>). Adam was made (<span class="comm"><span class="style7">Genesis 1: 26</span></span>), but Jesus was begotten (<span class="comm"><span class="style7">Psalm 2: 7</span></span>). Both were sons 
            of God, but in far different senses. The baptism of Jesus bears many marked 
            relationships to our own: 1. At his baptism Jesus was manifested as the Son of 
            God. At our baptism we are likewise manifested as God's children, for we are 
            baptized into the name of the Father, and are thereby permitted to take upon 
            ourselves his name. 2. At his baptism Jesus was fully commissioned as the 
            Christ. Not anointed with material oil, but divinely consecrated and qualified 
            by the Spirit and accredited by the Father. At baptism we also 
            received the Spirit (<span class="comm"><span class="style7">John 3: 5; Acts 2: 38; 19: 
                    1- 6</span></span>), who commissions and empowers us to Christian 
            ministry (<span class="comm"><span class="style7">Acts 1: 8; 1 John 3: 24</span></span>), in whom {in thee} (<span class="comm">Some make the 
                phrases "in whom" and "in thee" to mean more than 
                simply a declaration that God is pleased with Jesus. They see in it also 
                the statement that the Father will be pleased with all who are "in 
                Christ Jesus" (<span class="comm"><span class="style7">Ephesians 1: 6</span></span>) I am well pleased (<span class="comm">It is no slight condemnation to be 
                    well pleasing to God (<span class="comm"><span class="style7">Job 4: 18</span></span>). It 
                    is the Christian's joy that his Saviour had this commendation of the Father at 
                    the entrance upon his ministry.</span>)</p> 


        <p align="left" class="style4"><span class="style5">Luke 3: 23</span> And Jesus 
            himself, when he began to teach, 
            was about thirty years of age. (<span class="comm">The age when a Levite entered upon God's 
                service (<span class="comm"><span class="style7">Numbers 4: 3, 47</span></span>); at which Joseph 
                stood before Pharaoh (<span class="comm"><span class="style7">Genesis 41: 46</span></span>) at 
                which David began to reign (<span class="comm"><span class="style7">2 Samuel 5: 4</span></span>). Canon Cook fixes the date of Christ's baptism in the spring A.U.C. 780. Wiseler in the summer of that year, and Ellicott in the winter of that year.</span>)</p> 

    </div>
</ion-content>