<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>81E. THIRD WITHDRAWAL FROM HEROD'S TERRITORY.</h3>
        <h3>HEALING THE DEMONIAC BOY.</h3>
        <h3>(<span class="comm">REGION OF C&AElig;SAREA PHILIPPI.</span>) </h3>
        <h3>MATTHEW 17: 14-20;  MARK 9: 14-29;  LUKE 9: 37-43.</h3>
        <p align="left" class="style4"><span class="style5">Luke 9: 37</span> And it came to pass, on the next day, when they 
            were come down from the mountain,

        <p align="left" class="style4"><span class="style5">Mark 9: 14</span>  And 
            when they came to the disciples (<span class="comm">the nine apostles which had been left 
                behind</span>), they saw a great multitude about them (<span class="comm">We last heard of 
                the multitude at <span class="style7">Mark 8: 34</span>. See page 
                416. It had no doubt been with Jesus until he ascended the mount and had 
                remained with his apostles until he came down</span>), and scribes 
            questioning with them. (<span class="comm">These scribes had caught the apostles in one and 
                perhaps the only case where they had failed to cure, and they were making full 
                use of the advantageous opportunity to discredit Christ and his apostles before 
                the people by asking sneering and sarcastic questions.</span>)

        <p align="left" class="style4"><span class="style5">15</span> And straightway 
            all the multitude, when they saw him, were greatly amazed, and running to 
            him  a great multitude met him.  
            saluted him. (<span class="comm">Why were the multitude amazed? Most commentators answer 
                that it was because the face of Jesus shone with remaining traces of 
                transfiguration glory, as did that of Moses (<span class="comm"><span class="style7">Exodus 34: 29</span></span>), but this can hardly have been so, for it would have been 
                at variance with the secrecy which Jesus enjoined as to his transfiguration. 
                Moreover, so important 

                a feature could hardly have escaped from 
                the narratives of all three evangelists. Undoubtedly the amazement was caused 
                by the sudden and opportune return of Jesus. Those who urge that this was not 
                enough to produce amazement show themselves to be poor students of human 
                nature. The multitude had been listening to and no doubt enjoying the questions 
                of the scribes. The unexpected appearance of Jesus therefore impressed them 
                with the sudden sense of having been detected in wrong-doing which invariably 
                leads to amazement. Moreover, those who remained loyal to Jesus would be 
                equally amazed by his approach, since they could not but feel that an exciting 
                crisis was at hand.</span>)

        <p align="left" class="style4"><span class="style5">16</span> And when they were come to 
            the multitude (<span class="comm">i. e., when Jesus and the multitude met</span>), 
            he asked them, What question ye with them? (<span class="comm">He surprised 
                the scribes by this demand and they saw at once that he knew all and they felt 
                rebuked for their unwarranted exultation, and so kept silent.</span>)

        <p align="left" class="style4"><span class="style5">Luke 9: 38</span> And, behold,  there came to him a 
            man,  one of {from} the 
            multitude,  kneeling to him,  
            answered him,  cried, saying,  
            Teacher, {<span class="style5">Matthew 17: 15</span> Lord,} I brought unto thee my son, who hath a dumb spirit;  
            have mercy on my son: for he is epileptic, and suffereth grievously;  I beseech thee look upon my son: for he is mine only child.

        <p align="left" class="style4"><span class="style5">39</span> and behold a spirit taketh him, and he suddenly crieth out;

        <p align="left" class="style4"><span class="style5">Mark 9: 18</span> and wheresoever it taketh him, it dasheth him 
            down:  and it teareth him that he foameth,and grindeth his teeth, and pineth away:  
            and it hardly departeth from him, bruising him sorely. (<span class="comm">When the scribes 
                did not answer, the father of the demoniac boy broke the embarrassing silence 
                by telling Jesus about the matter in question. His child was deaf, dumb, and 
                epileptic, but all these physical ailments were no doubt produced by the demon 
                or evil spirit which possessed him. The phrase "hardly departeth from 
                him" rather suggests the continual unrest in which the demon kept his 
                victim rather than that the demon ever really relinquished his possession of 
                him. Pauses in the delirium of agony were regarded as departures of the 

                demon.</span>)

        <p align="left" class="style4"><span class="style5">Luke 9: 40</span> And I besought 
            thy disciples to cast him out; and they could not.  
            they were not able.  and they could not cure him.

        <p align="left" class="style4"><span class="style5">Matthew 17: 16</span> And I brought him to thy 
            disciples,  and I spake to thy disciples that they 
            should cast him out;

        <p align="left" class="style4"><span class="style5">17</span> And Jesus answered and said, {answereth them and saith,}  O faithless 
            and perverse generation, how long shall I be with you? how long shall I bear 
            with you?  bring hither thy son to me.unto me. (<span class="comm">As there was no reason to accuse the apostles of 
                perversity, it is evident that the rebuke of Jesus is addressed generally to 
                all and not particularly to the disciples. The perverse faithlessness and 
                infidelity of the scribes had operated upon the multitude, and the doubts of 
                the multitude had in turn influenced the apostles, and thus, with the blind 
                leading the blind, all had fallen into the ditch of impotent disbelief. The 
                disbelief of the people was a constant grief to Jesus, but it must have been 
                especially so in this case, for it fostered and perpetrated this scene of 
                weakness, mean-spiritedness, misery, and suffering which stood out in such 
                sharp contrast with the peace, blessedness, and glory from which he had just 
                come.</span>)

        <p align="left" class="style4"><span class="style5">Mark 9: 20</span> And they brought him unto him:

        <p align="left" class="style4"><span class="style5">Luke 9: 42</span> And as he was yet a coming,  when he saw him 
            (<span class="comm">saw Jesus</span>), straightway  the demon dashed 
            him down, and  the spirit tare him grievously; and he 
            fell on the ground, and wallowed foaming.

        <p align="left" class="style4"><span class="style5">Mark 9: 21</span> And he asked his 
            father, How long is it since this hath come unto him? And he said, From a 
            child.

        <p align="left" class="style4"><span class="style5">22</span> And oft-times it hath cast him both into the fire, and 
            into the waters, to destroy him: {he falleth into the 
            fire, and oft-times into the water.} (<span class="comm">By causing the long-standing nature 
                of the case and the malignity of it to be fully revealed, Jesus emphasized the 
                power of the cure</span>)   but if thou canst do anything, have 
            compassion on us, and help us.

        <p align="left" class="style4"><span class="style5">23</span> And Jesus said unto him, If thou 
            canst! All things are possible to him that believeth. (<span class="comm">Jesus echoed back 
                the "if thou canst" which the man had uttered. If Jesus marveled at 
                the faith of a Gentile which trusted the fullness 

                of his divine 
                power, he also marveled at the disbelief of this Jew which thus coolly and 
                presumptuously questions the sufficiency of that power. In the remainder of his 
                answer Jesus shows that the lack of power is not in him, but in those who would 
                be recipients of the blessings of his power, for those blessings are obtained 
                by faith.</span>)

        <p align="left" class="style4"><span class="style5">24</span> Straightway the father of the child cried out, and said I 
            believe; help thou my unbelief. (<span class="comm">He confessed his faith, but desired so 
                ardently to have the child healed that he feared lest he should not have faith 
                enough to accomplish that desire, and therefore asked for more faith.</span>)

        <p align="left" class="style4"><span class="style5">25</span> And when Jesus saw that the multitude came running together, he rebuked the 
            unclean spirit, saying unto him, Thou dumb and deaf spirit, I command thee, 
            come out of him, and enter no more into him. (<span class="comm">Jesus had found the multitude 
                when he came down from the mountain, but the excitement in this multitude was 
                evidently drawing men from every quarter, so that the crowd was momentarily 
                growing greater. A longer conversation with the man might have been beneficial, 
                but to prevent the gathering of any larger company Jesus acted at once and 
                spoke the words of command. Since the demon was manifestly of a most daring, 
                impudent, and audacious nature, Jesus took the precaution to forbid it 
                attempting to re-enter its victim, a precaution which the conduct of the demon 
                abundantly justified.</span>)

        <p align="left" class="style4"><span class="style5">26</span> And having cried out, and torn him much, he came 
            out: and the boy became as one 
            dead; insomuch that the more part said, He is dead. (<span class="comm">The malicious 
                effrontery and obstinacy displayed by this demon stands in marked contrast to 
                the cowed, supplicating spirit shown by the Gergesene legion. See pp. 345, 
                346.</span>)

        <p align="left" class="style4"><span class="style5">27</span> But Jesus took him by the hand, and raised him up; and he arose.
            But Jesus healed the boy, and gave him back to his 
            father. (<span class="comm">For comment on similar conduct see page 277.</span>)   
            and the demon went out of him: and the boy was cured from that hour.

        <p align="left" class="style4"><span class="style5">Luke 9: 43</span> And they were all astonished at the majesty 
            of God. (<span class="comm">The failure of the disciples had only emphasized the power 

                of the Master.</span>)

        <p align="left" class="style4"><span class="style5">Mark 9: 28</span> And when he was come 
            into the house,

        <p align="left" class="style4"><span class="style5">Matthew 17: 19</span> Then came the 
            disciples to Jesus apart, and said,  asked him 
            privately, How is it that we 
            could not we cast it out?  Why could not we cast it 
            out?
        <p align="left" class="style4"><span class="style5">20</span>  And Jesus saith unto them, Because of your little faith
            (<span class="comm">The failure of the disciples was not because of any insufficiency of power in 
                Jesus, but was due to their own failure to appropriate that power by faith. The 
                relation of belief and unbelief to miraculous power is fully illustrated in 
                Peter's attempt to walk upon the waters. See page 380</span>): for verily I 
            say unto you, If ye have faith as a grain of mustard seed, ye shall say unto 
            this mountain (<span class="comm">Mount Hermon</span>) Remove hence to yonder place; and it shall 
            remove; and nothing shall be impossible unto you. (<span class="comm">The mustard seed was the 
                proverbial type for the infinitely little (<span class="comm"><span class="style7">Matthew 13: 32</span></span>). Faith has such power with God that even little faith 
                becomes well-nigh omnipotent in an age of miracles.</span>)

        <p align="left" class="style4"><span class="style5">Mark 9: 29</span> And he said unto them, This kind can come out by nothing, save by 
            prayer. (<span class="comm">Prayer was the means of increasing faith. Demons, like spirits in 
                the flesh, have different degrees of will force, some being easier to subdue 
                than others, and this once, being particularly willful and obstinate, required 
                more faith to expel it.</span>)



    </div> 


</ion-content>