<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>147. GUARDS REPORT TO THE JEWISH RULERS.</h3>
        <h3>MATTHEW 28: 11-15.</h3>
        <p align="left" class="style4"><span class="style5">11</span> Now while they were going (<span class="comm">while Joanna and the 
                group of women with her were on their way to tell the apostles that they had 
                seen Jesus</span>), behold, some of the guard (<span class="comm">not all</span>) came into the 
            city, and told unto the chief priests all the things that were come to pass.
            (<span class="comm">Esteeming it folly to guard an empty tomb, the soldiers went to their 
                barracks, while their officers returned to those who had placed them on guard 
                to report what had happened. They rightly judged that the plain truth was their 
                best defense. They could not be expected to contend against earthquakes and 
                angels. Their report implies that they saw Jesus leave the tomb, and after the 
                angel opened it.</span>)
        </p>


        <p align="left" class="style4"><span class="style5">12</span> And when they (<span class="comm">the chief priests</span>) were assembled with the elders, and 
            had taken counsel, they gave much money unto the soldiers, </p>

        <p align="left" class="style4"><span class="style5">13</span> saying, Say ye, His disciples came by 
            night, and stole him 
            away while we slept. (<span class="comm">This was evidently not a full, but a select, council 
                of the Sanhedrin hastily summoned. They willfully shut their eyes to the fact 
                that Jesus had risen, and proceed to purchase a lie to subvert the truth. 
                Unrepentant, despite the many evidences that they had done wrong, they proceed 
                to further invoke the wrath of God. Their lie is doubly apparent upon its face. 
                1. It would have been practically impossible for men to have rifled such a tomb 
                without waking a guard set to protect it. 2. It is absolutely impossible for 
                men to have known what had occurred while they were asleep.</span>) 
        </p>

        <p align="left" class="style4"><span class="style5">14</span>  And if this 
            come to the governor's ears, we will persuade him, and rid you of care. (<span class="comm">It 
                was a capital offense for a Roman soldier to sleep while on guard; therefore, 
                if Pilate heard that they had done this thing, it would require 
                "persuasion" to make him overlook the offense. Possibly the Jews 
                thought that Pilate was sufficiently involved with them to be ready to aid them 
                to hush the story of the resurrection, especially if they confessed to him that 
                they themselves had invented the lie which the soldiers told.</span>) </p>

        <p align="left" class="style4"><span class="style5">15</span> So they 
            took the money, and did as they were taught (<span class="comm">the lesson was short and 
                simple; the reward, large and desirable</span>): and this saying was spread 
            abroad among the Jews, and continueth
            until this day. (<span class="comm">The words seem to indicate that it was 
                published more largely than simply within the walls of Jerusalem. In his 
                dialogue with Trypho, which was written about A.D. 170, Justin Martyr says that the Jews dispersed the story by means of special messengers sent to every country. The fear which they expressed to Pilate (<span class="comm"><span class="style7">Matthew 27: 64</span></span>), lends credibility to this statement.</span>) </p>



    </div> 


</ion-content>