<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>114. ZACCH&AElig;US.</h3>
        <h3>(<span class="comm">JERICHO.</span>)</h3>
        <h3>LUKE 19: 1-28.</h3>
        <p align="left" class="style4"><span class="style5">1</span>   And he entered and was passing through Jericho. 
            (<span class="comm">This was about one week before the crucifixion. Jericho is about seven miles 
                from the Jordan and about seventeen and a half from Jerusalem.</span>) 


        </p>


        <p align="left" class="style4"><span class="style5">2</span>   And 
            behold, a man called by name Zacchaeus; and he was a chief publican, and he was 
            rich. (<span class="comm">See p. 76. It is probable that Zacch&aelig;us was a sub-contractor 
                under some Roman knight who had bought the privilege of collecting taxes at 
                Jericho, or perhaps the privilege of all Jud&aelig;a. As the Jordan separated 
                between the provinces of Jud&aelig;a and Per&aelig;a, and as Jericho was the 
                border city between these two provinces, the custom duties of the place were 
                apt to be considerable. The famous balm of Gilead was cultivated in 
                Per&aelig;a, and probably added considerably to the trade which passed through 
                Jericho. Herod the Great had raised Jericho to opulence, and to be rich in such 
                a city was no small matter. Zacch&aelig;us had not consented to become a social 
                outcast without reaping his reward.</span>) 


        </p>


        <p align="left" class="style4"><span class="style5">3</span>  And he sought to see Jesus who he 
            was; and could not for the crowd, because he was little of stature. 
            (<span class="comm">Jericho had been filled with reports about Jesus, and great excitement existed 
                among the people. Zacch&aelig;us shared this excitement.</span>) 

        </p>


        <p align="left" class="style4"><span class="style5">4</span>   And he ran on 
            before, and climbed up into a sycamore tree to see him: for he was to pass that 
            way. (<span class="comm">This tree differs from the sycamine, and grows only in those parts of 
                Palestine where the climate is warmest. It is the wild fig, and because of its 
                low trunk and spreading branches it is very easy to climb. The sycamore which 
                grows along our streams is the "buttonwood," and is in no way 
                related to the fig family.</span>) 

        </p>


        <p align="left" class="style4"><span class="style5">5</span>   And when Jesus came to the place, he 
            looked up, and said unto him, Zacchaeus, make haste, and come down; for to-day 
            I must abide at thy house. (<span class="comm">This is the only instance where Jesus invited 
                himself to be any man's guest. He knew the feeling of Zacch&aelig;us toward him 
                as well as he knew his name, and hence had no doubt as to his welcome. Jesus 
                says, "I must." Love constrained him to pause in Jericho that he 
                might save the house of Zacch&aelig;us.</span>) 


        </p>


        <p align="left" class="style4"><span class="style5">6</span>   And he made haste, and came down, 
            and received him joyfully. (<span class="comm">Glad that he had obtained not only the 
                wished-for sight of Jesus, but a favor which he had not dared to hope for. To 
                be thus honored of the Messiah was balm indeed to the outcast's heart.</span>) 



        </p>


        <p align="left" class="style4"><span class="style5">7</span>   And when they saw it, they all murmured, saying, He is gone in to lodge with a 
            man that is a sinner. (<span class="comm">See pp. 349 and 499. The "all" in this 
                case did not include Jesus' disciples. Jesus was a constant disappointment to 
                those who were seeking to make him an earthly king and who therefore desired 
                him to manifest a kingly pride.</span>) 


        </p>


        <p align="left" class="style4"><span class="style5">8</span>   And Zacchaeus stood, and said unto the 
            Lord, Behold, Lord, the half of my goods I give to the poor; and if I have 
            wrongfully exacted aught of any man, I restore fourfold. (<span class="comm">Zacch&aelig;us 
                stood to give emphasis and publicity to his words. He does not mean that he is 
                in the habit of giving half his goods to the poor, but that he does so now, 
                immediately, on the spot, without delay. He does not merely promise to do so 
                hereafter, or to make such a provision in his will. The laws of restoration in 
                cases of theft or fraud will be found at <span class="style7">Exodus 22: 1-4; Numbers 5: 7</span>. The proposition of Zacch&aelig;us to 
                restore fourfold suggests that the bulk of his wealth had not been gained in 
                dishonest ways, for if so he would not have been able to make such a 
                restitution.</span>) 



        </p>


        <p align="left" class="style4"><span class="style5">9</span>   And Jesus said unto him, To-day is salvation come to this 
            house, forasmuch as he also is a son of Abraham. 



        </p>


        <p align="left" class="style4"><span class="style5">10</span>   For the Son of 
            man is come to seek and to save that which was lost. (<span class="comm">The visit of Jesus 
                had converted Zacch&aelig;us and brought salvation to his house. Though as yet 
                Jesus was sent only to the lost sheep of the house of Israel (<span class="comm"><span class="style7">Matthew 15: 24</span></span>), and was not proclaiming 

                salvation to the Gentiles, yet he could consistently receive 
                Zacch&aelig;us, for, though an outcast publican, he had not so forfeited his 
                sonship in Abraham as to bar him from this right. He was one of the "lost 
                sheep," the very class to which Jesus was sent.</span>) 



        </p>


        <p align="left" class="style4"><span class="style5">11</span>   And as they heard 
            these things, he added and spake a parable, because he was nigh to Jerusalem, 
            and because they supposed that 
            the kingdom of God was immediately to appear. (<span class="comm">The opening words show that 
                the parable which follows was spoken in the house of Zacch&aelig;us. So far as 
                the record shows, this was the first time in his ministry that Jesus ever 
                approached Jerusalem with a crowd. By thus approaching Jerusalem with a 
                multitude it seemed to the people that Jesus was consenting to be crowned. And 
                they were filled with those dreams and expectations which a few days later 
                resulted in the triumphal entry. All things pointed to a crisis, and the people 
                were eagerly looking for honors and rewards under the new ruler. Jesus 
                corrected these false views by a parable which showed that there must be 
                patient waiting and faithful work before there could be any season of reward.</span>) 


        </p>


        <p align="left" class="style4"><span class="style5">12</span>  A certain nobleman went into a far country, to receive for himself a 
            kingdom, and to return. (<span class="comm">Those present were looking for the crowning of 
                Jesus at Jerusalem, but he was to ascend into that far country called heaven 
                and was there to receive the kingdom of the earth (<span class="comm"><span class="style7">Acts 2: 32, 33; Matthew 28: 18</span></span>), and his return in earthly 
                majesty is yet to take place--<span class="style7">1 Corinthians 11: 26.</span> 



        </p>


        <p align="left" class="style4"><span class="style5">13</span> And he called ten servants of his, and gave them ten pounds, and said unto them, Trade ye herewith till I come. (<span class="comm">To each of the servants he gave a crown, which was equal to about seventeen dollars of our money. It was a paltry sum for a nobleman and suggests a state of poverty and humiliation such as would give small incentive to any to remain faithful to his service.</span>)



        </p>


        <p align="left" class="style4"><span class="style5">14</span>   But his 
            citizens hated him, and sent an ambassage after him, saying, We will not that 
            this man reign over us. (<span class="comm">In addition to the servants, this nobleman had 
                citizens, or subjects who owed him respect and reverence pending the 
                confirmation of his kingdom, and 

                homage and obedience after that 
                confirmation. But their hatred of him led them to oppose his confirmation, 
                saying, "We will not," etc. These citizens represented the Jews, 
                and Theophylact well observes how near the Jews came to repeating these very 
                words of rejection when they said to Pilate, "We have no king but 
                C&aelig;sar . . . Write not, The King of the Jews."</span>) 



        </p>


        <p align="left" class="style4"><span class="style5">15</span>   And it came to 
            pass, when he was come back again, having received the kingdom, that he 
            commanded these servants, unto whom he had given the money, to be called to 
            him, that he might know what they had gained by trading. 



        </p>


        <p align="left" class="style4"><span class="style5">16</span>   And 
            the first came before him, saying, Lord, thy pound hath made ten pounds 
            more. (<span class="comm">Thus Jesus shall call us to account for our stewardship (<span class="comm"><span class="style7">2 Corinthians 5: 10</span></span>), and some, despite the long 
                absence of their Lord, and the rebellion of the citizens, will be found to have 
                been faithful. As to this servant's answer Grotius says (<span class="comm">comparing it with 
                    <span class="style7">1 Corinthians 15: 10</span></span>), "He modestly 
                attributes this to his lord's money, and not to his own work."</span>) 



        </p>


        <p align="left" class="style4"><span class="style5">17</span>  And 
            he said unto him, Well done, thou good servant: because thou wast found 
            faithful in a very little, have thou authority over ten cities. (<span class="comm">Thus by 
                small faithfulness we are proved worthy of great trust (<span class="comm"><span class="style7">2 Corinthians 4: 17</span></span>). We should note that while the bounty is 
                royal, yet it is proportionate. It suggests the difference in estate between 
                the nobleman who departed and the king who returned.</span>) 

        </p>


        <p align="left" class="style4"><span class="style5">18</span>   And the second 
            came, saying, Thy pound, Lord, hath gained five pounds. 



        </p>


        <p align="left" class="style4"><span class="style5">19</span>   And he 
            said unto him also, Be thou also over five cities. (<span class="comm">The faithful servants 
                are promoted to be rulers (<span class="comm"><span class="style7">2 Timothy 2: 1, 2</span></span>). The nobleman, having been of low estate himself, could 
                sympathize with his servants and delight in promoting them--<span class="style7">Phillipians 2: 7.</span></span>) 



        </p>


        <p align="left" class="style4"><span class="style5">20</span>   And another came, saying, 
            Lord, behold, here is thy pound, 
            which I have kept laid up in a napkin (<span class="comm">Having no banks in which to store 
                money, such as we have, the men of Palestine usually concealed it. At the 
                present time the people of that land are accustomed to bury their money in the 
                ground within their houses</span>): 



        </p>


        <p align="left" class="style4"><span class="style5">21</span>   for I feared thee, because thou art 
            an austere man: thou takest up that which 

            thou layedst not 
            down, and reapest that which thou didst not sow. (<span class="comm">He impudently criticizes 
                his lord, saying that he was one hard to please and one who expected others to 
                do all the work and let him reap all the gain. The injustice of his criticism 
                had just been exposed beforehand by the king's treatment of the two preceding 
                servants. This servant represents those who make the labors and difficulties of 
                the Christian life an excuse for doing nothing.</span>) 



        </p>



        <p align="left" class="style4"><span class="style5">22</span>   He saith unto him, Out 
            of thine own mouth will I judge thee, thou wicked servant. Thou knewest that I 
            am an austere man, taking up that which I laid not down, and reaping that which 
            I did not sow; 



        </p>


        <p align="left" class="style4"><span class="style5">23</span>   then wherefore gavest thou not my money into the 
            bank, and I at my coming should have required it with interest? (<span class="comm">The king 
                patiently grants for argument's sake all that is urged, but shows that even so, 
                the conduct of this servant could not be justified. Thus no argument can 
                justify the sinner who contends against God. The word here translated 
                "bank" means the table of the money-changer and is so translated at 
                <span class="style7">Matthew 21: 12; Mark 11: 15, and John 2: 15</span>. It would appear from this passage that the money-changers were 
                willing to borrow and pay some rate of interest. The bank, therefore, was not a 
                thing incorporated and watched by the government, but merely an individual with 
                whom money might be secure or not, according to his personal honesty. Our 
                present banking system has been the slow growth of many centuries. The lesson 
                taught is that we should work with others if we have not self-confidence enough 
                to work alone.</span>) 



        </p>


        <p align="left" class="style4"><span class="style5">24</span>   And he said unto them that stood by, Take from him the 
            pound, and give it unto him that hath


        </p>


        <p align="left" class="style4"><span class="style5">25</span>   And they said 
            unto him, Lord, he hath ten pounds. 



        </p>

        <p align="left" class="style4"><span class="style5">26</span>   I say unto you, that unto 
            every one which hath shall be given; but from him that hath not, even that 
            which he hath shall be taken away from him. (<span class="comm">See p. 331. The meaning here 
                is that every one who makes use of what he has shall increase his powers, a 
                rule which applies to all the affairs of life.</span>) 



        </p>



        <p align="left" class="style4"><span class="style5">27</span>   But these mine enemies, 
            that would not that I should reign over them 

            bring hither, 
            and slay them before me. (<span class="comm">A reference in the first instance to the Jews who 
                were citizens of Christ's kingdom and who were justly destroyed for rejecting 
                him when he ascended his throne. A reference in the second instance to all the 
                inhabitants of the globe who are all in his kingdom and who shall be destroyed 
                at his coming if they have rejected him. It is a fearful thing to contemplate 
                the destruction of sinners, but it is more fearful to think of sin, rebellion 
                and uncleanness being tolerated forever.</span>) 



        </p>



        <p align="left" class="style4"><span class="style5">28</span>   And when he had thus spoken, he 
            went on before, going up to Jerusalem. (<span class="comm">The crowd had paused, waiting for 
                Jesus, and he now leads on toward Jerusalem.</span>)



        </p>



    </div> 


</ion-content>