<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>65C. FIRST PARABLES.</h3>
        <h3>(<span class="comm">BESIDE THE SEA OF GALILEE.</span>)</h3>
        <h3>PARABLE OF THE SEED.</h3>
        <h3>MARK 4: 26-29.</h3>
        <p align="left" class="style4"><span class="style5">26</span> And he said, So is the kingdom of God, as if a man 
            should cast seed upon the earth;</p>

        <p align="left" class="style4"><span class="style5">27</span> and should sleep and rise 
            night and day, and the seed should spring up and grow, he knoweth not how. 
            (<span class="comm">In the kingdom of grace, as well as in the kingdom of nature, we are laborers 
                together with God. As preachers, teachers, or friends we sow the seed of the 
                kingdom and God brings it to perfection (<span class="comm"><span class="style7">1 Corinthians 3: 6-9</span></span>). The seed here spoken of, being wheat or barley, 
                needed no cultivation, and hence the planter let it alone, and did not know how 
                it grew, whether fast or slow, or even whether it grew at all.</span>)</p>

        <p align="left" class="style4"><span class="style5">28</span> The earth 
            beareth fruit of herself; first the blade, then the ear, then the full grain in 
            the ear.</p>

        <p align="left" class="style4"><span class="style5">29</span> But when the fruit is ripe, straightway he putteth 
            forth the sickle, because the harvest is come. (<span class="comm">Truth, spoken, lies hidden 
                in the human breast, and we do not see its earliest stages of its development, 
                but as it proceeds toward perfection, it becomes step by step more visible. In 
                both fields the sower has little to do with the field between the time of 
                sowing and reaping. In the spiritual field, however, it is well to keep sowing 
                until the grain shows signs of sprouting.</span>)
        </p>
    </div> 


</ion-content>