<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>120D. RULERS SEEK TO ENSNARE JESUS.</h3>
        <h3>(<span class="comm">COURT OF THE TEMPLE. TUESDAY, APRIL 4, A.D. 30.</span>)</h3>
        <h3>JESUS' QUESTION.</h3>
        <h3>MATTHEW 22: 41-46;  MARK 12: 35-37; LUKE 20: 41-44.</h3>
        <p align="left" class="style4"><span class="style5">Matthew 22: 41</span> Now while the Pharisees were gathered together,
            as he taught in the temple,  
            Jesus asked them a question (<span class="comm">They had questioned him seeking to expose his 
                lack of wisdom, but the question of Jesus was devoid of retaliation. It was 
                asked to teach a most important lesson</span>),  </p>
        <p align="left" class="style4"><span class="style5">Mark 12: 35</span> And Jesus answered and said, {<span class="style5">Matthew 22: 42</span> saying,} unto them, What think ye of the Christ? whose son is he? They say unto him, The son of David. (<span class="comm">The answer was true, but it was not all the truth as the Scriptures themselves showed. And this additional truth was what the opposers of Jesus needed to learn.</span>)</p> 

        <p align="left" class="style4"><span class="style5">Matthew 22: 43</span> He saith unto them,How say {they}  
            the scribes that the Christ is the son of David? {
            David's son?}  How then doth David in the Spirit call 
            him Lord,  </p>


        <p align="left" class="style4"><span class="style5">Luke 20: 42</span> For David 
            himself saith {said} in the Holy Spirit,  in the book of Psalms, {saying,}
            The Lord said unto my Lord, Sit thou on my 
            right hand, Till I make thine enemies the footstool of thy feet. 
            {Till I make thine enemies underneath thy feet?}
        </p>

        <p align="left" class="style4"><span class="style5">Matthew 22: 45</span> If  </p>

        <p align="left" class="style4"><span class="style5">Mark 12: 37</span> David 
            himself therefore  then calleth him Lord, how
            and whence is he his son? (<span class="comm">The quotation is from 
                <span class="style7">Psalm 110</span>. The context here shows that 
                the rabbis of that day accepted this Psalm as written by David and as Messianic 
                in meaning. Since then the Jews have denied that the Psalm is Messianic, and 
                that it was written by David; some saying that Abraham, and others that 
                Hezekiah, wrote it. This Psalm speaks of the Messiah as the Lord of David, and 
                other Scriptures call him David's son. So also the Scriptures describe Christ 
                as conquering yet suffering, as divine yet human, as dying yet living, as 
                judged yet judging, etc. The Jewish rulers seem able to grasp only one side of 
                the character of Christ as revealed either in his life or in the Scriptures, 
                and hence they 

                stumbled.</span>)  </p> 


        <p align="left" class="style4"><span class="style5">Matthew 22: 46</span> And no 
            one was able to answer him a word, neither durst any man from that day forth 
            ask him any more questions.  And the common people 
            heard him gladly. (<span class="comm">By all their questioning, the Jews had not been able to 
                weaken public confidence in Christ.</span>)</p>
    </div> 


</ion-content>