<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>103G. SECOND GROUP OF PARABLES</h3>
        <h3>(<span class="comm">PROBABLY IN PER&AElig;A.</span>)</h3>
        <h3>FAITH AND SERVICE</h3>
        <h3>LUKE 17: 1-10</h3>
        <p align="left" class="style4"><span class="style5">1</span> And he said unto the disciples (<span class="comm">Jesus here 
                ceases to speak to the Pharisees, and begins a new series of sayings addressed 
                to the disciples, which sayings are, however, pertinent to the occasion, and 
                not wholly disconnected with what he has just been saying</span>), It is 
            impossible (<span class="comm">in a world where Pharisees abound, etc. <span class="style7">1 Corinthians 11: 19</span></span>) but that occasions of 
            stumbling should come; but woe unto him, through whom they come! (<span class="comm">See page 
                432.</span>) 
        </p>

        <p align="left" class="style4"><span class="style5">2</span> It were well for him if a millstone (<span class="comm">not the large millstone 
                mentioned by Matthew and Mark, but the small one which was turned by hand</span>) 
            were hanged about his neck, and he were thrown into the sea, rather than that 
            he should cause one of these little ones (<span class="comm">beginners in the faith, or 
                weaklings <span class="style7">Romans 14: 1</span></span>) to 
            stumble. (<span class="comm">See page 432.</span>) 
        </p>

        <p align="left" class="style4"><span class="style5">3</span> And if he sin 
            against thee seven times in the day (<span class="comm">a general expression indicating a 
                great number of times</span>), and seven times turn again to thee, saying, I 
            repent; thou shalt forgive him. (<span class="comm">See p. 437. The passage differs from that 
                in Matthew in that the repentance of the sinner is required as a condition 
                precedent to forgiveness.</span>)</p>

        <p align="left" class="style4"><span class="style5">4</span> Take heed to yourselves (<span class="comm">our dangers are 
                not overpassed when we avoid giving offenses, for it is also required of us 
                that we should forgive the evils which we receive</span>): if thy brother 
            sin, rebuke him; and if he repent, forgive him. (<span class="comm">Righteousness has its
                obligation to rebuke as well as love has to forgive.</span>)
        </p>

        <p align="left" class="style4"><span class="style5">5</span> And the apostles said unto the Lord, Increase 
            our faith. (<span class="comm">The apostles asked for faith that they might be able to fulfill 
                the great moral requirements which Jesus had just revealed. Our Lord sanctions 
                the wisdom of their prayer by showing the greatness of faith.</span>) </p>

        <p align="left" class="style4"><span class="style5">6</span> And the 
            Lord said, If ye had faith as a grain of mustard seed, ye might say unto this 
            sycamine tree, Be thou rooted up, and be thou 

            planted in 
            the sea; and it would obey you. (<span class="comm">See pp. 424, 426. "The only real 
                power of the universe," says Godet, "is the divine will. The human 
                will, which has discovered the secret of blending with this force of forces, is 
                raised, in virtue of this union, to omnipotence." But our distance from 
                omnipotence measures how far we are from attaining that desired union of will. 
                The sycamine tree is the well-known black mulberry tree, which belongs to the 
                same natural order as the fig-tree, and is a tree distinguished for being 
                deeply rooted.</span>)</p>

        <p align="left" class="style4"><span class="style5">7</span> But who is there of you, having a servant plowing or 
            keeping sheep, that will say unto him, when he is come in from the field, Come 
            straightway and sit down to meat; 
        </p>

        <p align="left" class="style4"><span class="style5">8</span> and will not rather say unto 
            him, Make ready wherewith I may sup, and gird thyself, and serve me, till I 
            have eaten and drunken; and afterward thou shalt eat and drink? 
        </p>

        <p align="left" class="style4"><span class="style5">9</span> 
            Doth he thank that servant because he did the things that were commanded?</p>

        <p align="left" class="style4"><span class="style5">10</span> Even so ye also, when ye shall have done all things that are 
            commanded you, say, We are unprofitable servants; we have done that which was 
            our duty to do. (<span class="comm">In this passage, which is in the nature of a parable, 
                Jesus teaches that duty is coextensive with ability, and explodes the doctrine 
                that it is possible for a man to do "works of supererogation." 
                Since in God's sight no man can even do his full duty (<span class="comm"><span class="style7">Psalm 143: 2</span></span>), it is impossible that he can do more 
                than his duty. We may be rewarded for the discharge of our duty, but the reward 
                is of grace and not of merit. Compare <span class="style7">Luke 12: 3-48</span>. The theme is no doubt suggested by <span class="style7">Luke 17: 6</span>. When one's faith endows him with great gifts he need 
                not consider himself as an unusually profitable servant for he can do no more 
                than it is his duty to do. Godet denies this connection with <span class="style7">Luke 17: 6</span>, contending that miracles are not among 
                "the things that are commanded" in the terms of <span class="style7">Luke 16: 10;</span> but miracles were commanded, and for 
                those who could bestow it, a gift of healing was as much an obligation as a 
                gift of alms (<span class="comm"><span class="style7">Matthew 10: 8; Acts 3: 1-6</span></span>). The paragraph is a fitting close to a discourse so much 
                of which relates to Phariseeism.</span>)

        </p>


    </div> 


</ion-content>