<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>91. ATTEMPT TO STONE JESUS.</h3>
        <h3>(<span class="comm">JERUSALEM. OCTOBER, A.D. 29.</span>)</h3>
        <h3>JOHN 8: 12-59.</h3>
        <p align="left" class="style4"><span class="style5">12</span> Again therefore Jesus spake unto them, saying, I am 
            the light of the world: he that followeth me shall not walk in the darkness, 
            but shall have the light of life. (<span class="comm">The metaphor of light was common, and 
                signified knowledge and life; darkness is opposed to light, being the symbol of 
                ignorance and death.</span>)

        <p align="left" class="style4"><span class="style5">13</span> The Pharisees therefore said unto him, Thou bearest 
            witness of thyself; thy witness is not true. (<span class="comm">They perhaps recalled the 
                words of Jesus at <span class="style7">John 5: 31</span>.</span>)

        <p align="left" class="style4"><span class="style5">14</span> Jesus answered and said unto them, Even if I bear witness of myself, my witness 
            is true; for I know whence I came, and whither I go; but ye know not whence I 
            come, and whither I go. (<span class="comm">No man can bear testimony of his own nature, for 
                he knows neither its origin nor its end. The Jews could not judge as to 
                Christ's nature--that he was the source of light and life, because of 
                their ignorance as to him. But Jesus, having complete knowledge as to his 
                eternal existence, was qualified to testify. These are truths about Deity to 
                which Deity alone can testify, and as to the truth of which 

                Deity alone is fully competent to judge.</span>)

        <p align="left" class="style4"><span class="style5">15</span> Ye judge after the flesh (<span class="comm">i. e., carnally, superficially, according to appearances. Carnal tests are not 
                suited to spiritual truth</span>); I judge no man.

        <p align="left" class="style4"><span class="style5">16</span> Yea and 
            if I judge, my judgment is true; for I am not alone, but I and the Father that 
            sent me. (<span class="comm">He contrasts his spirit with theirs. They came upon him eager to 
                condemn, but he had come not to condemn, but to save (<span class="comm"><span class="style7">John 3: 17</span></span>). As an exception to his general course he might 
                at intervals condemn a sinner; but should be do so the sentence would be just, 
                for it would be the judgment of the Father, and hence devoid of any personal 
                resentment or other biasing, perverting influence; the Father being lifted 
                above and removed from the heats of argument in which the Son engaged.</span>)

        <p align="left" class="style4"><span class="style5">17</span> Yea and in your law it is written, that the witness of two men is true.

        <p align="left" class="style4"><span class="style5">18</span> I am he that beareth witness of myself, and the Father that sent me 
            beareth witness of me. (<span class="comm">Jesus here returns to the point raised in <span class="style7">John 8: 13</span>. He cites the law as to two witnesses, 
                found at <span class="style7">Deuteronomy 19: 15</span>, and calls the 
                law their law because they had arrogantly claimed possession of it 
                (<span class="comm"><span class="style7">John 7: 49</span></span>). The Father had borne 
                witness to the Son by the prophets, including John the Baptist, by his voice at 
                the baptism and transfiguration, by the works wrought by Jesus, and by the very 
                nature of the life manifested by our Lord throughout his entire ministry. If 
                the witness of two men establishes truth, much more the witness of the 
                two divine voices--that of the Father and of the Son.</span>)

        <p align="left" class="style4"><span class="style5">19</span> They said 
            therefore unto him, Where is thy Father? (<span class="comm">They evidently thought that Jesus 
                referred to the testimony of some earthly parent (<span class="comm">see <span class="style7">John 8: 27</span></span>), and appeal to him to produce this absent, unseen 
                witness. It was according to their carnal or fleshly judgment to thus think.</span>) 
            Jesus answered, Ye know neither me, nor my Father: if ye knew me, ye would 
            know my Father also. (<span class="comm">If they had really known the Son they would have 
                recognized in him the Father, and vice versa--<span class="style7">John 14: 6-8</span>.</span>)

        <p align="left" class="style4"><span class="style5">20</span> These words spake he in 
            the treasury, as 

            he taught in the temple and no man took 
            him; because his hour was not yet come. (<span class="comm">The treasury, or place where the 
                chests for offerings were placed, was in the court of the women, the most 
                public part of the Jewish temple. It was near the hall Gazith, where the 
                Sanhedrin met. Though he taught in a place so suited to his arrest, he was not 
                taken. There is evidently a pause after <span class="style7">John 8: 20</span>, but probably not a very long one.</span>)

        <p align="left" class="style4"><span class="style5">21</span> He said therefore Jesus 
            again unto them, I go away, and ye shall seek me, and shall die in your sin: 
            whither I go, ye cannot come. (<span class="comm">See comment on page 447. Seeking their 
                Messiah as an earthly and not as a spiritual deliverer, they would not find 
                him, and hence would die unforgiven, and therefore could not come to the land 
                whither Jesus went, since the unforgiven cannot enter there.</span>)

        <p align="left" class="style4"><span class="style5">22</span> The Jews 
            therefore said, Will he kill himself, that he saith, Whither I go, ye cannot 
            come?

        <p align="left" class="style4"><span class="style5">23</span> And he said unto them, Ye are from beneath; I am from 
            above: ye are of this world; I am not of this world.

        <p align="left" class="style4"><span class="style5">24</span> I said 
            therefore unto you, that ye shall die in your sins: for except ye believe not 
            that I am he, ye shall die in 
            your sins. (<span class="comm">Jesus had made their sins the ground of separation 
                between him and them, but they assumed that they could go wherever he went, 
                unless he went some place for self-murder. Thus they adroitly attempt to 
                make his sin the cause of the separation. To this Jesus replies that 
                they are even now separated from him by their origin and nature, and that 
                theirs is the sinful nature, and that they shall die in it unless delivered 
                from it through faith in him.</span>)

        <p align="left" class="style4"><span class="style5">25</span> They said therefore unto him, Who art 
            thou? Jesus said unto them, Even that which I have also spoken unto you from 
            the beginning. (<span class="comm">His bold call to them to believe in him leads them to make 
                a counter demand that he confess himself to them, but Jesus had all along 
                confessed himself to them as the Son of the Father, the bread and water of 
                life, the light of the world, etc., and had no new confession to make.</span>)

        <p align="left" class="style4"><span class="style5">26</span> I 
            have many things to speak and to judge concerning you: howbeit he 

            that sent me is true; and the things which I heard from him, these 
            speak I unto the world. (<span class="comm">Up to this point Jesus had sought to reveal 
                himself; from this point on he would reveal his enemies also, and though the 
                revelation would be displeasing, it was from the Father, and hence would be 
                spoken.</span>)

        <p align="left" class="style4"><span class="style5">27</span> They perceived not that he spake to them of the Father.

        <p align="left" class="style4"><span class="style5">28</span> Jesus therefore said, When ye have lifted up the Son of man, then 
            shall ye know that I am he, 
            and that I do nothing of myself; 
            but as the Father hath taught me, I speak these things.

        <p align="left" class="style4"><span class="style5">29</span> And he 
            that sent me is with me; he hath not left me alone; for I do always the things 
            that are pleasing to him. (<span class="comm">The words which he was about to speak would seem 
                to them to be prompted by personal malevolence. Misconstruing his words as 
                spoken in this spirit, the Jews would crucify him; but when their rage had 
                accomplished his death and spent itself, they would look back upon his 
                life--especially the closing scenes of it--and see that his soul 
                contained no bitterness toward them, that what he had said was true, and was 
                spoken at the dictation of his Father. At the day of Pentecost and the season 
                which followed it, the repentance of the Jews amply fulfilled this prophecy.</span>)

        <p align="left" class="style4"><span class="style5">30</span> As he spake these things, many believed on him. (<span class="comm">The tender manner in 
                which Jesus spoke these words convinced many that he was filled with the spirit 
                of loving good will, and they believed him. Among these converts were some of 
                the Jewish hierarchy, which had been but even now opposing him. The succeeding 
                verses shows how Jesus tried to correct their false views of his Messiahship, 
                and to raise their faith to a higher level, and how their faith utterly broke 
                down under the test.</span>)

        <p align="left" class="style4"><span class="style5">31</span> Jesus therefore said to those Jews (<span class="comm">those of 
                the hierarchy</span>) that had believed him (<span class="comm">the words indicate a less faith 
                than the "believed on him" of the previous verse</span>), If ye abide in my word, then are ye truly my disciples 
            (<span class="comm">Discipleship is an abiding condition--a life, not an act. The prejudices 
                and preconceived notions of these Jews would prevent them from believing on 
                him</span>);

        <p align="left" class="style4"><span class="style5">32</span> and ye shall 

            know the truth, and the 
            truth shall make you free. (<span class="comm">Freedom consists in conformity to that which, 
                in the realm of intellect, is called truth, and in the realm of morality, law. 
                The only way in which we know truth is to obey it, and God's truth gives 
                freedom from sin and death.</span>)

        <p align="left" class="style4"><span class="style5">33</span> They answered unto him, We are Abraham's 
            seed, and have never yet been in bondage to any man: how sayest thou, Ye shall 
            be made free? 34 Jesus answered them, Verily, verily, I say unto 
            you, Every one that committeth sin is the bondservant of sin. (<span class="comm">Jesus here 
                shows that the freedom of which he spoke was spiritual--a relief from the 
                distress mentioned in <span class="style7">John 8: 21-24</span>.</span>)

        <p align="left" class="style4"><span class="style5">35</span> And the bondservant abideth not in the house for ever: the son abideth 
            for ever.

        <p align="left" class="style4"><span class="style5">36</span> If therefore the Son shall make you free, ye shall be 
            free indeed. (<span class="comm">For light on this passage read <span class="style7">Galatians 4: 19-21</span>. Slaves have no permanent relationship to a 
                house, and may be changed at will. God was about to dismiss the Jews as 
                unfaithful slaves (<span class="comm"><span class="style7">Luke 20: 16-19</span></span>). Sons, on the contrary, have a permanent relationship 
                to the house, and if a son take one into fraternal adoption, he communicates to 
                such a one his own perpetuity--<span class="style7">Romans 8: 2</span>.</span>)

        <p align="left" class="style4"><span class="style5">37</span> I know that ye are Abraham's seed; yet ye seek to kill me, 
            because my word hath not free course in you. (<span class="comm">Outwardly and carnally ye are 
                Abraham's seed, but ye are not so inwardly and spiritually, for he was the 
                friend of God (<span class="comm"><span class="style7">James 2: 23</span></span>), but ye are 
                the enemies of God's Son, even seeking to kill him because ye are so corrupt 
                that his words are distasteful to you, and ye resist them.</span>)

        <p align="left" class="style4"><span class="style5">38</span> I speak the 
            things which I have seen with my 
            Father: and ye also do the things which ye heard from your father. (<span class="comm">An introductory statement 
                leading up to <span class="style7">John 8: 44</span>. In the 
                discourse which follows, Jesus discloses two households, two sets of children, 
                and two styles of language or thought--one divine, the other diabolic.</span>)

        <p align="left" class="style4"><span class="style5">39</span> They answered and said unto him, Our father is Abraham. (<span class="comm">Seeing that he 
                was distinguishing between his parentage and their parentage, they reassert for 
                themselves 

                the fatherhood of Abraham, leaving him to find a better 
                one if he could.</span>) Jesus saith unto them, If ye were Abraham's children, ye 
            would do the works of Abraham.

        <p align="left" class="style4"><span class="style5">40</span> But now ye seek to kill me, a 
            man that hath told you the truth, which I heard from God: this did not 
            Abraham. (<span class="comm">Jesus here asserts that true descent is spiritual--a common 
                nature manifesting itself in a similarity of works. According to this standard, 
                the works of the Jews disproved their claim to be derived from Abraham.</span>)

        <p align="left" class="style4"><span class="style5">41</span> Ye do the works of your father. (<span class="comm">This refers back to <span class="style7">John 8: 38</span>, and shows that in distinguishing between his and 
                their parentage Jesus had not allotted them the parentage of Abraham which they 
                so gliby claimed.</span>) They said unto him, We were not born of fornication; we 
            have one Father, even God. 
            (<span class="comm">Perceiving that he spoke of spiritual parentage, and recognizing the fact that 
                he had shattered their claim of spiritual derivation from Abraham, they fell 
                back upon the citadel of Jewish confidence and pride--spiritually they 
                were begotten of God; they were not begotten of an idolatrous but of a godly 
                stock. Fornication is here used as the common symbol for 
                idolatry--<span class="style7">Exodus 34: 15-16; Hosea 1: 2; 2: 4</span>.</span>)

        <p align="left" class="style4"><span class="style5">42</span> Jesus said unto them, If God were your Father, ye would 
            love me: for I came forth and came from God; for neither have I come of myself, 
            but he sent me. (<span class="comm">If ye were God's children, ye would recognize me as of the 
                same household, and love me accordingly, for I am both God-derived and 
                God-sent. Thus their hatred destroyed this claim also.</span>)

        <p align="left" class="style4"><span class="style5">43</span> Why do ye not 
            understand my speech? Even 
            because ye cannot hear my word. (<span class="comm">By "speech" here Jesus means 
                the outward form or expression of an idea; by "word" he means the 
                inner thought or substance--the idea itself. Throughout this whole 
                dialogue the Jews had failed to understand the verbiage of Jesus, because his 
                thoughts were so utterly unfamiliar that no words could make them plain. Minds 
                filled with ideas of the devil find it difficult to comprehend the thoughts of 
                God, no matter how plainly expressed.</span>)

        <p align="left" class="style4"><span class="style5">44</span> Ye are of your father the devil, 

            and the lusts (<span class="comm">wishes, desires</span>) of your father it is your will to do. He 
            was a murderer from the beginning, and standeth not in the truth, because there 
            is no truth in him. When he speaketh a lie, he speaketh of his own: for he is a 
            liar, and the father thereof. (<span class="comm">By your hatred of the truth and your desire 
                to commit murder, which are notable lusts of the devil, you show that you are 
                spiritually derived from him. He was a murderer in the very beginning, for he 
                brought sin into the world, which caused death (<span class="comm"><span class="style7">Romans 5: 12</span></span>). He shrinks from the truth as you do, because it meets 
                no response in his heart. When he speaks a lie, he speaks of his own offspring, 
                for he is a liar and the father of lying.</span>)

        <p align="left" class="style4"><span class="style5">45</span> And because I tell (<span class="comm">you</span>) the 
            truth, ye believe me not. (<span class="comm">As children of Satan they were used to his 
                flattering speech; hence they rejected the word of Jesus because it was the 
                bitter truth, and convicted them of sin.</span>)

        <p align="left" class="style4"><span class="style5">46</span> Which of you convicteth me of 
            sin? If I say truth, why do ye not believe me? (<span class="comm">If you can not convict me 
                of sin, then what I say must be true. Why, then, do you not believe me?</span>)

        <p align="left" class="style4"><span class="style5">47</span> He that is of God heareth the words of God: for this cause ye hear them not, because ye are not of God. 
            (<span class="comm">The word "hear" is used in the sense of receive. Children of God 
                love the honesty of God, but children of the devil prefer to be deceived. The 
                saying is akin to <span class="style7">John 3: 20-21</span>.</span>)

        <p align="left" class="style4"><span class="style5">48</span> The Jews (<span class="comm">the same mentioned in <span class="style7">John 8: 31</span></span>) answered and said unto him, Say we not well that thou art a 
            Samaritan, and hast a demon? (<span class="comm">They present this piece of scorn as though it 
                were a current saying; but it was probably suggested by the distinction in 
                parentage which Jesus had just made. See <span class="style7">John 8: 38</span>. He had shown they were no true sons of either Abraham or God, 
                and they retaliate by calling him a Samaritan, swayed by diabolical influences. 
                Jesus had visited Samaria (<span class="comm"><span class="style7">John 4</span></span>), and had just come through Samaria to this feast; these things, coupled with his bitter charges against the sons of Abraham, were sufficient to suggest the slanderous accusation.</span>) 49 Jesus answered, I have not a demon; but I honor my Father, and ye dishonor me. (<span class="comm">He did not deny the charge of being a Samaritan, not choosing to recognize the difference which they attached to race--<span class="style7">John 4: 39-42; Luke 10: 33; 17: 16</span>.</span>)

        <p align="left" class="style4"><span class="style5">50</span> But I seek not mine own 
            glory: there is one that seeketh and judgeth. (<span class="comm">I do not mind your abuse, 
                for I do not seek my own glory. My Father seeks it, and judges those in whom he 
                finds it not--<span class="style7">John 5: 23</span>.</span>)

        <p align="left" class="style4"><span class="style5">51</span> Verily, verily, I say unto you, If a man keep my word, he shall never see 
            death. (<span class="comm">Jesus here re-states the thought in <span class="style7">John 8: 31-32</span>. "To keep" here means to cherish and obey. 
                Sin is bondage, and its wages is death. The fleshly body of the Christian dies, 
                but the spirit within him does not. His eternal life begins in this 
                world--<span class="style7">John 5: 24</span>.</span>)

        <p align="left" class="style4"><span class="style5">52</span> The Jews 
            said unto him, Now we know that thou hast a demon. (<span class="comm">They thus construed his 
                words as a confirmation of their former accusation.</span>) Abraham died, and the 
            prophets; and thou sayest, If a man keep my word, he shall never taste of 
            death.

        <p align="left" class="style4"><span class="style5">53</span> Art thou greater than our father Abraham, who died? and 
            the prophets died: whom makest thou thyself? (<span class="comm">The argument is this: God's 
                word spoken to Abraham and the prophets had not preserved their lives, yet you 
                claim power of life for your words greater than God's, yet surely you will not 
                claim even to be as great as Abraham. Such wild talk is mere raving. They 
                expected Jesus to disclaim the high position to which he seemed to have exalted 
                himself.</span>)

        <p align="left" class="style4"><span class="style5">54</span> Jesus answered, If I glorify myself, my glory is nothing 
            (<span class="comm">he prefaces his answer by showing that his words are not spoken in a spirit of 
                self-exaltation, but in accordance to the will of his Father</span>): it is 
            my Father that glorifieth me; of whom ye say, that he is your God;

        <p align="left" class="style4"><span class="style5">55</span> and ye have not known him: but I know him; and if I should say, I know him 
            not, I shall be like unto you, a liar (<span class="comm">referring back to <span class="style7">John 8: 44</span></span>): but I know him, and keep his 
            word. (<span class="comm">Jesus here makes plain as sunlight his entire discourse by showing 
                that he has used the word Father where they would have used the word God. 

                There is a distinction, too, between the "known" and the 
                "know" used by Jesus. The first represents knowledge which is 
                acquired. The Jews had not acquired a knowledge of God from their Scriptures. 
                The second, "know," indicates that which is grasped intuitively, by 
                direct personal cognition.</span>)

        <p align="left" class="style4"><span class="style5">56</span> Your father Abraham rejoiced to see my day; 
            and he saw it, and was glad. (<span class="comm">"My day" means the mediatorial 
                manifestation of Messiah. Abraham saw it by faith in the promised seed.</span>)

        <p align="left" class="style4"><span class="style5">57</span> The Jews therefore said unto him, Thou art not yet fifty years old, and hast 
            thou seen Abraham? (<span class="comm">They continue to persist in a literal interpretation, 
                and even wrest the words of Jesus; for Abraham might well have seen him as the 
                seed of promise, without his fleshly eyes ever seeing Abraham. Fifty years 
                indicated the prime of life. It had been two thousand years since the time of 
                Abraham, and Jesus was not yet a mature man as estimated by years.</span>)

        <p align="left" class="style4"><span class="style5">58</span> Jesus 
            said unto them, Verily, verily, I say unto you, Before Abraham was born, I 
            am. (<span class="comm">"I was" would simply have expressed priority, but "I 
                am" marks timeless existence. It draws the contrast between the created 
                and the uncreated, the temporal and the eternal. Compare <span class="style7">Exodus 3: 14</span>.</span>)

        <p align="left" class="style4"><span class="style5">59</span> They took up stones therefore to cast at 
            him. (<span class="comm">judging him to be a blasphemer</span>): but Jesus hid himself, and 
            went out of the temple. (<span class="comm">He doubtless drew back into the crowd and was 
                concealed by his friends.</span>)



    </div> 


</ion-content>