<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>103A. SECOND GROUP OF PARABLES</h3>
        <h3>(<span class="comm">PROBABLY IN PER&AElig;A.</span>)</h3>
        <h3>INTRODUCTION</h3>
        <h3>LUKE 15: 1, 2</h3>
        <p align="left" class="style4"><span class="style5">1</span> Now all the publicans and sinners were drawing hear 
            unto him to hear. 

        <p align="left" class="style4"><span class="style5">2</span> And both the Pharisees and scribes murmured, 
            saying, This man receiveth sinners, and eateth with them. (<span class="comm">For publicans 
                see p. 76, and for eating with them see p. 349. The Pharisees classed as 
                "sinners" all who failed to observe the traditions of the elders, 
                and especially their traditional rules of purification. It was not so much the 
                wickedness of this class as their legal uncleanness that made it wrong to eat 
                with them. Compare <span class="style7">Galatians 2: 12, 13</span> murmuring, Jesus spoke three parables, in which he 
                set forth the yearnings of redemptive love. Having thus replied to the 
                Pharisees, Jesus continued his discourse, adding two other parables, concerning 
                the right employment of worldly goods, and ending with some teaching concerning 
                offenses, etc. We defer comparing the parables until we have discussed them.</span>)
        </p>



    </div> 


</ion-content>