<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>5. THE BIRTH OF JOHN THE BAPTIST.</h3>
        <h3>(<span class="comm">HILL COUNTRY OF JUD&AElig;A, B.C. 5.</span>)</h3>
        <h3>LUKE 1: 57 - 80.</h3>
        <p align="left" class="style4"><span class="style5">57</span> Now Elisabeth's time was fulfilled that she should 
            be delivered; and she brought forth a son.</p>

        <p align="left" class="style4"><span class="style5">58</span> And her neighbors 
            and her kinsfolk heard that the Lord had magnified his mercy towards her 
            (<span class="comm">mercy in granting a child; great mercy in granting so illustrious a child</span>)
            ; and they rejoiced with her.</p>

        <p align="left" class="style4"><span class="style5">59</span> And it came to pass on the 
            eighth day (<span class="comm"><span class="style7">See Genesis 17: 12; Leviticus 12: 3; 
                    Phillippians 3: 5 </span></span>). Male children were named at their circumcision, 
            probably because at that time the names of Abram and Sarai had been changed 
            (<span class="comm"><span class="style7"> Genesis 17: 5, 15 </span> </span>).  Females were named 
            when they were weaned</span>), they came to circumcise the child; and they 
            would have called him Zacharias, after the name of his father.</p>

        <p align="left" class="style4"><span class="style5">60</span> And his mother answered and said, Not so (<span class="comm">Zacharias had 

                evidently written, and thus communicated to his wife all that the angel had 
                told him, and how the child was to be named John</span>); but he shall be 
            called John.</p>

        <p align="left" class="style4"><span class="style5">61</span> And they said unto her, There is none of thy 
            kindred (<span class="comm">Family names were even more thought of, and honored, among the 
                Jews than among us. They had no taste for romantic and eccentric names</span>) that 
            is called by this name.</p>

        <p align="left" class="style4"><span class="style5">62</span> And they made signs (<span class="comm">this seems to indicate that Zacharias was deaf as well as dumb</span>) to his father, what he 
            would have him called.</p>

        <p align="left" class="style4"><span class="style5">63</span> And he asked for a writing tablet 
            (<span class="comm">tablets were sometimes made of lead, but were usually small wooden boards, 
                either smeared with wax, or having sand sprinkled over them, on which words 
                were written with an iron stylus or pencil</span>), and wrote, saying, His 
            name is John. And they marvelled all. (<span class="comm">Being surprised that both parents 
                should thus unite upon an unexpected name.</span>)</p>

        <p align="left" class="style4"><span class="style5">64</span> And his mouth was opened 
            immediately (<span class="comm"> See <span class="style7">Luke 1: 20 </span> . The 
                angel's words were now completely fulfilled, therefore the punishment for 
                disbelief was removed</span>), and his tongue 
            loosed, and he spake, blessing God. (<span class="comm">Probably the words 
                recorded in <span class="style7">Luke 1: 68- 79 </span>     .</span>)</p>

        <p align="left" class="style4"><span class="style5">65</span> And fear came (<span class="comm">The miraculous phenomena attending the birth of John made 
                the people so conscious of the presence of God as to fill them with awe. The 
                influence of this fear spread far and wide until the chills and tremors of 
                expected changes and revolutions were felt even by the citizens of Rome, as 
                their poets and historians testify</span>) on all that dwelt round about them: and 
            all these sayings were noised abroad throughout all the hill country of 
            Jud&aelig;a. </p>

        <p align="left" class="style4"><span class="style5">66</span> And all that heard them laid them up in their 
            heart, saying, What then shall this child be? (<span class="comm">We probably find an echo of 
                this question thirty years later when John entered upon his 
                ministry--  <span class="style7">John 1: 19. </span>    </span>) And the 
            hand of the Lord was with him.</p>

        <p align="left" class="style4"><span class="style5">67</span> And his father Zacharias was 
            filled with the Holy Spirit, and prophesied (<span class="comm">This his prophecy is the last 
                of the old dispensation, and the first of the new, or Christian, era. It also 
                is poetry, and is a hymn of thanksgiving for the time of Messiah's 

                advent</span>), saying,</p>


        <p align="left" class="style4"><span class="style5">68</span> Blessed (<span class="comm">the hymn gets its name 
                from this word, and is called the Benedictus</span>) be
            the Lord, the God of Israel; For he hath visited (<span class="comm">Come back, 
                in the person of his Spirit, to his people. After some four hundred years of 
                absence the Holy Spirit, as the spirit of prophecy, had again returned to God's 
                people. Malachi, the last of the prophets, had been dead about four centuries</span>) 
            and wrought redemption for his people,</p>

        <p align="left" class="style4"><span class="style5">69</span> And hath raised up a 
            horn (<span class="comm">the horn is a symbol of power--  
                <span class="style7">Daniel 7: 7, 8; 8: 21 </span> </span>) of salvation for us In the house of his 
            servant David (<span class="comm">this also indicates that Mary was of the house of David</span>) </p>


        <p align="left" class="style4"><span class="style5">70</span> (<span class="comm">As he spake by the mouth of his holy prophets that have been from of 
                old</span>) (<span class="comm"> <span class="style7">Genesis 3: 15; 22: 18; 49: 10; Numbers 24: 17; 2 Peter 1: 21; Hebrews 1: 1  </span> </span>) , </p>

        <p align="left" class="style4"><span class="style5">71</span> Salvation from 
            our enemies (<span class="comm">not only Rome, the enemy of Israelitish prosperity, but also 
                those evil agencies which wage ceaseless warfare against the souls of 
                men--  <span class="style7">Ephesians 6: 12 </span> </span>), and 
            from the hand of all that hate us; </p>

        <p align="left" class="style4"><span class="style5">72</span> To show mercy towards our 
            fathers, And to remember his holy covenant (<span class="comm">contract or agreement</span>);</p>

        <p align="left" class="style4"><span class="style5">73</span> The oath which he sware unto Abraham our father (<span class="comm">see  <span class="style7">Genesis 12: 3; 17: 4; 22: 16, 17</span>   </span>),</p>

        <p align="left" class="style4"><span class="style5">74</span> To grant unto us that we being delivered out of the hand of our enemies Should 
            serve him without fear,</p>

        <p align="left" class="style4"><span class="style5">75</span> In holiness and righteousness 
            (<span class="comm">holiness is good conduct toward God, righteousness is good conduct toward men</span>) 
            before him all our days.</p>

        <p align="left" class="style4"><span class="style5">76</span> Yea and thou, child (<span class="comm">the rest 
                of the psalm is addressed to the infant John</span>), shalt be called the 
            prophet (<span class="comm">see   <span class="style7">Matthew 11: 9; Luke 20: 6 </span></span>) of the Most High: For thou shalt go before the face of the Lord (<span class="comm">the Lord Jesus Christ</span>) to make ready his ways (<span class="comm"><span class="style7">see Isaiah 40: 3; Matthew 3: 3</span>  </span>);</p>

        <p align="left" class="style4"><span class="style5">77</span> To give knowledge of 
            salvation unto his people (<span class="comm">Israel had a false idea that the Messiah's 
                salvation would be from political evil. John was needed to tell them that it 
                was from sin that God proposed to deliver them. Perdition does not consist in 
                political wrongs, but in divine condemnation</span>) In the remission of their 
            sins (<span class="comm">through Christ's work--  <span class="style7">Acts 5: 31 </span>   </span>),</p>

        <p align="left" class="style4"><span class="style5">78</span> Now Because of the tender mercy of our 
            God, Whereby the dayspring from on high (<span class="comm">One of the many names for Jesus or 
                his kingdom. The prophets loved to picture Messiah's advent as a sunrise 
                (<span class="comm"> <span class="style7">Isaiah 9: 2; 60: 1-3; Malachi 4: 2; Matthew 4: 16; John 1: 4, 5 </span> </span>). Christ's coming was the dawn of a new day for 
                Israel and for mankind</span>) shall visit us,</p>

        <p align="left" class="style4"><span class="style5">79</span> To shine upon them 
            that sit in darkness and the shadow of death; To guide our feet into the way of 
            peace. (<span class="comm">Travelers in the Jud&aelig;an mountains often waited patiently for 
                the morning light, lest they should lose their lives by a false step taken in 
                the darkness--  <span class="style7">Isaiah 59: 8.</span> </span>)</p>

        <p align="left" class="style4"><span class="style5">80</span> And the child grew, and waxed strong in spirit (<span class="comm"><span class="style7">1 Samuel 2: 26; Luke 2: 40, 52</span> </span>) and was in the deserts 
            (<span class="comm">The thinly settled region west of the Dead Sea. In  <span class="style7">  1 Samuel 23: 19 </span>  it is called Jeshimon, or "the 
                Horror"</span>) till the day of his showing unto Israel. (<span class="comm">The day when he 
                commenced his ministry and declared his commission as Messiah's forerunner.</span>)</p>
    </div>
</ion-content>