<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>51. THE GOLDEN RULE.</h3>
        <h3>MATTHEW 7: 12;  LUKE 6: 31.</h3>
        <p align="left" class="style4"><span class="style5">12</span>  All things therefore whatsoever ye would 
            {
            <span class="style7">
                31</span> and as ye would} that men should do to {unto} you, even so do ye also unto {to} them likewise.  for this is the law and the 
            prophets. (<span class="comm">Jesus connects the Golden Rule with what precedes with the word 
                "therefore." We are to practice the Golden Rule because God's 
                divine judgment teaches forbearance, and his goodness teaches kindness. This 
                precept is fitly called the Golden Rule, for it embraces in its few words the 
                underlying and governing principle of all morality. It contains all the 
                precepts of the law with regard to man, and all the amplifications of those 
                precepts given by the prophets. It teaches us to put ourselves in our 
                neighbor's place, and direct our conduct accordingly. It assumes, of course, 
                that when we put ourselves in our neighbor's place, we are wise enough not to 
                make any foolish wishes, and good enough not to make any evil ones. The great 
                sages Socrates, Buddha, Confucius and Hillel each 

                groped after this truth, but they stated it thus: "Do not do to others what you would 
                not have done to you;" thus making it a rule of not doing rather 
                than of doing. But the striking difference between these teachers and 
                Christ lies not in the statements so much as in the exemplification. Jesus 
                lived the Golden Rule in his conduct toward men, and maintained perfect 
                righteousness before God in addition thereto.</span>) 
    </div>


</ion-content>