<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>139. JESUS FORMALLY CONDEMNED.</h3>
        <h3>(<span class="comm">JERUSALEM. FRIDAY AFTER DAWN.</span>)</h3>
        <h3>MATTHEW 27: 1-2; MARK 15: 1; <br>
            LUKE 22: 66-23:1;JOHN 18: 28.</h3>
        <p align="left" class="style4"><span class="style5">Matthew 27: 1</span> Now when morning was come,
        <p align="left" class="style4"><span class="style5">Luke 22: 66</span> And as soon as it was day,  straightway  the assembly of the 

            elders of the people was 
            gathered together, both chief priests and scribes; and they led him away into 
            their council, 
        <p align="left" class="style4"><span class="style5">Matthew 27: 1</span> all the chief priests and {with} the elders  of the people
            and scribes, and the whole council, held a consultation, 
            and  took counsel against Jesus to put him to death 
            (<span class="comm">Since blasphemy was by no means a criminal offense among the Romans, the 
                Sanhedrin consulted together and sought for some charge of which the Romans 
                would take notice. As we follow their course it will become evident to us that 
                they found no new ground of accusation against Jesus, and, failing to do so, 
                they decided to make use of our Lord's claim to be the Christ by so perverting 
                it as to make him seem to assert an intention to rebel against the authority of 
                Rome</span>):

        <p align="left" class="style4"><span class="style5">Luke 22: 66</span> saying, 
        <p align="left" class="style4"><span class="style5">67</span> If thou art the 
            Christ, tell us. But he said unto them, If I tell you, ye will not believe 
            (<span class="comm">as experience had already proven--<span class="style7">John 8: 59; 10: 31</span></span>):
        </p>
        <p align="left" class="style4"><span class="style5">68</span> and if I ask 
            you, ye will not answer. (<span class="comm">Thus Jesus protests against the 
                violence and injustice of his trial. His judges were asking him whether he was 
                the Christ without any intention of investigating the truth of his claim, but 
                merely for the purpose of condemning him by unwarrantedly assuming that he was 
                not the Christ. They therefore asked in an unlawful spirit as well as in an 
                unlawful manner. Jesus had a good right to ask them questions tending to 
                confirm his Christhood by the Scripture, but had he done so they would not have 
                answered--<span class="style7">Matthew 22: 41-45</span>. Jesus appeals to them to try the question as to who he 
                was, but they insist on confining the inquiry as to who he claimed to be, 
                assuming that the claim was false.</span>)

        <p align="left" class="style4"><span class="style5">69</span> But from henceforth shall the Son of 
            man be seated at the right hand of the power of God. (<span class="comm">See p. 698.</span>)

        <p align="left" class="style4"><span class="style5">70</span> And they all said, Art thou then the Son of God? And he said unto them, Ye say 
            that I am. (<span class="comm">The Hebrew mode of expression, equivalent to "Ye say it, 
                because I am."</span>)

        <p align="left" class="style4"><span class="style5">71</span> And they said, What further need have we of 
            witness? for we ourselves have heard from his own mouth. (<span class="comm">Thus they 
                unconsciously admit their lack of evidence against Jesus.</span>)

        <p align="left" class="style4"><span class="style5">Luke 23:1</span> And the whole company of them rose up,

        <p align="left" class="style4"><span class="style5">Matthew 27: 2</span> and they bound  Jesus, and carried {led} him away,

        <p align="left" class="style4"><span class="style5">John 18: 28</span> They lead Jesus 
            therefore from Caiaphas into the Praetorium: and it 
            was early;

        <p align="left" class="style4"><span class="style5">Mark 15:1</span> and 
            brought him before Pilate. 
        <p align="left" class="style4"><span class="style5">Matthew 27: 2</span> and delivered him up to 
            Pilate the governor. (<span class="comm">The Sanhedrin could try and could condemn, but could not put to 
                death without the concurring sentence of the Roman governor. To obtain this 
                sentence, they now lead Jesus before Pilate in the early dawn, having made good 
                use of their time.</span>)


    </div> 


</ion-content>