<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>113. BARTIM&AElig;US HEALED.</h3>
        <h3>(<span class="comm">AT JERICHO.</span>)</h3>
        <h3>MATTHEW 20: 29-34;  MARK 10: 46-52;  LUKE 18: 35-43.</h3>
        <p align="left" class="style4"><span class="style5">Luke 18: 35</span>   And it came to pass, as he drew nigh unto Jericho, 
            a certain blind man sat by the way side begging: 


        </p>


        <p align="left" class="style4"><span class="style5">36</span>  and hearing a 
            multitude going by, he inquired what this meant. 


        </p>


        <p align="left" class="style4"><span class="style5">37</span>   And they told 
            him that Jesus of Nazareth passeth by. (<span class="comm">Jesus came from the Jordan, and was 
                entering Jericho by its eastern gate. As the crowd following Jesus passed by, 
                Bartim&aelig;us asked its meaning and learned of the presence of Jesus. Jesus 
                on this last journey went in advance of the crowd, and hence he had already 
                entered Jericho before the sounds of the following multitude roused 

                the beggar to question its meaning. Knowing that Jesus was on the way 
                to Jerusalem, he resolved to avail himself of the opportunity to be healed by 
                him before he left the neighborhood. Not knowing how long Jesus would remain in 
                Jericho, and not being sure of his ability to find him if he entered the city, 
                he appears to have passed around the wall till he came to the southern gate, by 
                which Jesus would depart on his way to Jerusalem. Here he stationed himself and 
                waited patiently for the coming of Jesus. The persistency with which he cried 
                when Jesus again appeared goes far to corroborate this determined preparation 
                and fixed expectation of the beggar. While he waited at the southern gate the 
                events narrated in Section 103. occurred. But to avoid 
                confusion we omit them for the present, that we may finish the story of 
                Bartim&aelig;us.</span>)   


        </p>



        <p align="left" class="style4"><span class="style5">Mark 10: 46</span>   And they come to Jericho: and 
            as he {they}  went out from 
            Jericho, with his disciples and a great multitude,  a 
            great multitude followed him. (<span class="comm">Being so near the Passover season, great 
                crowds would be on their way to Jerusalem, and all the multitudes coming from 
                Galilee and from Per&aelig;a would pass through Jericho on their way thither. 
                Jesus, as we have just seen, had entered the city with a multitude, and as he 
                spent some little time there, he would leave with even a larger crowd, for it 
                would be augmented by those who had arrived at Jericho during his stay there 
                and citizens of Jericho itself. Few would leave Jericho alone while they might 
                have the pleasure and excitement of going with the crowd.</span>)   
            The son of Timaeus, Bartimaeus (<span class="comm">Bar is the Aramaic form for son. It is 
                likely that both Tim&aelig;us and Bartim&aelig;us were well known in apostolic 
                days, but all memory of them is now lost save that contained in this passage</span>)
            , a blind beggar (<span class="comm">blindness and beggary form an awful combination, 
                and when coupled with the general poverty then prevailing in Palestine, they 
                suggest a fullness of suffering</span>), was sitting by the way side.


        </p>



        <p align="left" class="style4"><span class="style5">Matthew 20: 30</span>  And, behold, 
            two blind men sitting by the way side (<span class="comm">Here Matthew tells of two, while 
                Mark and Luke tell only of one--the principal one. They vary here as in 
                the account of the two demoniacs, and for similar reasons. See page 346</span>),
            when 

            they {he}heard  that it was Jesus the Nazarene,
            that Jesus was passing by {he} 
            began to cry {cried} out,  
            and say, {saying,} Lord,  
            Jesus, thou son of David,  have mercy on us, {
            me.} (<span class="comm">The title "son of David" was the 
                popular Jewish designation for the Messiah, and Bartim&aelig;us thus confessed 
                his faith in the Messiahship of Jesus. Blind as he was, he saw more than those 
                who spoke of the Lord as Jesus of Nazareth, thus making Jesus differ from other 
                men merely in the matter of his residence.</span>) 

        </p>


        <p align="left" class="style4"><span class="style5">Luke 18: 39</span> And they that went before (<span class="comm">they that came out of the city just ahead of Jesus</span>) { many the multitude} rebuked them, {him} that they {he} should hold their {his} peace: but they {he} cried out the more a great deal, saying, Lord, have mercy on us, {me.} thou son of David. (<span class="comm">Various motives influenced the multitude to silence the beggar's cries. Some regarded his clamor as indecorous, distracting the thoughts and interrupting conversation. Others did not like to hear Jesus thus confessed as Messiah. Others still, believing that Jesus was about to be crowned king, thought that it was high time that he should cease paying so much attention to beggars and begin to assume the dignities of royalty. But Bartim&aelig;us was filled with the spirit of Jacob. The more resistance he met, the more strenuously he wrestled to obtain the blessing.</span>)</p>



        <p align="left" class="style4"><span class="style5">Matthew 20: 32</span>   And Jesus stood still, 
            and called them,  and commanded him to be brought unto 
            him:  and said, Call ye him. And they call the blind 
            man, saying unto him, Be of good cheer: rise, he calleth thee. (<span class="comm">The 
                multitude had rebuked the cry, but Jesus stood still to hear and answer it. He 
                is no respecter of persons. Rich rulers and blind beggars received his 
                attention and care without respect of station. He died for every man.</span>) </p>


        <p align="left" class="style4"><span class="style5">Mark 10: 50</span>   And he, casting away his garment, sprang up, and came to Jesus. (<span class="comm">He cast 
                off his outer garment or pallium, which was like a large shawl thrown 
                over the shoulders, and is elsewhere called a cloak (<span class="comm">see p. 245</span>). It probably 
                represented more than half the beggar's wealth, but he valued his eyesight more 
                than it, and cast it aside because it hindered him in reaching Jesus 

                through the crowd. Many to-day would come to Jesus, but their steps 
                are impeded by some trifling obstacle (<span class="comm"><span class="style7">Isaiah 64: 6</span></span>). In the race to win the presence of Christ on high, Christians 
                are advised to lay aside every weight--<span class="style7">Hebrews 12: 1, 2.</span></span>)   and when he was come near,
            Jesus answered him,  asked him,
            and said,  What 
            will ye {wilt thou}  that I 
            should do unto you? {thee?}


        </p>



        <p align="left" class="style4"><span class="style5">Matthew 20: 33</span>   They say {And the blind man said}
            unto him, Lord, that our eyes may be opened.  Lord,  Rabboni, that I may receive my 
            sight. (<span class="comm">Bartim&aelig;us had cried for mercy without specifying what mercy, 
                and he had asked this mercy of Christ as the Messiah. The Lord therefore in his 
                royal majesty asked Bartim&aelig;us to name the mercy, thus suggesting to him 
                the fullness of the treasury of power and grace, to which he came. He was not 
                to blame for this.</span>) </p>



        <p align="left" class="style4"><span class="style5">34</span>   And Jesus, being moved with 
            compassion, touched their eyes; 

        </p>



        <p align="left" class="style4"><span class="style5">Mark 10: 52</span>  And Jesus said unto him, Go thy way;  Receive 
            thy sight: thy faith hath made thee whole. (<span class="comm">We can see in this instance 
                what faith really is. It caused Bartim&aelig;us to cry out, to come to Jesus 
                and to ask for sight. Thus we see that faith saves by leading to proper 
                actions.</span>) </p>



        <p align="left" class="style4"><span class="style5">Luke 18: 43</span>    And immediately  straightway they {
            he}  received their {his} sight,  and followed him.in the way.  glorifying God: and all the 
            people, when they saw it, gave praise unto God. (<span class="comm">Being a beggar, it would 
                have been natural for him to hunt first for means of livelihood, but faith and 
                gratitude prompted him to follow Jesus.</span>)
        </p>


    </div> 


</ion-content>