<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>129. THE PASSOVER MEAL.</h3>
        <h3>(<span class="comm">THURSDAY EVENING OF THE BEGINNING OF FRIDAY.</span>)</h3>
        <h3>JOHN 13: 1-20.</h3>
        <p align="left" class="style4"><span class="style5">1</span> Now before the feast of the passover, Jesus knowing 
            that his hour was come that he should depart out of this world unto his Father, 
            having loved his own that were in the world, he loved them unto the end. 
            (<span class="comm">Since the second century a great dispute has been carried on as to the 
                apparent discrepancy between John and the synoptists in their statements 
                concerning the passover. The synoptists, as we have seen in the previous 
                section, clearly represent Jesus as having eaten the passover at the proper 
                time, and as having been arrested on the same night, while John 

                here and elsewhere (<span class="comm"><span class="style7">ch. 13: 29; 18: 28; 19: 14, 31</span>, compared with<span class="style7"> 18: 1-14</span></span>) seems to represent Jesus as 
                being arrested before the passover. Our space does not permit us to 
                enter upon a discussion of this difficulty. The reader is referred to a 
                thorough rehearsal of the arguments found in Tholuck in loco (<span class="comm">or, after 
                    the seventh edition, in his introduction to John's Gospel</span>). The simplest 
                solution of the difficulty is to attribute the apparent discrepancy to that 
                loose way of speaking of the feast which we mentioned in the last section. When the synoptists speak of the passover they refer to the 
                actual paschal supper; when John speaks of the feast of the passover, or 
                the passover, he refers to the seven days' feast of unleavened bread 
                which followed the actual paschal supper. Jesus was put to death on the first 
                day of this latter feast, and therefore John here uses the festival to 
                designate the time of the Lord's suffering and death. The meaning, then, is 
                that Jesus, having loved his disciples prior to this great trial or crisis of 
                his life, was not deterred from loving them by its approach, but continued to 
                give the most precious and unmistakable evidences of his love down to the very 
                hour of its arrival, being neither driven from such a course by the terrors of 
                his coming hour nor wooed from it by the glorious prospects of returning to his 
                Father. These words form a preface to the remainder of John's Gospel in which 
                John enumerates the tokens and evidences of that love which manifested itself 
                throughout the entire passion, and continued until the hour of ascension; and 
                which, by so doing, gave sweet assurance that it continues still.</span>) </p>


        <p align="left" class="style4"><span class="style5">2</span> And 
            during supper (<span class="comm">This was the paschal supper proper. It accords with the 
                supplementary nature of John's Gospel to thus mention it as a meal thoroughly 
                familiar to his readers.</span>) the devil having already put into the heart of 
            Judas Iscariot, Simon's son, to 
            betray him (<span class="comm">see p. 642</span>), </p>


        <p align="left" class="style4"><span class="style5">3</span> 
            Jesus, knowing that the Father had given all the things into 
            his hands, and that he came forth from God, and goeth unto God (<span class="comm">Being about 
                to narrate an act of loving humility, John prefaces it by stating that it was 
                done in full knowledge of his threefold glory; viz.: 1. That all 

                authority was committed to him (<span class="comm"><span class="style7">Matthew 28: 18</span></span>); 2. That by nature he was divine (<span class="comm"><span class="style7">John 1: 1, 14</span></span>), and, 3. That he was about to return to the divine 
                exaltation which for our sakes he had laid aside--<span class="style7">Philippians 2: 5-11</span>.</span>) </p>


        <p align="left" class="style4"><span class="style5">4</span> riseth from supper, and layeth 
            aside his garments; and he took a towel, and girded himself. </p>


        <p align="left" class="style4"><span class="style5">5</span> 
            Then he poureth water into the basin, and began to wash the disciples' feet, 
            and to wipe them with the towel wherewith he was girded. (<span class="comm">John narrates in 
                detail each of these acts: to him they seem as so many successive steps leading 
                down to the depth of humility. The whole formed a striking but wholesome 
                contrast to the self-seeking and ambitious spirit which the disciples had just 
                manifested.</span>) </p>


        <p align="left" class="style4"><span class="style5">6</span> So he cometh to Simon Peter. He saith unto him, Lord, dost 
            thou wash my feet? (<span class="comm">The others were awed into silence by the strange 
                conduct of their Master; but it accorded with the bold impulsiveness of Peter 
                to challenge the act.</span>) </p>


        <p align="left" class="style4"><span class="style5">7</span> Jesus answered and said unto him, What I do thou 
            knowest not now; but thou shalt understand hereafter. (<span class="comm">It was no mere 
                feet-washing; or Jesus would not have so spoken. It was at once an example of 
                humility and a symbol of the purification which the Lord accomplished for us by 
                reason of his humiliation. The full meaning of the act was afterward revealed 
                to them by the Holy Spirit.</span>) </p>


        <p align="left" class="style4"><span class="style5">8</span> Peter saith unto him, Thou shalt never wash 
            my feet. Jesus answered him, If I wash thee not, thou hast no part with me.
        </p>


        <p align="left" class="style4"><span class="style5">9</span> Simon Peter saith unto him, Lord, not my feet only, but also my 
            hands and my head. (<span class="comm">Since Jesus spoke of the act as in some sense a license 
                or token of permission to have "part" with him, Peter desired that 
                his head and hands also might be included, that he might in his entire man have 
                part with Christ.</span>) </p>


        <p align="left" class="style4"><span class="style5">10</span> Jesus saith to him, He that is bathed needeth not save 
            to wash his feet, but is clean every whit: and ye are clean, but not all.</p>

        <p align="left" class="style4"><span class="style5">11</span> For he knew him that should betray him; therefore said he, Ye are not 
            all clean. (<span class="comm">The language implies that the disciples had bathed before 
                leaving Bethany, and that only their feet, soiled 

                by the journey 
                to Jerusalem, needed to be rewashed. The saying is spiritually true as well, 
                for one who has been washed thoroughly by baptism needs not to be re-baptized. 
                After that general cleansing the particular sins are removed by confession 
                (<span class="comm"><span class="style7">1 John 1: 7-9</span></span>). But there is 
                no efficacy in any ordinance when the heart and will do not accord with the 
                purposes for which it is administered. Hence it was that Judas, though he had 
                done all that the others had done, was still as foul as ever.</span>) </p>


        <p align="left" class="style4"><span class="style5">12</span> So when he 
            had washed their feet, and taken his garments, and sat down again, he said unto 
            them, Know ye what I have done to you? </p>


        <p align="left" class="style4"><span class="style5">13</span> Ye call me, Teacher, 
            and, Lord: and ye say well; for so I am. </p>


        <p align="left" class="style4"><span class="style5">14</span> If I then, the Lord 
            and the Teacher, have washed your feet, ye also ought to wash one another's 
            feet. </p>


        <p align="left" class="style4"><span class="style5">15</span> For I have given you an example, that ye also should do 
            as I have done to you. </p>


        <p align="left" class="style4"><span class="style5">16</span> Verily, verily, I say unto you, a 
            servant is not greater than his lord; neither one that is sent greater than he 
            that sent him. </p>


        <p align="left" class="style4"><span class="style5">17</span> If ye know these things, blessed are ye if ye do 
            them. (<span class="comm">Since a servant is not greater than his lord, he should not be 
                ashamed to do what his lord does. It is well known that many, by a literal 
                construction of this passage, have esteemed it to be their duty to wash each 
                other's feet in their churches. But it should be noted that in the entire New 
                Testament there is no command for this, nor is there any passage which 
                recognizes any such church ordinance or practice. Jesus did not institute
                feet-washing; he found it already a familiar custom of the land, and 
                merely used it as a most appropriate way of showing the proper spirit of humble 
                service. Hence he does not say, "Do what I have done," but 
                "Do as I have done," which requires us to do something 
                similar to that which Christ had done, but necessarily the very same 
                thing. The washing of feet as an act of courtesy or hospitality was never a 
                custom among Western people, and to adopt it because of these words of Christ 
                is to entirely miss his meaning. What he did was a natural daily act of 
                hospitality. But what we would do if we followed his words literally would be 
                to  

                introduce a strange, outlandish practice, which would put a 
                guest to great embarrassment and inconvenience.</span>) </p>


        <p align="left" class="style4"><span class="style5">18</span> I speak not of you all: 
            I know whom I have chosen: but that the scripture may be fulfilled: He that 
            eateth my bread lifted up his heel against me. (<span class="comm"><span class="style7">Psalm 41: 9</span>.</span>) </p>


        <p align="left" class="style4"><span class="style5">19</span> From henceforth I tell you before it come to 
            pass, that, when it is come to pass, ye may believe that I am he.  </p>


        <p align="left" class="style4"><span class="style5">20</span> Verily, verily, I say 
            unto you, he that receiveth whomsoever I send receiveth me; and he that 
            receiveth me receiveth him that sent me. (<span class="comm">The meaning of the above passage 
                may perhaps be brought out more easily if we paraphrase it as follows: "I 
                do not speak of blessing to you all, for there is one who shall never be 
                blessed. His conduct does not deceive or surprise me, for I know those whom I 
                have chosen whether they be good or bad. His choosing is in accordance with the 
                prophecy contained in the Book of Psalms. Hitherto I have held my peace about 
                him, but henceforth I shall point out his course, that my foreknowledge of his 
                actions may strengthen your faith in my Messiahship, and not leave you in that 
                condition of hopelessness and despair in which the consequences had come upon 
                me unawares. Do not let his treachery shake your confidence in me, for verily I 
                say unto you that in being my messengers ye are indeed the messengers of the 
                Most High."</span>)</p>
    </div> 


</ion-content>