<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>81C. THIRD WITHDRAWAL FROM HEROD'S TERRITORY.</h3>
        <h3>PASSION FORETOLD.</h3>
        <h3>MATTHEW 16: 21-28;  MARK 8: 31-38; 9: 1;  LUKE 9: 22-27.</h3>
        <p align="left" class="style4"><span class="style5">Matthew 16: 21</span> From that time (<span class="comm">i. e., from the time of 
                Peter's confession, and about three-quarters of a year before the crucifixion</span>) 
            began Jesus to show unto his disciples,

        <p align="left" class="style4"><span class="style5">Mark 8: 31</span> And to teach them, that the Son of man must suffer many things (<span class="comm">Since 
                the apostles, by the mouth of Peter, had just confessed Jesus as Christ, it was 
                necessary that their crude Messianic conceptions should be corrected and that 
                the true Christhood--the Christhood of the atonement and the 
                resurrection--should be revealed to them. In discourse and parable Jesus 
                had explained the principles and the nature of the kingdom, and now, from this 
                time forth, he taught the 

                apostles about himself, the priestly 
                King</span>),  that he must go up to Jerusalem,and be rejected by  and suffer many 
            things of the elders, and  the chief priests, and the 
            scribes (<span class="comm">The Jewish Sanhedrin was generally designated by thus naming the 
                three constituent parts. See page 45</span>), and be killed,and the third day be raised up. {and 
            after three days rise again.} (<span class="comm">For comment on these variant phrases, see 
                page 306.</span>)
        <p align="left" class="style4"><span class="style5">32</span> And he spake the saying openly.

        <p align="left" class="style4"><span class="style5">Luke 9: 22</span> saying, The Son of man must suffer many things, and be 
            rejected of the elders and chief priests and scribes, and be killed, and the 
            third day be raised up. (<span class="comm">Very early in his ministry Jesus had given obscure 
                intimations concerning his death (<span class="comm"><span class="style7">John 2: 19-22; 3: 14; Matthew 12: 38-40</span></span>), but these had not 
                been understood by either friend or foe. Now that he thus spoke plainly, we may 
                see by Peter's conduct that they comprehended and were deeply moved by the dark 
                and more sorrowful portion of his revelation, and failed to grasp the 
                accompanying promise of a resurrection.</span>)
        <p align="left" class="style4"><span class="style5">Matthew 16: 22</span> And 
            Peter took him, and began to rebuke him, saying, Be it far from thee, Lord: 
            this shall never be unto thee. (<span class="comm">Evidently Peter regarded Jesus as overcome 
                by a fit of despondency, and felt that such talk would utterly dishearten the 
                disciples if it were persisted in. His love, therefore, prompted him to lead 
                Jesus to one side and deal plainly with him. In so doing, Peter overstepped the 
                laws of discipleship and assumed that he knew better than the Master what 
                course to pursue. In his feelings he was the forerunner of those modern 
                wiseacres who confess themselves constrained to reject the doctrine of a 
                suffering Messiah.</span>)

        <p align="left" class="style4"><span class="style5">Mark 8: 33</span> But he turning about, and 
            seeing his disciples.  turned,  
            rebuked Peter, and saith, {said} unto Peter, Get thee 
            behind me, Satan: thou art a stumbling-block unto me: for thou mindest not the 
            things of God, but the things that be of men. (<span class="comm">Jesus withdrew from Peter 
                and turned back to his disciples. By the confession of the truth Simon had just 
                won his promised name of Peter, which allied him to Christ, the 

                foundation. But when he now turned aside to speak the language of the tempter, 
                Peter receives the name Satan, as if he were the very devil himself. Peter 
                presented the same temptation with which the devil once called forth a similar 
                rebuke from Christ (<span class="comm"><span class="style7">Matthew 4: 10</span></span>). He 
                was unconsciously trying to dissuade Jesus from the death on which the 
                salvation of the world depended, and this was working into Satan's hand. Peter 
                did not mind or think about the Messiah's kingdom as divinely conceived and 
                revealed in the Scriptures.</span>)

        <p align="left" class="style4"><span class="style5">34</span> And he called unto 
            him the multitude with his disciples,

        <p align="left" class="style4"><span class="style5">Matthew 16: 24</span> Then said Jesus unto his disciples,

        <p align="left" class="style4"><span class="style5">Luke 9: 23</span> And he said unto all (<span class="comm">despite the efforts of Jesus to seek privacy, the people were still near enough at hand to be called and addressed</span>), If any man would come after me, let him deny himself, and take up his cross daily (<span class="comm">compare <span class="style7">Romans 8: 36; 1 Corinthians 15: 31</span> </span>) and follow me (<span class="comm">For comment, see page 368. The disciple 
                must learn to say "no" to many of the strongest cravings of his 
                earthly nature. The cross is a symbol for duty which is to be performed daily, 
                at any cost, even that of the most painful death. The disciple must follow 
                Jesus, both as to his teaching and example.</span>)

        <p align="left" class="style4"><span class="style5">24</span> For whosoever would save his 
            life shall lose it;  and {
            but} whosoever shall lose his life for my sake,  and 
            the gospel's  the same shall  
            find it.  save it. (<span class="comm">Jesus here plays upon the two 
                meanings of the word life, one being of temporal and the other of eternal 
                duration. For comment on a similar expression, see page 368.</span>

        <p align="left" class="style4"><span class="style5">Mark 8: 36</span> For what doth it profit a man, {is a 
            man  shall a man be profited,} if he shall gain {
            to gain} the whole world,  and lose 
            or forfeit his own self? (<span class="comm">  his life? or</span>

        <p align="left" class="style4"><span class="style5">37</span> {For}  what shall {should} a man give in exchange for his life? (<span class="comm">Peter and 
                the rest of the apostles had been thinking about a worldly Messianic kingdom, 
                with its profits and rewards. Jesus shows the worthlessness even of the whole 
                world in comparison with the rewards of the true kingdom. It is the comparison 
                between the things which are external, and which perish, 

                and the 
                life which is internal, and which endures. External losses may be repaired, but 
                a lost life can never be regained, for with what shall a man buy it back?</span>)

        <p align="left" class="style4"><span class="style5">38</span> For whosoever therefore shall be ashamed of me and of my words (<span class="comm">compare<span class="style7"> Luke 12: 9; 2 Timothy 1: 8, 12; 2: 12</span></span>) 
            in this adulterous and sinful generation (<span class="comm">see pp. 305, 306</span>), 
            the Son of man also shall be ashamed of him  when he 
            cometh in his own glory, and the glory
            of the {his}  
            Father, and of {with} the holy angels. (<span class="comm">Peter had 
                just been ashamed of the words in which Christ pictured himself as undergoing 
                his humiliation. Jesus warns him and all others of the dangers of such shame.</span>)

        <p align="left" class="style4"><span class="style5">Matthew 16: 27</span> For the Son of man shall come in the glory of 
            his Father, with his angels; and then he shall render unto every man according 
            to his deed. (<span class="comm">The Father's glory, the angels, and the rendering of 
                universal judgment form a threefold indication that Jesus here speaks of his 
                final coming to judge the world.</span>)

        <p align="left" class="style4"><span class="style5">Mark 9: 1</span> And he said 
            unto them, Verily I say unto you,

        <p align="left" class="style4"><span class="style5">Luke 9: 27</span> But I tell you of 
            a truth,  There are some of them that stand here, who 
            shall in no wise taste of death, till they see the Son of man coming in his 
            kingdom.  till they see the kingdom of God.come with power. (<span class="comm">The mention of his final coming suggested 
                one nearer at hand which was to be accomplished during the life of most of 
                those present, since none but Jesus himself and Judas were to die previous to 
                that time. The kingdom was to come and likewise the King. The former coming was 
                literal, the latter spiritual. Those who refer this expression to the 
                transfiguration certainly err, for no visible kingdom was established at that 
                time. The expression refers to the kingdom which was organized and set in 
                motion on the Pentecost which followed the resurrection of Jesus. It was set up 
                with power, because three thousand souls were converted the first day, and many 
                other gospel triumphs speedily followed.</span>)


    </div> 


</ion-content>