<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>120B. RULERS SEEK TO ENSNARE JESUS.</h3>
        <h3>(<span class="comm">COURT OF THE TEMPLE. TUESDAY, APRIL 4, A.D. 30.</span>)</h3>
        <h3>SADDUCEES AND THE RESURRECTION.</h3>
        <h3>MATTHEW 22: 23-33;  MARK 12: 18-27; LUKE 20: 27-39.</h3>
        <p align="left" class="style4"><span class="style5">Matthew 22: 23</span> On that day there came {come} unto him  certain of the the Sadducees, they that 
            {who} say there is no resurrection (<span class="comm">As to the 
                Sadducees, see p. 71. We may regard their attitude toward Christ as expressed 
                by their leader Caiaphas, see p. 528</span>); and they asked him, saying,
        </p>

        <p align="left" class="style4"><span class="style5">Mark 12: 19</span> Teacher, Moses wrote unto us (<span class="comm">See 
                <span class="style7">Deuteronomy 25: 5, 6</span>. The object of this law was to preserve families. But the custom was older than the law--<span class="style7">Genesis 38: 6-11</span></span>),  that  If a man's brother die,  having a wife, and he be childless, {
            and leave a wife behind him, and leave no child,} that his brother should take 
            his {the} wife, and raise up seed unto his 
            brother.  Moses said, If a man die, having no children, 
            his brother shall marry his wife, and raise up seed unto his brother. 
        </p>

        <p align="left" class="style4"><span class="style5">Matthew 22: 25</span> Now there were  
            therefore  with us seven brethren: and the first
            took a wife,  married and 
            deceased,  and dying left no seed; {and died childless;}  and, having no seed left 
            his wife unto his brother:  </p>

        <p align="left" class="style4"><span class="style5">Mark 12: 21</span> And
        </p>  


        <p align="left" class="style4"><span class="style5">Matthew 22: 26</span> In like manner the second also,  took her, and died, leaving no 
            seed behind him; and the third likewise:  took her;
            unto the seventh.  
            and likewise the seven also left no children, {left 
            no seed.}  and died.</p> 


        <p align="left" class="style4"><span class="style5">Luke 20: 32</span> Afterward 

            Last of all  </p>

        <p align="left" class="style4"><span class="style5">Matthew 22: 27</span>  And after them all,  the woman also died.
        </p>


        <p align="left" class="style4"><span class="style5">28</span> In the 
            resurrection therefore whose wife shall she be of the seven? {of them?} for the seven  all had her.
            to wife. (<span class="comm">This was evidently a favorite Sadducean 
                argument against the resurrection. On the assumption that the marital state is 
                continued after the resurrection, it makes the doctrine of a resurrection 
                appear ridiculous, because, seemingly, it involves difficulties which even 
                brothers could hardly settle amicably, and which even God would have in a sense 
                to settle arbitrarily.</span>)   </p>


        <p align="left" class="style4"><span class="style5">Luke 20: 34</span> And { <span class="style5">Matthew 22: 29</span> But} Jesus answered and said unto them, Ye do not err, not knowing the scriptures, nor the power of God.Is it not for this cause that ye err, that ye know not the scriptures, nor the power of God? (<span class="comm">The relevancy of these statements will be discussed in the treatment of <span class="style7">Luke 20: 38</span> below.</span>)   </p>



        <p align="left" class="style4"><span class="style5">Matthew 22: 30</span> For  
            the sons of this world marry, and are given in marriage: </p>


        <p align="left" class="style4"><span class="style5">Luke 20: 35</span> but 
            they that are accounted worthy to attain to that world, and the resurrection 
            from the dead, neither marry, nor are given in marriage: 
        </p>



        <p align="left" class="style4"><span class="style5">Mark 12: 25</span> For when they shall rise from the dead,  
            in the resurrection they neither marry, nor are given in marriage; but 
            are as angels in heaven.  </p>


        <p align="left" class="style4"><span class="style5">Luke 20: 36</span> for neither 
            can they die any more: for they are equal unto the angels; and are the sons of 
            God, being the sons of the resurrection. (<span class="comm">This favorite argument of the 
                Sadducees could not be successfully answered by the Pharisees because they 
                could not refute the assumption that marriage is continued in the future world. 
                But Jesus does refute it on his own authority.</span>)   </p>


        <p align="left" class="style4"><span class="style5">Matthew 22: 31</span> 
            But as touching the resurrection of the dead,  that the 
            dead are raised, even Moses showed, in the place 
            concerning the Bush, when he calleth the Lord the God of 
            Abraham, and the God of Isaac, and the God of Jacob,  
            have ye not read in the book of Moses,  that which was 
            spoken unto you by God,  how God spake 
            unto him, saying, I am the God 
            of Abraham, and the God of Isaac, and the God of Jacob?  
        </p>   


        <p align="left" class="style4"><span class="style5">Luke 20: 38</span> Now God is not the God of the dead, but of the living: for all live unto him. ye do greatly err. (<span class="comm">The disbelief of the Sadducees manifested itself in a triple form, for they denied the resurrection and the existence of angels and spirits (<span class="comm"><span class="style7">Acts 23: 8</span></span>), but the basal principle of their infidelity 
                was the denial of spirits. It was, as it were, the tree trunk from which their 
                other errors sprang as branches. If there were such things as spirits, it was 
                not worth while to deny that there was an order of them known as angels. If man 
                had a spirit which could survive his body, it was reasonable to believe that 
                God, having so fashioned him that a body is essential to his activity and 
                happiness, would in some manner restore a body to him. Jesus therefore does not 
                pursue the argument until he has proved a resurrection; but rests when 
                he has proved that man has a spirit. Jesus proves that man has a spirit by a 
                reference from the Pentateuch, that part of Scripture which the Sadducees 
                accepted as derived from God through Moses. The reference shows that God was 
                spoken of and spoke of himself as the God of those who were, humanly speaking, 
                long since dead. But the Sadducees held that a dead man had ceased to exist, 
                that he had vanished to nothingness. According to their view, therefore, God 
                had styled himself the God of nothing, which is absurd. The Sadducees could not 
                thus have erred had they known or understood the significance of this 
                Scripture, and they could not have doubted the resurrection had they known the 
                absolute power with which God deals with material such as that of which the 
                body is formed. See 
                <span class="style7">Mark 12: 24</span> 
                and 
                <span class="style7">Luke 20: 39</span> supra.</span>) </p>



        <p align="left" class="style4"><span class="style5">Matthew 22: 33</span> And when the multitude heard it, they were astonished 
            at his teaching.</p>  


        <p align="left" class="style4"><span class="style5">Luke 20: 39</span> And certain of the 
            scribes answering said, Teacher, thou hast well said. (<span class="comm">Some of the scribes 
                of less bitter spirit could not refrain from expressing their admiration at the 
                ease with which Jesus answered an argument which their own wisdom could not 
                refute.</span>)</p>
    </div> 


</ion-content>