<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>112. FORETELLING HIS PASSION.</h3>
        <h3>(<span class="comm">PER&AElig;A, OR JUD&AElig;A, NEAR THE JORDAN.</span>)</h3>
        <h3>MATTHEW 20: 17-28;  MARK 10: 32-45;  LUKE 18: 31-34.</h3>
        <p align="left" class="style4"><span class="style5">Mark 10: 32</span>   And they were on the way, going up to Jerusalem 
            (<span class="comm">Dean Mansel sees in these words an evidence that Jesus had just crossed the 
                Jordan and was beginning the actual ascent up to Jerusalem. If so, he was in 
                Jud&aelig;a. But such a construction strains the language. Jesus had been going 
                up to Jerusalem ever since he started in Galilee, and he may now have still be 
                in Per&aelig;a. The parable of the vineyard which 

                closed the 
                preceding section was likely to have been spoken before he crossed the Jordan, 
                for Per&aelig;a abounded in vineyards</span>); and Jesus was going before 
            them: and they were amazed; and they that followed were afraid. (<span class="comm">When Jesus 
                turned his face toward Jerusalem, his disciples dropped behind and hung back. 
                The outer circle of his disciples knew enough not to be fearful of the 
                consequences, and the inner circle, fully acquainted with the dangers, were 
                amazed that he should dare to go thither. A short while before this they had 
                despaired of his life when he had proposed to go even into Jud&aelig;a 
                (<span class="comm"><span class="style7">John 11: 7-16</span></span>), and his going 
                at that time had not bettered the situation, but had, on the contrary, greatly 
                increased the enmity and danger (<span class="comm"><span class="style7">John 11: 47-57</span></span>). Notwithstanding all this, Jesus was now on his way to 
                Jerusalem itself, and was speaking no reassuring word as he formerly had 
                done--<span class="style7">John 11: 9, 10.</span></span>)  
        </p>



        <p align="left" class="style4"><span class="style5">Matthew 20: 17</span>   And as Jesus was going up to Jerusalem, he took
            again  unto him  
            the twelve disciples apart (<span class="comm">He separated them from the throng of 
                pilgrims on the way to the Passover, and from the outer circle of the 
                disciples, for it was not expedient that these should hear what he was about to 
                reveal concerning his death. Such a revelation might have spurred his 
                Galil&aelig;an friends to resist his arrest, and might have resulted in riot 
                and bloodshed</span>),  and began to tell them the things 
            that were to happen unto him,  and on the way he said 
            unto them, 
        </p>


        <p align="left" class="style4"><span class="style5">18</span>  Behold, we go up to Jerusalem; and the 
            Son of man shall be delivered unto the chief priests and  
            the  scribes; and they shall condemn him to 
            death, 
        </p>



        <p align="left" class="style4"><span class="style5">19</span>   and shall deliver him to the Gentiles to mock, and to 
            scourge, and to crucify:  
        </p>


        <p align="left" class="style4"><span class="style5">Mark 10: 34</span>
            and they 
            shall mock him, and shall spit upon, and shall scourge him, and shall kill him; 
            and three days he shall rise again. {and the third 
            day he shall be raised up.}  and all the things that 
            are written through the prophets shall be accomplished unto the Son of man.
        </p>


        <p align="left" class="style4"><span class="style5">Luke 18: 32</span>
            For he shall be delivered up unto the Gentiles, and shall be 
            mocked, and shamefully treated, and spit upon: 

        </p>



        <p align="left" class="style4"><span class="style5">33</span>   and they shall 
            scourge and kill him: 

            and the third day he shall rise 
            again. (<span class="comm">This was the third and by far the clearest and most circumstantial 
                prophecy concerning his death. For the other two see pp. 415 and 427. The 
                details are minute even to the complicated arrangement by which the Jewish 
                authorities pronounced sentence (<span class="comm"><span class="style7">Matthew 26: 66</span></span>) and forced Pilate to confirm the sentence (<span class="comm"><span class="style7">Luke 23: 24</span></span>). Since the evangelists honestly record an 
                actual prediction, we may well pause to note how remarkable it is in that it 
                gives seven details as follows: 1. Delivery or betrayal by Judas. 2. 
                Condemnation. 3. Delivery to the Gentiles. 4. Mocking and the manner of it. 5. 
                Scourging. 6. Death by crucifixion. 7. Resurrection on the third day. The 
                announcement of these sufferings was made for the purpose of checking any 
                materialistic hopes which the apostles might entertain as to the glories, 
                honors, and offices of the Messianic reign. That such hopes were present is 
                shown by the ambitious request which immediately follows. Moreover, to prepare 
                them that they might not be crushed either by the announcement or the 
                accomplishment of his death he gives them the clear promise of his 
                resurrection.</span>) 
        </p>



        <p align="left" class="style4"><span class="style5">34</span>   And they understood none of these things; and this saying 
            was hid from them, and they perceived not the things that were said. (<span class="comm">So 
                fixed and ineradicable was their false conception of the Messianic reign that 
                they could not believe that what Jesus said could be literally true (<span class="comm"><span class="style7">Matthew 16: 22</span></span>). Only later did the full 
                significance of his saying dawn upon them--<span class="style7">John 12: 16-14: 26.</span></span>)   
        </p>



        <p align="left" class="style4"><span class="style5">Mark 10: 35</span>  And there
        </p>


        <p align="left" class="style4"><span class="style5">Matthew 20: 20</span> Then came {come} near unto him the mother of the sons of Zebedee with her sons, James and John, worshipping him, (<span class="comm">giving him homage as a coming ruler, not worshiping him as a divine being</span>), and asking a certain thing of him. saying unto him, Teacher, we would that thou shouldest do for us whatsoever we shall ask of thee. (<span class="comm">Zebedee's wife was named was Salome. See note on p. 225. They were ashamed of the selfish ambition of their request, and betrayed that fact by desiring Christ to grant it without hearing it. For a similar petition, see <span class="style7">1 Kings 2: 19, 20</span>. They asked 

                through their mother, thinking that Jesus would be more likely to 
                favor her than themselves.</span>) 
        </p>


        <p align="left" class="style4"><span class="style5">21</span>   And he said unto 
            her, {them,}  What wouldest 
            thou?  What would ye that I should do for you? 
            (<span class="comm">Though Jesus knew what they wished, he required them to state it plainly and 
                specifically, that their self-seeking might be clearly exposed and properly 
                rebuked.</span>)   She saith unto him, Command that these my two 
            sons may sit, one on thy right hand, and on on thy left hand, in thy 
            kingdom.  

        </p>


        <p align="left" class="style4"><span class="style5">Mark 10: 37</span>   And they said unto him, 
            Grant unto us that we may sit, one on thy right hand, and one on thy left hand, in thy glory. (<span class="comm">In the 
                previous section Jesus had spoken about the thrones to be occupied by the 
                apostles. The sons of Zebedee, presuming on their high standing among the 
                apostles, and their near relationship to Jesus, were emboldened to ask for 
                special seats of honor among the promised thrones--the seats to the right 
                and left of the sovereign being next to his in dignity and consideration; thus 
                Josephus represents Saul as seated with Jonathan on his right hand and Abner on 
                his left. The terms "kingdom" and "glory" are here used 
                synonymously. Despite the fact that Jesus was now telling them plainly of his 
                death, these apostles could not rid their minds of the delusion that he was 
                about to ascend the earthly throne of David.</span>) </p>


        <p align="left" class="style4"><span class="style5">Matthew 20: 22</span>   But Jesus answered and said,  unto them, Ye know not 
            what ye ask. Are ye able to drink of the cup that I drink? {
            that I am about to drink?}  or to be baptized 
            with the baptism that I am baptized with? (<span class="comm">The word "cup" among 
                the Hebrews meant a portion assigned (<span class="comm"><span class="style7">Psalms 16: 5; 23: 5</span></span>), whether of pleasure or of sorrow. But the idea of 
                sorrow usually predominated (<span class="comm"><span class="style7">Matthew 26: 39, 42; Revelation 14: 10; 16: 19; 18: 6; Psalms 75: 8; Isaiah 52: 17; Jeremiah 25: 15</span></span>). To be baptized with suffering means to be overwhelmed with it, 
                a metaphorical use of the word arising from the fact that it means an 
                immersion. This metaphorical use of baptism aids us to understand the meaning 
                of that word, for neither sprinkling nor pouring could have suggested the 
                overpowering force which the metaphor implies. Alford distinguishes 

                between cup and baptism, making the former refer to inward spiritual 
                suffering, and the latter to outer persecution and trial.</span>) 

        </p>


        <p align="left" class="style4"><span class="style5">Mark 10: 39</span>   And they said 
            {say} unto him, We are able.And Jesus said {saith} unto them, My 
            {The} cup that I drink  
            indeed ye shall drink:  and with the baptism that I am 
            baptized withal shall ye be baptized (<span class="comm">They probably thought that Jesus 
                referred to some battle or conflict which would attend the ushering in of the 
                kingdom, and as they were not wanting in physical courage, they were ready 
                enough to pledge themselves to endure it. They spoke with unwarranted 
                self-confidence, but Jesus rebuked them very gently, as he foreknew what 
                suffering they would indeed endure. James was the first apostolic martyr 
                (<span class="comm"><span class="style7">Acts 12: 2</span></span>), and John's spirit was 
                sorely troubled with the conflict of error, as his epistles show, and his last 
                days were darkened by the shadow of persecution--<span class="style7">Revelation 1: 9</span></span>): 
        </p>


        <p align="left" class="style4"><span class="style5">40</span>   but to sit on my right hand or {
            and} on my 
            left hand, is not mine to give;  but it is for them for whom it hath been 
            prepared.  of my Father. (<span class="comm">Future rewards are indeed 
                meted out by the hand of Christ (<span class="comm"><span class="style7">2 Timothy 4: 8; Revelation 2: 10, 17, 26, 28; 3: 12, 21,</span> et al.</span>), but they are 
                not distributed according to caprice or favoritism, but according to the will 
                of the Father and the rules which he has established. Jesus proceeds to set 
                forth the principles by which places of honor are obtained in his kingdom.</span>) 
        </p>


        <p align="left" class="style4"><span class="style5">Matthew 20: 24</span>   And when the ten heard it, they were {began to 
            be}  moved with indignation concerning the two 
            brethren.  James and John </p>


        <p align="left" class="style4"><span class="style5">Mark 10: 42</span>   And {but} Jesus called them unto him, and said {
            saith} unto them, Ye know that they who are accounted to 
            rule over {the rulers of} the Gentiles lord it over 
            them, and their great ones exercise authority upon them. </p>


        <p align="left" class="style4"><span class="style5">Matthew 20: 26</span> Not so shall it be {<span class="style5">Mark 10: 43</span> But it is not so} among you: but whosoever would become great among you, shall be your minister;</p>


        <p align="left" class="style4"><span class="style5">Mark 10: 44</span>   and whosoever would be first among 
            you,  shall be your servant:  
            shall be servant of all. (<span class="comm">The ten, sharing the same ambition as the two, 
                jealously resented their efforts to take unfair advantage of 

                the Lord's known affection for them. To restore peace among them, and to correct 
                their false views, he draws the distinction between the worldly greatness to 
                which they aspired, and the spiritual greatness which they ought to have 
                sought. In an earthly kingdom honor and authority measure greatness, but in 
                Christ's kingdom it is measured by humility and service. Jesus added power to 
                his rebuke by showing them that their spirit was not even Jewish, but 
                altogether heathenish.</span>) </p>


        <p align="left" class="style4"><span class="style5">45</span>   For {<span class="style5">Matthew 20: 28</span><span class="style7"> </span>even as}
            the Son of man also came not to be ministered unto, but to 
            minister, and to give his life a ransom for many. (<span class="comm">He enforces this lesson 
                by his own example in that he came to serve men and not to have them serve him. 
                Jesus could ever refer to himself as the best example of the virtues which he 
                taught. Since honor consists in being like the King, the highest honor consists 
                in being most like him. The closing words state the vicarious nature of 
                Christ's suffering as plainly as language can express it. The ransom is offered 
                for all (<span class="comm"><span class="style7">1 Timothy 2: 6</span></span>), and will be 
                efficacious for as many as accept it. The words are nearly a reproduction of 
                the words of <span class="style7">Isaiah--Isaiah 53: 12</span>
                .</span>)
        </p>


    </div> 


</ion-content>