<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>93. THE GOOD SHEPHERD.</h3>
        <h3>(<span class="comm">JERUSALEM, DECEMBER, A.D. 29.</span>)</h3>
        <h3>JOHN 10: 1-21.</h3>
        <p align="left" class="style4"><span class="style5">1</span> Verily, verily, I say to you (<span class="comm">unto the parties 
                whom he was addressing in the last section</span>), He that entereth not by 
            the door into the fold of the sheep, but climbeth up some other way, the same 
            is a thief and a robber. (<span class="comm">In this section Jesus proceeds to contrast his 
                own care for humanity with that manifested by the Pharisees, who had just cast 
                out the beggar. Old Testament prophecies were full of declarations that false 
                shepherds would arise to the injury of God's flock (<span class="comm"><span class="style7">Ezekiel 34: 1-6; Jereremiah 23: 1-6; Zechariah 11: 4-11</span></span>). But other prophecies spoke of the true shepherding of 
                God and his Messiah (<span class="comm"><span class="style7">Psalm 23; 77: 20; Psalm 80: 1; 95: 7; Jereremiah 31: 10; Ezekiel 34: 31; Micah 7: 14; Isaiah 43: 11</span></span>). The Pharisees were fulfilling the first line of prophecies, and 
                Jesus was fulfilling the second. The sheepfolds of the East are roofless 
                enclosures, made of loose stone, or surrounded by thornbushes. They have but 
                one door. Jesus, the true shepherd, came in the proper and appointed way (<span class="comm">and 
                    was the proper and appointed Way</span>), thus indicating his office as shepherd. A 
                thief steals by cunning in one's absence; a robber takes by violence from one's 
                person. The Pharisees were both. They stole the sheep in Messiah's absence, and 
                they slew Messiah when he came. They did not come in the ways ordained of God.</span>)

        <p align="left" class="style4"><span class="style5">2</span> But he that entereth in by the door is the shepherd of the sheep.

        <p align="left" class="style4"><span class="style5">3</span> To him the porter openeth; and the sheep hear his voice: and he 
            calleth his own sheep by name, and leadeth them out. (<span class="comm">Several small flocks 
                were sometimes kept in one field. The door was fastened from the inside with 
                sticks or bars by the porter, who remained with the sheep during the night, and 
                opened for the shepherds in the morning. The fold is the church, Christ is the 
                door, the sheep 

                are the disciples, and the shepherd is Christ. The 
                porter is probably part of the drapery of the parable. If he represents 
                anybody, it is God, who decides who shall enter through the door.</span>)
        <p align="left" class="style4"><span class="style5">4</span> When he 
            hath put forth all his own, he goeth before them, and the sheep follow him: for 
            they know his voice. (<span class="comm">In the East, sheep are not driven, but led, and each 
                sheep has and knows its name. Disciples also are led. There is no rough road or 
                thorny path which the feet of Jesus have not first trod. The Pharisees had put 
                forth the beggar to be rid of him; the true shepherd puts forth to feed.</span>)

        <p align="left" class="style4"><span class="style5">5</span> And a stranger will they not follow, but will flee from him: for they know not 
            the voice of strangers. (<span class="comm">The mingled flocks are separated by the calling 
                voices of the several shepherds. The control of the Pharisees was not of this 
                order. The authority of the synagogues had passed into their hands, and their 
                rule was about the same as when thieves and robbers gained possession of the 
                sheepfold. The people were disposed to flee from them--<span class="style7">Matthew 9: 36</span>.</span>)

        <p align="left" class="style4"><span class="style5">6</span> This parable spake Jesus unto 
            them: but they understood not what things they were which he spake unto 
            them. (<span class="comm">The idea of loving care was so foreign to the nature of the 
                Pharisees that they could not comprehend the figures which clothed such a 
                thought. The word here translated "parable" is not the word 
                "parabole," which John never uses, but the word "
                paroimia," which the synoptists never use. Paroimia means, 
                literally, "beside the way," i. e., speech not of the common 
                or direct form, i. e., a similitude or allegory.</span>)

        <p align="left" class="style4"><span class="style5">7</span> Jesus therefore 
            said unto them again, Verily, verily, I say unto you, I am the door of the 
            sheep. (<span class="comm">Seeing that they did not understand the allegory, Jesus gives a 
                twofold explanation of it found in <span class="style7">John 10: 7-10 and 11-16</span>.</span>)

        <p align="left" class="style4"><span class="style5">8</span> All that came before me are 
            thieves and robbers: but the sheep did not hear them. (<span class="comm">He speaks of the 
                past, and refers to false Messiahs.</span>)

        <p align="left" class="style4"><span class="style5">9</span> I am the door: by me if any man enter 
            in, he shall be saved, and shall go in and go out, and shall find pasture. 
            (<span class="comm">The door is here spoken of with 

                reference to the sheep, 
                and hence becomes a symbol of entrance into protection and shelter, or exit to 
                liberty and plenty.</span>)

        <p align="left" class="style4"><span class="style5">10</span> The thief cometh not, but that he may steal, and 
            kill, and destroy: I came that they may have life, and may have it abundantly. (<span class="comm">Through the life of 
                Jesus, as through a heavenly portal, men have entered upon true civilization, 
                with its schools, colleges, railroads, telegraph, telephone, and innumerable 
                privileges and liberties.</span>)

        <p align="left" class="style4"><span class="style5">11</span> I am the good shepherd (<span class="comm">The relations of 
                Christ to his people are so abounding and complex as to overburden any parable 
                which seeks to carry them. He is not only the passive doorway to life, but also 
                the active, energizing force which leads his people through that doorway into 
                life</span>): the good shepherd layeth down his life for the sheep. 
            (<span class="comm"><span class="style7">John 10: 11-14</span> set forth the 
                perfect self-sacrifice through which the blessings of Christ have been obtained 
                for us. The world-ruling spirit blesses itself through the sacrifice of the 
                people; the Christ-spirit blesses the people through the sacrifice of self.</span>)

        <p align="left" class="style4"><span class="style5">12</span> He that is an hireling, and not a shepherd, whose own the sheep are not 
            (<span class="comm">shepherds were not, as a rule, owners of the sheep, but they were expected to 
                love and care for them by reason of their office as shepherds</span>), 
            beholdeth the wolf coming, and leaveth the sheep, and fleeth, and the wolf 
            snatcheth them, and scattereth them 
            (<span class="comm">the perils of the Oriental shepherd accord with the picture here 
                given--<span class="style7">Genesis 13: 5; 14: 12; 31: 39-40; 32: 7-8; 37: 33; Job 1: 7; 1 Samuel 17: 34-35</span></span>):

        <p align="left" class="style4"><span class="style5">13</span> he fleeth because he is a 
            hireling, and careth not for the sheep. (<span class="comm">He flees because he loves his 
                wages rather than the flock.</span>)

        <p align="left" class="style4"><span class="style5">14</span> I am the good shepherd; and I know mine 
            own, and mine own know me,

        <p align="left" class="style4"><span class="style5">15</span> even as the Father knoweth me, and I 
            know the Father (<span class="comm">Our Lord's relationship to his flock is one of mutual 
                knowledge and affection, and is far removed from the spirit of hire. The 
                knowledge existing between disciple and Master springs from mutual 
                acquaintanceship and love. Thus it is the same kind of knowledge which 
                exists between Father and Son, though it is not of the 

                same quality, being infinitely less full and perfect</span>); and I lay down 
            my life for the sheep. (<span class="comm">The sacrifice of the good shepherd to shield his 
                sheep has never been in vain.</span>)

        <p align="left" class="style4"><span class="style5">16</span> And other sheep I have, which are not of 
            this fold: them also I must bring, and they shall hear my voice: and they shall 
            become one flock, one shepherd. (<span class="comm">Jesus was speaking to the Jews, who had 
                been frequently spoken of in Scripture as God's flock. The other sheep were 
                Gentiles. They are spoken of as scattered sheep, and not as flocks, because 
                with them there was no unity. Here, as everywhere, the truth breaks through, 
                revealing Christ as the world's Redeemer, who would break down the middle wall 
                of partition between Jew and Gentile, and cause all true worshipers to have a 
                common relationship to one Master.</span>)

        <p align="left" class="style4"><span class="style5">17</span> Therefore doth the Father love me, 
            because I lay down my life, that I may take it again. (<span class="comm">Jesus did not permit 
                his life to be sacrificed so as to become cast away, but to be raised again as 
                an earnest of the resurrection of all flesh.</span>)

        <p align="left" class="style4"><span class="style5">18</span> No one taketh it away from 
            me, but I lay it down of myself. I have power to lay it down, and I have power 
            to take it again. This commandment received I from my Father. (<span class="comm">This shows 
                that his death was voluntary, and with the resurrection which followed, it was 
                in full and perfect accordance with his original commission or commandment from 
                the Father.</span>)

        <p align="left" class="style4"><span class="style5">19</span> There arose a division again among the Jews because of these 
            words. (<span class="comm">The word "again" refers to <span class="style7">John 7: 43; 9: 16</span>.</span>)

        <p align="left" class="style4"><span class="style5">20</span> And many of them said, He hath a 
            demon, and is mad; why hear ye him? (<span class="comm">The theory that demons could produce 
                supernatural effects (<span class="comm"><span class="style7">Matthew 12: 24</span></span>) 
                formed a handy device for explaining away the miracles of Christ.</span>)

        <p align="left" class="style4"><span class="style5">21</span> Others 
            said, These are not the sayings of one possessed with a demon. Can a demon open 
            the eyes of the blind? (<span class="comm">These defenders refer to the well-remembered cure 
                of the man born blind, and argue, as he did, that a demoniac could not work 
                such a miracle. They fail, however, to make a positive confession of faith in 
                Jesus.</span>)


    </div> 


</ion-content>