<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>146. APPEARANCES OF THE RISEN CHRIST</h3>
        <h3>(<span class="comm">JERUSALEM SUNDAY MORNING.</span>)</h3>
        <h3>MATTHEW 28: 9, 10;  MARK 16: 9-11;  <br>LUKE 24: 9-11;  JOHN 20: 11-18.</h3>
        <p align="left" class="style4"> (<span class="comm">The women, having received the message of the angels, and remembering that 
                the message accorded with the words 

                of Jesus himself, made haste.</span>)

        <p align="left" class="style4"><span class="style5">Luke 24: 9</span> and returned from the tomb, </p>

        <p align="left" class="style4"><span class="style5">Mark 16: 9</span> Now when he was risen early on the first day of the week, 
            he appeared first to Mary Magdalene, from whom he had cast out seven demons.
            [<span class="comm">Mark here agrees with John that Mary separated from the other women. As to 
                Mary Magdalene, see pp. 291, 297. After telling Peter and John about the empty 
                tomb, Mary followed them back to it, and evidently reached it after they had 
                left it. She found no one at the tomb.</span>] </p>

        <p align="left" class="style4"><span class="style5">John 20: 11</span> But 
            Mary was standing without at the tomb weeping: so, as she wept, she stooped and 
            looked into the tomb; 
        </p>


        <p align="left" class="style4"><span class="style5">12</span> and she beholdeth two angels in white 
            sitting, one at the head, and one at the feet, where the body of Jesus had 
            lain. (<span class="comm">This picture is intensely natural. The Lord's death had been sorrow 
                enough, but to be deprived of the poor privilege of embalming the body seemed a 
                veritable sorrow's crown of sorrow; and so Mary wept. But it suddenly occurs to 
                her that in her haste she had not yet looked into the tomb at all, having 
                jumped to the conclusion that it was empty because she saw it open; she 
                therefore looks in. Her grief at the loss of the Lord is so great that she 
                forgets to be frightened at the angels; just as a mother in her anxiety for the 
                sick child forgets to fear its fever, no matter how virulent. The angels were 
                placed like cherubim upon the ark, as though the grave of Christ was a new 
                mercy seat, which indeed it was.</span>) </p>


        <p align="left" class="style4"><span class="style5">13</span>  And they say unto her, Woman, why 
            weepest thou? She saith unto them, Because they have taken away my Lord, and I 
            know not where they have laid him. 
        </p>


        <p align="left" class="style4"><span class="style5">14</span> When she had thus said, she 
            turned herself back, and beholdeth Jesus standing, and knew not that it was 
            Jesus. (<span class="comm">Before the angels can speak the glad news to Mary, Jesus himself 
                becomes his own messenger. That Mary did not recognize him may be due to her 
                grief, for tears blind our eyes to many of the tender providences of God; but 
                to reason by analogy it seems more likely that her eyes "were 
                holden" (<span class="comm"><span class="style7">Luke 24: 16</span></span>), lest the 
                shock of his sudden appearance might be too much for her, as it was for even 
                his male disciples 
                (<span class="comm"><span class="style7">Luke 24: 37</span></span>). Conversation with him assured her that he was not a disembodied spirit.</span>) 

        <p align="left" class="style4"><span class="style5">15</span> Jesus saith unto her, Woman, why weepest thou? whom seekest 
            thou? She, supposing him to be the gardener, saith unto him, Sir, if thou hast 
            borne him hence, tell me where thou hast laid him, and I will take him away.
            (<span class="comm">Christ's first question expressed kindly sympathy; the second suggested that 
                he knew the cause of her grief, and might be able to help her find what she 
                sought. Thus encouraged, Mary at once assumes that the gardener himself had 
                removed the body, probably under instructions from Joseph, and hope lightens 
                her heart. In her effort to remove the body, she doubtless counts upon the help 
                of her fellow-disciples.</span>)</p>


        <p align="left" class="style4"><span class="style5">16</span> Jesus saith unto her, Mary. (<span class="comm">Her eyes and 
                ears were no longer held; she knew him. It was the same way he used to speak, 
                the same name by which he used to call her. The grave had glorified and exalted 
                him, but had not changed his love.</span>) She turneth herself, and saith unto him 
            in Hebrew, Rabboni; which is to say, Teacher. (<span class="comm">Seasons of greatest joy are 
                marked by little speech. Jesus and Mary each expressed themselves in a single 
                word.</span>) </p>

        <p align="left" class="style4"><span class="style5">17</span> Jesus saith to her, Touch me not; for I am not yet ascended unto 
            the Father: but go unto my brethren, and say to them, I ascend unto my Father 
            and your Father, and my God and your God. (<span class="comm">This passage is one of 
                well-known difficulty, and Meyer or Ryle may be consulted by those wishing to 
                see how various commentators have interpreted it. We would explain it by the 
                following paraphrase: "Do not lay hold on me and detain yourself and me; 
                I have not yet ascended; this is no brief, passing vision; I am yet in the 
                world, and will be for some time, and there will be other opportunities to see 
                me; the duty of the moment is to go and tell my sorrowing disciples that I have 
                risen, and shall ascend to my Father." Jesus does not say "our 
                Father." Our relation to God is not the same as his. While, however, our 
                Lord's language recognizes the difference between his divine and our human 
                relationship to the Father, his words are intended to
                show us our 
                exaltation. We have reason to believe that next to our Lord's title as Son our 
                title as sons of God by adoption is as high in honor as any in the universe.</span>) </p>


        <p align="left" class="style4"><span class="style5">18</span>  Mary Magdalene cometh and telleth {went and 
            told}  the disciples,  them 
            that had been with him, as they mourned and wept. (<span class="comm">The poignancy of the 
                disciples' grief, even after the intervention of the Sabbath day, explains why 
                the Lord and his angels were so eager to bring them word of the resurrection.</span>) 
            I have seen the Lord; and 
            that he had said these things unto her.</p>


        <p align="left" class="style4"><span class="style5">Mark 16: 11</span> And they, when they heard that he was alive, and had been 
            seen of her, disbelieved. (<span class="comm">It is likely that Mary brought the first word, 
                for we shall see below that Luke places her first in the catalogue of 
                witnesses. The narrative now turns back to take up the account of the other 
                women.</span>) </p>


        <p align="left" class="style4"><span class="style5">Matthew 28: 9</span> And behold, Jesus met them, saying, All 
            hail. (<span class="comm">This was a customary salutation. But the old formula took on new 
                significance, for it means "rejoice."</span>) And they came and took 
            hold of his feet, and worshipped him. (<span class="comm">This delay, permitted to them, and 
                denied to Mary, probably explains why she became the first messenger, though 
                the other women were first to leave the tomb.</span>) </p>


        <p align="left" class="style4"><span class="style5">10</span> Then saith Jesus unto 
            them, Fear not: go tell my brethren that they depart into Galilee, and there 
            shall they see me. (<span class="comm">The repetition may be due to the reticence of the women 
                remarked by Mark in the last section by the key words "and they said 
                nothing to any one." The women may have been hesitating whether they 
                should tell the disciples. Thus Jesus reiterates the instruction already given 
                by the angel. This is the first time the word "brethren" is applied 
                by our Lord to his disciples.</span>)   and (<span class="comm">they</span>) told all 
            these things to the eleven, and to all the rest. 
        </p>


        <p align="left" class="style4"><span class="style5">Luke 24: 10</span> Now they were 
            Mary Magdalene, and Joanna, and Mary the 
            mother of James: and the other women with them told these 
            things unto the apostles. </p>


        <p align="left" class="style4"><span class="style5">11</span> And these words appeared in their 
            sight as idle talk; and they disbelieved them. (<span class="comm">Lamar well says that this 
                very incredulity on the part of the apostles "enhances the value of their 


                testimony to the fact of the resurrection. They were not 
                expecting it; they were no visionary enthusiasts, prepared to welcome and 
                credit any story that might be told them; nor would they be satisfied with any 
                proof short of palpable and ocular demonstrations."</span>)</p>
    </div> 


</ion-content>