<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>59. ACCUSATIONS OF THE JEWS.</h3>
        <h3>(<span class="comm">GALILEE.</span>)</h3>
        <h3>MATTHEW 12: 22-37;  MARK 3: 19-30;  LUKE 11: 14-23.</h3>
        <p align="left" class="style4"><span class="style5">Matthew 12: 19</span>   And he cometh into a house. (<span class="comm">Whose house is not 
                stated.</span>) 
        </p>


        <p align="left" class="style4"><span class="style5">20</span>

            And the multitude cometh together again (<span class="comm">as on a previous 
                occasion--<span class="style7">Mark 2: 1</span></span>), so 
            that they could not so much as eat bread. (<span class="comm">They could not sit down to a 
                regular meal. A wonderful picture of the intense importunity of people and the 
                corresponding eagerness of Jesus, who was as willing to do as they were to have 
                done.</span>) 

        </p>


        <p align="left" class="style4"><span class="style5">21</span>   And when his friends heard it, they went out to lay hold on him: 
            for they said, He is beside himself. (<span class="comm">These friends were his brothers and 
                his mother, as appears from <span class="style7">Mark 3: 31, 32</span>. They probably came from Nazareth. To understand their feelings, 
                we must bear in mind their want of 

                faith. See <span class="style7"> John 7: 3-9</span>. They regarded Jesus as 
                carried away by his religious enthusiasm (<span class="comm"><span class="style7">Acts 26: 24; 2 Cor. 5: 13</span></span>), and thought that he acted with reckless 
                regard for his personal safety. They foresaw the conflict with the military 
                authorities and the religious leaders into which the present course of Jesus 
                was leading, and were satisfied that the case called for their interference. 
                Despite her knowledge as to Jesus, Mary sympathized with her sons in this 
                movement, and feared for the safety of Jesus.</span>)   


        </p>



        <p align="left" class="style4"><span class="style5">22</span>   Then was brought unto him one possessed with a demon, blind and dumb: {<span class="style7">14</span> And he was casting out a demon that was dumb.}  and 
            he healed him, insomuch that  it came to pass, when the 
            demon was gone out,  the dumb man spake and saw. 
            (<span class="comm">The man was brought because he could not come alone. While Luke does not 
                mention the blindness, the similarity of the narratives makes it most likely 
                that he is describing the same circumstances as Matthew and Mark, so we have combined the three accounts.</span>) 


        </p>



        <p align="left" class="style4"><span class="style5">23</span>   And all the multitudes  
            marvelled.  were amazed, and said, Can this be 
            the son of David? (<span class="comm">It was a time for amazement, for Jesus had performed a 
                triple if not a quadruple miracle, restoring liberty, hearing and sight, and 
                granting the power of speech. It wakened the hope that Jesus might be the 
                Messiah, the son of David, but their hope is expressed in the most cautious 
                manner, not only being stated as a question, but as a question which expects a 
                negative answer. The question, however, was well calculated to arouse the 
                envious opposition of the Pharisees.</span>)   

        </p>



        <p align="left" class="style4"><span class="style5">Luke 11: 15</span>   But some 
            of them said (<span class="comm">that is, some of the multitude. Who these "some" 
                were is revealed by Matthew and Mark, thus:</span>)

        </p>

        <p align="left" class="style4"><span class="style5">Matthew 12: 24</span>  But when the Pharisees heard it, they

        </p>



        <p align="left" class="style4"><span class="style5">Mark 3: 22</span>   and the scribes that came down from Jerusalem said,  
            This man doth not cast out demons, but by Beelzebub the prince of the 
            demons.  He hath Beelzebub, and, By the prince of the 
            demons casteth he out the demons. (<span class="comm">Beelzebub is a corruption of Baalzebub, 
                the god of the fly. There was a tendency among the heathen to name 

                their gods after the pests which they were supposed to avert. Thus 
                Zeus was called Apomuios (<span class="comm">Averter of flies</span>), and Apollo Ipuktonos 
                (<span class="comm">Slayer of vermin</span>). How Beelzebub became identified with Satan in the Jewish 
                mind is not known. In opposing the influence of Jesus and corrupting the public 
                mind, these Pharisees showed a cunning worthy of the cultivated atmosphere, the 
                seat of learning whence they came. Being unable to deny that a miracle was 
                wrought (<span class="comm">for Celsus in the second century is the first recorded person who had 
                    the temerity to do such a thing</span>), they sought to so explain it as to reverse 
                its potency, making it an evidence of diabolical rather than divine power. 
                Their explanation was cleverly plausible, for there were at least two powers by 
                which demons might be cast out, as both were invisible, it might appear 
                impossible to decide whether it was done in this instance by the power of God 
                or of Satan. It was an explanation very difficult to disprove, and Jesus 
                himself considered it worthy of the very thorough reply which follows.</span>) 

        </p>



        <p align="left" class="style4"><span class="style5">Luke 11: 16</span>  And others, trying 
            him, sought of him a sign from heaven. (<span class="comm">These probably felt 
                that the criticisms of the Pharisees were unjust, and wished that Jesus might 
                put them to silence by showing some great sign, such as the pillar of cloud 
                which sanctioned the guidance of Moses, or the descending fire which vindicated 
                Elijah.</span>)  

        </p>



        <p align="left" class="style4"><span class="style5">Mark 3: 23</span>   And he called them unto him (<span class="comm">thus 
                singling out his accusers</span>),  

        </p>



        <p align="left" class="style4"><span class="style5">Matthew 12: 25</span>   And {<span class="style5">Luke 11: 17</span><span class="style7"> </span>But}  knowing their thoughts he 
            said unto them,  in parables (<span class="comm">We shall find that 
                Jesus later replied to those who sought a sign. He here answers his accusers in 
                a fourfold argument. First argument:</span>), How can Satan cast out 
            Satan?  Every kingdom divided against itself is brought 
            to desolation; and every city or house (<span class="comm">family</span>) divided against itself 
            shall not stand:  

        </p>



        <p align="left" class="style4"><span class="style5">Mark 3: 24</span>  And if a kingdom be 
            divided against itself, that kingdom cannot stand.  A 
            house divided against a house 
            falleth. </p>


        <p align="left" class="style4"><span class="style5">25</span>  And if a kingdom be 
            divided against itself, that kingdom cannot stand.  A 
            house divided against a house 
            falleth. 




            And if a house be divided 
            against itself, that house will not be able to stand.}
        </p>



        <p align="left" class="style4"><span class="style5">26</span>

            And if Satan cast out Satan, he is divided against himself;

        </p>



        <p align="left" class="style4"><span class="style5">Luke 11: 18</span>   And if Satan also is 

            divided against himself,  how then shall his kingdom 
            stand?  


        </p>



        <p align="left" class="style4"><span class="style5">Matthew 12: 26</span>   And if Satan hath risen up 
            against himself, and is divided, he cannot stand, but hath an end.  because ye say that I cast out demons by Beelzebub. (<span class="comm">The 
                explanation given by the Pharisees represented Satan as divided against 
                himself; robbing himself of his greatest achievement; namely, his triumph over 
                the souls and bodies of men. Jesus argues, not that Satan could not do 
                this, but that he would not, and that therefore the explanation which 
                supposes him to do it is absurd. We should note that Jesus here definitely 
                recognizes two important truths: 1. That the powers of evil are organized into 
                a kingdom with a head (<span class="comm"><span class="style7">Matthew 13: 29; 25: 41; Mark 4: 15; Luke 22: 31</span></span>). 2. That division tends to destruction. 
                His argument therefore, "constitutes an incidental but strong argument 
                against sectarianism. See <span class="style7">1 Corinthians 1: 13</span>
                " (<span class="comm">Abbott</span>). Second argument:</span>) 

        </p>



        <p align="left" class="style4"><span class="style5">Luke 11: 19</span>  And if I by Beelzebub cast out 
            demons, by whom do your sons cast them out? Therefore shall they be your 
            judges. (<span class="comm">The sons of the Pharisees were not their children, but their 
                disciples (<span class="comm"><span class="style7">2 Kings 2: 3; Acts 19: 13, 14</span></span>). Josephus mentions these exorcists (<span class="comm">Ant. 8: 2, 5, and Wars 
                    7: 6, 3</span>), and there is abundant mention of them in later rabbinical books. 
                Our Lord's reference to them was merely for the purpose of presenting an 
                argumentum ad hominem, and in no way implies that they exercised any 
                real power over the demons; nor could they have done so in any marked 
                degree, else the similar work of Christ would not have created such an 
                astonishment. The argument therefore is this, I have already shown you that it 
                is against reason that Satan cast out Satan; I now show you that it is 
                against experience. The only instances of dispossession which you can 
                cite are those of your own disciples. Do they act by the power of Satan? They 
                therefore shall be your judges as to whether you have spoken rightly in saying 
                that Satan casts out Satan. Third argument:</span>) 

        </p>



        <p align="left" class="style4"><span class="style5">20</span>   But if I with the finger 
            {by the Spirit} of God cast out demons, then is the 
            kingdom of God come upon you. (<span class="comm">The finger of God signifies the power of God 


                (<span class="comm"><span class="style7">Exodus 8: 19; 31: 18; Psalms 8: 3</span></span>). (<span class="comm">Jesus exercised this power in unison with the Spirit of God. 
                    Jesus here draws a conclusion from the two arguments presented. Since he does 
                    not cast out by Satan, he must cast out by the power of God, and therefore his 
                    actions demonstrated the potential arrival of the kingdom of God. The 
                    occasional accidental deliverance of exorcists might be evidence of the flow 
                    and ebb of a spiritual battle, but the steady, daily conquests of Christ over 
                    the powers of evil presented to the people the triumphant progress of an 
                    invading kingdom. It is an argument against the idea that there was a collusion 
                    between Christ and Satan. Fourth argument:</span>)   

        </p>



        <p align="left" class="style4"><span class="style5">21</span>   When the strong man fully armed 
            guardeth his own court, his goods are in peace: 

        </p>

        <p align="left" class="style4"><span class="style5">22</span>   but when a 
            stronger than he shall come upon him, and overcome him, he taketh from him his 
            whole armor wherein he trusted, and divided his spoils. 



        </p>


        <p align="left" class="style4"><span class="style5">Mark 3: 27</span> But no one can { <span class="style5">Matthew 12: 29</span> Or how can one} enter into the house of the strong man, and spoil his goods, except he first bind the strong man? and then will he spoil his house. (<span class="comm">Satan is the strong man, his house the body of the demoniac, and his goods the evil spirit within the man. Jesus had entered his house, and robbed him of his goods; and this proved that, instead of being in league with Satan, he had overpowered Satan. Thus Jesus put to shame the Pharisees, and caused the divinity of his miracle to stand out in clearer light than ever. The power of Jesus to dispossess the demon was one of his most convincing credentials, and its meaning now stood forth in its true light.</span>)</p>




        <p align="left" class="style4"><span class="style5">Matthew 12: 30</span> He that is not with me is against me; and he that gathereth not with me scattereth 
            abroad. (<span class="comm">Jesus here addresses the bystanders. In the spiritual conflict 
                between Jesus and Satan, neutrality is impossible. There are only two kingdoms, 
                and every soul is either in one or the other, for there is no third. Hence one 
                who fought Satan in the name of Christ was for Christ (<span class="comm"><span class="style7">Luke 9: 50</span></span>). In the figure of gathering and scattering, the 
                people are compared to a flock of sheep which Jesus would gather into the fold, 
                but which Satan and all who aid him (<span class="comm">such as the Pharisees</span>) would 

                scatter and destroy.</span>)   


        </p>


        <p align="left" class="style4"><span class="style5">Mark 3: 28</span>   Verily              </p>



        <p align="left" class="style4"><span class="style5">Matthew 12: 31</span>   Therefore I say unto you, Every sins and blasphemy 
            {all their sins} shall be forgiven unto the sons of 
            men, and their blasphemies wherewith soever they shall blaspheme (<span class="comm">Jesus 
                here explains to the Pharisees the awful meaning of their enmity. Blasphemy is 
                any kind of injurious speech. It is the worst form of sin, as we see by this 
                passage. This does not declare that every man shall be forgiven all his sins, 
                but that all kinds of sin committed by various men shall be forgiven. The 
                forgiveness is universal as to the sin, not as to the men</span>):but the blasphemy against the Spirit shall not be forgiven.

        </p>



        <p align="left" class="style4"><span class="style5">32</span>   And whosoever shall speak a word against the Son of 
            man, it shall be forgiven him; but whosoever shall speak {blaspheme} against the Holy Spirit hath never forgiveness, but is guilty 
            of an eternal sin:  it shall not be forgiven him, 
            neither in this world, nor in that which is to come.


        </p>



        <p align="left" class="style4"><span class="style5">Mark 3: 30</span>   because they said, He hath an unclean spirit. (<span class="comm">Blasphemy 
                against the Son may be a temporary sin, for the one who commits it may be 
                subsequently convinced of his error by the testimony of the Holy Spirit and 
                become a believer (<span class="comm"><span class="style7">1 Timothy 1: 13</span></span>). But 
                blasphemy against the Holy Spirit is in its nature an eternal sin, for if one 
                rejects the evidence given by the Holy Spirit and ascribes it to Satan, he 
                rejects the only evidence upon which faith can be based; and without faith 
                there is no forgiveness. The difference in the two sins is therefore in no way 
                due to any difference in the Son and Spirit as to their degrees of sanctity 
                or holiness. The punishment is naturally eternal because the sin is 
                perpetual. The mention of the two worlds is, "just an extended way of 
                saying 'never'" (<span class="comm">Morison</span>). Some assert that the Jews would not 
                know what Jesus meant by the Holy Spirit, but the point is not so well taken. See <span class="style7">Exodus 31: 3; Numbers 11: 26; 1 Samuel 10: 10; 19: 20; Psalms 139: 7; 143: 10; Isaiah 48: 16; Ezekiel 11: 24</span>. We see by Mark's statement that blasphemy 
                against the Spirit consisted in saying that Jesus had an unclean spirit, that 
                his works were due to Satanic influence, and hence wrought to 

                accomplish Satanic ends. We can not call God Satan, nor the Holy Spirit a 
                demon, until our state of sin has passed beyond all hope of reform. One can not 
                confound the two kingdoms of good and evil unless he does so maliciously and 
                willfully.</span>)   

        </p>



        <p align="left" class="style4"><span class="style5">Matthew 12: 33</span> Either make the tree good, and its fruit good, or make the tree corrupt, and its fruit corrupt: for the tree is known by its fruit. (<span class="comm">The meaning and connection are: &quot;Be honest for once; represent the tree as good, and its fruit as good, or the tree as evil, and its fruit as evil; either say that I am evil, and that my works are evil, or, if you admit that my works are good, admit that I am good also and not in league with Beelzebub&quot;--Carr.</span>)

        </p>



        <p align="left" class="style4"><span class="style5">34</span>   Ye offspring of vipers, 
            how can ye, being evil, speak good things? for out of the abundance of the 
            heart the mouth speaketh. (<span class="comm">Realizing the hopelessness of this attempt to 
                get an honest judgment out of dishonest hearts, Jesus plainly informs them as to the condition of their hearts. Their very souls were full of poison like 
                vipers. Their sin lay not in their words, but in a condition of heart which 
                made such words possible. The heart being as it was, the words could not be 
                otherwise. "What is in the well will be in the bucket"--Trapp.</span>) 


        </p>



        <p align="left" class="style4"><span class="style5">35</span>   The good man out of his good treasure bringeth forth good 
            things: and an evil man out of the evil treasure bringeth forth evil things.
            (<span class="comm">We have here a summary of the contrast given in the two preceding verses. The good heart of Jesus brought forth 
                its goodness, as the evil hearts of the Pharisees brought forth their evil.</span>) 

        </p>



        <p align="left" class="style4"><span class="style5">36</span>   And I say unto you, That every idle word that men shall speak, they shall 
            give account thereof in the day of judgment. 


        </p>



        <p align="left" class="style4"><span class="style5">37</span>   For by thy words 
            thou shalt be justified, and by thy words thou shalt be condemned. (<span class="comm">It may 
                have seemed to some that Jesus denounced too severely a saying which the 
                Pharisees had hastily and lightly uttered. But it is the word inconsiderately 
                spoken which betrays the true state of the heart. The hypocrite can talk like 
                an angel if he be put on notice that his words are heard. Jesus here makes 
                words the basis of the judgment of God. Elsewhere 

                we find it 
                is works (<span class="comm"><span class="style7">Romans 2: 6; 2 Corinthians 5: 10</span></span>), and again we find it is faith (<span class="comm"><span class="style7">Romans 3: 28</span></span>). There is no confusion here. The judgment in its finality 
                must be based upon our character. Our faith forms our character, and our 
                words and works are indices by which we may determine what manner of character 
                it is.</span>)

        </p>
    </div>


</ion-content>