<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>116. JESUS' TRIUMPHAL ENTRY.</h3>
        <h3>(<span class="comm">FROM BETHANY TO JERUSALEM AND BACK, <br>SUNDAY, APRIL 2, A.D. 30.</span>)</h3>
        <h3>MATTHEW 21: 1-12, 14-17;  MARK 11: 1-11;  <br>LUKE 19: 29-44;  JOHN 12: 12-19.</h3>
        <p align="left" class="style4"><span class="style5">Luke 29: 29</span>  And 

        </p>



        <p align="left" class="style4"><span class="style5">John 12: 12</span>   On 
            the morrow (<span class="comm">after the feast in the house of Simon the leper</span>)   
            it came to pass, when he he drew nigh unto Bethphage and Bethany, at the 
            mount that is called Olivet, </p>


        <p align="left" class="style4"><span class="style5">Matthew 21: 1</span>  And when they came nigh unto 

            Jerusalem, and came unto 
            Bethphage unto {at}  the 
            mount of Olives (<span class="comm">The name, Bethphage, is said to mean house of figs, 
                but the derivation is disputed. Canon Cook and others think that the region on 
                the eastern slope of Olivet was called Bethphage, and that Bethany was located 
                in it. If it was a village, all trace of it has long since vanished, and it is 
                not worth while to give the guesses and surmises of commentators as to its 
                location. But it was evidently near Bethany</span>), then Jesus sent {sendeth} two of his {the} 
            disciples, </p>



        <p align="left" class="style4"><span class="style5">2</span>   and saith {<span class="style7">2</span> saying} unto them, Go your way into the village (<span class="comm">probably Bethphage, for Jesus started from Bethany</span>) that is over against you, and straightway as ye enter into it, ye shall find an ass tied, and a colt tied, with her: whereon no man ever sat; loose him, {them, }and bring him. {them } unto me. (<span class="comm">Numerous Scripture references show that the ass was held in high estimation in the East. The sons of the judges used them, and David's mule was used at the coronation of Solomon (<span class="comm"><span class="style7">Judges 10: 4; 1 Kings 1: 33</span></span>). It is specifically 
                stated that no man had ever sat upon this colt, for if the colt had been used 
                by men it would have been unfit for sacred purposes--<span class="style7">Numbers 19: 2; Deuteronomy 21: 3; 1 Samuel 6: 7.</span></span>) 

        </p>



        <p align="left" class="style4"><span class="style5">3</span>   And if any one 
            say aught unto you, 

        </p>



        <p align="left" class="style4"><span class="style5">Luke 29: 31</span>    And if any one 
            ask you, {say unto you,} Why do ye this?  Why do ye loose him? thus shall ye say, The Lord hath need of 
            him. {them;}  and straightway 
            he will send him. {them.}  
            back hither. (<span class="comm">The owner of the ass was no doubt a disciple or well-wisher 
                of Jesus, and therefore readily consented to respond to the Master's need. Such 
                a well-wisher might readily be found in a multitude ready to lay their garments 
                in the road to honor Christ. The words "send him back" are usually 
                construed to be a promise on the part of Christ that he would return the colt 
                when through with him. But such a promise seems rather out of keeping with the 
                dignity of the occasion. We prefer to construe the words as referring to the 
                movements of Christ's two messengers from the neighborhood of Bethany to 
                Bethphage and back again, or to a backward 

                movement along the 
                caravan's line of march.</span>) </p>



        <p align="left" class="style4"><span class="style5">Matthew 21: 4</span>  Now this is come to 
            pass, that it might be fulfilled which was spoken through the prophet, 
            saying, </p>


        <p align="left" class="style4"><span class="style5">5</span>
            Tell ye the daughter of Zion (<span class="comm">the poetical name for 
                the city of Jerusalem</span>), Behold, thy King cometh unto thee, Meek, and 
            riding upon an ass, And upon a colt the foal of an ass. (<span class="comm">The prophecy is a 
                combination of <span class="style7">Isaiah 63: 11 and Zechariah 9: 9</span>. This is the only instance in which Jesus rode. He entered in 
                meekness, for the ass was a symbol of peace as the horse was of war (<span class="comm"><span class="style7">Job 39: 19-25</span></span>), but there was 
                nothing degrading about riding such a beast. The Eastern ass is smaller, but 
                livelier, and better framed than the specimens found in our country. They 
                constituted a chief asset in the property of the wealthy--<span class="style7">Genesis 12: 16; 30: 43; Job 42: 12; 1 Chronicles 27: 30; 1 Kings 1: 38.</span></span>) 
        </p>

        <p align="left" class="style4"><span class="style5">6</span>
            And the disciples {they} that were sent away,  and did even as Jesus 
            appointed them,  and found even as he had said unto 
            them  a colt tied at the door without in the open 
            street (<span class="comm">the streets being narrow, one would very seldom see an ass tied in 
                one</span>); and they loose him.  

        </p>



        <p align="left" class="style4"><span class="style5">Luke 29: 33</span>   And as they were loosing the colt,  
            certain of them that stood there  the owners thereof 
            said unto them, Why loose ye the colt?  What do ye, 
            loosing the colt? </p>


        <p align="left" class="style4"><span class="style5">Mark 11: 6</span>  And they said unto them even as 
            Jesus had said: and they let them go. </p>

        <p align="left" class="style4"><span class="style5">7</span>  And they bring {brought} the ass, and the colt, 
            {him}  unto Jesus,and put on them their garments (<span class="comm">The garments were the loose 
                cloaks worn over the tunics or shirts. This cloak survives in the abba or hyke 
                of the modern Arab. The unbroken colt would of course have no saddle, and these 
                loyal disciples lent their cloaks to supply the deficiency, and to do Jesus 
                royal honor. Compare the enthronement of Jehu (<span class="comm"><span class="style7">2 Kings 9: 13</span></span>). They prepared both beasts, not knowing which he would 
                choose to ride</span>);  and they threw {cast}  their garments upon the colt, and 
            set Jesus thereon.  and he sat thereon. {upon him.}  a great multitude that had 
            come to the feast, when they heard that Jesus was coming to 

            Jerusalem, 


        </p>



        <p align="left" class="style4"><span class="style5">John 12: 13</span>   took the branches of the palm trees, and went forth 
            to meet him (<span class="comm">Palm-trees were never abundant in Palestine, but there were 
                many around Jericho, through which city these Galilean pilgrims had so recently 
                come. They were date palms, the leaves of which were often ten feet in length. 
                They are now comparatively rare, but are found in the plains of Philistia. The 
                palm branch is emblematic of triumph and victory--<span class="style7">Leviticus 23: 40; Revelation 7: 9</span>; 1 Maccabbees 13: 51; 2 Maccabbees 10: 7</span>), and cried out, Hosanna: Blessed 
            is he that cometh in the name of the Lord, even the King of 
            Israel (<span class="comm">The shouting appears to have been started by those who came out of 
                Jerusalem; it is evident, therefore, that the apostles who were approaching the 
                city with Jesus had nothing to do with inciting this praise.</span>) 

        </p>



        <p align="left" class="style4"><span class="style5">14</span>   And Jesus 
            having found a young ass, sat thereon; as it is written, 

        </p>



        <p align="left" class="style4"><span class="style5">15</span>  Fear 
            not, daughter of Zion: behold, thy King cometh, sitting on an ass's colt.

        </p>




        <p align="left" class="style4"><span class="style5">16</span>  These things understood not his disciples at the first: but when 
            Jesus was glorified, then remembered they that these things were written of 
            him, and that they had done these things unto him. (<span class="comm">The apostles were not 
                conscious that the prophecies were being fulfilled nor did they understand that 
                Jesus was approaching a heavenly rather than an earthly coronation. But after 
                Jesus was glorified, their understandings were spiritually illuminated 
                (<span class="comm"><span class="style7">John 16: 13</span></span>). They not only 
                remembered the prophecy, but saw in what sense it was that Jesus was king, and 
                how badly mistaken they had been when they expected him to antagonize the 
                Romans. The greatness of her king would have removed all cause for fear if 
                Jerusalem had but accepted him.</span>) 

        </p>



        <p align="left" class="style4"><span class="style5">17</span>   The multitude therefore that was with 
            him when he called Lazarus out of the tomb, and raised him from the dead, bare 
            witness. (<span class="comm">The two parts of the miracle--the calling and the 
                raising--are both mentioned as alike impressive, sublime, and wonderful.</span>) 

        </p>


        <p align="left" class="style4"><span class="style5">18</span>   For this cause also the multitude went and met him, for that they heard 
            that he had done this sign. (<span class="comm">It is evident from this that the testimony of 
                those who 

                witnessed the raising of Lazarus had enthused the 
                pilgrims in Jerusalem and had sent a large band of them forth charged with that 
                ardent admiration which produced the shouting of the triumphal entry.</span>) 

        </p>


        <p align="left" class="style4"><span class="style5">19</span>   The Pharisees therefore said among themselves, Behold how ye prevail nothing: 
            lo, the world is gone after him. (<span class="comm">Again, as at <span class="style7">John 11: 47-49</span>, we notice the self-confessed 
                impotency of the Pharisees, but the Sadducees, under the determined and more 
                resolute leadership of Caiaphas, did not participate in this despair. The 
                Pharisees speak of the world as if its acquisition by Jesus was their loss.</span>) 


        </p>



        <p align="left" class="style4"><span class="style5">Luke 29: 36</span>   And as he went,  the most 
            part of the multitude {many} (<span class="comm">Matthew would have 
                us know that the demonstration was no small affair, but was well-nigh 
                universal. Josephus estimates that the number present at one passover was three 
                million, or about one-half the population of Jud&aelig;a and Galilee. The 
                language of the Pharisees in <span class="style7">John 12: 19</span> above--"the world"--shows that there must 
                have been indeed an immense multitude. The people had always been ready to 
                acknowledge Jesus as king, and, seeing that he had now an evident disposition 
                to accept their homage, they hastened to render it</span>) spread their garments 
            {in}  the way; and others
            spread  branches,in the way.  which they {cut}  had cut from the fields. {
            trees,} (<span class="comm">It has been the custom of all lands to bestrew 
                in some manner the pathway of those who are thought worthy of the highest 
                honor. When Lafayette visited our fathers after the Revolution, the roads over 
                which he approached our cities were strewn with flowers. Thus over flowers 
                Alexander entered Babylon, and Xerxes crossed the bridge of the Hellespont over 
                a myrtle-strewn pathway. Monier tells of a Persian ruler who in modern times 
                made his honored progress over a road for three miles covered with roses. But 
                it is more natural to contrast the entry of Jesus with the Roman triumphs so 
                popular in that day. The wealth of conquered kingdoms was expended to insure 
                their magnificence. We find none of that tinsel and specious glitter in the 
                triumph of Christ. No hired multitudes applaud him; no gold-broidered banners 


                wave in his honor. There is nothing here but the lusty, honest 
                shout of the common people, and the swaying of the God-made banners of the 
                royal palms. The rich in purse, the learned in schoolcraft and the high in 
                office were, as usual, not there--<span class="style7">1 Corinthians 1: 26.</span></span>)   

        </p>



        <p align="left" class="style4"><span class="style5">37</span>   And as he was now drawing 
            nigh, even at the descent of the 
            mount of Olives, the whole multitude of the disciples began to rejoice and 
            praise God with a loud voice for all the mighty works which they had seen 
            (<span class="comm">John has shown us just above that the raising of Lazarus was most prominent in 
                their thoughts</span>);  
        </p>


        <p align="left" class="style4"><span class="style5">Matthew 21: 9</span>
            The multitudes that went 
            before him, and that followed (<span class="comm">Jesus approached the city leading a 
                multitude of pilgrims, and we have seen from John's account above that another 
                multitude came out of the city to meet him: Jesus approached the city between 
                two great multitudes.</span>) cried, saying,  Hosanna 
            (<span class="comm">This is the Greek form or spelling of two Hebrew words, Hoshiah-na, which 
                means, Save now, or, Save, I pray, na being a particle of entreaty added to 
                imperatives. The two words are taken from <span class="style7">Psalms 118: 25</span>, which was recognized as the Messianic Psalm. The shout 
                "Hosanna" was customarily used at the feast of the tabernacles and 
                the other festivals. It was a shout of exaltation about equivalent to 
                "Salvation"</span>);  Hosanna to the Son of 
            David (<span class="comm">see p. 357</span>): blessed is
            he that cometh in the name of the Lord (<span class="comm"><span class="style7">Psalms 118: 26</span></span>);  blessed
            is the King that cometh in the name 
            of the Lord:  

        </p>



        <p align="left" class="style4"><span class="style5">Mark 11: 10</span>  blessed is the kingdom that cometh, the kingdom of our father David:  peace in heaven, and glory in the highest.  
            Hosanna in the highest. (<span class="comm">This phrase is taken to mean in the highest 
                degree or highest strains or in the highest heavens. It is likely they were 
                calling upon heaven to participate in glorifying and to ratify their shouts of 
                salvation. The Evangelists give us the various cries of the multitude, for they 
                did not all cry one thing. The cries, if seriously construed, were a 
                fore-recognition of the Messiahship of Jesus, but popular cries are soon caught 
                up and are as fickle as the impulses which beget them. But the public 
                recognition of the Messiahship of Jesus gave 

                weight to the 
                accusation made by Simon Peter on the day of Pentecost that they had slain the 
                Messiah--<span class="style7">Acts 2: 36.</span> Comp. 
                <span class="style7">Acts 3: 14, 15.</span></span>)  


        </p>



        <p align="left" class="style4"><span class="style5">Luke 29: 39</span>   And some of the Pharisees from the multitude (<span class="comm">not a committee 
                sent from Jerusalem for that purpose</span>) said unto him, Teacher, rebuke thy 
            disciples. (<span class="comm">It is possible that these may have been moved with an honest 
                fear that the enthusiasm of the people would call down the vengeance of the 
                Romans (<span class="comm"><span class="style7">John 11: 48</span></span>), but it is more 
                likely that they were prompted solely by envy.</span>) 


        </p>



        <p align="left" class="style4"><span class="style5">40</span>   And he answered and said, 
            I tell you that, if these shall hold their peace, the stones will cry out. 
            (<span class="comm">The expression is probably proverbial (<span class="comm"><span class="style7">Habakkuk 2: 11</span></span>). The meaning is that the occasion of the great King's visit to 
                his city (<span class="comm"><span class="style7">Matthew 5: 35</span></span>) was so momentous 
                that, if man withheld his praise, inanimate nature would lend its 
                acclamations.</span>) 


        </p>


        <p align="left" class="style4"><span class="style5">41</span>   And when he drew nigh, he saw the city and wept over 
            it, 

        </p>



        <p align="left" class="style4"><span class="style5">42</span>  saying, If thou hadst known in this day, even thou, the 
            things which belong unto peace! but now they are hid from thine eyes. (<span class="comm">The 
                summit of Olivet is two hundred feet higher than the nearest part of the city 
                of Jerusalem and a hundred feet higher than its farthest part, so that the Lord 
                looked upon the whole of it as one looks upon an open book. As he looked upon 
                it he realized the difference between what his coming might mean to it and what 
                it did mean to it; between the love and gratitude which his coming should have 
                incited and the hatred and violence which it did incite; between the 
                forgiveness, blessing and peace which he desired to bring it and the judgment, 
                wrath and destruction which were coming upon it. The vision of it all excited 
                strong emotion, and the verb used does not indicate silent tears, but audible 
                sobbing and lamentation. The day then passing was among the last before the 
                crucifixion, which would present to the Jews a strong motive for repentance. 
                Had Jerusalem hearkened unto Jesus then, he would have saved her from that 
                self-exaltation which proved her ruin. But bigotry and prejudice blinded her 
                eyes.</span>) 

        </p>



        <p align="left" class="style4"><span class="style5">43</span>   For the days shall come upon thee, when thine enemies shall cast 
            up a bank about thee, and compass thee round, 

            and keep thee 
            in on every side. (<span class="comm">from where Jesus then stood he could see the houses 
                which were to be thrown down, he could locate the embankments which would be 
                built, and he could trace almost every foot of the line of the wall by which 
                Titus in his anger girdled the city when his embankments were burned--Jos. 
                Wars 5: 6. 2, 11. 4-6, 12. 1, 2</span>), 


        </p>



        <p align="left" class="style4"><span class="style5">44</span>  and shall dash thee to the 
            ground, and thy children within thee (<span class="comm">the city is figuratively spoken of as 
                a mother, and her citizens as her children</span>); and they shall not leave 
            in thee one stone upon another; because thou knewest not the time of thy 
            visitation. (<span class="comm">The term "visitation" usually refers to a season 
                of judgment, but here, as elsewhere also (<span class="comm"><span class="style7">Exodus 4: 31</span></span>), it means a season of grace. To not leave one stone upon another 
                is a proverbial expression descriptive of a complete demotion, but in the 
                overthrow of Jerusalem it was well-nigh literally fulfilled. Thus, while the 
                people rejoiced in the present triumph, the prophetic eye and ear of our Lord 
                beheld the judgments which were coming upon the city, heard the bitter cry of 
                the starved defenders during the siege, the screams of the crucified left to 
                perish upon their crosses after its capture, all ending in the final silence of 
                desolation when not one stone was left upon another.</span>)   


        </p>



        <p align="left" class="style4"><span class="style5">Mark 11: 11</span>   And he entered into Jerusalem (<span class="comm">his route led him down the steep face 
                of Olivet, past Gethsemane, across the stone bridge which spans the Kedron, and 
                up the slope of Moriah to the eastern gate of the city</span>),
        </p>



        <p align="left" class="style4"><span class="style5">Matthew 21: 10</span>   And when he was come into Jerusalem, all the city was stirred, 
            saying, Who is this? </p>


        <p align="left" class="style4"><span class="style5">11</span>  And the multitude said, This is the 
            prophet Jesus, from Nazareth of Galilee. </p>


        <p align="left" class="style4"><span class="style5">12</span>   And Jesus entered into 
            the temple of God (<span class="comm">here Matthew tells of the cleansing of the temple, which 
                evidently occurred the next day</span>), 


        </p>



        <p align="left" class="style4"><span class="style5">14</span>   And the blind and the lame came 
            to him in the temple; and he healed them. 

        </p>



        <p align="left" class="style4"><span class="style5">15</span>   But when the chief 
            priests and scribes saw the wonderful things that he did, and the children that 
            were crying in the temple and saying, Hosanna to the Son of David; they were 
            sore displeased, 


        </p>



        <p align="left" class="style4"><span class="style5">16</span>  and said unto him, Hearest thou what 

            these say? And Jesus saith unto them, Yea; did ye never read 
            (<span class="comm"><span class="style7">Psalms 8: 2</span> as rendered by the LXX.</span>)
            , Out of the mouth of babes and sucklings thou hast perfected praise?
            (<span class="comm">Matthew mingles this scene with events which apparently occurred on Monday, 
                but the enthusiasm and the Hosanna cry evidently belonged to the triumphant 
                Sunday. The presence of our Lord in the temple should, indeed, have been 
                heralded with joy, for as that was the day in which the paschal lamb was 
                presented and set apart, it was fitting that Christ our passover should be 
                presented there amidst rejoicing.</span>)   and when he had looked 
            round about upon all things, it being now eventide. (<span class="comm">a general expression 
                covering the period both before and after sunset</span>),  
            he left them, and went forth out of the city  unto 
            Bethany with the twelve  and lodged there. (<span class="comm">Having 
                inspected the temple as his Father's house, Jesus withdrew from it, for in the 
                present state of rancor which fermented within his enemies it was not safe for 
                him to spend the night within Jerusalem.</span>)

        </p>




    </div> 


</ion-content>