<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>FIRST PASSOVER OF JESUS' MINISTRY</h3>
        <h3>(<span class="comm">JERUSALEM, APRIL 9 A.D. 27</span>).</h3>
        <h3>JOHN 2: 13-25.</h3>
        <p align="left" class="style4"><span class="style5">13</span> And the passover of the Jews was at hand (<span class="comm">We 
                get our information as to the length of our Lord's ministry from John's Gospel. 
                He groups his narrative around six Jewish festivals: 1, He here mentions the 
                first passover; 2, another feast, which we take to have been also a passover 
                (<span class="comm"><span class="style7">John 5: 1</SPAN></span>); 3, another passover (<span class="comm"><span class="style7">John 6: 4</SPAN></span>); 4, the feast of tabernacles (<span class="comm"><span class="style7">John 7: 2</SPAN></span>); 5, dedication (<span class="comm"><span class="style7">John 10: 22</SPAN></span>); 6, passover (<span class="comm"><span class="style7">John 11: 55</SPAN></span>). This gives the entire length of our Lord's ministry as three 
                years and a fraction</span>), and Jesus went up to Jerusalem. (<span class="comm">It was 
                fitting that he should enter upon his full ministry in this city, as it was 
                still the center of what was recognized as a heaven-revealed worship. The 
                fitness of Jerusalem for such beginnings was afterwards recognized in the 
                preaching of the gospel of the New or Christian dispensation--<span class="style7">Acts 1: 8</SPAN>.</span>) </p>

    </div>
</ion-content>