<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>19. FIRST MIRACLE.</h3>
        <h3>JOHN 2: 1-11.</h3>
        <p align="left" class="style4"><span class="style5">1</span> And the third day (<span class="comm">From the calling of Philip 
                (<span class="comm"><span class="style7">John 1: 43</span></span>). The days enumerated in 
                John's first two chapters constitute a week, and may perhaps be intended as a 
                contrast to the last week of Christ's ministry (<span class="comm"><span class="style7">John 12: 1</span></span>). It took two days to journey from the Jordan to Cana</span>) 
            there was a marriage (<span class="comm">In Palestine the marriage ceremony usually began 
                at twilight. The feast after the marriage was at the home of the bridegroom, 
                and was sometimes prolonged for several days (<span class="comm"><span class="style7">Genesis 
                        29: 27; Judges 14: 12</span></span>); but in this case it seems likely that 
                poverty limited the wedding feast to one day.</span>) in Cana of Galilee (<span class="comm">The 
                site of Cana is disputed. From the eighth century a place called Kefr-Kenna 
                (<span class="comm">village of Cana</span>), lying a little over three miles northeast of Nazareth, has 
                been 

                regarded as John's Cana of Galilee. But recently some ruins 
                called Khurbet-Cana, twelve miles north of Nazareth, which doubtfully are said 
                to have retained the name of Kana-el-Jilil (<span class="comm">Cana of Galilee</span>), have been 
                preferred by some as the true site. In our judgment Kefr-Kenna has the stronger 
                claim. It is situated on a westward slope of a hill, with a copious and 
                unfailing spring adjoining it on the southwest</span>); and the mother of 
            Jesus was there (<span class="comm">John never called our Lord's mother by her name. He 
                assumes that she is known to his readers. This is one of the many points 
                tending to show the supplemental character of John's Gospel. He avoids 
                repeating what is found in the first three Gospels</span>):

        <p align="left" class="style4"><span class="style5">2</span> and Jesus also 
            was bidden (<span class="comm">being the Creator of woman, and the author of matrimony, it was 
                fitting that the Son of God should grace a marriage feast with his presence</span>)
            , and his disciples, to the marriage. (<span class="comm">This is the earliest use of 
                the term "disciples" in the ministry of Jesus. His disciples were 
                Andrew, Peter, Philip, Nathanael, and probably John and James.</span>)

        <p align="left" class="style4"><span class="style5">3</span> And when 
            the wine failed (<span class="comm">Probably the arrival of Christ and his disciples helped to 
                exhaust the supply. Shortage of provision when guests are invited is considered 
                a sore humiliation the world over</span>), the mother of Jesus saith unto 
            him, They have no wine. (<span class="comm">The interest which Mary took in the feast and the 
                way in which she addressed the servants at <span class="style7">John 2:5</span>, suggests that she was a close friend of the bridegroom's family. 
                Though she merely states the unfortunate condition to Jesus, her statement is a 
                covert petition to him that would remedy it, as our Lord's answer shows. She 
                practically requested him to work a miracle, nor is it strange that she should 
                do this. Remembering the many early sayings about him which she had treasured 
                in her heart (<span class="comm"><span class="style7">Luke 2: 19, 51</span></span>), and 
                doubtless being informed of what had occurred at his baptism, and of the 
                proclamation which John the Baptist had made concerning him, and seeing a group 
                of disciples gathered about him, it was very reasonable for her to expect him 
                to do something which would reveal the high purposes for which he had been 
                born.</span>)

        <p align="left" class="style4"><span class="style5">4</span> And Jesus saith unto her, Woman, 

            what have I to 
            do with thee? (<span class="comm">Jesus did not call her "mother," but 
                "woman," a term of courteous respect, but indicating no spirit of 
                obedience. Says Augustine, "As much as to say thou art not the mother of 
                that in me which worketh miracles." Moses recognized that parental duties 
                were subordinate to divine (<span class="comm"><span class="style7">Deuteronomy 33: 
                        9</span></span>); and Jesus emphasized the principles (<span class="comm"><span class="style7">Matthew 10: 37</span></span>). Jesus taught that relationship to him was 
                spiritual, and not fleshly (<span class="comm"><span class="style7">Matthew 12: 
                        46-50</span></span>), and Paul coveted such relationship (<span class="comm"><span class="style7">2 Corinthians 5: 16-17</span></span>). The expression, "What 
                have I," etc., is used frequently in the Scriptures and invariably 
                indicates a mild rebuke (<span class="comm"><span class="style7">Judges 11: 12; 2 Samuel 
                        16: 10; 1 Kings 17: 18; 2 Kings 3: 13; Matthew 8: 29; Mark 1: 24; Luke 
                        8: 28</span></span>). It means, "leave me to act as I please," and 
                Jesus uses it to assert that he is independent of all human relationships in 
                the exercise of his Messiahship. It corrects two errors taught by the Catholic 
                Church: 1. Catholicism says that our Lord's mother was immaculate, but if this 
                were true she could not have incurred our Lord's rebuke. 2. Catholicism teaches 
                that Mary's intercession is recognized by Christ. But this is the only instance 
                on record of such intercession, and though it was addressed to Christ while in 
                the flesh and was concerning a purely temporal matter, it was promptly 
                rebuked.</span>) mine hour is not yet come. (<span class="comm">Our Lord's answer indicates that 
                Mary's request had in it more than a desire for the gift of wine. What she 
                principally wanted was to have Jesus manifest himself as Messiah. Now, Jesus 
                gave many secondary, but only one supreme, manifestation of his glory or 
                Messiahship. His miracles were secondary manifestations, but his Passion was 
                the supreme manifestation (<span class="comm"><span class="style7">John 8: 28; 2: 18-
                        19; Matthew 12: 38-40</span></span>). Jesus called this supreme sign his 
                "hour" (<span class="comm"><span class="style7">John 12: 23-27; 17: 1; 
                        Matthew 26: 45; Luke 22: 53;</span> see also <span class="style7">John 7: 30; 8: 20</span></span>). His mother sought for a supreme sign, but 
                at that time only a secondary sign could be fittingly given. The triumph at 
                Pentecost was not to be achieved at Cana.</span>)

        <p align="left" class="style4"><span class="style5">5</span> His mother saith unto the 
            servants (<span class="comm">though he had spoken words of rebuke, his mother was neither 
                offended nor discouraged 

                because of them</span>), Whatsoever he 
            saith unto you, do it. (<span class="comm">She commands unlimited obedience. Though her words 
                are not addressed to us, they will prove of untold profit to us if we obey 
                them.</span>)

        <p align="left" class="style4"><span class="style5">6</span> Now there were six waterpots of stone set there after the Jews' 
            manner of purifying (<span class="comm">The details of the account suggest that John was an 
                eye-witness. The Jews regarded themselves as ceremonially unclean if they did 
                not wash their hands before eating--<span class="style7">Matthew 15: 
                    2; Mark 7: 3-4</span></span>), containing two or three firkins 
            apiece. (<span class="comm">At Kefr-Kenna an old, one-story house near the lower edge of the 
                village is regarded by the Greeks as the one in which this wedding feast was 
                held. The room is a rude chapel, and at one side stand two old stone mortars, 
                one holding about eight gallons and the other about ten, now used for immersing 
                infants, but said by the attending priest to be two of the identical waterpots 
                here mentioned. The simple-minded old man was not aware that the six waterpots 
                held each two or three firkins apiece--between eighteen and twenty-seven 
                gallons, a firkin being nine gallons--or double the quantity of his 
                mortars. If he had known this, he might have chiseled out his mortars a little 
                deeper!</span>)

        <p align="left" class="style4"><span class="style5">7</span> Jesus saith unto them, Fill the waterpots with water. (<span class="comm">The 
                jars had been partially emptied by the ablutions of the company.</span>) And they 
            filled them up to the brim. (<span class="comm">This statement serves two purposes. 1. It 
                emphasizes the great quantity. 2. It shows there was no room to add anything 
                whatever to the contents of the jars. As to the quantity, it was between 106 
                and 162 gallons. As we do not know the number of guests nor the duration of the 
                feast, we can not accurately measure the Lord's bounty. But as twelve 
                basketfuls were left after feeding the five thousand, there was doubtless here 
                a like sufficiency, and the surplus would serve as an acceptable gift to the 
                married couple.</span>)

        <p align="left" class="style4"><span class="style5">8</span> And he saith unto them, Draw out now (<span class="comm">the word 
                "now" seems to indicate the turning-point when the water became 
                wine</span>), and bear unto the ruler of the feast. (<span class="comm">According to the 
                custom of that age, one of the guests was usually chosen to preside over such 
                festivities, and 

                he was called the ruler. Our modern toastmaster 
                is probably a relic of this ancient custom.</span>) And they bare it.

        <p align="left" class="style4"><span class="style5">9</span> And when the ruler of the feast tasted the water now become wine, and knew 
            not whence it was (<span class="comm">but the servants that had drawn the water knew</span>), the ruler 
            of the feast called the bridegroom,

        <p align="left" class="style4"><span class="style5">10</span> and saith unto him, Every 
            man setteth on first (<span class="comm">when the taste is sharpest, and most critical</span>) the 
            good wine (<span class="comm">the adjective "good" refers rather to flavor than to 
                strength</span>); and when men 
            have drunk freely (<span class="comm">The ruler was no disciple of Jesus, and he speaks in 
                the merry spirit of the world. He gives his own experience as to the habits of 
                feasts, and his words give no indication that those present indulged to 
                excess</span>), then that which is 
            worse: thou hast kept the good wine until now. (<span class="comm">It is part of Christ's 
                system to reserve the best until the last. Sin's first cup is always the 
                sweetest, but with God that which follows is ever superior to that which has 
                preceded it. As to the bearing of this miracle upon the question of temperance, 
                the New Testament elsewhere clearly condemns the immoderate use of wine, and as 
                these condemnations proceed from Christ we may rightly conceive of him, as in 
                this instance, doing nothing contrary thereto. The liquors of this land in the 
                strength of their intoxicating properties differ so widely from the light wines 
                of Palestine that even the most moderate use of them seems immoderate in 
                comparison. In creating wine Jesus did no more than as Creator and Renewer of 
                the earth he had always done. From the beginning God has always so created or 
                replenished the earth as to allow the possibility of excess.</span>)

        <p align="left" class="style4"><span class="style5">11</span> This 
            beginning of his signs did Jesus in Cana of Galilee, and manifested his 
            glory (<span class="comm">This was the beginning or first of the miracles, and John's 
                statement brands as false all the Catholic traditions which tell of miracles 
                performed by Christ in his childhood. We should note also that it was a sign. 
                The value of the miracle was in what it signified, not in what it wrought. It 
                manifested the glory of Christ, part of which glory is his power to change the 
                worse into the better, the simpler into the richer. It is the 

                glory of Christ that he can transform sinners into his own 
                likeness--<span class="style7">1 John 3: 2; 1 Corinthians 15: 42-44; Philippians 3: 20-21</span></span>); and his disciples 
            believed on him. (<span class="comm">In this chapter John as a disciple three times gives us a 
                disciple's point of view as to Christ's miracles; here, and at <span class="style7">John 2:22</span>. They implanted faith in those whose hearts were right 
                before God (<span class="comm"><span class="style7">John 5: 38</span></span>). The miracles 
                of Christ created widespread excitement. There had been none of a notorious 
                nature since Daniel had been cast to the lions, and had read the writing on 
                Belshazzar's wall some five hundred and eighty years before.</span>)</p>
    </div>

</ion-content>