<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>65D. FIRST PARABLES.</h3>
        <h3>(<span class="comm">BESIDE THE SEA OF GALILEE.</span>)</h3>
        <h3>THE PARABLE OF THE WEEDS.</h3>
        <h3>MATTHEW 13: 24-30.</h3>
        <p align="left" class="style4"><span class="style5">24</span> Another parable set he before them, saying, The 
            kingdom of heaven is likened unto a man that 

            sowed good 
            seed in his field:

        <p align="left" class="style4"><span class="style5">25</span> but while men slept (<span class="comm">while they 
                innocently rested, not while they were negligent</span>), his enemy came and 
            sowed tares (<span class="comm">darnel, which closely resembles our cheat</span>) also among the 
            wheat, and went away. (<span class="comm">Though not common, there have been instances of such 
                malignant mischief as is here indicated.</span>)

        <p align="left" class="style4"><span class="style5">26</span> But when the blade sprang up 
            and brought forth fruit, then appeared the tares also. (<span class="comm">The difference 
                between darnel and wheat does not become apparent until the two kinds of grain 
                are nearly ripe.</span>)

        <p align="left" class="style4"><span class="style5">27</span> And the servants of the householder came and said unto 
            him, Sir, didst thou not sow good seed in thy field? whence then hath it 
            tares?

        <p align="left" class="style4"><span class="style5">28</span> And he said unto them, An enemy hath done this. The 
            servants say unto him, Wilt thou then that we go and gather them up?

        <p align="left" class="style4"><span class="style5">29</span> But he saith, Nay; lest haply while ye gather up the tares, ye root up 
            the wheat with them.

        <p align="left" class="style4"><span class="style5">30</span> Let both grow together until the harvest: 
            and in the time of the harvest I will say to the reapers, Gather up first the 
            tares, and bind them in bundles to burn them; but gather the wheat into my 
            barn. (<span class="comm">The roots of wheat and darnel so intertwine that they can not be 
                separated without pulling up both. Jesus' explanation of this parable will be 
                found below in Section 65f.</span>)
    </div> 
</ion-content>