<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>67. JESUS HEALS TWO DEMONIACS.</h3>
        <h3>(<span class="comm">GERGESA, NOW CALLED KHERSA</span>)</h3>
        <h3>MATTHEW 8: 28-34; 9: 1;  MARK 5: 1-21; LUKE 8: 26-40.</h3>
        <p align="left" class="style4"><span class="style5">Mark 5: 1</span> And they came to the other side of the sea (<span class="comm">They 
                left in the "even," an elastic expression. If they left in the 
                middle of the afternoon and were driven forward by the storm, they would have 
                reached the far shore several hours before dark</span>), 

        <p align="left" class="style4"><span class="style5">Luke 8: 26</span> And they arrived at the country of the Gerasenes, which is over 
            against Galilee.  


        <p align="left" class="style4"><span class="style5">Matthew 8: 28</span> And 
            when he was come into the country of the Gadarenes.  


        <p align="left" class="style4"><span class="style5">Luke 8: 27</span> And when he was come forth  out of the 
            boat,  upon the land [<span class="comm">Midway between the north and 
                south ends of the lake, and directly east across the lake from Magdala, was the 
                little city of Gergesa. In front and somewhat to the south of this city Jesus 
                landed. Some sixteen miles away and to the southeast, and seven miles back from 
                the lake, was the well-known city of Gadara. Further on to the southeast, on 
                the borders of Arabia, and at least fifty miles from Gergesa, was the city of 
                Gerasa. The name Gerasenes is, therefore, probably an error of the transcribers 
                for Gergesenes, as Origen suggested. The region is properly called 
                "country of the Gadarenes," for Gadara was an important city, and 
                the stamp of a ship on its coins suggests that its territory extended to the 
                Lake of Galilee</span>),  straightway there met him out of 
            the tombs  a certain man out of the city 
            (<span class="comm">Gergesa</span>),  with an unclean spirit,  who had demons;  


        <p align="left" class="style4"><span class="style5">Mark 5: 3</span> who had 
            his dwelling in the tombs:  and abode not in
            any house, but in the tombs. 
            (<span class="comm">The sides of the mountain near the ruins of Gergesa are studded with natural 
                and artificial caves which were used as tombs.</span>)   and no 
            man could any more bind him, no, not with a chain; 

        <p align="left" class="style4"><span class="style5">4</span> because that 
            he had been often bound with fetters and chains, and the chains had been rent 
            asunder by him, and the 

            fetters broken in pieces: and no 
            man had strength to tame him. 



        <p align="left" class="style4"><span class="style5">5</span> And always, night and day, in the 
            tombs and in the mountains, he was crying out, and cutting himself with 
            stones. (<span class="comm">The natural spirit of the man seeking to throw off the dominion of 
                the demons would cry out in agony, and the demons themselves, in their own 
                misery, would use him as a vehicle to express their own grief. It would be hard 
                to imagine a more horrible state</span>)   and for a long time he 
            had worn no clothes,  

        <p align="left" class="style4"><span class="style5">6</span> and 
            when he saw Jesus from afar,  he cried out,he ran  and fell down before him,
            and worshipped him; 


        <p align="left" class="style4"><span class="style5">7</span> and crying out with a 
            loud voice, he saith, {said,} What have I to do with 
            thee (<span class="comm">on this phrase, see page 116</span>), Jesus, thou Son of the Most 
            High God? I beseech thee,  I adjure thee by God, 
            torment me no.  


        <p align="left" class="style4"><span class="style5">Luke 8: 29</span> For he was commanding 
            the unclean spirit to come out from the man. (<span class="comm">The demons showed the 
                supremacy of Jesus not only by their cries to be let alone, but by the fact 
                that they made no effort to escape from him. They ran to him, knowing that it 
                was useless to do otherwise.</span>)   


        <p align="left" class="style4"><span class="style5">Mark 5: 8</span> For he said unto him, 
            Come forth, thou unclean spirit, out of the man.  For 
            often-times he had seized him: and he was kept under guard, and bound with 
            chains and fetters; and breaking the bands asunder, he was driven of the demon 
            into the deserts.  

        <p align="left" class="style4"><span class="style5">9</span> And 
            he  Jesus asked him, What is thy name?And he saith {said}  
            unto him, My name is Legion: for we are many.  
            for many demons were entered into him. (<span class="comm">It is likely that Jesus asked the 
                sufferer his name wishing to assure him of sympathy, but the 
                demons in him had the floor and continued to do the talking. A legion was a 
                division of the Roman army containing from four to six thousand men. If Jesus 
                asked the demon its name, he did so that he might disclose this fact to his 
                disciples.</span>)  


        <p align="left" class="style4"><span class="style5">10</span> And he besought him much that he 
            would not send them away out of the country. (<span class="comm">As one mouth entreated for 
                many, Mark uses both the singular and the plural.</span>)   

        <p align="left" class="style4"><span class="style5">Luke 8: 31</span> And they entreated him that he would not 

            command them to 
            depart into the abyss. (<span class="comm">The abyss or bottomless pit was the proper abode of 
                the demons. It is mentioned nine times in Scripture: here and at 
                <span class="style7">Romans 10: 7; Revelation 9: 1, 2, 11; 11: 7; 17: 8; 20: 1, 3</SPAN>. How these demons escaped from the abyss is one of the unsolved 
                mysteries of the spirit world; but we have a parallel in the releasing of 
                Satan--
                <span class="style7">Revelation 20: 1-3</span>.</span>) 



        <p align="left" class="style4"><span class="style5">Matthew 8: 28b</span> And there met him two possessed with demons, 
            coming forth out of the tombs, exceeding fierce, so that no man could pass by 
            that way. (<span class="comm">Matthew tells of two, while Mark and Luke describe only one. 
                They tell of the principal one--the one who was the fiercer. In order to 
                tell of two, Matthew had to omit the name "legion," which belonged 
                to one; and conversely, Mark and Luke, to give the conversation with one, did 
                not confuse us by telling of two.</span>) 

        <p align="left" class="style4"><span class="style5">29</span> 
            And, behold, they cried out, saying, 
            What have we to do with thee, thou Son of God? art thou come hither to torment 
            us before the time? (<span class="comm">The judgment-day, the time of punishment and 
                torment--
                <span class="style7">Matthew 25: 41; 2 Peter 2: 4; Jude 6</span>.</span>)   


        <p align="left" class="style4"><span class="style5">Mark 5: 11</span> 
            Now there was thereafar off from them  on the mountain side 
            a great herd  of many swine feeding. 



        <p align="left" class="style4"><span class="style5">Matthew 8: 31</span> And the demons besought him,  and they 
            entreated him that he would give them leave to enter into them.saying, If thou cast us out, send us away into the herd of 
            swine.  that we may enter into them. 


        <p align="left" class="style4"><span class="style5">Mark 5: 13</span> 
            And he gave them leave.  


        <p align="left" class="style4"><span class="style5">Matthew 8: 32</span> 

            And he said unto them, Go. And they  the unclean 
            spirits  the demons came out of the man, and entered
            and went into the swine: and behold, the whole herd 
            rushed down the steep into the sea, {the lake,}
            in number about two 
            thousand; and they were drowned in the sea.  and 
            perished in the waters. (<span class="comm">About a mile south of Khersa a spur of the 
                mountain thrusts itself out toward the lake so that its foot is within forty 
                feet of the water line. This is the only spot on that side of the lake where 
                the mountains come near the water. The slope is so steep and the ledge at its 
                foot so narrow that a herd rushing down could not check itself before tumbling 
                into the water. 

                Skeptics have censured Jesus for permitting this 
                loss of property. God may recognize our property rights as against each other, 
                but he nowhere recognizes them in the realm of nature. What was done to the 
                swine was done by the demons, and the owners had no more right to complain than 
                they would have had if the herd had been carried off by murrain, by flood, or 
                by any other natural cause. All animals have a right to die, either singly or 
                in numbers. The demons evidently did not intend to destroy the swine. Their 
                desire to have live bodies to dwell in shows that they did not. But the 
                presence of the demons in their bodies made the hogs crazy, as it had the 
                demoniac, and they ran the way their noses were pointed at the moment. For 
                discussion of demoniacal possession, see page 167.</span>)   


        <p align="left" class="style4"><span class="style5">Luke 8: 34</span> And when they that fed them (<span class="comm">there being no fences in Palestine, 
                herds were invariably attended by herdsmen</span>) saw what had come to pass, they 
            fled, and told it in the city and in the country.  and 
            went away into the city, and told everything, and what was befallen to them 
            that were possessed with demons. 


        <p align="left" class="style4"><span class="style5">Matthew 8: 34</span> And, behold, all 
            the city came out to meet Jesus (<span class="comm">it was about half a mile from Khersa to 
                the seashore</span>):  And they came {
            went out}  to see what it was that had come to 
            pass. 

        <p align="left" class="style4"><span class="style5">Mark 5: 15</span> And they come {came}to Jesus,  and found {
            behold}  the man,  that 
            was possessed with demons  from whom the demons were 
            gone out, sitting, clothed and in his right mind,  
            even him that had the legion (<span class="comm">a 
                faint suggestion that there was another</span>):  at the 
            feet of Jesus: and they were afraid.  


        <p align="left" class="style4"><span class="style5">16</span> 
            And they saw it (<span class="comm">the herdmen</span>) declared unto them how it befell him that 
            was possessed with demons,  


        <p align="left" class="style4"><span class="style5">Luke 8: 36</span> And told 
            them how he that was possessed with demons was made whole.  
            and concerning the swine.  and when they saw 
            him,  

        <p align="left" class="style4"><span class="style5">37</span> All the people of the country of 
            the Gerasenes round about asked him  

        <p align="left" class="style4"><span class="style5">Mark 5: 17</span> 
            And they began to beseech {besought}him  that he would depart {to depart} from their borders.  from 
            them; for they were holden with great fear (<span class="comm">The loss 

                of the 
                swine moved them to a fear a further loss of property. To them the loss of 
                swine was more important than the recovery of a man. To this day, worldly 
                interests move men more than acts of mercy</span>): and he entered into a 
            boat.  


        <p align="left" class="style4"><span class="style5">18</span> And { <span class="style5">Luke 8: 38</SPAN> But}  as he was entering into the 
            boat, he that had been possessed with demons  the man 
            from whom the demons were gone out prayed him {
            besought him} that he might be with him. (<span class="comm">As a frightened child newly 
                wakened from a horrible dream clings to its parent, so the man clung to 
                Christ.</span>)   but he sent him away,

        <p align="left" class="style4"><span class="style5">19</span> And he suffered him not, but saith {
            saying,}  unto him, Go  



        <p align="left" class="style4"><span class="style5">Luke 8: 39</span> Return to thy house,  unto thy friends, and 
            tell them  and declare how great things God the Lord hath done for thee, and 
            how he had mercy on thee. (<span class="comm">Jesus departed, but left behind 
                him a witness whose very body was a living monument bearing testimony to 
                Christ's compassion and power. Jesus revisited this locality some months later. 
                See </span>
            <span class="style7">Mark 7: 31-37.</span>   and he went his way, publishing throughout the whole city 
            (<span class="comm">Gergesa</span>) how great things Jesus had done for him.  
            and began to publish in Decapolis how great things Jesus had done for him 
            (<span class="comm">for the cities which constituted Decapolis, see page 173</span>): and all 
            men marvelled. 

        <p align="left" class="style4"><span class="style5">Mark 5: 21</span> And when Jesus had crossed over again in the 
            boat unto the other side, a great multitude was gathered unto him: and he was 
            by the sea.  

        <p align="left" class="style4"><span class="style5">Luke 8: 40</span> And as Jesus returned, 
            the multitude welcomed him; for they were all waiting for him. (<span class="comm">They could 
                see the sail of his boat as he started back.</span>)   


        <p align="left" class="style4"><span class="style5">Matthew 9: 1</span> 
            And he came into his own city. (<span class="comm">Capernaum.</span>)
    </div> 


</ion-content>