<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>155. THE ASCENSION.</h3>
        <h3>MARK 16: 19, 20;  LUKE 24: 50-53;  ACTS 1: 9-12.</h3>
        <p align="left" class="style4"><span class="style5">Mark 16: 19</span> So then the Lord Jesus, after he had spoken unto 
            them,  

        </p>

        <p align="left" class="style4"><span class="style5">Acts 1: 9</span> And when he had said these 
            things,  he led them out until
            they were over against Bethany: and 
            he lifted up his hands, and blessed them.
        </p>

        <p align="left" class="style4"><span class="style5">Luke 24: 51</span> And it came to pass, while he blessed them, he parted from them (<span class="comm">it is significant that our Lord's gesture, when last seen of men, was one of blessing</span>), and as they were looking, he was taken {carried received} up into heaven. and a cloud received him out of their sight. and (<span class="comm">he</span>) sat down at the right hand of God.        </p>

        <p align="left" class="style4"><span class="style5">52</span> And they worshipped him,
        </p>

        <p align="left" class="style4"><span class="style5">Acts 1: 10</span> And while they were looking stedfastly into heaven as he went, behold, two men (<span class="comm">angels in human form</span>) stood by them in white apparel;</p>

        <p align="left" class="style4"><span class="style5">11</span> who also said, Ye men of Galilee, why stand ye looking into heaven? this Jesus, who was received up from you into heaven shall so come in like manner as ye beheld him going into heaven. (<span class="comm">Thus the angels add their testimony to the sureness of our Lord's promise that he will return.</span>)        </p>

        <p align="left" class="style4"><span class="style5">12</span> Then returned they unto Jerusalem from the mount called 
            Olivet,  with great joy;
        </p>

        <p align="left" class="style4"><span class="style5">Luke 24: 53</span> and were 
            continually in the temple, blessing God.
        </p>

        <p align="left" class="style4"><span class="style5">Mark 16: 20</span> And they went forth, and preached everywhere, the Lord working with them, 
            and confirming the word by the signs that followed. Amen.
        </p>



    </div> 


</ion-content>