<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>148. THIRD AND FOURTH APPEARANCES OF JESUS.</h3>
        <h3>(<span class="comm">SUNDAY AFTERNOON.</span>).</h3>
        <h3>MARK 16: 12, 13;  LUKE 24: 13-35;  1 CORINTHIANS 15: 5.</h3>
        <p align="left" class="style4"><span class="style5">Mark 16: 12</span> And after these things he was manifested in another form (<span class="comm">i. e., another manner</span>) unto two of them, as they walked, on their way into the country. 

        </p>

        <p align="left" class="style4"><span class="style5">Luke 24: 13</span> And behold, two of them were going that very day to a village named Emmaus (<span class="comm">Several sites have been suggested, but the village of Emmaus has not yet been identified beyond dispute. Its location is probably marked by the ruins called el Kubeibeh, which lies northwest of Jerusalem</span>), which was threescore furlongs from Jerusalem. (<span class="comm">el Kubeibeh is distant seven and thirteen-sixteenths of a mile, or sixty-two and one-half furlongs, from Jerusalem.</span>)

        </p>

        <p align="left" class="style4"><span class="style5">14</span> And they communed with each other of all these things which 
            had happened.
        </p>

        <p align="left" class="style4"><span class="style5">15</span> And it came to pass, while they communed and 
            questioned together, that Jesus himself drew near, and went with them.
        </p>

        <p align="left" class="style4"><span class="style5">16</span> But their eyes were holden that they should not know him. (<span class="comm">Jesus himself designedly restrained their vision, that, unlike John (<span class="comm"><span class="style7">John 20: 8, 9</span></span>), that might see the resurrection of Jesus in the Scriptures before they saw it in reality.</span>)        </p>

        <p align="left" class="style4"><span class="style5">17</span> And he said unto them, What communications are these that ye have one with another, as ye walk? And they stood still, looking sad. (<span class="comm">Our Lord's abrupt question brought them to a standstill. We may well imagine that they considered his interruption very unwelcome. But his kindly mien won their confidence and they tell him all.</span>)

        </p>

        <p align="left" class="style4"><span class="style5">18</span> And one of them, named Cleopas, answering said unto him, Dost thou alone sojourn in Jerusalem and not know the things which are come to pass there in these days? (<span class="comm">Of Cleopas nothing further is known. It has been suggested that the other disciple was Luke himself. This is possible, for the other Evangelists mention themselves thus impersonally. The preface to Luke's Gospel in no way forbids us to think that he had a personal knowledge of parts of Christ's ministry. Cleopas marveled that there could be a single man in Jerusalem who had not heard concerning the crucifixion, etc.</span>)

        </p>

        <p align="left" class="style4"><span class="style5">19</span> And he said unto them, What things? And they said unto him, The things 
            concerning Jesus the Nazarene, who was a prophet mighty in deed and word before 
            God and all the people: 

        </p>

        <p align="left" class="style4"><span class="style5">20</span> and how the chief priests and our 
            rulers delivered him up to be condemned to death, and crucified him. 

        </p>

        <p align="left" class="style4"><span class="style5">21</span> But we hoped that it was he who should redeem Israel. (<span class="comm">To Cleopas, redeeming Israel meant freeing the nation from the Roman yoke.</span>) Yea and besides all this, it is now the third day since these things came to pass.        </p>

        <p align="left" class="style4"><span class="style5">22</span> Moreover certain women of our company amazed us, having been early 
            at the tomb; 

        </p>

        <p align="left" class="style4"><span class="style5">23</span> and when they found not his body, they came, saying, that they had also seen a vision of angels, who said that he was alive. (<span class="comm">Rationalists might see their own reflection in these two disciples, who suppressed the statement of the women that they had seen the Lord as too idle to be repeated, and told the least marvelous part of their story--that about the angels--as too visionary to be credited. Thus the renowned Renan held that the resurrection was a story or fabrication which grew out of the hallucination of Mary Magdalene. But these two men on the way to Emmaus had less use for feminine hallucinations than even M. Renan. But in the end they believed in the resurrection because they themselves had substantial evidence of it.</span>)        </p>

        <p align="left" class="style4"><span class="style5">24</span> And certain of them that were with us (<span class="comm">Peter and John</span>) went to the tomb, and found it even so as the women had said: but him they saw not. (<span class="comm">The last clause unconsciously suggests the omitted fact that the women had professed to see Christ.</span>)

        </p>

        <p align="left" class="style4"><span class="style5">25</span> And he said 
            unto them, O foolish men, and slow of heart to believe in all that the prophets 
            have spoken! 

        </p>

        <p align="left" class="style4"><span class="style5">26</span> Behooved it not the Christ to suffer these 
            things, and to enter into his glory? 

        </p>

        <p align="left" class="style4"><span class="style5">27</span> And beginning from Moses and from all the prophets, he interpreted to them in all the scriptures the things concerning himself. (<span class="comm">The counsel of the Father revealed in the Scriptures shows that Jesus should enter into his glory through suffering. The books of Moses foretell Christ largely in types, such, as the passover, the rock in the wilderness, Abraham's sacrifice of Isaac, the day of atonement, etc., but the prophets show him forth in clear-cut predictions and descriptions. Jesus evidently applied both these divisions of Scripture to himself, making it plain to these two who were both thoughtless in mind and slow in heart. Those lacking in a knowledge of the Christology of the Old Testament are slow to believe in it. Those who know that Christology, and yet doubt the Old Testament, do so because they lack faith in the Christ therein portrayed.</span>)

        </p>

        <p align="left" class="style4"><span class="style5">28</span> And they drew nigh unto the village, whither they were going: 
            and he made as though he would go further.
        </p>

        <p align="left" class="style4"><span class="style5">29</span> And they constrained him, saying, Abide with us; for it is toward evening, and the day is now far spent. (<span class="comm">They were loth to part with this delightful stranger who by his wonderful use of the Scriptures revived their failing faith and hope in Jesus.</span>)        </p>

        <p align="left" class="style4"><span class="style5">30</span> And it came to pass, when 
            he had sat down with them to meat, he took the bread and blessed; and 
            breaking it he gave to them.
        </p>

        <p align="left" class="style4"><span class="style5">31</span> And their eyes were opened, and they knew him; and he vanished out of their sight. (<span class="comm">While he was breaking the bread to supply their bodies he opened their eyes and revealed to them that it was he also who had just been feeding their hungry hearts with the truth and consolation of the divine word.</span>)        </p>

        <p align="left" class="style4"><span class="style5">32</span> And they said one to another, Was not our heart burning within us, while he spake to us in the way, while he opened to us the scriptures? (<span class="comm">Thus they admit to each other that the joy of beholding the risen Lord was but the consummation of a joy already begun through a right understanding of the truth contained in Scripture. The sight of the Lord was sweeter because it was preceded by faith that he ought thus to rise.</span>)        </p>

        <p align="left" class="style4"><span class="style5">33</span> And they rose 
            up that very hour,
        </p>

        <p align="left" class="style4"><span class="style5">Mark 16: 13</span> And they went away and returned to Jerusalem (<span class="comm">their news was too precious to keep. They could not sit still till the disciples in Jerusalem knew it</span>), and found the eleven gathered together, and them that were with them (<span class="comm">the women and some of the one hundred and twenty--<span class="style7">Acts 1: 15</span></span>),        </p>

        <p align="left" class="style4"><span class="style5">Luke 24: 34</span> saying, The Lord is risen indeed (<span class="comm">his resurrection is not an hallucination of the women</span>), and hath appeared to Cephas; { Simon.} (<span class="comm">Paul and Luke both mention this appearance, but we have none of the details of it.</span>)        </p>

        <p align="left" class="style4"><span class="style5">35</span> And they rehearsed the things that happened in the way, and how he was known of them in the breaking of the bread. (<span class="comm">This does not mean that they knew Jesus because of any peculiar way in which he broke the bread; it means that he was revealed at the time when he broke it.</span>) neither believed they them. (<span class="comm">They now believed that Jesus had risen, but they did not believe that these two had walked and talked with him without recognizing him.        </p>

    </div> 


</ion-content>