<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>103F. SECOND GROUP OF PARABLES</h3>
        <h3>(<span class="comm">PROBABLY IN PER&AElig;A.</span>)</h3>
        <h3>THE RICH MAN AND LAZARUS</h3>
        <h3>LUKE 16: 19-31</h3>
        <p align="left" class="style4"><span class="style5"></span> (<span class="comm">The parable we are about to study is a direct advance upon the thoughts in 
                the previous section. We may say generally that if the parable of the unjust 
                steward teaches how riches are to be used, this parable sets forth the terrible 
                consequences of a failure to so use them. Each point of the previous discourse 
                is covered in detail, as will be shown by the references in the discussion of 
                the parable.</span>)  



        <p align="left" class="style4"><span class="style5">19</span> Now there was a certain rich man, 
            and he was clothed in purple and fine linen, faring sumptuously every day 
            (<span class="comm">For convenience' sake, this rich man has been commonly called Dives, which is 
                simply Latin for rich man, and is therefore not truly a name, for it is 
                not fitting to name him whom the Lord left nameless. Along the coast of Tyre 
                there was found a rare shell-fish (<span class="comm">Murex purpurarius</span>) from which a 
                costly purple dye was obtained, each little animal yielding about one drop of 
                it. Woolen garments dyed with it were worn by kings and nobles, and idol images 
                were sometimes arrayed in them. This purple robe formed the outer, and the 
                linen the inner garment. The byssus, or fine linen of Egypt, was 
                produced from flax, which grew on the banks of the Nile. It was dazzlingly 
                white, and worth twice its weight in gold (<span class="comm"><span class="style7">Genesis 41: 42; Exodus 26: 31-33; 28: 5; 1 Chronicles 15: 27; Ezekiel 27: 7</span></span>). The mention of these garments and a continual banqueting 
                indicates a life of extreme luxury.</span>)</p>


        <p align="left" class="style4"><span class="style5">20</span> and a certain beggar (<span class="comm">literally, 
                one who crouches. It is used thirty-four times in the New Testament, and is 
                everywhere translated "poor" save here and at <span class="style7">Galatians 4: 9</span>. In the last stages of life Lazarus had become an 
                object of charity, but there is nothing to indicate that he had been an 
                habitual beggar</span>) named Lazarus (<span class="comm">This is the only name which occurs in our Lord's parables. It is derived from Eleazar, which means, God a 
                help. The name is symbolic of destitution, and many words indicative of beggary 
                are derived from it</span>) was laid at his gate (<span class="comm">in the East the gates of the 
                rich are still the resorts of the poor.</span>) full of sores,</p>


        <p align="left" class="style4"><span class="style5">21</span> And 
            desiring to be fed with the crumbs 
            that fell from the rich man's table; yea, even the dogs come and licked his 
            sores. (<span class="comm">The contrast here is sharp. Lazarus is naked and clothed with sores 
                instead of rich apparel, and desires crumbs instead of a banquet. That he 
                limited his desire to crumbs suggests a freedom from both worldly lust and 
                envy. Whether he got the crumbs is not stated. His sufferings may have been as 
                unmitigated on earth as those of the rich man were in Hades (<span class="comm"><span class="style7">Luke 16: 24</span></span>), and it is certain that even if he 
                received the crumbs they did not count as a gift, being mere refuse, utterly 
                worthless in the sight of the rich man. The very point of the parable is that 
                the rich man gave him nothing. The dogs also suggest a contrast. The 
                rich man is surrounded by loyal brethren and attentive servants, while Lazarus 
                is the companion of dogs, the scavengers of the streets, who treat him with 
                rude compassion as one of their number, soothing his sores with their saliva.</span>)</p>


        <p align="left" class="style4"><span class="style5">22</span> And it came to pass, that the beggar died, and that he was carried away 
            by the angels into Abraham's bosom (<span class="comm">it is the office of angels to minister 
                to the heirs of salvation <span class="style7">Matthew 24: 31; Mark 13: 27; Hebrews 1: 14</span></span>): and the rich man also died, 
            and was buried. (<span class="comm">In death as well as in life the two men stand in contrast. 
                The rich man passes from view with the pomp and pagentry of a burial (<span class="comm"><span class="style7">2 Chronicles 16: 13, 14</span></span>), an earthly honor suited 
                to a worldly life. But Lazarus passes hence with the angels, a spiritual 
                triumph suited to one accepted of God.</span>)</p>


        <p align="left" class="style4"><span class="style5">23</span> And in Hades, he lifted up his 
            eyes, being in torments, and seeth (<span class="comm"><span class="style7">Revelation 14: 10</span></span>) Abraham afar off, and Lazarus in his bosom. (<span class="comm">Hades 
                (<span class="comm">Greek</span>), or Sheol (<span class="comm">Hebrew</span>), was the name given to the abode of the dead between 
                death and the resurrection. In it the souls of the wicked are in torment, and 
                those of the righteous enjoy a paradise (<span class="comm"><span class="style7">Luke 23: 43</span></span>). The joys of Paradise were conceived of as 
                those of a feast, and the expression "Abraham's bosom" is taken 
                from the custom of reclining on couches at feasts. As a guest leaned upon his 
                left arm, his neighbor on his left might easily lean upon his bosom. Such a 
                position of respect to the master of the house was one of special honor, and 
                indicated great intimacy  (<span class="comm"><span class="style7">John 1: 18; 13: 23</span></span>). What higher honor or joy could the Jew conceive of than such a 
                condition of intimacy and fellowship with Abraham, the great founder of their 
                race? (<span class="comm"><span class="style7">Matthew 8: 11.</span></span>)</p>


        <p align="left" class="style4"><span class="style5">24</span> And 
            he cried (<span class="comm">in earnest entreaty</span>) and said, Father Abraham (<span class="comm">the claim 
                of kindred is not denied, but it is unavailing <span class="style7">Luke 3: 8</span></span>), have mercy on me, and send Lazarus that he 
            may dip the tip of his finger in water, and cool my tongue; for I am in anguish 
            in this flame. (<span class="comm">The smallness of the favor asked indicates the greatness of 
                the distress, as it does in <span class="style7">Luke 16: 21</span>, where crumbs are desired. There is a reciprocity also between the desired 
                crumbs and the prayed-for drop, which contains a covert reference to <span class="style7">Luke 16: 4 and 5</span>. Had the rich man given 
                more he might now have asked for more. The friendship of Lazarus might have 
                been easily won, and now the rich man needed that friendship, but he had 
                neglected the principle set forth in <span class="style7">Luke 16: 9</span>, and had abused his stewardship by wasting his substance upon 
                himself. Again, the former condition of each party is sharply reversed. Lazarus 
                feasts at a better banquet, and the rich man begs because of a more dire and 
                insatiable craving. Thus the life despised of men was honored by God, and (<span class="comm"><span class="style7">Luke 16: 15</span></span>) the man who was exalted 
                among men is found to have been abominable unto God.</span>)</p>


        <p align="left" class="style4"><span class="style5">25</span> But Abraham said, 
            Son (<span class="comm">a tender word <span class="style7">Joshua 7: 19</span></span>), remember (<span class="comm"><span class="style7">Proverbs 5: 11-14</span></span>) that thou in thy lifetime receivedst thy good 
            things, and Lazarus in like manner evil things: but now here (<span class="comm">where a 
                different order pertains from that of the earth</span>) he is comforted and thou 
            art in anguish. (<span class="comm">The woes received by Lazarus are not spoken of as 
                his. He neither earned nor deserved them  (<span class="comm"><span class="style7">Revelation 7: 13-17</span></span>). His was the stewardship of suffering(<span class="comm"><span class="style7">1 Corinthians 4: 9;  2 Corionthians 4: 7</span></span>), and in its small details he had shown great faithfulness. The rich man had 
                the stewardship of wealth, with its accompanying obligation of generosity. This 
                obligation he had esteemed as too contemptibly small to deserve his notice; but 
                in neglecting it, he had inadvertently been unfaithful in much.  (<span class="comm"><span class="style7">Luke 16: 10.</span></span>) This has been the sin of omission on 
                the part of the rich man, and his sin of commission answered as a complement to 
                it, for he had been guilty of that money-loving self-indulgence which was 
                condemned by Jesus and justified by the Pharisees   (<span class="comm"><span class="style7">Luke 16: 14, 15</span></span>). No other crime is charged against the rich man, yet 
                he is found in torment. But the rich man during his lifetime had been so 
                deceived by his wealth that he had failed to detect his sin. Moreover, as he 
                indicates in <span class="style7">Luke 16: 28</span>, a like deception 
                was now being practiced upon his brethren. Thus the parable justifies the term 
                "unrighteous" which Jesus had given to mammon at  <span class="style7">Luke 16: 9, 11.</span></span>)</p>


        <p align="left" class="style4"><span class="style5">26</span> And beside all this, between 
            us and you there is a great gulf fixed, that they that would pass from hence to 
            you may not be able, and that none may cross over from thence to us. (<span class="comm">We 
                have here a clear statement of the separation which parts the good from the 
                evil in the future state. But it has been urged that the coloring and 
                phraseology of this parable is derived from rabbinical teaching, that our Lord 
                made use of a current but erroneous Jewish notion to teach a valuable lesson, 
                and that therefore it is not safe to draw any inferences from the narrative 
                relative to the future state. But it should be observed that the parables of 
                Jesus never introduce fictitious conditions, nor do they anywhere violate the 
                order and course of nature. It is hardly possible that he could have made this 
                an exception to his rule, especially since it is in a field where all the 
                wisdom of the world is insufficient to make the slightest correction. Moreover, 
                it is certainly impossible that he could exaggerate the differences between the 
                states of the lost and saved in the hereafter. Nor can the teaching of the 
                parable be set aside on the ground that it represents merely the intermediate 
                and not the final condition of things. If the 
                intermediate 
                condition of things is fixed and established, the final condition must, a 
                fortiori, be more so. Moreover, the teaching here differs from that of the 
                old rabbis, for, according to Lightfoot, a wall and not a gulf separated 
                between the just and the unjust, and they were not "afar off" from 
                each other, the distance being but a handbreadth. The passage therefore 
                confirms the doctrine that the righteous are neither homeless nor unconscious 
                during the period between death and the resurrection (<span class="comm"><span class="style7">Philippians 1: 23</span></span>), and refutes the doctrine of Universalism, for 
                the gulf is, 1, fixed, and, 2, can not be passed or bridged. The gulf of pride 
                and caste between the rich man and Lazarus while on earth was easy to cross.</span>) </p>


        <p align="left" class="style4"><span class="style5">27</span> And he said, I pray thee therefore, father, that thou wouldest send him 
            to my father's house (<span class="comm">The double attempt of the rich man to use Lazarus as 
                his servant shows how hard it was for him to adjust himself to his new 
                condition</span>);</p>


        <p align="left" class="style4"><span class="style5">28</span> for I have five brethren (<span class="comm">there is no typical 
                significance in the number</span>); that he may testify unto them, lest they 
            also come into this place of torment. (<span class="comm">*Deceived by his wealth, the rich man 
                looked upon his earthly possessions as real and substantial, and, like rich 
                sinners of to-day, had simply disregarded the affairs of the future life. 
                Aroused by the sudden experience of the awful realities of the future state, he 
                desires to make it as real to his brethren as it had now become to him. In 
                endeavoring to carry out his desire he proceeds on the theory that the 
                testimony of the dead in reference to the realities of the future state are 
                more trustworthy and influential than the revelations of God himself, given 
                through his inspired spokesmen. This dishonoring of God and his law was to be 
                expected from one who had made mammon his real master, even though professing 
                (<span class="comm">as the context suggests</span>) to serve God. The singleness of his service is shown 
                in that he, though practically discharged by one master--mammon, can not 
                even now speak respectfully of God. Some commentators make much of the 
                so-called repentance of the rich man, manifested in this concern for his 
                brethren; but the Lord did not count kindness shown to kindred as evidence of 
                goodness, 
                much less of repentance (<span class="comm"><span class="style7">Luke 6: 32-35,</span>  pp. 248, 
                    249</span>). Besides the natural feeling for his brothers, he knew that their presence 
                in torment would add to his own. His concern for his brethren is not told to 
                indicate repentance. It is mentioned to bring out the point that the revealed 
                will of God of itself and without more makes it inexcusable for a man to lead a 
                selfish life.</span>)</p>


        <p align="left" class="style4"><span class="style5">29</span> But Abraham saith, They have Moses and the prophets 
            (<span class="comm">i. e., the entire Old Testament</span>); let them hear them.  (<span class="comm"><span class="style7">John 1: 45; 5: 39-46; Luke 24: 27</span>. The Scriptures are a sufficient guide to 
                godliness <span class="style7">2 Timothy 3: 16, 17</span>, and a failure to live rightly when possession them is due to lack of will, and 
                not to lack of knowledge.</span>)
        </p>


        <p align="left" class="style4"><span class="style5">30</span> And he said, Nay, father Abraham: but if one 
            go to them from the dead, they will repent. (<span class="comm">With the spirit of a true 
                Pharisee, he sought a sign for his brothers. See page 305. But the guidance of 
                Scripture is better than any sign.</span>)</p>


        <p align="left" class="style4"><span class="style5">31</span> And he said unto him, If they hear 
            not Moses and the prophets, neither will they be persuaded, if one rise from 
            the dead. (<span class="comm">These words might sound like an overstatement of the obduracy of 
                unbelief were they not amply verified by the literal facts. Jesus had already 
                raised at least two from the dead as witnesses to his divine power, and he was 
                about to raise a third, who, with startling suggestiveness, would bear this 
                very name of Lazarus. But despite all these witnesses the majority of the Jews 
                disbelieved and continued to disbelieve in him; nay, they even went so far as 
                to seek the death of Lazarus that they might be rid of his testimony (<span class="comm"><span class="style7">John 12: 10</span></span>).  This is also a reference to 
                Jesus' own resurrection. It is true that he did not appear in person to those 
                who disbelieved in him, but they had clear knowledge of his resurrection (<span class="comm"><span class="style7">Matthew 28: 11-15</span></span>), and it 
                was considered as proved to all men <span class="style7">Acts 17: 31.</span></span>) </p>




    </div> 


</ion-content>