<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>132. FAREWELL DISCOURSE TO DISCIPLES.</h3>
        <h3>(<span class="comm">JERUSALEM. EVENING BEFORE THE CRUCIFIXION.</span>)</h3>
        <h3>JOHN 14-16.</h3>
        <p align="left" class="style4"><span class="style5">John 14: 1</span> Let not your heart be troubled: believe in God, 
            believe also in me. (<span class="comm">That one should betray him and one should deny him, 
                that all should be offended, and that the Lord should depart, raised anxieties 
                which Jesus here seeks to quiet. That they should go out as homeless wanderers 
                without the presence of their Lord and be subjected to persecution, was also in 
                their thoughts. But Jesus sustains their spirits by appealing to them to trust 
                in the unseen Father, and his yet present self. As to the two verbs 
                "believe," both may be either indicatives or imperatives.</span>)

        <p align="left" class="style4"><span class="style5">2</span> In 
            my Father's house are many mansions (<span class="comm">Many abiding places or homes. They 
                were not to be homeless always</span>); if it were not so, I would have told 
            you (<span class="comm">That is to say, if heaven had been of such limited capacity that there 
                was little or no hope that you could follow me, I should have dealt plainly 
                with you, and should have disabused your mind of all vain hopes. But there is 
                room (<span class="comm"><span class="style7">Luke 14: 22</span></span>), and you may 
                follow--<span class="style7">John 13: 36</span></span>); 
            for I go to prepare a place for you. (<span class="comm">We are familiar with the thought that 
                the going, or death, of Jesus prepared a way for 

                us by providing a 
                fountain for the cleansing of our sin, and by rending the veil of the temple, 
                "thus signifying that the way into heaven is now open." But the 
                thought here is different. Jesus departed to prepare places for his own in the 
                Father's house.</span>)

        <p align="left" class="style4"><span class="style5">3</span> And if I go and prepare a place for you, I come again, 
            and will receive you unto myself; that where I am, 
            there ye may be also. (<span class="comm">The cause for the departure 
                becomes the assurance of the return.</span>)

        <p align="left" class="style4"><span class="style5">4</span> And whither I go, ye know the 
            way. (<span class="comm">My manner of life leads to the Father's house, and as ye know that 
                manner of life, ye know the way.</span>)

        <p align="left" class="style4"><span class="style5">5</span> Thomas saith unto him, Lord, we know not 
            whither thou goest; how know we the way? (<span class="comm">Thomas looked for a way wherein 
                one might walk with his feet.</span>)

        <p align="left" class="style4"><span class="style5">6</span> Jesus saith unto him, I am the way, and the 
            truth, and the life: no one cometh unto the Father, but by me. (<span class="comm">God is not 
                approached by physical motion. Being spirit, we must draw near to him by 
                spiritual simplicity, and this is revealed to us fully in the person of Christ, 
                and an energizing power is imparted by Christ to enable us to attain unto it.</span>)

        <p align="left" class="style4"><span class="style5">7</span> If ye had known me, ye would have known my Father also (<span class="comm">the unity of 
                nature and of character is so perfect that to know the Son is to know the 
                Father also</span>): from henceforth ye know him, and have seen him. 
            (<span class="comm">This saying is the outgrowth of what is said in <span class="style7">John 14: 6</span>. Since we can only come to the Father's likeness 
                by the imitation of Jesus, then the truth here uttered follows; viz.: that to 
                see Jesus is to see the Father.</span>)

        <p align="left" class="style4"><span class="style5">8</span> Philip saith unto him, Lord, show us the 
            Father, and it sufficeth us.

        <p align="left" class="style4"><span class="style5">9</span> Jesus saith unto him, Have I been 
            so long time with you, and dost thou not know me, Philip? he that hath seen me 
            hath seen the Father; how sayest thou, Show us the Father? (<span class="comm">As Thomas asked 
                for a physical instead of a spiritual approach to God, so Philip asked for a 
                physical instead of a spiritual revelation of him. The answer of Jesus tenderly 
                rebukes Philip. The excellency of God is not physical, but spiritual. 
                Righteousness, truth, love, holiness, etc. are all spiritual. A physical 
                revelation of God, if such a 

                thing had been practicable or even 
                possible, would have been of little or no benefit to the apostles. All the 
                physical demonstrations at Mt. Sinai did not prevent the manufacture and 
                worship of the golden calf.</span>)

        <p align="left" class="style4"><span class="style5">10</span> Believest thou not that I am in the Father, 
            and the Father in me? the words that I say unto you I speak not from myself: 
            but the Father abiding in me doeth his works. (<span class="comm">The question of Jesus is a 
                mild rebuke because Philip had been so slow to learn and to believe what the 
                Lord had taught; viz.: his unity with the Father (<span class="comm">p. 486</span>), and that he did and 
                taught by the will of his Father and not of himself--p. 456.</span>)

        <p align="left" class="style4"><span class="style5">11</span> Believe me that I am in the Father, and the Father in me: or else believe me 
            for the very works' sake. (<span class="comm">To ask Jesus to reveal the indwelling Father was 
                much the same as to ask a man to reveal his own soul. Therefore Jesus asks 
                Philip to take his word for the great fact, or, if that were not deemed 
                sufficient, to believe it because of the works which Jesus wrought. Divine 
                works testify to the presence of a divine spirit and power.</span>)

        <p align="left" class="style4"><span class="style5">12</span> Verily, 
            verily, I say unto you, he that believeth on me, the works that I do shall he 
            do also; and greater works than 
            these shall he do; because I go unto the Father. (<span class="comm">Jesus while in the world 
                manifested sufficient supernatural power to give credibility to the statement 
                that the Father worked through him. But he here declares that his return to the 
                Father will be followed by yet fuller tokens and evidences of his union with 
                the Father. The first of these evidences enumerated is the larger sphere of 
                power granted to the believer. By this the Lord does not mean the disciples 
                shall perform greater miracles, but that they shall produce moral and spiritual 
                revolutions which are instinsically more divinely wonderful than miracles. For 
                instance, at his death Jesus had converted about five hundred disciples, but at 
                Pentecost the apostles converted three thousand in one day. The converts of 
                Paul also greatly outnumbered those of Christ's own ministry.</span>)

        <p align="left" class="style4"><span class="style5">13</span> And 
            whatsoever ye shall ask in my name, that will I do, that the Father may be 
            glorified in the Son.

        <p align="left" class="style4"><span class="style5">14</span> If ye shall ask 

            anything in my name, that will I do. (<span class="comm">The second token of Christ's union 
                with the Father would be manifested in the efficacy of prayer made in his name. 
                Hitherto prayer had not been thus made (<span class="comm"><span class="style7">John 16: 24</span></span>). God would glorify himself through Christ by answering prayer 
                thus made.</span>)

        <p align="left" class="style4"><span class="style5">15</span> If ye love me, ye will keep my commandments.

        <p align="left" class="style4"><span class="style5">16</span> And I will pray the Father, and he shall give you another Comforter, that he 
            may be with you for ever,

        <p align="left" class="style4"><span class="style5">17</span> even the Spirit of truth: whom the world cannot receive; for it 
            beholdeth him not, neither knoweth him: ye know him; for he abideth with you, 
            and shall be in you. (<span class="comm">The third token of Christ's union with the Father 
                would be the sending of the Holy Spirit (<span class="comm"><span class="style7">Acts 2: 33</span></span>). Since, however, the worldly-minded could neither receive nor 
                behold the Spirit, the promise to send him to the disciples is prefaced by an 
                appeal to them to keep his commandments, and thus avoid a worldly spirit such 
                as would be compatible with the reception of the Holy Spirit. The word 
                "Comforter" does not fully translate the Greek word 
                Paraklete; no English word does. The word "Advocate" may be 
                used, and "Helper" is as good if not better than 
                "Comforter." He is called the Spirit of truth because of his many 
                relationships to the truth (<span class="comm"><span class="style7">John 17: 19; 1 Corinthians 2: 4; 1 Thessalonians 1: 5; Acts 2: 4; 5: 32; Hebrews 2: 4</span></span>). That the 
                gift of the Holy Spirit is conditioned upon belief and obedience is also taught 
                elsewhere (<span class="comm"><span class="style7">John 7: 38; Acts 2: 38; 5: 32</span></span>). We should observe that by the use of the word 
                "another" Jesus shows that he himself had been and would be a 
                Paraklete. But earthly fellowship with him was about to be cut short, and 
                therefore the Holy Spirit would come, with whom fellowship would never be 
                interrupted. We should note, too, the distinction between the present 
                "abideth with you," and the future "shall be in you." 
                The Spirit, being present in the person of Christ, had been abiding with the 
                apostles who followed him. Hereafter the intimacy of the relation would be 
                increased, and the Spirit should abide within them.</span>)

        <p align="left" class="style4"><span class="style5">18</span> I will not leave you 
            desolate (<span class="comm">Literally, orphans. The expression breathes the spirit of a 
                father, as at <span class="style7">John 13: 33</span></span>): 


            I come unto you.

        <p align="left" class="style4"><span class="style5">19</span> Yet a little while, and the 
            world beholdeth me no more (<span class="comm">the next day the world crucified him and sealed 
                him in the tomb, and since then has seen him no more</span>); but ye behold 
            me (<span class="comm">the present tense here indicates a continued vision; it can not 
                therefore refer to the appearances of Christ after the resurrection, for the 
                terminated at the end of forty days</span>): because I live, ye shall live 
            also.

        <p align="left" class="style4"><span class="style5">20</span> In that day (<span class="comm">we may take this either as the day of 
                Pentecost, or the period which began on that day</span>) ye shall know that I am in 
            my Father, and ye in me, and I in you.

        <p align="left" class="style4"><span class="style5">21</span> He that hath my 
            commandments, and keepeth them, he it is that loveth me: and he that loveth me 
            shall be loved of my Father, and I will love him, and will manifest myself unto 
            him. (<span class="comm">The fourth and all-convincing token of Jesus' union with the Father 
                would be his return in the spirit which is here described. It was not his 
                temporary return after the resurrection, as is shown in <span class="style7">John 14: 19</span>, above, neither was it his final return to judgment, 
                because it was one in which the world would not behold him, and at his final 
                return "every eye shall see him." Jesus, therefore, speaks of his 
                return in the spirit, and his inward manifestation of himself to his disciples 
                wherein he energizes them with his own life. A coming, however, which, like 
                that of the Holy Spirit, is conditioned upon the loving obedience of the 
                disciples. The writings of Paul abound with expressions illustrating the nature 
                of this coming of Christ. It is not to be confused with the coming of the Holy 
                Spirit, though doubtless wholly concurrent with it.</span>)

        <p align="left" class="style4"><span class="style5">22</span> Judas (<span class="comm">not 
                Iscariot</span>) (<span class="comm">who had gone out. See table of apostles, p. 222, for this Judas, 
                or Thadd&aelig;us</span>) saith unto him, Lord, what is come to pass that thou wilt 
            manifest thyself unto us, and not unto the world? (<span class="comm">The form of his question 
                betrays the apostle's bewilderment. Expecting that Jesus would soon be an 
                earthly king, he could not imagine how Jesus could so have changed his plans as 
                to thus withdraw himself utterly from the world. The answer of Jesus gave Judas 
                but little present light.</span>)

        <p align="left" class="style4"><span class="style5">23</span> Jesus answered and said unto him, If a man 
            love me, he will 

            keep my word: and my Father will love him, 
            and we will come unto him, and make our abode with him.

        <p align="left" class="style4"><span class="style5">24</span> He that 
            loveth me not keepeth not my words: and the word which ye hear is not mine, but 
            the Father's who sent me. (<span class="comm">Jesus contents himself by pointing out to Judas 
                the fact that loving obedience is the means by which the blessed indwelling is 
                obtained. It was better that Judas should busy his heart and will about the 
                means of blessing rather than his head about the mysterious and 
                incomprehensible manner of it.</span>)

        <p align="left" class="style4"><span class="style5">25</span> These things have I spoken unto 
            you, while yet abiding with 
            you. 26 But the Comforter, even
            the Holy Spirit, whom the Father will send in my name, he shall 
            teach you all things, and bring to your remembrance all that I said unto 
            you. (<span class="comm">The word "spoken" in <span class="style7">John 14: 25</span> stands in contrast with the word 
                "teach" in <span class="style7">John 14: 26</span>. Jesus had uttered the truth, but because of the divine plan of salvation 
                through the death, burial, resurrection, and ascension of our Lord was yet 
                incomplete, all the words which he had spoken were but dimly understood, since 
                they were related to and founded upon this incompleted plan. When the plan was 
                completed the Holy Spirit would reveal or teach the meaning of the words by 
                bringing them to remembrance after full comprehension of the plan to which they 
                related.</span>)

        <p align="left" class="style4"><span class="style5">27</span> Peace I leave with you; my peace I give unto you: not as the 
            world giveth, give I unto you. Let not your heart be troubled, neither let it 
            be fearful. (<span class="comm">This legacy of peace is by no means to be confined to the 
                period of doubt and fear which accompanied the crucifixion; in fact, it seems 
                to overstep that period, and to begin after it, and continue throughout all the 
                trouble ministry of the apostles. The breadth of the legacy also to be noted: 
                1. The quality of it; it was not the absolute unshaken peace of God, but the 
                peace which Jesus himself possessed while upon the earth--peace with all 
                things save the devil and his powers. 2. The nature of it; it was not peace 
                from without, but from within. It was not such as promised to pacify and quell 
                the persecutors, but a promise of 

                inner calm amidst the storm. 3. 
                The manner of it; it was no stinted, measured store such as the world bestows, 
                but a full, free gift from the overflowing bounty of God.</span>)

        <p align="left" class="style4"><span class="style5">28</span> Ye heard how I 
            said to you, I go away, and I come unto you. If ye loved me, ye would have 
            rejoiced, because I go unto the Father: for the Father is greater than I. 
            (<span class="comm">The departure of Jesus was not wholly a humiliation, as it might appear to 
                them; but a real exaltation at which they might well rejoice, and that the more 
                readily and freely since it would not mean to them the total separation which 
                they anticipated, because he would return in the spirit. The word 
                "greater" as here used does not refer to any difference in the 
                nature or essence of the Son as related to the Father. It may well be true that 
                there has been a certain subordination of the will of the Son to the will of 
                the Father from all eternity, but even that, if it exists, is not referred to 
                here. Jesus has in mind the utter humiliation to which his mediatorial office 
                had brought him, and to even lower depths to which it was about to bring him. 
                From all this his departure to the Father would in a large measure free him, 
                restoring him in some degree to that state of equilibrium in glory, power and 
                authority from which he had descended--<span class="style7">Philippians 2: 6</span>.</span>)

        <p align="left" class="style4"><span class="style5">29</span> And now I have told you before it come to pass, that, 
            when it is come to pass, ye may believe. (<span class="comm">Jesus had told them fully of his 
                return to the Father, that when they received the subsequent manifestation of 
                it they might firmly believe it.</span>)

        <p align="left" class="style4"><span class="style5">30</span> I will no more speak much with you, for 
            the prince of the world cometh: and he hath nothing in me; 
        <p align="left" class="style4"><span class="style5">31</span> but 
            that the world may know that I love the Father, and as the Father gave me 
            commandment, even so I do. (<span class="comm">In a few hours the earthly teaching of Jesus 
                would be interrupted by the coming of Satan and would never be resumed save in 
                occasional fragments. Satan would come in the persons of his servants and 
                emissaries, but he would find nothing in Christ which would give him either 
                right or reason to exercise power over him. The sorrows and sufferings of 
                Christ would be entered upon of his own free will because by 

                enduring them for our sakes he would please the Father and carry out his 
                commandments, and thus manifest to the world the love which he bore the 
                Father.</span>) Arise, let us go hence. (<span class="comm">Some think that Jesus then left the 
                room, and that the next three chapters of John's Gospel contain matters spoken 
                on the way to Gethsemane. But it is likely that the words of these chapters 
                were spoken in the upper room after they had risen from the table and prepared 
                to depart, and that <span class="style7">John 18: 1</span> marks 
                the leaving of the upper room as well as the crossing of the Kidron.</span>)

        <p align="left" class="style4"><span class="style5">15: 1</span> I am the true vine, and my Father is the husbandman.

        <p align="left" class="style4"><span class="style5">2</span> Every branch in me that beareth not fruit, he taketh it away: and every
            branch that beareth fruit, he 
            cleanseth it (<span class="comm">by pruning</span>), that it may bear more fruit. (<span class="comm">The 
                use of the word "true" shows that Jesus refers to a typical vine. 
                The Jewish people had been such a vine (<span class="comm"><span class="style7">Isaiah 5: 1; Psalm 80: 8-16; Jereremiah 2: 21</span></span>). Yet it was but "a figure 
                of the true" (<span class="comm"><span class="style7">Hebrews 9: 24</span></span>). God 
                had now in Christ planted the true vine, and would dissever and cast off all 
                that did not derive life from him, and would prune all that did. This vital 
                connection with Christ is set forth by Paul under the figure of a body and its 
                head (<span class="comm"><span class="style7">Ephesians 5: 23; Colossians 2: 19</span></span>). The 
                fact that Jesus had just given them the fruit of the vine to drink as the 
                symbol of his blood made the transition to this figure easy and natural, for 
                the branches derive their juices from the vine.</span>)

        <p align="left" class="style4"><span class="style5">3</span> Already ye are clean 
            because of the word which I have spoken unto you. (<span class="comm">It is God in Christ who 
                cleanseth the soul, but this cleansing is effected through hearing, believing 
                and obeying the Word. The Word tells us what to do that we may be cleansed and 
                saved--<span class="style7">Ephesians 5: 26; James 1: 18</span>.</span>)

        <p align="left" class="style4"><span class="style5">4</span> Abide in me, and I in you. As the branch cannot bear fruit of itself, except 
            it abide in the vine; so neither can ye, except ye abide in me.

        <p align="left" class="style4"><span class="style5">5</span> I am the vine, ye are the branches: He that abideth in me, and I in him, the 
            same beareth much fruit: for apart from me ye can do nothing.

        <p align="left" class="style4"><span class="style5">6</span> If 
            a man abide 

            not in me, he is cast forth as a branch, and is 
            withered; and they gather them, and cast them into the fire, and they are 
            burned. (<span class="comm">The whole parable is intended to teach us Christ's relationships. 
                1. Toward the Father--Husbandman and Vine. 2. Toward man--Vine and 
                branches. 3. Toward good works--Vine, branches, and fruit. 4. The negative 
                condition, or lack of relationship--the Vine, the dissevered 
                branches, the fire.</span>)

        <p align="left" class="style4"><span class="style5">7</span> If ye had known me, ye would have known my Father 
            also: from henceforth ye know him, and have seen him. (<span class="comm">Though this verse 
                stands somewhat in contrast to the warning in <span class="style7">John 15: 6</span>, it is rather a statement of causation than a promise of 
                reward. If by communion and the study of the word we abide in Christ, our 
                prayers will be of such a nature that it will fully accord with the divine 
                counsel to answer them, for they will be prayers tending toward fruitfulness.</span>)

        <p align="left" class="style4"><span class="style5">8</span> Herein is my Father glorified, that ye bear much fruit; and so shall ye be my disciples. (<span class="comm">The spirit 
                of Christ leads to those deeds which cause men to glorify God (<span class="comm"><span class="style7"> Matthew 9: 8; Luke 17: 15 </span></span>), and whoso does those 
                deeds causes such glorification (<span class="comm"><span class="style7">Matthew 5: 16</span></span>). Moreover, the spirit of Christ leads to abundant fruitfulness, 
                and he who has it, not only performs charitable deeds, but converts the sinner 
                and begets a spirit of goodness in those about him (<span class="comm"><span class="style7">Matthew 13: 8-26; Philippians 4: 17</span></span>); and this 
                fruitfulness becomes an evidence or demonstration of true discipleship.</span>)

        <p align="left" class="style4"><span class="style5">9</span> Even as the Father hath loved me, I also have loved you: abide ye in my 
            love.
        <p align="left" class="style4"><span class="style5">10</span> If ye keep my commandments, ye shall abide in my love; 
            even as I have kept my Father's commandments, and abide in his love. (<span class="comm">From 
                the outward evidence of union with Christ, shown by the fruit, Jesus now 
                turns to that inward bond of union which is the cause of fruitfulness. 
                That bond is love. Love is, as it were, the sap which passes back and forth 
                between the Vine and branch, and that love is kept active and vital by the most 
                practical of means--obedience to commandments, a means which the Lord 
                himself does not hesitate to describe as efficient between himself and the 
                Father, only claiming for 

                himself the love of the Father because 
                of a like obedience to that which he prescribed. "And our obedience must 
                be impartial," says Jay; "we must do 'whatsoever' he commands 
                us."</span>)

        <p align="left" class="style4"><span class="style5">11</span> These things have I spoken unto you, that my joy may be in 
            you, and that your joy may be 
            made full. (<span class="comm">He had spoken the words of this discourse that the disciples 
                might have a joy corresponding to his own. By perfect obedience he enjoyed a 
                consciousness of the Father's presence and approval. By a like obedience the 
                disciples might have a like sense of his presence and approval, and hence a 
                like joy.</span>)

        <p align="left" class="style4"><span class="style5">12</span> This is my commandment, that ye love one another, even as I 
            have loved you.

        <p align="left" class="style4"><span class="style5">13</span> Greater love hath no man than this, that a man 
            lay down his life for his friends. (<span class="comm">Jesus gives, as his supreme 
                commandment, this law of love. The disciples are to love one another as 
                intensely as Jesus loved them, and the measure of the intensity of his love is 
                prophetically set forth by an allusion to his death on their behalf. But he 
                died for his enemies as well as for his friends--<span class="style7">Rom. 5: 6</span>.</span>)

        <p align="left" class="style4"><span class="style5">14</span> Ye are my friends, if ye do the things which 
            I command you.

        <p align="left" class="style4"><span class="style5">15</span> No longer do I call you servants; for the 
            servant knoweth not what his lord doeth: but I have called you friends; for all 
            things that I heard from my Father, I have made known unto you. (<span class="comm">The 
                commandments of Jesus were not to be obeyed in the spirit of bondmen, but in 
                that of friends. Jesus had shown his friendship by receiving his apostles into 
                confidence as to the things which he had heard from his Father.</span>)

        <p align="left" class="style4"><span class="style5">16</span> Ye did 
            not choose me, but I chose you, and appointed you, that ye should go and bear 
            fruit, and that your fruit 
            should abide: that whatsoever ye shall ask of the Father in my name, he may 
            give it you. (<span class="comm">Jesus shows the stability of the friendship existing between 
                him and the disciples in that origin of it lies in himself and not in them. For 
                he chose them as friends before they chose him, gave them their high places as 
                apostles without their solicitation, prepared them to bring forth lasting 
                fruits, and gave them the privilege of supplementing their 

                personal deficiencies by prayer made effective through his name.</span>)

        <p align="left" class="style4"><span class="style5">17</span> These 
            things I command you (<span class="comm">this includes all the precepts from the beginning of 
                the <span class="style7">John 13</span></span>), that 
            ye may love one another.

        <p align="left" class="style4"><span class="style5">18</span> If the world hateth you, ye know that 
            it hath hated me before it hated 
            you. (<span class="comm">While teaching the fullness and richness of love which is to exist 
                within the circle of discipleship, Jesus warns them that in opposition to it 
                the outer circle of unconverted and sensual--that circle known as the 
                world--would manifest a spirit of hatred. Since this world-spirit hated 
                him, the disciples need not be surprised to find that it hated them when 
                manifesting his spirit.</span>)

        <p align="left" class="style4"><span class="style5">19</span> If ye were of the world, the world would love 
            its own: but because ye are not of the world, but I chose you out of the world, 
            therefore the world hateth you.

        <p align="left" class="style4"><span class="style5">20</span> Remember the word that I said 
            unto you, A servant is not greater than his lord. (<span class="comm"><span class="style7">John 13: 16</span>.</span>) If they persecuted me, they will also 
            persecute you; if they kept my word, they will keep yours also. (<span class="comm">The 
                apostles could rest assured that the messengers would receive like treatment 
                with him who sent them. When, therefore, they found the world rejecting their 
                message they could cheer themselves with the expectation that a few at least 
                would receive it, since a few had always received the words of the Master.</span>)

        <p align="left" class="style4"><span class="style5">21</span> But all these things will they do unto you for my name's sake, because they 
            know not him that sent me. (<span class="comm">Christians in the early ages were persecuted 
                for bearing the name of Christ by those who were ignorant of God. But this 
                name, hateful to the world, was sweet to the disciples. For opposition to the 
                name, see <span class="style7">Acts 5: 28; 1 Peter 4: 14; Revelation 3: 8</span>. For joy in it see <span class="style7">Acts 5: 41; 2 Corinthians 12: 10; Galatians 6: 17</span>.</span>)

        <p align="left" class="style4"><span class="style5">22</span> If I had not come and spoken unto 
            them, they had not had sin: but now they have no excuse for their sin.

        <p align="left" class="style4"><span class="style5">23</span> He that hateth me hateth my Father also.

        <p align="left" class="style4"><span class="style5">24</span> If I had not 
            done among them the works which none other did, they had not had sin: but now 
            have they both seen and hated both me and my Father.

        <p align="left" class="style4"><span class="style5">25</span> But
            this cometh to pass, that the 
            word 

            may be fulfilled that is written in their law 
            (<span class="comm"><span class="style7">Psalm 35: 19; 69: 4</span></span>), They 
            hated me without a cause. (<span class="comm">Though the great proof of the hatred of Christ 
                was yet to come, it is spoken of as if it had passed. Jesus does not mean to 
                say that the world would have committed no sin at all if he had kept away from 
                it. The meaning is that it would not have been guilty of the sin of rejecting 
                Jesus. They would have been excusable.</span>)
        <p align="left" class="style4"><span class="style5">26</span> But when the Comforter is come, 
            whom I will send unto you from the Father, 
            even the Spirit of truth, which proceedeth from the Father, he 
            shall bear witness of me:

        <p align="left" class="style4"><span class="style5">27</span> and ye also bear witness, because ye 
            have been with me from the beginning. (<span class="comm">One of the principal offices of the 
                Spirit is to testify of Christ (<span class="comm"><span class="style7">John 16: 13-15</span></span>). The Spirit testified through the apostles and other 
                messengers (<span class="comm"><span class="style7">Acts 2: 4</span></span>), so that in a 
                sense the apostles were double witnesses. They themselves could testify as to 
                what they had seen and heard. The Spirit could aid them to testify accurately, 
                and with a full intelligence as to the real meaning of things. The Spirit also 
                gave attention to apostolic testimony by enabling the apostles to work 
                miracles.</span>)

        <p align="left" class="style4"><span class="style5">16: 1</span> These things have I spoken unto you, that ye should not be caused 
            to stumble. (<span class="comm">Jesus warned his disciples of coming persecutions in order 
                that those persecutions might not shake their faith.</span>)

        <p align="left" class="style4"><span class="style5">2</span> They shall put you 
            out of the synagogues (<span class="comm">see pp. 466, 467</span>): yea, the hour cometh, 
            that whosoever killeth you shall think that he offereth service unto God. 
            (<span class="comm">Persecutors would not only take away religious privileges, but even life 
                itself, and they would do this as a religious act, esteeming Christians such 
                enemies of God that God would take pleasure in their death. Paul gives us an 
                illustration of this fanatical zeal--<span class="style7">Acts 26: 9; Galatians 1: 13-14</span>.</span>)

        <p align="left" class="style4"><span class="style5">3</span> And these things will they do, 
            because they have not known the Father, nor me.
        <p align="left" class="style4"><span class="style5">4</span> But these things 
            have I spoken unto you, that when their hour is come, ye may remember them, how 
            that I told you. And these things I said not unto you from the beginning, 
            because I was with you. (<span class="comm">The disciples being but few, and finding the vast 
                majority of the nation against them, and being but unlearned 

                Galil&aelig;ans, and finding the leaders--the wise, the cultured, the 
                mighty--against them, would be tempted to doubt the correctness of their 
                course, and to ask, "May we not, after all, be mistaken: may not those 
                who know more be better judges in this matter than we who are so 
                ignorant?" To forestall and prevent such questioning, Jesus asserts that 
                the ignorance is with the rulers. Knowledge of himself and of his Father is the 
                great and supreme knowledge, and the apostles having this were wiser than those 
                with all other learning. It would also strengthen their faith to remember that 
                the Lord's divine wisdom had foreseen all this trouble.</span>) And these things I 
            said not unto you from the beginning, because I was with you. (<span class="comm">While he was 
                with his disciples they were in no danger, for he himself bore the brunt of 
                persecution. In the beginning, therefore, of his ministry he did not deem it 
                expedient to dishearten his disciples by foretelling trials which were then 
                remote. When he began to announce his approaching death, then he also began to 
                declare that the disciple must be willing to lose his life if he would find it. 
                See pp. 414-417. Some think that <span class="style7">Matthew 5: 10-12</span> forms a contradiction to our Lord's statement here. 
                While the words in Matthew were spoken early enough to be classified as 
                "from the beginning," their import is to general to permit of their 
                being brought into contrast with this direct and personal prediction of 
                persecution.</span>)

        <p align="left" class="style4"><span class="style5">5</span> But now I go unto him that sent me; and none of you asketh 
            me, Whither goest thou?

        <p align="left" class="style4"><span class="style5">6</span> But because I have spoken these things 
            unto you, sorrow hath filled your heart.

        <p align="left" class="style4"><span class="style5">7</span> Nevertheless I tell you 
            the truth: It is expedient for you that I go away; for if I go not away, the 
            Comforter will not come unto you; but if I go, I will send him unto you. 
            (<span class="comm">The disciples had asked the Lord whither he was going (<span class="comm"><span class="style7">John 13: 36; 14: 5</span></span>), but their question had a very 
                different meaning from that which Jesus here suggests to them. They asked it to 
                ascertain whether his departure would involve a separation or whether it would 
                be a withdrawal from the world in which they could accompany him. The question 
                which he suggests 

                has reference to the place to which he was about 
                to journey, that place being the home and presence of his Father. The question 
                asked was selfish, as if the apostles had asked, "What will your 
                departure mean to us?" The question suggested was generous, intimating 
                that the apostles should have asked, "What will this departure mean to 
                you?" Viewing his departure from a selfish standpoint filled their hearts 
                with sorrow; but viewing it from a generous standpoint would have filled them 
                with sympathetic joy, because of the supreme happiness which it would bring to 
                their Master (<span class="comm"><span class="style7">John 14: 28</span></span>). But even 
                from a selfish standpoint the apostles would have had reason to rejoice because 
                of the advantage which would accrue to them through the Lord's departure, for 
                that departure would result in the advent of the Holy Spirit. Space does not 
                permit us to discuss why the Spirit could not come until the Lord had departed, 
                but the verses which follow give us one good and sufficient reason, for they 
                show that his work had to do with the conviction of human hearts through the 
                preaching of a completed gospel, and the ascension or return of Christ to 
                heaven, and his enthronement in glory there, are essential parts of that 
                completed gospel.</span>)

        <p align="left" class="style4"><span class="style5">8</span> And he, when he is come, will convict the world in 
            respect of sin, and of righteousness, and of judgment (<span class="comm">It would be the work 
                of the Holy Spirit to take the truths respecting Christ, and, using the 
                apostles as mouthpieces (<span class="comm"><span class="style7">Acts 2: 1-37</span></span>), to convince the world as to these truths. This 
                convincing work was entirely in relation to Christ, the sin of disbelieving 
                him, the righteousness revealed in him, and the power of judgment conferred 
                upon him</span>):

        <p align="left" class="style4"><span class="style5">9</span> of sin, because they believe not on me;

        <p align="left" class="style4"><span class="style5">10</span> of righteousness, because I go to the Father, and ye behold me no more;

        <p align="left" class="style4"><span class="style5">11</span> of judgment, because the prince of this world hath been judged. 
            (<span class="comm">Sin, righteousness, and a day of judgment with its reward upon one and its 
                punishment upon the other, are three cardinal doctrines of the gospel. The 
                Spirit convinces the world that disbelief in Christ is its fatal sin, for 
                belief in Christ leads to forgiveness, and to the unbelieving there is no 
                forgiveness. The least sin is a sin unto death, and 

                is a sin 
                eternal unless forgiven. The greatest sin, if forgiven, becomes harmless and is 
                as if it had never been. Until the world is convinced of this great truth it 
                feels no need of a gospel. Again, Christianity teaches that righteousness is 
                prerequisite to the attainment of the presence of God. Without righteousness we 
                can never behold him, nor can we ever hope to stand before him. But this 
                required righteousness was found in Jesus, for he returned to the Father, and 
                abides with the Father, being seen by us no more. The Holy Spirit convinces the 
                world that those who are found in Christ, having his righteousness, shall 
                attain unto the presence of the Father (<span class="comm"><span class="style7">Philippians 3: 3-14</span></span>). Lastly, the Spirit convinces the world that Jesus 
                is commissioned as its judge. Our Lord's resurrection is the assurance of this 
                fact (<span class="comm"><span class="style7">Acts 17: 31</span></span>). The resurrection 
                is such an assurance because it is an evidence of the judgment and condemnation 
                of Satan, the head and leader in sinful rebellion against God, and he that hath 
                power to judge the head thereby shows he has power to judge the body. Satan 
                held the power of death over humanity, but Jesus judged him and brought him to 
                naught by taking away this power (<span class="comm"><span class="style7">Hebrews 2: 14-15</span></span>). The cross of Christ as the source of life asserted his 
                superiority over all other powers (<span class="comm"><span class="style7">Colossians 2: 14-15</span></span>), which implies an ability to judge them.</span>)

        <p align="left" class="style4"><span class="style5">12</span> I have yet many 
            things unto say to you, but ye cannot bear them now. (<span class="comm">The doctrines of the 
                gospel were necessarily obscure and largely incomprehensible to the apostles 
                until time had developed the gospel facts. Jesus, therefore, forbore to speak 
                of many things at this time, lest by doing so he should confuse the minds of 
                his followers.</span>)

        <p align="left" class="style4"><span class="style5">13</span> Howbeit when he, the Spirit of truth, is come, he shall 
            guide you into all the truth: for he shall not speak from himself; but what 
            things soever he shall hear, these 
            shall he speak: and he shall declare unto you the things that are to 
            come.

        <p align="left" class="style4"><span class="style5">14</span> He shall glorify me: for he shall take of mine, and shall 
            declare it unto you. (<span class="comm">The 
                Holy Spirit was to bring no absolutely new teaching. The Son of God here claims 
                for himself all that the Spirit taught even to the declaration of things to 
                come. 

                The Spirit would bring to mind and republish in the 
                minds of the apostles all the words which Jesus had spoken, and would add 
                those things which, being now in the mind of Jesus, were really part of his 
                teaching, but which he at this present forbore to utter, the apostles not being 
                able to bear them.</span>)

        <p align="left" class="style4"><span class="style5">15</span> All things whatsoever the Father hath are mine: 
            therefore said I, that he taketh of mine, and shall declare it unto you. (<span class="comm">The Son's unity of 
                interest with the Father made him possessor of all the Father's truth, as well 
                as all the Father's counsel as to the future. As Jesus, therefore, might at 
                this time have uttered all which the Holy Spirit subsequently taught, he 
                rightfully claimed all the teaching of the Spirit as his.</span>)

        <p align="left" class="style4"><span class="style5">16</span> A little 
            while, and ye behold me no more; and again a little while, and ye shall see 
            me. (<span class="comm">Having finished his digression about the Holy Spirit, Jesus here 
                returns to his point of departure, the theme of <span class="style7">John 16: 5</span> above. Of course the apostles would see 
                Jesus after his resurrection, but the seeing here spoken of refers more 
                especially to that spiritual communion with him previously 
                mentioned--<span class="style7">John 14: 19-23</span>.</span>)

        <p align="left" class="style4"><span class="style5">17</span> Some 
            of his disciples therefore said one to another, What is this that he saith 
            unto us, A little while, and ye behold me not; and again a little while, and ye 
            shall see me: and, Because I go to the Father? (<span class="comm"><span class="style7">John 14: 28</span>.</span>)

        <p align="left" class="style4"><span class="style5">18</span> They said therefore, What is this that 
            he saith, A little while? We know not what he saith. (<span class="comm">Having been unable to 
                entertain the idea of our Lord's burial and resurrection, no wonder the 
                apostles were mystified by these allusions to it.</span>)

        <p align="left" class="style4"><span class="style5">19</span> Jesus perceived 
            (<span class="comm">by his divine insight--<span class="style7">John 2: 24-25; 6: 61; Matthew 9: 4</span></span>) that they were desirous to ask him, and he said 
            unto them, Do ye inquire among yourselves concerning this, that I said, A 
            little while, and ye behold me not, and again a little while, and ye shall see 
            me?

        <p align="left" class="style4"><span class="style5">20</span> Verily, verily, I say unto you, that ye shall weep and 
            lament, but the world shall rejoice: ye shall be sorrowful, but your sorrow 
            shall be turned into joy. (<span class="comm">The death of Jesus truly brought gladness 
                to his enemies (<span class="comm"><span class="style7">Luke 22: 5</span></span>), and 
                sorrow to 

                his friends (<span class="comm"><span class="style7">John 20: 11</span></span>), but the sorrow was indeed turned to joy--<span class="style7">Matthew 28: 8</span>.</span>)

        <p align="left" class="style4"><span class="style5">21</span> A woman when she is in 
            travail hath sorrow, because her hour is come: but when she is delivered of the 
            child, she remembereth no more the anguish, for the joy that a man is born into 
            the world. (<span class="comm">The simile here is very apropos, according with Scriptural 
                ideals--<span class="style7">Colossians 1: 18; Revelation 1: 5</span>.</span>)

        <p align="left" class="style4"><span class="style5">22</span> And ye therefore now have sorrow: but I will see you again, and your heart 
            shall rejoice, and your joy no one taketh away from you. (<span class="comm"><span class="style7">Luke 24: 52-53</span>. The joyful hopes which come to 
                us through the resurrection of Jesus are beyond the reach of the despoiling 
                hand of man.</span>)

        <p align="left" class="style4"><span class="style5">23</span> And in that day ye shall ask me no question. (<span class="comm">The 
                coming of the Spirit would make all things clear, and the mysteries about which 
                the apostles now questioned would then be fully explained.</span>) Verily, 
            verily (<span class="comm">these two words give emphasis and introduce a new thought</span>), 
            I say unto you, if ye shall ask anything of the Father, he will give it you 
            in my name.

        <p align="left" class="style4"><span class="style5">24</span> Hitherto have ye asked nothing in my name: ask, and 
            ye shall receive, that your joy may be made full. (<span class="comm">Having spoken of his 
                departure, and of what the Spirit would do during his absence, he now speaks of 
                the work which he would himself do while absent. He entered heaven as our high 
                priest (<span class="comm"><span class="style7">Hebrews 9: 24</span></span>), and part of his 
                priestly office is to make intercession for his people (<span class="comm"><span class="style7">Hebrews 7: 24-25</span></span>). The use of Christ's name for intercessory 
                purposes was new to the apostles, since it was only thus employed after his 
                ascension.</span>)

        <p align="left" class="style4"><span class="style5">25</span> These things have I spoken unto you in dark sayings: the hour 
            cometh, when I shall no more speak unto you in dark sayings, but shall tell you 
            plainly of the Father. (<span class="comm">This closing discourse was full of dark sayings 
                which the disciples did not understand, but when the gospel facts were 
                completed and when the Spirit came on the day of Pentecost, then Christ through 
                the Spirit made all things plain to them.</span>)

        <p align="left" class="style4"><span class="style5">26</span> In that day ye shall ask in my 
            name (<span class="comm">fullness of knowledge would lead them to look readily to Christ as 
                intercessor</span>): and I say not unto you, that I will pray the Father 


            for you;

        <p align="left" class="style4"><span class="style5">27</span> for the Father himself loveth you, 
            because ye have loved me, and have believed that I came forth from the 
            Father.

        <p align="left" class="style4"><span class="style5">28</span> I came out from the Father, and am come into the world: 
            again, I leave the world, and go unto the Father. (<span class="comm">Birth and death are 
                alike beyond our control. That Jesus had a divine as well as a human nature is 
                shown by the fact that his entrance into and exit from the world were both 
                governed by his own violation, as was also his resurrection (<span class="comm"><span class="style7">John 10: 17-18</span></span>). While the apostles did not 
                believe in the voluntary exit of Jesus, it having not yet taken place, they did 
                believe that he had come into the world as a divine being, and for this belief 
                the Father loved them, and this love of the Father was not to be lost sight of 
                in considering the mediatory work of Christ. In short, the Father must be 
                looked upon as one who does not need to be interceded with because of a lack of 
                love. Though, according to the divine plan and order, Jesus is intercessor 
                (<span class="comm"><span class="style7">1 Timothy 2: 5; 1 John 2: 1-2</span></span>), yet 
                the office is not self-assumed for the purpose of counteracting any spirit of 
                severity in the Father, but is, on the contrary, undertaken by direct 
                appointment of the Father, made because of the Father's love (<span class="comm"><span class="style7">John 3: 16</span></span>). Failing to recognize the Father as 
                the fountain and source of grace, love and mercy has led the Roman Church into 
                gross errors. The Father being suspected of undue rigor, a like suspicion arose 
                also as to the Son because of his nearness to the Father. Therefore the Virgin 
                Mary was called in to intercede with and soften the obduracy of the Son. Since 
                the deification of the Virgin Mary in 1853, she also has been looked upon with 
                growing distrust, and the tendency has been to call upon Joseph to intercede 
                with Mary to intercede with the Son to intercede with the Father. Thus that 
                wonderful love of God which passes all understanding is made less than that of 
                mere mortals who never manifested a measure of philanthropy above what is 
                common. Against such errors Jesus guards us by causing us to understand that, 
                if the love of the Father alone were to be considered, there would be no need 
                for him to intercede at all.</span>)

        <p align="left" class="style4"><span class="style5">29</span> His disciples say, Lo, now speakest thou


            plainly, and speakest no dark saying. (<span class="comm">They now clearly 
                understood that as Jesus came from heaven so would he return to heaven, but 
                they did not understand the process by which this return would be effected.</span>)

        <p align="left" class="style4"><span class="style5">30</span> Now know we that thou knowest all things, and needest not that any man 
            should ask thee: by this we believe that thou camest forth from God. (<span class="comm">The 
                miraculous manner in which he had just read their thoughts caused them to 
                boldly declare their faith in his divinity.</span>)

        <p align="left" class="style4"><span class="style5">31</span> Jesus answered them, Do ye 
            now believe?

        <p align="left" class="style4"><span class="style5">32</span> Behold, the hour cometh, yea, is come, that ye 
            shall be scattered, every man to his own, and shall leave me alone: and
            yet I am not alone, because the 
            Father is with me. (<span class="comm">He contrasts the faith which his disciples then 
                professed with that utter lack of it which they would manifest in a few hours. 
                All their confidence in his divinity would vanish when they saw him arrested, 
                etc., and they would seek their own safety, leaving him to his fate. Much as he 
                would feel their desertion, he would not be left utterly comfortless, because 
                the Father would be with him. Paul speaks in a similar strain--<span class="style7">2 Timothy 4: 16-18</span>.</span>)

        <p align="left" class="style4"><span class="style5">33</span> These things 
            have I spoken unto you, that in me ye may have peace. In the world ye have 
            tribulation: but be of good cheer; I have overcome the world. (<span class="comm">Christ's 
                return to the Father and his throne is the Christian's source of peace. As none 
                of the accumulations of evil which came upon Christ prevented him from 
                attaining his goal, so the Christian feels that in the conquering power of 
                Christ, he too shall rise superior to all his troubles, and this feeling brings 
                him peace.</span>)
    </div> 


</ion-content>