<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>68. MATTHEW'S FEAST.</h3>
        <h3>(<span class="comm">CAPERNAUM.</span>)</h3>
        <h3>MATTHEW 9: 10-17;  MARK 2: 15-22;  LUKE 5: 29-39.</h3>
        <p align="left" class="style4"><span class="style5"></span> 



        <p align="left" class="style4"><span class="style5">Luke 5: 29</span>  And Levi (<span class="comm">another name for the apostle Matthew</span>) 
            made him a great feast in his house:


        <p align="left" class="style4"><span class="style5">Mark 2: 15</span> 
            And it came to pass, that he was sitting {
            as he sat} at meat in the {his}house,  and there was a great multitude 
            of publicans (<span class="comm">Matthew had invited his old friends</span>) and of others
            and  behold, many publicans and 
            sinners came and sat down with Jesus and his disciples.  
            for there were many,  that were sitting at meat with 
            them.  and they followed him.  



        <p align="left" class="style4"><span class="style5">Luke 5: 30</span> And the Pharisees and their 
            scribes {the scribes of the Pharisees,} (<span class="comm">that is, 
                the scribes which were of their party or sect</span>) when they saw that he was 
            eating with the sinners and publicans,  murmured 
            against his disciples, saying, {they said} unto his 
            disciples,  Why do ye eat and drink with the publicans 
            and sinners?  Why eateth your Teacher with the 
            publicans and sinners?   How is 
            it that he eateth and drinketh with publicans and sinners? 
            (<span class="comm">From their standpoint, the question was natural enough. No strict Jew could 
                eat with a Gentile (<span class="comm"><span class="style7">Acts 11: 3; Galatians 2: 12</span></span>), and Matthew's guests were classed with the heathen.</span>) 



        <p align="left" class="style4"><span class="style5">Matthew 9: 12</span> But {<span class="style5">Mark 2: 17</span> And}  
            when he  Jesus heard it, he  
            answering said {saith} unto them, They that 
            are whole {in health} have no need of a physician, 
            but they that are sick.  


        <p align="left" class="style4"><span class="style5">13</span> But go ye and 
            learn what this meaneth, I 
            desire mercy, and not sacrifice (<span class="comm">For an explanation of this passage, see 
                page 212. To mercifully help sinners to repent was more precious to God than 
                sacrifice</span>): for  


        <p align="left" class="style4"><span class="style5">Luke 5: 32</span> I am not 
            come {I came not} to call the righteous, but 
            sinners.  to repentance. (<span class="comm">Being charged with 
                recklessly consorting 

                with sinners, it was necessary for Jesus to 
                vindicate himself, else his influence would be damaged; hence he presents three 
                arguments: 1. His office being analogous to that of a physician, required him 
                to visit the sin-sick. 2. God himself commended such an act of mercy, and 
                preferred it to sacrifice; 3. As he came to call sinners to repentance, he must 
                therefore go to the sinners. These arguments do not justify us in keeping 
                company with bad people for any other purpose than to do them good--that 
                is, as their soul's physician. When he used the word "righteous," 
                Jesus did not mean to admit that any were so righteous as to need no Saviour; 
                he merely quoted the Pharisees at the value which they set upon themselves.</span>) 



        <p align="left" class="style4"><span class="style5">Mark 2: 18</span> And John's disciples and the Pharisees were fasting: and they come {<span class="style5">Matthew 9: 14</span> Then come to 
            him the disciples of John,}  


        <p align="left" class="style4"><span class="style5">Luke 5: 33</span> And they 
            said {say} unto him,  
            saying,  The disciples of John fast often, and make 
            supplications (<span class="comm">single penitential prayers with their fasting</span>); 
            likewise also the disciples of 
            the Pharisees; but thine eat and drink. (<span class="comm">As John the Baptist observed one 
                almost continual fast, his diet being locusts and wild honey, his disciples 
                naturally had great respect for that rite, and noted the lack of its observance 
                by Jesus as an apparent defect in his character. They were honest inquirers, 
                and Jesus answered them respectfully as such.</span>)   Why do we 
            and the Pharisees {John's disciples and the disciples 
            of the Pharisees}  fast oft, but thy disciples fast 
            not? 


        <p align="left" class="style4"><span class="style5">Matthew 9: 15</span> And Jesus said unto them,  
            Can ye make the sons of the bride-chamber fast, {mourn}, as long as {while} the bridegroom is with 
            them?  as long as they have with bridegroom with them, 
            the cannot fast. (<span class="comm">The bridegroom's friends were called "sons of the 
                bride-chamber." They went with the bridegroom to the bride's house, and 
                escorted her to her new home. Arriving at the bridegroom's house, a feast 
                usually lasting seven days ensued (<span class="comm"><span class="style7">Matthew 22: 4; Luke 14: 8; John 2: 8, 9</span></span>). Mourning and fasting would therefore 
                ill befit such an occasion.</span>)  


        <p align="left" class="style4"><span class="style5">Luke 5: 35</span> But the days will 
            come; and when the bridegroom shall 

            be taken from them,
            and then will they fast in that day. {those days.} (<span class="comm">Jesus here foretells the removal of his visible 
                presence from his disciples by his ascension. His words predict but do not 
                command a fast. He prescribed no stated fasts, and the apostolic church kept 
                none. History shows that prescribed fasts become formal and tend to 
                Phariseeism.</span>) 


        <p align="left" class="style4"><span class="style5">36</span> And he spake also a parable unto them: No man rendeth a 
            piece from a new garment and putteth it upon an old garment, else he will rend 
            the new, and also the piece from the new will not agree with the old. 



        <p align="left" class="style4"><span class="style5">Matthew 9: 16</span> And no man putteth {seweth} a piece of undressed cloth on {
            upon} an old garment; for {else} that which should 
            fill it up taketh from it, {from the garment,}
            the new from the old, and a worse rent is made. (<span class="comm">Jesus 
                justifies the conduct of his disciples by an appeal to the principles of the 
                new dispensation, by which they were governed. The disciples of John looked 
                upon Jesus as a reformer of Judaism, but he corrects their false impressions. 
                To tear the new dispensation to pieces to renovate or embellish the old would 
                be to injure the new and to destroy the old. By the process of fulling or 
                dressing, new cloth was cleansed and shrunk so as to become more compact. The 
                new cloth, therefore, had in it, so to speak, a life-element, and in its 
                movement while shrinking it would tear the weaker fiber of the old cloth to 
                which it was sewed, and thus enlarge the rent. The new dispensation could have 
                rites and forms of its own, but could not conform to the rites of the 
                Pharisees. If the conduct of his disciples had made a rent in the rabbinical 
                traditions with regard to fasting, Jesus could not so modify the conduct of his 
                disciples as to patch the rent without injuring the moral sense of his 
                disciples, and without making Phariseeism a more meaningless hypocrisy than 
                ever.</span>) 


        <p align="left" class="style4"><span class="style5">Mark 2: 22</span> And no man putteth {<span class="style5">Matthew 9: 17</span> Neither do men put} new wine 
            into old wine-skins:  else the the new wine will burst 
            the skins,  and the wine  
            itself will be {is} spilled,  
            and the wine perisheth, and the skins:  burst,
            and the skins will perish.  but they 
            put new wine {new 

            wine must be put}  into fresh wine-skins.and both are preserved. (<span class="comm">This parable is also an illustration 
                of the principles set forth above. Wine was then stored in casks of 
                skin--usually hides of goats. Wine-skins, newly made, were elastic, and 
                would expand to accommodate the fermentation of the new wine within. But the 
                old wine-skins were stiff and of little strength, and would burst if fermenting 
                liquid were confined within them.</span>)   


        <p align="left" class="style4"><span class="style5">Luke 5: 39</span> And no man 
            having drunk old wine desireth 
            new; for he saith, The old is good. (<span class="comm">The thought here is that as wine 
                should be put in skins suited for it, and as, at an entertainment, the 
                different kinds of wine should be served in appropriate succession; so, fasting 
                should be observed on suitable occasions--not, for instance, at a 
                wedding.</span>)


    </div> 


</ion-content>