<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>35. JESUS HEALS A PARALYTIC.</h3>
        <h3>MATTHEW 9: 2-8;  MARK 2: 1-12;  LUKE 5: 17-26.</h3>
        <p align="left" class="style4"><span class="style5">Luke 5: 17</span>     And it came to pass on one of those days,
            when he entered again into Capernaum after some days,
            that he was teaching;  it was noised 
            that he was in the house. (<span class="comm">Luke uses the general expression 

                "those days," referring to the early portion of our Lord's ministry 
                in Galilee. Mark says, "some days," which implies the lapse of a 
                considerable interval. The healing of the leper created such excitement that 
                for some time, several weeks, Jesus kept out of the cities. He now, after the 
                excitement has subsided, quietly enters Capernaum, and probably goes to the 
                house of Simon Peter, now looked upon as his head quarters in Capernaum 
                (<span class="comm"><span class="style7">Mark 1: 29</span></span>). His entrance into 
                Capernaum marks the end of his first missionary tour through Galilee.</span>) </p>



        <p align="left" class="style4"><span class="style5">Mark 2: 2</span>   And 
            many were gathered together, so that there was no longer room for them, no, not even about the door: and 
            he spake the word unto them. (<span class="comm">Oriental houses are one or two storied 
                structures, built in the form of a square, or rectangle, with an open space in 
                the center called the court. They have one door which opens from the street 
                into an open space called the porch, and this porch in turn opens upon the 
                court. In this porch there is usually a stairway leading to the roof. The roofs 
                are invariably flat, and are surrounded by a breastwork or parapet to keep 
                those on them from falling off. Roofs or housetops are used as we use yards, 
                only they are somewhat private. Some think that this house was a two-storied 
                structure, and that Jesus was teaching in the upper room or second story. If 
                this were so, there would have been little profit to the people who clung about 
                the street door, for they could neither see nor hear. Besides, a two-storied 
                house would probably have been beyond the means of Simon Peter. It is more 
                likely that Jesus was in the room opposite the porch across the court. If so, 
                the crowd at the door might catch an occasional word, or by tiptoing obtain a 
                momentary glance; and thus fan the hope of some ultimate satisfaction. The 
                gospel is here called "the word," for it is the Word among words, 
                as the Bible is the Book among books.</span>)   and there were 
            Pharisees and doctors of the law sitting by (<span class="comm">the fact that they were 
                sitting, shows that they were honored above the rest: Jesus did not increase 
                their ill-will by any needless disrespect</span>), who were come out of 
            every village of Galilee and Judaea and 

            Jerusalem (<span class="comm">It 
                is not likely that such a gathering came together by accident. Capernaum was 
                known to be the headquarters of Jesus, and these leaders of the people had 
                doubtless gathered there to wait for some opportunity to see or hear Jesus. 
                They recognized the necessity of coming to some definite judgment regarding 
                him. We shall see in this scene the beginning of their hostility to Jesus, 
                which developed into four objections: 1. Alleged blasphemy; 2. Intercourse with 
                publicans and sinners; 3. Supposed neglect of ascetic duties, such as washings, 
                fastings, etc.; 4. Alleged violation of the sabbath</span>): and the power 
            of the Lord was with him to heal. (<span class="comm">That is to say, the power of God the 
                Father was then working in Jesus to perform miracles (<span class="comm"><span class="style7">John 14: 10</span></span>). Some take this as implying that other miracles 
                had been wrought that day, before the arrival of the paralytic. But the words 
                are more likely a preface for what follows; in which case the meaning is that 
                the cold disbelief of the Pharisees did not prevent Jesus from working 
                miracles, as disbelief usually did--<span class="style7">Matthew 13: 58; 16: 1-4.</span></span>) 
        </p>


        <p align="left" class="style4"><span class="style5">Luke 5: 18</span>   And behold, men bring {they brought  they come, bringing} unto 
            him a man sick of the palsy, {that was palsied:}
            lying on a bed:  borne of four
            (<span class="comm">Palsy is an abbreviation of the word "paralysis." It is caused by 
                a cessation of the nervous activities. See page 175. In the East bedsteads were 
                practically unknown. An Oriental bed is a thin mattress, or pallet, just large 
                enough for a man to lie upon; and those generally used by the poor to-day are 
                made of sheepskin with the wool on it. Such a bed could be easily carried by 
                four men, if each took hold of a corner.</span>)   and they sought 
            to bring him in (<span class="comm">i. e., into the house</span>), and to lay him 
            before him. </p>



        <p align="left" class="style4"><span class="style5">19</span>   And not finding by what 
            way they might bring him in because of the multitude,  </p>



        <p align="left" class="style4"><span class="style5">Mark 2: 4</span>   And when they could not come nigh unto him 
            for the crowd (<span class="comm">To these four who sought Jesus it seemed a case of now or 
                never. If they waited till another season, Jesus might withdraw himself again 
                for "some days," or the palsied man might die. "Now" is 
                always the day of salvation</span>),  they went up to 
            the 

            housetop (<span class="comm">They went up by means of the stairs in 
                the porch, or by ascending to the roof of an adjoining house, and stepping 
                across to the roof of Simon's house. Many commentators assert that they went up 
                by an outside stairway, erroneously believing that such stairs are common in 
                Palestine; but they are almost unknown there, and their presence would only 
                expose the inmates of the house to violence and pillage</span>),  
            they uncovered the roof where he was: and when they had broken it up, 
            they let down the bed whereon the sick of the palsy lay.  
            and let him down through the tiles with his couch into the midst before 
            Jesus. (<span class="comm">Some have thought that removing the roof merely means that they 
                took away the awning over the court, and also that the removal of the tile 
                merely means that they took down the parapet or wall which prevented people 
                from falling from the roof into the court. But the language is strongly against 
                such a construction. An awning is not a roof, and it is rolled up, not 
                "broken up." Moreover, the man was let down "through the 
                tiles," which seems to indicate that the remaining tiles encased an 
                opening through which he was lowered. The tiles were plates of burnt clay, 
                suitable for roofing rather than for building walls or parapets. We are not 
                told in what part of the house Jesus stood, but evidently an opening was made 
                in the flat roof above him, and the man was lowered to the floor in front of 
                Jesus by means of short straps or pieces of rope fastened to the four corners 
                of the bed. A stout parapet would have aided rather than hindered, if the body 
                had been lowered into the court.</span>) </p>



        <p align="left" class="style4"><span class="style5">5</span>  And Jesus 
            seeing their faith (<span class="comm">The four friends of the sick man showed their faith by 
                those bold and persistent efforts which took liberties with the house of a 
                neighbor; and the palsied man showed his faith by consenting to the 
                extraordinary means employed in his behalf</span>) saith {
            said} unto the sick of the palsy, Son, {Man,}
            be of good cheer;  thy sins are 
            forgiven thee. (<span class="comm">The affectionate address, "Son," might have 
                ordinarily surprised the Jewish doctors, who held themselves too far removed 
                from sinners to speak thus familiarly with them. 

                But the smaller 
                surprise was swallowed up in the greater, when they heard Jesus pronounce the 
                forgiveness of the man's sins. Since man had trod the globe, sin against God 
                had never been pardoned by the direct, authoritative utterance of fleshly lips. 
                Such power resides in Jesus alone. Since then, and even in modern times, 
                mistaken priests have presumed to speak forgiveness; but the apostles claimed 
                no such power (<span class="comm"><span class="style7">Acts 8: 22</span></span>). So far as 
                the church forgives sins (<span class="comm"><span class="style7">John 20: 23</span></span>), it does it merely as the organ of God, and must do so according to the 
                methods and ordinances laid down by God. Those who profess to forgive sin by 
                word of mouth, should be able to make good their claim to this boasted power by 
                healing diseases or otherwise removing the consequences of sin. Failing to do 
                this, they must forever rest under justified suspicion that they are, wittingly 
                or unwittingly, guilty of blasphemy.</span>)   
        </p>



        <p align="left" class="style4"><span class="style5">6</span>   But there 
            were certain of the scribes  and the Pharisees
            sitting there,    </p>



        <p align="left" class="style4"><span class="style5">Matthew 9: 3</span>  And 
            behold, (<span class="comm">they</span>)   began to reason,  
            and reasoning in their hearts,  said within 
            themselves,  saying,  This man 
            blasphemeth.   </p>



        <p align="left" class="style4"><span class="style5">Mark 2: 7</span>   Why doth this that man 
            thus speak? (<span class="comm">A scornful expression, shown by the repetition, houtos 
                houtoo, which means, literally, "this one these things."</span>) 
            Who is this that speaketh blasphemies? Who can forgive 
            sins,  but one, even
            God?  alone? (<span class="comm">In classic Greek to 
                blaspheme means to speak evil or, or to slander a person, and it is used in 
                this sense in the New Testament (<span class="comm"><span class="style7">Titus 3: 2; 2: Peter 2: 2; Jude 8</span></span>). Its ordinary New Testament use, however, is 
                quite different, since it is employed to designate something which reflects 
                evil on the character and nature of God. This use is peculiar to monotheistic 
                writers, and was unknown to the Greeks. Such blasphemies may be divided into 
                three general heads, thus: 1. To attribute the unworthy to God. 2. To deny the 
                worthy to God. 3. To arrogate or claim any attribute, power, authority, etc., 
                which belongs to exclusively to God. It was under this third head that Jesus 
                seemed to lay himself open to accusation--an accusation entirely just if 
                he had not been the 

                Son of God. The Pharisees were not faulty in 
                their logic, but were mistaken in their premises; hence Jesus does not deny 
                their doctrine; he merely corrects their mistaken application of it to himself. 
                As to this pronounced forgiveness of Jesus, two questions arise: 1. Why did he 
                forgive the man's sins? The haste with which the man was brought to Jesus 
                suggests that his condition was critical; in which case the torment of sin 
                would be the greater. As a searcher of hearts, Jesus saw the unuttered desire 
                of the sick man, and at once responded to it. If his words meant nothing to the 
                conscience of the man, they were wasted; but Jesus knew what was in man. 2. Why 
                did he pronounce the forgiveness so publicly? As the terms of pardon prescribed 
                in the law were yet in full force, this open speech of Jesus was a surprising 
                assertion of authority. In fact, such assertions were exceptional in his 
                ministry; for only on three recorded occasions did he thus forgive sins 
                (<span class="comm"><span class="style7">Luke 7: 48; 23: 43</span></span>). Being the 
                exceptional and not the established method of pardon, and being thus employed 
                in the presence of so representative an audience, it was evidently used for a 
                special purpose; and that purpose was to show that Jesus had such power, that 
                men seeing this power might believe him to be the Son of God. He was 
                vindicating an eternal law of the universe, in which all human beings 
                throughout all generations would be interested; viz.: that humanity has a Ruler 
                who can present it spotless before the throne of God (<span class="comm"><span class="style7">Jude 24</span></span>). Jesus propounded his law in the presence of those 
                most interested in exposing it if false, and most able to explode it had it not 
                been true. Whether his words were truth or blasphemy, was the controversy 
                between Christ and the rulers from that day to the end of his 
                ministry--<span class="style7">Matthew 26: 65.</span></span>)  </p>



        <p align="left" class="style4"><span class="style5">8</span>  And straightway Jesus, perceiving in his spirit that 
            they so reasoned {their reasonings,}within themselves,  
        </p>



        <p align="left" class="style4"><span class="style5">Matthew 9: 4</span>  And 
            Jesus knowing their thoughts (<span class="comm">Jesus read their thoughts by his divine 
                insight, and not because of any recognized habit or tendency on their part to 
                criticise him, for this is the first recorded indication of hostility on the 
                part of the Pharisees, 

                though it is hinted at, at <span class="style7">John 4: 1</span>. Such discernment of the thought was to 
                be a characteristic mark of the expected Messiah (<span class="comm"><span class="style7">Isaiah 11: 2, 3</span></span>), and Jesus 
                had it (<span class="comm"><span class="style7">John 2: 25</span></span>). It also is an attribute peculiar to God--<span class="style7">1 Chronicles 28: 9; Jeremiah 17: 10; Romans 8: 27; Revelation 2: 23</span></span>) 
            answered and said {saith} unto them,  Wherefore think ye evil in your 
            hearts? (<span class="comm">Jesus could see invisible sin, and could forgive it or condemn it, 
                as the conditions moved him. The powers of discernment, forgiveness and 
                condemnation make him the perfect Judge.</span>)   Why 
            reason ye in your hearts?


        <p align="left" class="style4"><span class="style5">5</span>  For which is easier,  to say to the 
            sick of the palsy,  Thy sins are forgiven thee;
            or to say, Arise, and take up thy bed, and walk? (<span class="comm">To 
                understand this sentence we should place the emphasis upon the word 
                "say," because the question at issue was the power or effect of his 
                speech. The rabbis, after their first shock of surprise, thought that Jesus 
                feared to attempt the fraud of a so-called miracle in the presence of learned 
                men, lest he should be detected and exposed; and hence looked upon his present 
                action as an attempt to bear himself safely off before the public, and to 
                maintain his standing by the use of high-sounding words. They felt that he used 
                words of unseen effect, because he dared not use those of seen effect. This was 
                precisely the view that Jesus knew they would take, and that he wished them to 
                take; for by showing his ability to work in the realms of sight that which is 
                impossible; viz.: the healing of the sick man, he could place before them proof 
                suited to their own reasoning that he had a like ability to work the impossible 
                in the realms of the unseen; viz.: the forgiveness of the man's sins. By thus 
                demonstrating his authority in the eternal and physical world, Jesus assures us 
                of his dominion over the internal and spiritual.</span>) 
        </p>



        <p align="left" class="style4"><span class="style5">Mark 2: 10</span>  But that ye may know 
            that the Son of man (<span class="comm">Daniel's name for the Messiah--<span class="style7">Daniel 7: 10-13</span></span>) hath authority on 
            earth to forgive sins (<span class="comm">The words "on earth" are taken by some 
                to indicate the then existing contrast between Christ's present humiliation or 
                ministry on earth, and his future glorification or enthronement in heaven; in 
                which case they would 

                mean that Jesus could grant now that which 
                some might think could only be exercised hereafter. Others take them to mean 
                the same as if Jesus had said, "You think that forgiveness can only be 
                granted by the Father in heaven, but it can also be granted by the Son upon 
                earth. That which you have heretofore sought from the Father you may now seek 
                from me." The latter is probably the correct view. As to the test of 
                power or authority, the miracle of Jesus was very convincing; for in the 
                popular opinion sin was a cause of which disease was the effect. We are told, 
                on the authority of later rabbis, that it was a maxim among the Jews that no 
                diseased person could be healed till his sins were blotted out. We also 
                recognize a correlation between sins and diseases, which the Saviour's use of 
                this miracle justifies. A mere miracle, such as swallowing fire or causing iron 
                to float, would not prove his ability to forgive sins. The proof consisted in 
                the relation which disease bears to sin, and the consequent relation which 
                healing bears to forgiveness. The connection between disease and sin is a real 
                and necessary one. The Jews were right in seeing this connection, but they 
                erred in thinking that they were warranted in personally criminating 
                every one whom they found afflicted, and in judging that the weight of the 
                affliction indicated the quantity of the sin. The Book of Job should have 
                corrected this error. Such unrighteous judgments are condemned by Christ 
                (<span class="comm"><span class="style7">John 9: 3; Luke 13: 2-5</span></span>). 
                Paralysis is, however, to-day looked upon as ordinarily the punishment of some 
                personal sin, usually that of intemperance or sensuality</span>),(<span class="comm">then saith he to the sick of the palsy</span>), {
            (<span class="comm">he said unto him that was palsied</span>),} I say unto thee, Arise, and take up 
            thy couch, {bed,}  and go up 
            unto thy house. (<span class="comm">What command could be more pleasant than that which bade 
                this sick man go home forgiven and healed?</span>)   </p>



        <p align="left" class="style4"><span class="style5">Luke 5: 25</span>   And immediately he rose up 
            {arose,}  before them,
            and straightway took up the bed,  
            that whereon he lay (<span class="comm">"A sweet saying! The bed had borne the man; now 
                the man bore the bed"--Bengel</span>),  
            and went forth before them all  and departed to his 
            house.

            glorifying God.
            insomuch that they were all amazed, </p>


        <p align="left" class="style4"><span class="style5">Matthew 9: 8</span>  But 
            when the multitudes saw it, they were afraid,
        </p>



        <p align="left" class="style4"><span class="style5">Luke 5: 26</span>   And amazement took hold on all, and they glorified God (<span class="comm">The 
                "all" of this passage hardly includes the scribes and Pharisees, 
                or, if it does, their admiration of Jesus was but a momentary enthusiasm, which 
                quickly passed away</span>);  who had given such authority 
            unto men. (<span class="comm">Some take the word "men" as the plural of category, 
                and apply it to Christ. Others think that they regarded Jesus as a mere man 
                among other men, and that they therefore looked upon his power as a gift given 
                to men generally, and not as something peculiar to himself. If this latter view 
                is correct, it is likely that they took the words "Son of man" as 
                referring to men generally, and not as a reference to the Messiah, such as 
                Jesus meant it to be.</span>)   saying, We never saw it on this 
            fashion,  and they were filled with fear, saying, We 
            have seen strange things to-day. (<span class="comm">Literally, seen paradoxes: things 
                contrary to common thought and ordinary experience. They had seen a threefold 
                miracle: sins forgiven, thoughts read and palsy healed.</span>)
        </p> 

    </div>
</ion-content>