<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>150. SIXTH APPEARANCE OF JESUS.</h3>
        <h3>(<span class="comm">SUNDAY, ONE WEEK AFTER THE RESURRECTION.</span>)</h3>
        <h3>JOHN 20: 26-31;  1 CORINTHIANS 15: 5.</h3>
        <p align="left" class="style4"><span class="style5">26</span> And after eight days again his disciples were within, and Thomas with them. then he appeared to the twelve; Jesus cometh, the doors being shut, and stood in the midst, and said, Peace be unto you. (<span class="comm">He came in the same manner and with the same salutation as formerly, giving Thomas a like opportunity for believing.</span>)

        </p>

        <p align="left" class="style4"><span class="style5">27</span> Then saith he to Thomas, Reach hither thy finger, and see my hands; and reach hither thy hand, and put it into my side: and be not faithless, but believing. (<span class="comm">Thomas had proposed an infallible test, and Jesus now cheerfully submits to it.</span>)


        </p>

        <p align="left" class="style4"><span class="style5">28</span> Thomas answered and said unto him, My Lord and my God. (<span class="comm">We have here the first confession of Christ as God. It should be said in Thomas' favor that if his doubts were heaviest, his confession of faith was fullest. He had more doubts as to the resurrection because it meant more to him; it meant that Jesus was none other than God himself.</span>)

        </p>

        <p align="left" class="style4"><span class="style5">29</span> Jesus saith unto him, Because thou hast seen me, thou hast believed: blessed are they that have not seen, and yet have believed. (<span class="comm">Thus, while rejoicing in the belief of Thomas, Jesus pronounces a beatitude upon the countless numbers of believers in his resurrection, who are not witnesses of it.</span>)

        </p>

        <p align="left" class="style4"><span class="style5">30</span> Many other signs therefore 
            did Jesus in the presence of the disciples, which are not written in this 
            book: 

        </p>

        <p align="left" class="style4"><span class="style5">31</span> but these are written, that ye may believe that Jesus is the Christ, the Son of God; and that believing ye may have life in his name. (<span class="comm">This sounds like an ending to the Gospel, but it is like some of Paul's apparent but not real endings. Starting it with the proposition that Jesus, as the Word, was God, he comes here to the climax of Thomas' confession that Jesus is God, and the beatitude of Jesus upon those of a like faith. He then declares that he has written his book that men might have this faith, and the eternal life to which it leads.</span>)        </p>


    </div> 


</ion-content>