<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>115. JESUS ARRIVES AT BETHANY.</h3>
        <h3>(<span class="comm">FROM FRIDAY AFTERNOON TILL SATURDAY NIGHT, <br>MARCH 31 AND APRIL 1, A.D. 30.</span>)</h3>
        <h3>JOHN 11: 55-57; 12: 1-11;  MATTHEW 26: 6-13;  MARK 14: 3-9.</h3>
        <p align="left" class="style4"><span class="style5">John 11: 55</span>   Now the passover of the Jews was at hand: and many 
            went up to Jerusalem out of the country before the passover, to purify 
            themselves. (<span class="comm">These Jews went up before the Passover that they might have 
                timeto purify themselves from ceremonial uncleanness before the feast. They 
                were expected to purify before any important event (<span class="comm"><span class="style7">2 Chronicles 30: 13-20</span></span>), for those who 
                were ceremonially unclean were excluded from it--<span class="style7">John 18: 28.</span></span>) 


        </p>




        <p align="left" class="style4"><span class="style5">56</span>   They sought therefore for Jesus, and 
            spake one with another, as they stood in the temple, What think ye? That he 
            will not come to the feast? 


        </p>


        <p align="left" class="style4"><span class="style5">57</span>  Now both the chief priests and the 
            Pharisees had given commandment, that, if any man knew where he was, he should 
            show it, that they might take him. (<span class="comm">The decree of the Sanhedrin ordering 
                the arrest of Jesus led the people to question as to whether he would dare to 
                approach the city. But this mention of it and the stir and question which it 
                created have a dark significance. It shows that the Jews generally were 
                forewarned of the evil purpose of the Sanhedrin, and the dangers which 
                surrounded Jesus. They were not taken unawares when their rulers told them to 
                raise the cry "Crucify him!" And they raised it after they had due 
                notice and time 

                for deliberation.</span>)  


        </p>


        <p align="left" class="style4"><span class="style5">John 12: 1</span>   Jesus therefore six days before the passover came to Bethany, where Lazarus 
            was, whom Jesus raised from the dead. (<span class="comm">The word "therefore" 
                refers to the decree and consequent dangers just mentioned. Because his 
                "hour" had come, Jesus went to face these dangers. We are told that 
                he came to the house of Lazarus and that he kept near Lazarus because these 
                facts emphasized the great miracle which roused the hatred of the Jews, and 
                caused them more earnestly to seek the death of Christ. Jesus appears to have 
                arrived in Bethany Friday afternoon, March 31, a.d. 30. It is likely that he spent 
                the Sabbath day at that place, and that the supper mentioned below was given 
                him after sunset on Saturday, which, according to Jewish reckoning, would be 
                the beginning of Sunday. This supper is mentioned later by Matthew and Mark, 
                but without any note of time to show that it belongs specifically where they 
                put it. But John does give us a note of time. The twelfth verse of <span class="style7">John 12</span> shows that it was the night before the 
                triumphal entry, and therefore we follow the chronology of John.</span>) 



        </p>


        <p align="left" class="style4"><span class="style5">2</span>   So



        </p>


        <p align="left" class="style4"><span class="style5">Matthew 26: 6</span>   Now when Jesus was in Bethany,  
            they made him a supper there:  in the house of Simon 
            the leper,  and Martha served; but Lazarus was one of 
            them that sat at meat with him. (<span class="comm">Who Simon the leper was is not known. It 
                is not unlikely that he was one whom Jesus had healed, and that he united with 
                the household of Lazarus in a joint effort to show gratitude unto the Lord for 
                his goodness to this group of his friends.</span>)   



        </p>



        <p align="left" class="style4"><span class="style5">Mark 14: 3</span>   And 
            while he was (<span class="comm">there</span>) as he sat at meat, there came  
            unto him a woman {<span class="style7">3</span> Mary}  
            having an alabaster cruse of exceeding precious ointment,  
            of pure nard very costly;  



        </p>



        <p align="left" class="style4"><span class="style5">John 12: 3</span>  Mary 
            therefore took a pound (<span class="comm">a litra, a Greek weight containing nearly 
                twelve ounces avoirdupois</span>) of ointment of pure nard, very precious (<span class="comm">Nard 
                was a liquid perfume distilled from some odorous plant or plants and mingled 
                with oil. It was sealed in flasks or alabaster boxes and imported from the far 
                East</span>),   and 
            she brake the cruse, and poured it over {upon}
            his head.  as he sat at meat.
            and anointed 

            the feet of Jesus, and 
            wiped his feet with her hair (<span class="comm">The cruse seems to have been a long-necked 
                flask sealed with wax so tightly as to necessitate it being broken to extract 
                the nard. These flasks were tasteful and costly objects such as women delight 
                to possess. Many of them were so delicate that Pliny compares them to closed 
                rosebuds, and the same writer, speaking of nard, reckons it as an instance of 
                excessive luxury to anoint the feet or ankles with it</span>): and the house 
            was filled with the odor of the ointment. (<span class="comm">Thus the liberality of Mary 
                contributed to the pleasure of all the guests. The odor of a good deed is 
                generally diffusive.</span>) 



        </p>



        <p align="left" class="style4"><span class="style5">4</span>   But Judas Iscariot, one of his disciples, that 
            should betray him, saith, 



        </p>



        <p align="left" class="style4"><span class="style5">5</span>   Why was not this ointment sold for 
            three hundred shillings, and given to the poor? 



        </p>



        <p align="left" class="style4"><span class="style5">6</span>   Now this he 
            said, not because he cared for the poor; but because he was a thief, and having 
            the bag took away what was put therein.



        </p>



        <p align="left" class="style4"><span class="style5">Matthew 26: 8</span>   But when the disciples saw it, they {
            there were some that} had indignation among themselves,  
            saying, To what purpose is this waste?  To what 
            purpose hath this waste of the ointment been made? </p>



        <p align="left" class="style4"><span class="style5">Mark 14: 5</span>  For this ointment might have been sold  for much,
            for above three hundred shillings, and given to the poor. 
            And they murmured against her. (<span class="comm">It seems very likely that this murmuring 
                was started by Judas Iscariot, for the murmurers fall in with his notions that 
                the price of the ointment should be deposited in the poor fund. It is a 
                singular thing that Jesus permitted a thief to occupy the office of treasurer. 
                It is probable that Judas was honest when he was called to serve, but that same 
                management and spirit of economy which made him fit for the place ruined him 
                when he got it. Thus our strong points are often our weakest. The price of the 
                pound of nard would be about fifty-one dollars of our money, but the purchasing 
                power of money was then nearly ten times as great as it is now. The price here 
                named agrees almost exactly with the figures at which Pliny rates the most 
                costly nard.</span>) </p>



        <p align="left" class="style4"><span class="style5">Matthew 26: 10</span>   But Jesus perceiving it,
            therefore said,  unto them,
            Let her 

            alone;  
            Why trouble ye the woman? for she hath wrought a good work upon me. 
            Suffer her to keep it against the day of my 
            burying. </p>



        <p align="left" class="style4"><span class="style5">12</span>   For in that she poured this 
            ointment upon my body, she did it to prepare me for burial. 




        </p>



        <p align="left" class="style4"><span class="style5">Mark 14: 8</span>   She hath done what she could; hath anointed my body 
            beforehand for the burying. (<span class="comm">The expression "Suffer," etc., 
                used by John, is taken by some as implying that all the ointment was not poured 
                out, and that some of the apostles were endeavoring to persuade Mary to keep 
                and sell what was left, and that Jesus ordered it kept to finish the embalming 
                of his body which Mary had already begun. But there is nothing in the language 
                to require such an interpretation. Jesus meant, "Let her use it 
                rightly," using the word "keep" as in the expression, 
                "keep the feast;" i. e., observe the ceremony. The words of 
                Jesus about the ointment taken as a whole may be construed thus: "The 
                sorrows of my coming passion oppress me (<span class="comm"><span class="style7">Matthew 26: 38</span></span>), and Mary, conscious of that sorrow, wishes to cheer me 
                with the evidence of love and gratitude. She sympathizes with me as I approach 
                the shadow of death, and anoints me beforehand for the burial. You do not 
                begrudge what is given to the dead. You do not censure as extravagant what is 
                spent for the embalming of a dear one. You yourselves would be ready enough to 
                anoint me in this same manner after I am dead. So do not censure her because in 
                the fullness of her sympathy she has anticipated the coming catastrophe and has 
                anointed me beforehand."</span>)   



        </p>



        <p align="left" class="style4"><span class="style5">John 12: 8</span>   For the poor ye 
            have always with you (<span class="comm"><span class="style7">Deuteronomy. 15: 11
                </span></span>);  and whensoever ye will ye can do them good: but 
            me ye have not always. (<span class="comm">There would be plenty of opportunities in which to 
                do good to the poor, but the time for conferring a personal benefit upon Christ 
                in the flesh was now limited to seven days. Thereafter gifts could only be 
                given to Christ by bestowing them upon the poor.</span>) 



        </p>



        <p align="left" class="style4"><span class="style5">Mark 14: 9</span>   And verily I say unto 
            you, Wheresoever the {this} gospel shall be preached 
            in {throughout} the whole world, that also which this 
            woman hath done shall be spoken of for a memorial of her. (<span class="comm">Jesus here makes 


                prominent the different estimates which God and man place upon the 
                same acts. That which the disciples had censured as a waste and that which they 
                had regarded as worthy of rebuke was in his sight an action fit to be kept in 
                everlasting remembrance as a model for the conduct of future generations 
                throughout the whole earth, and he accordingly decreed that it be so kept in 
                mind.</span>) </p>



        <p align="left" class="style4"><span class="style5">John 12: 9</span>   The common people therefore of the Jews 
            learned that he was there (<span class="comm">in Simon's house</span>): and they came, not 
            for Jesus' sake only, but that they might see Lazarus also, whom he had raised 
            from the dead, </p>



        <p align="left" class="style4"><span class="style5">10</span> But the chief priests took counsel that they 
            might put Lazarus also to death;</p> 
        <p align="left" class="style4"><span class="style5">11</span>   because that by reason of him 
            many of the Jews went away (<span class="comm">withdrew from the party headed by the Jewish 
                rulers</span>), and believed on Jesus. (<span class="comm">The presence of the resurrected 
                man and the Christ who had resurrected him both at one table greatly excited 
                the curiosity of the multitudes who had come up to Jerusalem to attend the 
                passover. When word of this supper spread among the people it was natural that 
                they should slip out to Bethany to see the sight, and it was equally natural 
                that seeing it they should believe in Jesus. This deflection of the common 
                people gave a keener venom to the hatred of the rulers.</span>)


        </p>



    </div> 


</ion-content>