<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>74B. FIRST WITHDRAWAL FROM HEROD'S TERRITORY.</h3>
        <h3>(<span class="comm">SPRING, A.D. 29.</span>)</h3>
        <h3>FEEDING THE FIVE THOUSAND.</h3>
        <h3>MATTHEW 14: 13-21; MARK 6: 33-44;</h3>
        <p align="left" class="style4"><span class="style5">Luke 9: 11</span> But {and} the multitudes heard thereof (<span class="comm">heard of Jesus and his disciples crossing the lake</span>),</p>

        <p align="left" class="style4"><span class="style5">Mark 6: 33</span> And 
            they saw them going, and  perceiving it,many knew them,</p>

        <p align="left" class="style4"><span class="style5">John 6: 2</span> And a great multitude followed him, 
            because they beheld the signs which he did on them that were sick.and they ran together there on foot from all the cities, and 
            outwent them.</p>

        <p align="left" class="style4"><span class="style5">Luke 9: 14</span> And he came forth, and saw a great multitude, and had compassion on them,because they were as sheep not having a shepherd and he welcomed them, and he began to teach them many things. and spake unto them of the kingdom of God, and healed their sick. and them that had need of healing he cured. (<span class="comm">Jesus probably set sail from near Capernaum, and from thence across the lake to the narrow, secluded plain of El Batihah, where he landed is less than five miles. Seeing him start, the people followed him by running along the northern shore, and, though having a little farther to go, they traveled faster than the sailboat, and were waiting for him on the shore when he arrived.</span>)</p>

        <p align="left" class="style4"><span class="style5">John 6: 3</span> And Jesus went up into the mountain, and there he sat with his disciples. (<span class="comm">The level plain did not afford a good platform from which to address the people.</span>)</p>

        <p align="left" class="style4"><span class="style5">4</span> Now the passover, the feast of the Jews, was at hand. (<span class="comm">This passover is computed to have been held on April 16, A.D. 29. This statement as to the time of year prepares us for his further statement that there was much grass in the plain. It also explains in part the gathering of a multitude in this secluded region. Pilgrims on their way to the passover would gladly go several miles out of their way to see the great Prophet perform a miracle. The excitement, due to the mission of the twelve and the death of the Baptist, also tended to swell the crowd.</span>)</p>

        <p align="left" class="style4"><span class="style5">Luke 9: 12</span> And the day began to 
            wear away;</p>

        <p align="left" class="style4"><span class="style5">Mark 6: 35</span> And when the day was now 
            far spent,  
        </p>

        <p align="left" class="style4"><span class="style5">Matthew 14: 15</span> And when even was come, his disciples the twelve came unto him and said unto him, {saying,} The place is desert, and the day is now far spent; and the time is already past (<span class="comm">the time to seek lodging and provisions had gone by, and therefore the multitude must act quickly</span>);</p>

        <p align="left" class="style4"><span class="style5">Mark 6: 36</span> send them the multitudes { multitude} away, that they may go into the villages and country around, and lodge, and get provisions: and buy themselves food. something to eat. for we are here in a desert place. (<span class="comm">The apostles were the first to think of eating, and naturally enough, for they had started on empty stomachs, and their own discomfort made them anticipate the sad plight in which the multitude would soon find itself.</span>)</p>

        <p align="left" class="style4"><span class="style5">Matthew 14: 16</span> But Jesus said unto them, 
            They have no need to go away;</p>

        <p align="left" class="style4"><span class="style5">John 6: 5</span> Jesus 
            therefore lifting up his eyes, and seeing that a great multitude cometh to him, 
            saith unto Philip, Whence are we to buy bread, that these may eat? 
        </p>

        <p align="left" class="style4"><span class="style5">6</span> And this he said to prove him: for he himself knew what he would do.</p>

        <p align="left" class="style4"><span class="style5">7</span> Philip answered him, Two hundred shillings' worth of bread is not sufficient for them, that every one may take a little. (<span class="comm">Jesus tested Philip to see which way he would turn in his weakness. Jesus asked where the bread might be bought, knowing that power to feed the multitude resided in himself (<span class="comm"><span class="style7">Isaiah 55: 1</span></span>), but Philip wondered where the money was to be had to buy it.</span>)</p>

        <p align="left" class="style4"><span class="style5">Mark 6: 37</span> But he answered and said unto them, Give ye them to eat. And they say unto him, Shall we go and buy two hundred shillings' worth of bread, and give them to eat? (<span class="comm">The word translated shilling is the Roman denarius, worth about seventeen cents. The sum was not large, as we reckon money, but, considering the purchasing power of money in those days, it was an imposing sum, and it is to be doubted if the treasury-bag of Judas ever contained the fourth part of it. For a denarius was the regular price for a day's labor.</span>) </p>
        <p align="left" class="style4"><span class="style5">38</span> And he saith unto them, How many loaves have ye? go and see.</p>
        <p align="left" class="style4"><span class="style5">John 6: 8</span> One of his disciples, Andrew, Simon Peter's brother, saith unto him,</p>

        <p align="left" class="style4"><span class="style5">9</span> There is a lad here, who hath five barley loaves, and two fishes: but 
            what are they among so many?  And when they knew, they 
            say, Five, and two fishes.</p>

        <p align="left" class="style4"><span class="style5">Matthew 14: 17</span> And they 
            say unto him, {said,}  We 
            have here but  no more than five loaves and two fishes; 
            except we should go and buy meat for all this people.</p>

        <p align="left" class="style4"><span class="style5">Luke 9: 14</span> For they were about five thousand men. (<span class="comm">When sent to see what was in their larder, it appears that they had nothing at all. Andrew reports the finding of the boy's lunch while it was as yet the boy's property. Some of the others, having secured it from the boy, report it now at the disposal of Jesus, but comment on its insufficiency. Eastern loaves were thin and small, like good-sized crackers, and around the Sea of Galilee, the salting and preserving of small fish was an especial industry. These fish, therefore, were about the size of sardines. The whole supply, therefore, was no more than enough for one hungry boy. But each loaf had to be divided between a thousand, and each fish between twenty-five hundred men.</span>)</p>

        <p align="left" class="style4"><span class="style5">Matthew 14: 18</span> And he said, Bring 
            them hither to me.</p>

        <p align="left" class="style4"><span class="style5">19</span> And he commanded the multitude 
            to sit down  And</p>

        <p align="left" class="style4"><span class="style5">John 6: 10</span> Jesus said,  unto his disciples, Make them
            the people sit down.  in companies, 
            about fifty each.</p>

        <p align="left" class="style4"><span class="style5">Luke 9: 15</span> And they did so, and made them all sit 
            down.</p>

        <p align="left" class="style4"><span class="style5">Mark 6: 40</span> And they sat down in ranks, by hundreds, and by fifties. Now there was much grass in the place. So the men sat down, in number about five thousand. (<span class="comm">By thus arranging them in orderly companies, Jesus accomplished several things. He saved his apostles much time and labor in distributing the food. He insured that each one should be fed, and that the reality of the miracle could not be questioned, and he ascertained definitely how many men were fed.</span>)</p>

        <p align="left" class="style4"><span class="style5">Luke 9: 16</span> And</p>

        <p align="left" class="style4"><span class="style5">John 6: 11</span> Jesus 
            therefore took  the five loaves, and the two fishes, 
            and looking up to heaven,  he blessed and brake 
            them,  and brake the loaves;  
            and having 

            given thanks, he distributed to them that were 
            set down;  and gave the loaves to the disciples, and 
            the disciples to the multitudes. {and gave to the 
            disciples to set before the multitude.}  likewise also 
            of the fishes as much as they would.  and the two 
            fishes divided he among them all.</p>

        <p align="left" class="style4"><span class="style5">Mark 6: 42</span> And they all ate, and were all filled. (<span class="comm">He blessed the loaves and fishes by returning thanks for them. This and similar acts of Jesus are our precedents for giving thanks, or, &quot;asking the blessing,&quot; at our tables</span>):</p>

        <p align="left" class="style4"><span class="style5">John 6: 12</span> And when they were filled, he saith unto his disciples, Gather up the broken pieces which remain over, that nothing be lost. (<span class="comm">Christ is the economist of the universe. This command was in keeping with his laws which permit nothing to suffer annihilation. Ruin and destruction have no other effect than merely to change the form of things. Every atom of the material world which was here at the beginning of creation is here to-day, though it may have changed its form a million times in the progress of events.</span>) So they gathered them up, and there was taken {they took} up that which remained over to them of the broken pieces, and filled twelve baskets full. {basketfuls,} with broken pieces from the five barley loaves, which remained over unto them that had eaten. and also of the fishes.</p>

        <p align="left" class="style4"><span class="style5">Matthew 14: 21</span> And they that did eat {ate} the loaves were about five thousand men, besides women and children. (<span class="comm">Considering the distance from any town, the women and children would not likely be numerous. They form no part of the count, for Eastern usage did not permit the women to sit with the men. They, with the little ones, would stand apart.</span>)</p>

        <p align="left" class="style4"><span class="style5">John 6: 14</span> When therefore the people saw the sign which he did, they said, This is of a truth the prophet that cometh into the world. (<span class="comm">That is to say, this is the Messiah, the prophet promised at <span class="style7">Deuteronomy 18: 15</span>. Their desire to avenge the death of John made them feverishly anxious for the appearance of the Messiah, but this faith was inconstant.</span>)</p>

    </div> 


</ion-content>