<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>156. OUR LORD APPEARS AFTER HIS ASCENSION.</h3>
        <h3>1 CORINTHIANS 15: 8.</h3>
        <p align="left" class="style4"><span class="style5">8</span> and last of all, as to the child untimely born, he appeared to me also. (<span class="comm">Since Paul reckons this among the bodily appearances of our Lord, we have included it in our work; but it borders upon those spiritual appearances which belong rather to apostolic history and may be classed with the vision of Stephen (<span class="comm"><span class="style7">Acts 7: 55</span></span>) and 
                John (<span class="comm"><span class="style7">Revelation 1: 9-17</span></span>), to which it 
                was near kin. Accounts of the appearance will be found in the ninth, 
                twenty-second and twenty-sixth chapters of Acts. For completeness' sake we 
                might also add the words of Jesus at <span class="style7">Acts 20: 35</span>, viz.: It is more blessed to give than to receive. These words quoted by Paul are not found in the gospel. The earthly life of Jesus shades off into the celestial, but we think that he have now given all that may be rightly included in the former.</span>)        </p>

    </div> 


</ion-content>