<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>123. HE SHALL DRAW ALL MEN TO HIM.</h3>
        <h3>(<span class="comm">IN THE TEMPLE. TUESDAY, APRIL 4, A.D. 30.</span>)</h3>
        <h3>JOHN 12: 20-50.</h3>
        <p align="left" class="style4"><span class="style5">20</span> Now there were certain Greeks among those that went 
            up to worship at the feast (<span class="comm">The language indicates that they were Greek 
                converts to Judaism, such as were called proselytes of the gate. It is also 
                noted that as Gentiles came from the east at the beginning of Jesus' life, so 
                they also came from the west at the close of his ministry</span>): </p>


        <p align="left" class="style4"><span class="style5">21</span> these 
            therefore came to Philip, who was of Bethsaida of Galilee (<span class="comm">See p. 111. They 
                were possibly drawn to Philip by his Greek name</span>), and asked him, 
            saying, Sir (<span class="comm">he dignity of the Master elevates the disciple</span>), we 
            would see Jesus. (<span class="comm">Jesus was evidently still in the court of the women, 
                where the treasury was, and this court, being part of the sanctuary, no Gentile 
                was permitted to enter it.</span>) </p>



        <p align="left" class="style4"><span class="style5">22</span> Philip cometh and telleth Andrew (<span class="comm">Philip 
                wished another to share the responsibility of the situation</span>): Andrew 
            cometh, and Philip, and they tell Jesus. </p>


        <p align="left" class="style4"><span class="style5">23</span> And Jesus answereth 
            them, saying, The hour is come, that the Son of man should be glorified. 
            (<span class="comm">The humble seeking of these Gentiles formed a striking contrast to the 
                persistent rejection of the Jews. And the occasion forcibly suggested that the 
                gospel invitation, which had hitherto been confined to the lost sheep of the 
                house of Israel, should be extended to the vast throng of waiting Gentiles. 
                But, according to the counsel of God, this extension was not to take place 
                until Jesus had been glorified by his death, resurrection, and enthronement. 
                The demand for extension, therefore, suggested the advisability of a speedy 
                glorification, which accorded with the plans of God.</span>)</p>


        <p align="left" class="style4"><span class="style5">24</span> Verily, verily, 
            (<span class="comm">with these emphatic words Jesus prepares for a hard saying</span>), I say 
            unto you, Except a grain of 

            wheat fall into the earth and 
            die, it abideth by itself alone; but if it die, it beareth much fruit. (<span class="comm">As 
                the germ of life in the grain of wheat can only pass into other grains by 
                departing from the original grain and leaving it dead, so the life which was in 
                Christ Jesus could only pass into his disciples by his death.</span>) </p>


        <p align="left" class="style4"><span class="style5">25</span> He that 
            loveth his life loseth it; and he that hateth his life in this world shall keep 
            it unto life eternal. (<span class="comm">Though Jesus had his own death in view, yet he shows 
                himself governed by a principle which he had already declared to be of 
                universal application. See p. 368. If a grain of wheat saves itself, it remains 
                but one grain until it rots; but if it yields up its life-germ as a sacrifice 
                to the law of growth, it multiplies itself thirty, sixty, or a hundred fold and 
                continues its multiplication through an innumerable posterity.</span>) </p>


        <p align="left" class="style4"><span class="style5">26</span> If any 
            man serve me, let him follow me; and where I am, there shall also my servant 
            be: if any man serve me, him will the Father honor. (<span class="comm">Jesus here recommends 
                to his disciples that they follow him in fruit-bearing self-sacrifice, 
                promising them the joy of being with him and the honor of the Father. The joy 
                of being with Christ is the chief expectation of the Christian--<span class="style7">2 Corinthians 5: 8; Philippians 1: 23; Revelation 21: 3; 22: 20</span>
                .</span>) </p>


        <p align="left" class="style4"><span class="style5">27</span> Now is my soul troubled (<span class="comm">Thus Jesus admits that it was difficult 
                for him to live up to the principle of sacrifice which he had just enunciated. 
                Had it not been thus difficult for him, he would hardly have been a fitting 
                example for his disciples; for certainly it is and has always been difficult 
                for them</span>); and what shall I say? (<span class="comm">In his trouble Jesus raises the 
                question as to what prayer he shall offer to the Father.</span>) Father, save me 
            from this hour. But for this cause (<span class="comm">for this purpose of imparting life 
                through a sacrificial death</span>) came I unto this hour. (<span class="comm">Thus Jesus proposes 
                a prayer for deliverance, but repudiates it as contrary to the very purpose of 
                his life.</span>) </p>


        <p align="left" class="style4"><span class="style5">28</span> Father, glorify thy name. (<span class="comm">Having refused to ask for 
                deliverance, Jesus prays that he may glorify the Father by suffering according 
                to his original statement contained in <span class="style7">John 12: 23, 24</span>. Two two prayers are counterparts to the two offered in 
                Gethsemane 

                (<span class="comm"><span class="style7">Luke 22: 42</span>
                </span>). The prayer here is the climax of the thought begun at <span class="style7">John 12: 23</span>. We are first shown that nature is glorified by 
                sacrifice (<span class="comm"><span class="style7">John 12: 24</span></span>). Then that 
                discipleship is so glorified (<span class="comm"><span class="style7">John 25 25, 
                        26</span></span>) and this prayer shows that our Lord himself is glorified by the 
                same rule.</span>) There came therefore a voice out of heaven, saying, I have both glorified it, and will 
            glorify it again. (<span class="comm">The Father had glorified his name in the Son. By words 
                of commendation at his baptism (<span class="comm"><span class="style7">Matthew 3: 17</span></span>) and at his transfiguration (<span class="comm"><span class="style7">Matthew 17: 5</span></span>), and by the performance of miracles (<span class="comm"><span class="style7">John 11: 40</span></span>), and he would glorify it again by the preaching 
                of the universal gospel, and by making Jesus head over all to the church and 
                the final judge of all men.</span>)</p>


        <p align="left" class="style4"><span class="style5">29</span> The multitude therefore, that stood by, and 
            heard it, said that it had thundered: others said, An angel hath spoken to 
            him. (<span class="comm">Those who thought it thundered were nervous persons who were so 
                startled as not to distinguish the words.</span>)</p>


        <p align="left" class="style4"><span class="style5">30</span> Jesus answered and said, This voice 
            hath not come for my sake, but for your sakes. (<span class="comm">The voice was not spoken to 
                encourage Jesus in his hour of suffering, but to aid the Jews to believe on 
                him, and to warn them of the coming judgment which would follow their 
                disbelief, and make them partakers in the condemnation of Satan.</span>)</p> 


        <p align="left" class="style4"><span class="style5">31</span> Now is 
            the judgment of this world: now shall the prince of this world be cast out. 
            (<span class="comm">The Greek word for "judgment" survives in our English word 
                "crisis," but conveys much more meaning, since it embraces also the 
                idea of final settlement and adjudication. The crucifixion of Jesus was the 
                crisis in the contest between Satan and 

                God. See <span class="style7">Genesis 3: 15</span>. "The meaning of it," 
                says Barnes, "may be thus expressed: Now is approaching the decisive 
                scene, the eventful period--the crisis--when it shall be 
                determined who shall rule this world." In the long conflict which had 
                hitherto been carried on, Satan had earned for himself the name "prince 
                of this world," and it was no empty title (<span class="comm"><span class="style7">Matthew 4: 8, 9; 2 Corinthians 4: 4; Ephesians 6: 12</span></span>); but by his approaching 
                death Jesus would break down the power of Satan, and cast him out, not 
                suddenly, but by the advancing power of a superior kingdom. The kingdom of 
                darkness recedes before the kingdom of light as the night withdraws before the 
                rising sun.</span>) </p>


        <p align="left" class="style4"><span class="style5">32</span> And I, if I be lifted up from the earth, will draw all men 
            unto myself.</p> 


        <p align="left" class="style4"><span class="style5">33</span> But this he said, signifying by what manner of 
            death he should die. (<span class="comm">Jesus thrice speaks of his death as a lifting up, a 
                euphemism for being crucified (<span class="comm"><span class="style7">John 8: 28</span></span>). While the distinctions between the three statements are not to 
                be insisted upon, yet they suggest that the first is a saving sacrifice, a 
                priestly work (<span class="comm"><span class="style7">John 3: 14</span></span>); the 
                second is mentioned as the convincing credential that he is the prophet sent 
                from God, speaking the message of God (<span class="comm"><span class="style7">John 8: 26-28</span></span>); and in the passage before us, he is evidently 
                the king who shall wrest his kingdom from the usurping Satan.</span>) </p>


        <p align="left" class="style4"><span class="style5">34</span> The 
            multitude therefore answered him, We have heard out of the law that the Christ 
            abideth for ever: and how sayest thou, The Son of man must be lifted up? who is 
            this Son of man? (<span class="comm">The term "law" is used loosely for the whole 
                of the Old Testament Scriptures (<span class="comm"><span class="style7">John 10: 34</span></span>). The people were persuaded by certain passages such as <span class="style7">Isaiah 9: 6, 7; Psalm 89: 36; 110: 4; Daniel 7: 13, 14; Ezekiel 37: 25</span>, etc. that the Messiah would abide forever. They knew 
                that Jesus in his triumphal entry had received honors which they thought 
                belonged to the Messiah, but when they hear him use words indicating that he 
                should die, and thus (<span class="comm">as they construed</span>) not abide forever, they felt 
                that he was openly disavowing all claim to Messiahship. Having heard him style 
                himself the Son of man (<span class="comm"><span class="style7">John 12: 23</span></span>), 
                they now catch at it as if Jesus had used it to distinguish himself from the 
                true 

                Messiah, and ask with more or less contempt, "Who is 
                this Son of man?" Thus blinded by their preconceived opinions and 
                misconstructions of Scripture, the people wavered in their loyalty to Jesus, 
                and Watkins well says, "This question came midway between the 'Hosanna' 
                of the entry into Jerusalem and the 'Crucify him' of the trial."</span>) </p>


        <p align="left" class="style4"><span class="style5">35</span> 
            Jesus therefore said unto them, Yet a little while is the light among you. 
            (<span class="comm">The phrase "little while" stands in contrast with "abideth 
                for ever."</span>) Walk while ye have the light, that darkness overtake you 
            not: and he that walketh in the darkness knoweth not whither he goeth.</p>

        <p align="left" class="style4"><span class="style5">36</span> While ye have the light, believe on the light, that ye may become 
            sons of light. (<span class="comm">Jesus did not reply to their question, because it was asked 
                contemptuously and not seriously, and because any effort to make their carnal 
                mind grasp the idea that he could be lifted up, and yet still abide, would have 
                resulted in more contempt. He therefore speaks a solemn warning to them, 
                counseling them to make use of his presence while they had it, even if his 
                fleshly abiding with them was but brief; and promises that a proper use of the 
                light then given them would make them sons of light.</span>) These things spake 
            Jesus, and he departed and hid himself from them. (<span class="comm">This was his last public 
                appeal to the people. He now retired, probably to Bethany, and they saw him no 
                more until he was a prisoner in the hands of his enemies.</span>) </p>


        <p align="left" class="style4"><span class="style5">37</span> But though he 
            had done so many signs before them, yet they believed not on him. (<span class="comm">the 
                multitude had long oscillated between belief and unbelief, but, despite all his 
                past miracles and the marvelous wisdom shown on this the day of hard questions, 
                they settled down in unbelief</span>): </p>


        <p align="left" class="style4"><span class="style5">38</span> that the word of Isaiah the 
            prophet (<span class="comm"><span class="style7">Isaiah 53: 1</span></span>) might be 
            fulfilled, which he spake, Lord, who hath believed our report? And to whom hath 
            the arm of the Lord been revealed? </p>


        <p align="left" class="style4"><span class="style5">39</span> For this cause they could 
            not believe, for that Isaiah said again (<span class="comm"><span class="style7">Isaiah 6: 10</span></span>), </p>


        <p align="left" class="style4"><span class="style5">40</span> He hath blinded their eyes, and he hardened 
            their heart; Lest they should see with their eyes, and perceive with their 
            heart, And should turn, And 

            I should heal them. (<span class="comm">See p. 
                332. The quotation from Isaiah is not exact, for there God enjoins on the 
                prophet the duty of hardening the people's hearts, while here it is spoken of 
                as God's own act. Had God, however, hardened their hearts by a direct act and 
                without any reference to their moral or spiritual condition, they could not 
                have been held morally responsible for their disbelief. But this God did not 
                do. He hardened their hearts and blinded their eyes by the manner in which he 
                approached them through the person of his Son, Christ Jesus. Jesus so came, so 
                loved, and so taught that those who hunger for godliness are drawn to him and 
                enlightened by him, while those who despise the grace and love of God are 
                repelled and blinded. John here recognizes that the type (<span class="comm">Isaiah</span>) should be 
                fulfilled in the antitype (<span class="comm">Christ</span>). If Isaiah was to preach that the wicked 
                would be blinded, then Christ in his ministry should likewise so teach and 
                preach as to produce similar results.</span>) </p>


        <p align="left" class="style4"><span class="style5">41</span> These things said Isaiah, because 
            he saw his glory; and he spake of him. </p>


        <p align="left" class="style4"><span class="style5">42</span> Nevertheless even of the 
            rulers many believed on him; but because of the Pharisees they did not 
            confess it, lest they should be 
            put out of the synagogue: </p>


        <p align="left" class="style4"><span class="style5">43</span> for they loved the glory that is of men more than the glory
            that is of God. (<span class="comm">These members 
                of the Sanhedrin believed with the head rather than with the heart (<span class="comm"><span class="style7">Romans 10: 10</span></span>); their hearts already being occupied 
                with the love of praise or man-glory. Their disbelief accorded with the words 
                of Jesus (<span class="comm"><span class="style7">John 5: 44</span></span>). As to expulsion 
                from the synagogue, see <span class="style7">John 9: 22</span>.</span>) </p>


        <p align="left" class="style4"><span class="style5">44</span> And Jesus cried and said (<span class="comm">These words were of course 
                spoken before the departure mentioned in <span class="style7">John 12: 36</span>. They are placed here to bring out in stronger light the final 
                unbelief of the Jews and the patient, persistent effort which Jesus had made to 
                win those who were the better inclined</span>), He that believeth on me, 
            believeth not one, but on him that sent me. </p>


        <p align="left" class="style4"><span class="style5">45</span> And he that 
            beholdeth me beholdeth him that sent me. </p>


        <p align="left" class="style4"><span class="style5">46</span> I am come a light into 
            the world, that whosoever believeth on me may not abide in the darkness.</p>

        <p align="left" class="style4"><span class="style5">47</span> And if any man hear my sayings, and keep 

            them 
            not, I judge him not: for I came not to judge the world, but to save the 
            world. (<span class="comm">See pp. 131 and 454.</span>) </p>


        <p align="left" class="style4"><span class="style5">48</span> He that rejecteth me, and receiveth not 
            my sayings, hath one that judgeth him: the word that I spake, the same shall 
            judge him in the last day. </p>


        <p align="left" class="style4"><span class="style5">49</span> For I spake not from myself; but the 
            Father that sent me, he hath given me a commandment, what I should say, and 
            what I should speak.</p> 


        <p align="left" class="style4"><span class="style5">50</span> And I know that his commandment is life 
            eternal: the things therefore which I speak, even as the Father hath said unto 
            me, so I speak. (<span class="comm">The Father had sent the Son into the world to bring life 
                and immortality to light in the gospel. Jesus therefore here declared that men 
                will be tried by the gospel law and that some will be saved and some condemned 
                by it.</span>)</p>


    </div> 


</ion-content>