<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>104. RAISING OF LAZARUS</h3>
        <h3>JOHN 11: 1-46</h3>
        <p align="left" class="style4"><span class="style5">1</span> Now a certain man was sick, Lazarus of Bethany, the 
            village of Mary and her sister Martha. (<span class="comm">For Bethany and the sisters, see p.
                478.</span>)</p>

        <p align="left" class="style4"><span class="style5">2</span> And it was that Mary who anointed the Lord with ointment, and wiped 
            his feet with her hair (<span class="comm"><span class="style7">John 12: 3</span></span>), whose brother Lazarus was sick. (<span class="comm">The anointing had not yet 
                taken place, as John himself shows. For a similar anticipation <span class="style7">Matthew 10: 4</span>. There are five prominent Marys in the 
                New Testament: those of Nazareth, Magdala and Bethany; the mother of Mark, and 
                the wife of Clopas.</span>) </p>

        <p align="left" class="style4"><span class="style5">3</span> The sisters therefore sent unto him, saying, Lord, 
            behold, he whom thou lovest is sick. (<span class="comm">The message and its form both 
                indicate the close intimacy between this family and Christ. They make no 
                request, trusting that Jesus' love will bring him to Bethany.</span>) </p>



        <p align="left" class="style4"><span class="style5">4</span> But when 
            Jesus heard it, he said, This sickness is not unto death, but for the glory of 
            God, that the Son of God may be glorified thereby. (<span class="comm">The sickness of Lazarus 
                was for the purpose or design of a resurrection, so that death was a mere 
                preceding incident. By this resurrection the Son of God would be glorified by 
                manifesting more clearly than ever before that death came under his Messianic 
                dominion, and by gathering believers from amongst his enemies. In all this the 
                Father would also be glorified in the Son.</span>) 
        </p>

        <p align="left" class="style4"><span class="style5">5</span> Now Jesus loved Martha, and 
            her sister, and Lazarus. (<span class="comm">In this passage we have two Greek words for love. 
                In <span class="style7">John 11: 3 and 36</span> we have 
                philein, which expresses natural affection such as a parent feels for a 
                child. In this verse we have agapan, an affection resulting from moral 
                choice, loftier and less impulsive. We are told of the Lord's love that we may 
                understand that his delay was not due to indifference.</span>) </p>

        <p align="left" class="style4"><span class="style5">6</span> When therefore he 
            heard that he was sick, he abode at that time two 

            days in the place where he was. (<span class="comm">It is urged that the exigencies of his ministry 
                delayed Jesus in Per&aelig;a. But the import of the texts is that he kept away 
                because of his love for the household of Lazarus and his desire to bless his 
                disciples. He delayed that he might discipline and perfect the faith of the 
                sisters and disciples. He withheld his blessing that he might enlarge it. 
                Strauss pronounces it immoral in Christ to let his friend die in order to 
                glorify himself by a miracle. In the vocabulary of Strauss, glorification means 
                the gratification of personal vanity, but in the language of Christ it means 
                the revelation of himself as the divine Saviour, that men may believe and 
                receive the blessing of salvation.</span>)</p>

        <p align="left" class="style4"><span class="style5">7</span> Then after this he saith to the 
            disciples, Let us go into Jud&aelig;a again. (<span class="comm">The word "again" 
                refers back to  <span class="style7">John 10: 40</span>. Jesus does 
                not propose to them to return to Bethany, where he has friends, but to go back 
                to Jud&aelig;a, the land of hostility. In so doing he caused them to think of 
                his death, of which he had some time been seeking to accustom them to think.</span>)</p>

        <p align="left" class="style4"><span class="style5">8</span> The disciples say unto him, Rabbi, the Jews were but now seeking to stone 
            thee. (<span class="comm"><span class="style7">John 10: 31</span></span>); and 
            goest thou thither again? 
        </p>

        <p align="left" class="style4"><span class="style5">9</span> Jesus answered, Are there not twelve 
            hours in the day? If a man walk in the day, he stumbleth not, because he seeth 
            the light of this world. </p>

        <p align="left" class="style4"><span class="style5">10</span> But if a man walk in the night, he 
            stumbleth, because the light is not in him. (<span class="comm">This parabolic expression 
                resembles that at <span class="style7">John 9: 4</span>. See p. 462. In this passage, day represents the 
                alloted season of life which was to be terminated by what Jesus called 
                "his hour." Until this "hour" came, Jesus felt no fear. 
                He did not thrust himself into danger, thus tempting God; but he feared not to 
                go whither his duty and the Spirit led him. As yet it was still day, but the 
                evening shadows were falling, and the powers of darkness were soon to prevail 
                (<span class="comm"><span class="style7">Luke 22: 53</span></span>), and then the further 
                prosecution of the work would lead to death, for death was part of the work, 
                and had its allotted time and place.</span>) </p>

        <p align="left" class="style4"><span class="style5">11</span> These things spake he: and after 
            this he saith unto them, Our friend Lazarus is fallen asleep; but I go, 

            that I may awake him out of sleep. </p>

        <p align="left" class="style4"><span class="style5">12</span> These things spake he: and after 
            this he saith unto them, Our friend Lazarus is fallen asleep; but I go, 

            that I may awake him out of sleep. </p>

        <p align="left" class="style4"><span class="style5">13</span> Now Jesus 
            had spoken of his death: but they thought that he spake of taking of rest in 
            sleep. (<span class="comm">Jesus had before this spoken of death under the figure of sleep 
                (<span class="comm"><span class="style7">Luke 8: 52</span>, see p. 355</span>), and the disciples might have understood him to 
                mean death in this case had they not misunderstood his promise given at <span class="style7">
                    John 11: 4</span>. As it was, they looked upon 
                the mentioned sleep as marking the crisis of the disease, as it so often does 
                in cases of fever. They were glad to urge it as an evidence of complete 
                recovery, and thus remove one of the causes of the dreaded journey into 
                Jud&aelig;a.</span>) </p>

        <p align="left" class="style4"><span class="style5">14</span> Then Jesus therefore said unto them plainly, Lazarus is 
            dead.</p>

        <p align="left" class="style4"><span class="style5">15</span> And I am glad for your sakes that I was not there, to the 
            intent ye may believe; nevertheless let us go unto him. (<span class="comm">Had Jesus been 
                present during the sickness of Lazarus, he would have felt constrained to heal 
                him, and so would have lost the opportunity of presenting to his disciples a 
                more striking proof of his divine power, a proof which has been the joy of each 
                succeeding age. The disciples were soon to learn by sad experience how little 
                belief they really had <span class="style7">Mark 14: 50; 16: 11; Luke 24: 11, 21, 25</span>.</span>) 
        </p>

        <p align="left" class="style4"><span class="style5">16</span> Thomas therefore, who is called 
            Didymus (<span class="comm">see p. 224</span>), said unto his fellow-disciples, Let us also 
            go, that we may die with him. (<span class="comm">i. e., die with Christ, <span class="style7">John 11: 8</span>. They could not die with Lazarus, as some 
                have foolishly supposed, for he was already dead. This mention of Thomas is 
                closely connected with the thought in <span class="style7">John 11: 15</span>. Jesus was about to work a miracle for the express purpose of 
                inducing his disciples to believe in him, especially as to his power over 
                death. In this despairing speech Thomas shows how little faith he had in 
                Christ's ability to cope with death. Thomas sadly needed to witness the miracle 
                of the resurrection of Lazarus, and even after seeing it, it proved 
                insufficient to sustain his faith in the ordeal through which he was about to 
                pass <span class="style7">John 20: 25-29.</span></span>)</p>

        <p align="left" class="style4"><span class="style5">17</span> So when Jesus came, he found that he had been in the tomb four days 
            already. (<span class="comm">If Lazarus was buried on the 

                day he died, as is the 
                custom in the East, and in hot climates generally (<span class="comm"><span class="style7">Acts 5: 6, 10</span></span>), he probably died on the day that the messengers 
                brought word to Jesus about his sickness. If so, Jesus set forth for Bethany on 
                the third day and arrived there on the fourth. The resurrections wrought by 
                Jesus are progressional manifestations of power. Jairus' daughter was raised 
                immediately after death, the young man of Nain was being carried to his grave, 
                and Lazarus was buried four days. All these were preparatory to that last and 
                greatest manifestation of resurrectional power--the raising of his own 
                body.</span>) </p>

        <p align="left" class="style4"><span class="style5">18</span> Now Bethany was nigh unto Jerusalem, about fifteen furlongs off
            (<span class="comm">the furlong, or stadium, was six hundred feet, so that the distance here was 
                one and seven-eighths miles</span>); 
        </p>

        <p align="left" class="style4"><span class="style5">19</span> and many of the Jews had come to 
            Martha and Mary, to console them concerning their brother. [<span class="comm">These Jews were 
                present four days after the death because Jewish custom prolonged the season of 
                mourning (<span class="comm"><span class="style7">Genesis 1: 3, 10; Numbers 20: 29; Deuteronomy 34: 8; 1 Samuel 28: 13</span></span>). The Mishna prescribed seven days for near 
                relatives, and the rules as laid down by rabbis, required seven days' public 
                and thirty days' private mourning for distinguished or important personages.</span>) 
        </p>


        <p align="left" class="style4"><span class="style5">20</span> Martha therefore, when she heard that Jesus was coming, went and met him: 
            but Mary still sat in the house. (<span class="comm">Jesus evidently paused on the outskirts 
                of the town. He probably wished to avoid the noisy conventional wailing, the 
                hypocrisy of which was distasteful to him (<span class="comm"><span class="style7">Mark 5: 40</span></span>). It comports with the businesslike character of Martha as 
                depicted by Luke to have heard of our Lord's arrival before Mary. She was 
                probably discharging her duty towards the guests and new arrivals, as was her 
                wont. See p. 478.</span>) 
        </p>

        <p align="left" class="style4"><span class="style5">21</span> Martha therefore said unto Jesus, Lord, if thou hadst 
            been here, my brother had not died.</p>

        <p align="left" class="style4"><span class="style5">22</span> And even now I know that, 
            whatsoever thou shalt ask of God, God will give thee. (<span class="comm">We might take it 
                that Martha confidently expected the Lord to raise Lazarus, were it not for the 
                subsequent conversation and especially <span class="style7">John 11: 39</span>. We must therefore look upon her hope as more vague than her 

                words would indicate. Such vague and illusive hopes are common where a 
                great expectation, such as she had before indulged, had but lately departed.</span>) 
        </p>

        <p align="left" class="style4"><span class="style5">23</span> Jesus saith unto her, Thy brother shall rise again. </p>

        <p align="left" class="style4"><span class="style5">24</span> Martha saith unto him, I know that he shall rise again in the resurrection at 
            the last day.</p>

        <p align="left" class="style4"><span class="style5">25</span> Jesus said unto her, I am the resurrection, and 
            the life: he that believeth on me, though he die, yet shall he live</p>

        <p align="left" class="style4"><span class="style5">26</span> and whosoever liveth and believeth on me shall never die. Believest thou 
            this? (<span class="comm">Instead of saying "I will raise Lazarus," Jesus uses the 
                wholly impersonal phrase "thy brother shall rise again," for it was 
                this very impersonal feature of faith which he wished to correct. Martha 
                assents to it at once. The doctrine of a resurrection was commonly held by all 
                the Jews except the Sadducees. It was in their view, however, a remote, 
                impersonal affair, a very far distant event powerless to comfort in 
                bereavement. From this comparatively cheerless hope, Jesus would draw Martha to 
                look upon himself as both resurrection and life. Where he is there is 
                life, and there also is resurrection at his word without limitation. No mere 
                man, if sane, could have uttered such words. They mean that Jesus is the power 
                which raises the dead and bestows eternal life <span class="style7">John 6: 39-54; 10: 28</span>.</span>) </p>

        <p align="left" class="style4"><span class="style5">27</span> She saith unto him, 
            Yea, Lord: I have believed that thou art the Christ, the Son of God,
            even he that cometh into the 
            world. (<span class="comm">She could not say she believed it, for Lazarus had believed in 
                Jesus and yet he had died. So, evading the question, she confessed her faith in 
                him. Believing him, she accepted whatever he might say. She responds in the 
                words of that apostolic creed which, in its ultimate application, embraces all 
                that is true and discards all that is false (<span class="comm"><span class="style7">Matthew 16: 16; John 6: 68, 69; 20: 31; 1 John 5: 1-5</span></span>). See p. 411.</span>) 
        </p>

        <p align="left" class="style4"><span class="style5">28</span> And when she had said this, she went away, and called Mary her sister secretly, saying, The Teacher is here, and calleth thee. (<span class="comm">She called 
                Mary secretly, for she wished that Mary might have a private word with Jesus 
                such as she had just had.</span>)</p>

        <p align="left" class="style4"><span class="style5">29</span> And she, when she heard it, arose quickly (<span class="comm">moved by ardent 

                feeling</span>), and went unto him.</p>

        <p align="left" class="style4"><span class="style5">30</span> (<span class="comm">Now Jesus was not yet come into the village, but was in the place where 
                Martha met him.</span>) 
        </p>

        <p align="left" class="style4"><span class="style5">31</span> The Jews then who were with her in the house, 
            and were consoling her, when they saw Mary, that she rose up quickly and went 
            out, followed her, supposing that she was going unto the tomb to weep there.
            (<span class="comm">Rather, to wail <span class="style7">Matthew 2: 18; Mark 5: 38</span></span>). According to Eastern custom, the Jews followed her as friends, 
            to assist in the demonstration of mourning. This frustrated the effort of 
            Martha to keep secret the Lord's coming, and caused the miracle to be wrought 
            in the presence of a mixed body of spectators.</span>) 
        </p>

        <p align="left" class="style4"><span class="style5">32</span> Mary therefore, when she 
            came where Jesus was, and saw him, fell down at his feet (<span class="comm">in grief and 
                dependence, but with less self-control than Martha</span>), saying unto him, 
            Lord, if thou hadst been here, my brother had not died. (<span class="comm">That both sisters 
                used this phrase, shows that it is an echo of the past feelings and 
                conversations of the sisters. It is clear that they felt hurt at his not coming 
                sooner, as he could have done.</span>) </p>

        <p align="left" class="style4"><span class="style5">33</span> When Jesus therefore saw her weeping, and 
            the Jews also weeping who came 
            with her, he groaned in the spirit, and was troubled (<span class="comm">The verb translated 
                "groaned" carries in it the idea of indignation. But the fact that 
                sin had brought such misery to those he loved was enough to account for the 
                feeling</span>), 
        </p>

        <p align="left" class="style4"><span class="style5">34</span> and said, Where have ye laid him? (<span class="comm">This question was 
                designed to bring all parties to the tomb; it was not asked for information. 
                See pp. 353, 354, 376.</span>) They (<span class="comm">the sisters</span>) say unto him, Lord, come 
            and see. </p>

        <p align="left" class="style4"><span class="style5">35</span> Jesus wept. (<span class="comm">This is not the verb for wailing, but 
                for shedding tears. On another occasion, when Jesus saw with prophetic eye a 
                vast city, the center of God's chosen nation, sweeping on to destruction, he 
                lamented aloud (<span class="comm"><span class="style7">Luke 19: 41</span></span>), but 
                here, as a friend, he mingled his quiet tears with the two broken-hearted 
                sisters, thus assuring us of his sympathy with the individual grief of each 
                lowly disciple (<span class="comm"><span class="style7">Romans 12: 15</span></span>). Nor did 
                the nearness of comfort prevent his tears. They were tears of sympathy. 
                "A sympathetic physician," says Neander, "in 
                the midst of a family drowned in grief,--will not his tears flow with theirs, 
                though he knows that he has the power of giving immediate relief?"</span>) </p>

        <p align="left" class="style4"><span class="style5">36</span> The Jews therefore said, Behold how he loved him! </p>

        <p align="left" class="style4"><span class="style5">37</span> But some of 
            them said, Could not this man, who opened the eyes of him that was blind, have 
            caused that this man also should not die? [<span class="comm">Knowing the miracle which he had 
                performed upon a blind man (<span class="comm"><span class="style7">John 9: 1-13</span></span>), they could therefore see no reason why he should not 
                have performed one here.</span>)</p>

        <p align="left" class="style4"><span class="style5">38</span> Jesus therefore again groaning in himself 
            cometh to the tomb. Now it was a cave, and a stone lay against it. (<span class="comm">These 
                stones were frequently in the shape of large grindstones resting in a groove, 
                so that they could be rolled in front of the door of the tomb. Tombs had to be 
                closed securely to keep out jackals and other ravenous beasts.</span>) 
        </p>

        <p align="left" class="style4"><span class="style5">39</span> Jesus 
            saith, Take ye away the stone. (<span class="comm">Miracles only begin where human power 
                ends.</span>) Martha, the sister of him that was dead, saith unto him, Lord, by 
            this time the body decayeth; for he hath been 
            dead four days. (<span class="comm">She evidently thought that Jesus wished to 
                see the remains of his friend, and her sisterly feeling prompted her to conceal 
                the humiliating ravages of death. Her words show how little expectation of a 
                resurrection she had.</span>) </p>

        <p align="left" class="style4"><span class="style5">40</span> Jesus saith unto her, Said I not unto thee, that, 
            if thou believedst, thou shouldest see the glory of God? (<span class="comm">Jesus reminds her 
                of his words which are recorded in <span class="style7">John 11: 25 and 26</span>, and of the message which he sent, found in <span class="style7">John 11: 4</span>, thus removing her objections.</span>) </p>

        <p align="left" class="style4"><span class="style5">41</span> So 
            they took away the stone. And Jesus lifted up his eyes, and said, Father, I 
            thank thee that thou heardest me. 
        </p>

        <p align="left" class="style4"><span class="style5">42</span> And I knew that thou hearest 
            me always: but because of the multitude that standeth around I said it, that 
            they may believe that thou didst send me. (<span class="comm">Jesus, dwelling in constant 
                communion with the Father, knew that the Father concurred in his wish to raise Lazarus. He therefore makes public acknowledgment, and offers a prayer of 
                thanksgiving, for the Father's gracious answer to this and all his petitions. 
                He states, too, that the prayer is publicly made 

                that it may 
                induce faith in the bystanders. He wished all present to know that the miracle 
                about to be wrought is not the work of some independent wonder-worker, but is 
                performed by him as one commissioned and sent of God. In other words, the 
                miracle was wrought to prove the concord between the Son and the Father, the very fact which the Jews refused to believe. Rationalists criticize this prayer 
                as a violation of the principle at <span class="style7">Matthew 6: 5, 6</span>, and Weisse called it "prayer for show." But it shows 
                on its face that it is not uttered by Jesus to draw admiration to himself as a 
                praying man, but to induce faith unto salvation in those who heard.</span>) </p>

        <p align="left" class="style4"><span class="style5">43</span> And 
            when he had thus spoken, he cried with a loud voice, Lazarus, come forth. 
            (<span class="comm">The loud cry emphasized the fact that the miracle was wrought by personal 
                authority, and not by charms, incantations, or other questionable means. His 
                voice was as it were an earnest of the final calling which all shall hear 
                (<span class="comm"><span class="style7">Revelation 1: 5; John 5: 28, 29; 1 Thessalonians 4: 16</span></span>). It has been happily said he called Lazarus by name, lest all 
                the dead should rise.</span>) 
        </p>

        <p align="left" class="style4"><span class="style5">44</span> The that was dead came forth, bound hand and foot 
            with grave-clothes; and his face was bound about with a napkin. Jesus saith 
            unto them, Loose him, and let him go. (<span class="comm">It is thought by some that Lazarus 
                walked forth from the tomb, and the fact that the Egyptians sometimes swathed 
                their mummies so as to keep the limbs and even the fingers separate is cited to 
                show that Lazarus was not so bound as to prevent motion. But the grave-clothes 
                were like a modern shroud, wrapped around arms and legs, and mummies also were 
                thus wrapped after their limbs were swathed. It was part of the miracle that 
                Lazarus came out bound hand and foot, and John puts emphasis upon it.</span>) 
        </p>

        <p align="left" class="style4"><span class="style5">45</span> Many therefore of the Jews, who came to Mary and beheld that which he did, believed on him. </p>
        <p align="left" class="style4"><span class="style5">46</span> But some of them (<span class="comm">some of the class mentioned in <span class="style7">John 11: 37</span></span>) went away to 
            the Pharisees, and told them the things which Jesus had done. (<span class="comm">By the 
                miracle Jesus had won many from the ranks of his enemies, but others, alarmed 
                at this deflection, rush off to tell the Pharisees about this new 

                cause for alarm. Farrar argues that these may have gone to the Pharisees with 
                good intentions toward Jesus, but surely no friend of Jesus could have been so 
                hasty to communicate with his enemies. But the way in which the Evangelist 
                separates these from the believers of <span class="style7">John 11: 45</span>, stamps their action as unquestionably hostile.</span>)</p>


    </div> 


</ion-content>