<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>44. BEATITUDES.</h3>
        <h3>MATTHEW 5: 3-12;  LUKE 6: 20-26.</h3>
        <p align="left" class="style4"><span class="style5">Matthew 5: 3</span> Blessed are the poor in spirit: for theirs is the 
            kingdom of heaven. (<span class="comm">The sayings in this subdivision are called beatitudes 
                from the word "beati" (<span class="comm">meaning blessed</span>), with which they begin in the 
                Vulgate, or Latin Bible. According to Matthew, these beatitudes are nine in 
                number and seven in character, for the last two, which concern persecution, do 
                not relate to traits of character, but to certain external circumstances which 
                lead to blessings. Luke gives us 

                beatitudes not recorded in 
                Matthew. Most of the beatitudes are paradoxical, being the very reverse of the 
                world's view, but Christians who have put them to the test have learned to 
                realize their unquestionable truth. The poor in spirit are those who feel a 
                deep sense of spiritual destitution and comprehend their nothingness before 
                God. The kingdom of heaven is theirs, because they seek it, and therefore find 
                and abide in it. To this virtue is opposed the pride of the Pharisee, which 
                caused him to thank God that he was not as other men, and to despise and reject 
                the kingdom of heaven. There must be emptiness before there can be fullness, 
                and so poverty of spirit precedes riches and grace in the kingdom of God.</span>)

        <p align="left" class="style4"><span class="style5">4</span> Blessed are they that mourn: for they shall be comforted. (<span class="comm"><span class="style7">Isaiah 42: 2-3; Luke 2: 25; Rom. 8: 18; John 16: 20-21</span>.</span>) 
            The blessing is not upon all that mourn (<span class="comm"><span class="style7">2 Corinthians 7: 10</span></span>); but upon those who mourn in reference to 
            sin. They shall be comforted by the discovery and appropriation of God's 
            pardon. But all mourning is traced directly or indirectly to sin. We may take 
            it, therefore, that in its widest sense the beatitude covers all those who are 
            led by mourning to a discerning of sin, and who so deplore its effects and 
            consequences in the world as to yearn for and seek the deliverance which is in 
            Christ. Those to whom Christ spoke the beatitude bore a double sorrow. Not only 
            did their own sins afflict their consciences, but the hatred and opposition of 
            other sinners added many additional sighs and tears. Joy springs from such 
            sorrow so naturally that it is likened to harvest gathered from the seed 
            (<span class="comm"><span class="style7">Psalm 126: 6</span></span>). But sorrows, even apart 
            from a sense of sin, often prove blessings to us by drawing us near unto God.</span>)

        <p align="left" class="style4"><span class="style5">5</span> Blessed are the meek: for they shall inherit the earth. (<span class="comm">His hearers 
                were full of hopes that, as Messiah, he would glut their martial spirit, and 
                lead them to world-wide conquest. But the earth was not to be subjugated to him 
                by force. Those who were meek and forbearing should receive what the arrogant 
                and selfish grasp after and can not get. "Man the animal has hitherto 
                possessed the globe. Man the divine is yet to take it. The 

                struggle is going on. But in every cycle more and more does the world feel the 
                superior authority of truth, purity, justice, kindness, love, and faith. They 
                shall yet possess the earth" (<span class="comm">Beecher</span>). The meek shall inherit it 
                in two ways: 1. They shall enjoy it more fully while in it. 2. They shall 
                finally, as part of the triumphant church, possess and enjoy it. Doubtless 
                there is also here a reference to complete possession to be fulfilled in the 
                new earth--<span class="style7">Daniel 7: 27; Revelation 3: 21; 5: 10</span>.</span>)

        <p align="left" class="style4"><span class="style5">6</span> Blessed are they who hunger and thirst after 
            righteousness: for they shall be filled. (<span class="comm">Our Lord here declares that those 
                who feel a most intense desire for righteousness shall obtain it. Under no 
                other religion had such a promise ever been given. Under Christianity the 
                promise is clear and definite. Compare <span class="style7">Romans 8: 3-4; Hebrews 7: 11, 19, 25</span>. This promise is realized in part by the 
                attainment of a higher degree of righteous living, and in part by the perfect 
                forgiveness of our sins. But the joy of this individual righteousness, blessed 
                as it is, shall be surpassed by that of the universal righteousness of the new 
                creation--<span class="style7">2 Peter 3: 13</span>.</span>)

        <p align="left" class="style4"><span class="style5">7</span> Blessed are the merciful: for they shall obtain mercy. (<span class="comm">As meekness is 
                rather a passive virtue, so mercy is an active one. The meek bear, and the 
                merciful forbear, and for so doing they shall obtain mercy both from God and 
                man. This beatitude, like the rest, has a subordinate, temporal application; 
                for God rules the world in spite of its sin. This beatitude has primary 
                reference to the forgiveness of offences. The forgiving are 
                forgiven--<span class="style7">Matthew 6: 14-15</span>.</span>)

        <p align="left" class="style4"><span class="style5">8</span> Blessed are the pure in heart: for they shall see God. (<span class="comm">The pure in heart 
                are those who are free from evil desires and purposes. They have that 
                similarity of life to the divine life which excludes all uncleanness, and which 
                enables them to comprehend, after a sympathetic fashion, the motives and 
                actions of God. Such see God by faith now, that is, by the spiritual vision of 
                a regenerate heart (<span class="comm"><span class="style7">Ephesians 1: 17-18</span></span>), 
                and shall see him face to face hereafter (<span class="comm"><span class="style7">1 Corinthhians 13: 12; 1 John 3: 2-3</span></span>). The Jews to whom Christ spoke, having 
                their hearts defiled with carnal hopes and self-righteous pride, failed to see 
                God, 

                as he was then revealing himself in the person of his Son, 
                thus forming a sad contrast to the gracious promise of the beatitude. 
                "They only can understand God who have in themselves some moral 
                resemblance to him; and they will enter most largely into the knowledge of him 
                who are most in sympathy with the divine life"--Beecher.</span>)

        <p align="left" class="style4"><span class="style5">9</span> Blessed are the peacemakers: for they shall be called sons of God. (<span class="comm">The 
                term includes all who make peace between men, whether as individuals or as 
                communities. It includes even those who worthily endeavor to make peace, though 
                they fail of success. They shall be called God's children, because he is the 
                God of peace (<span class="comm"><span class="style7">Romans 15: 33; 16: 20; 2 Corinthians 13: 11</span></span>); whose supreme purpose is to secure peace (<span class="comm"><span class="style7">Luke 2: 14</span></span>); and who gave his Son to be born into this world 
                as the Prince of Peace (<span class="comm"><span class="style7">Isaiah 9: 6</span></span>). 
                Here again Jesus varies from human ideas. In worldly kingdoms the makers of war 
                stand highest, but in his kingdom peacemakers outrank them, for the King 
                himself is a great Peacemaker--<span class="style7">Colossians 1: 20; Ephesians 2: 14</span>.</span>)

        <p align="left" class="style4"><span class="style5">10</span> Blessed are they that have been persecuted for 
            righteousness' sake: for theirs is the kingdom of heaven. (<span class="comm">Those who suffer 
                because of their loyalty to the kingdom of heaven are blessed by being bound 
                more closely to that kingdom for which they suffer.</span>)   
            Blessed are ye poor: for yours 
            is the kingdom of God.

        <p align="left" class="style4"><span class="style5">Luke 6: 21</span> Blessed 
            are ye that hunger now: for ye shall be filled. Blessed
            are ye that weep now: for ye shall 
            laugh. (<span class="comm">These three beatitudes given by Luke, like the two closing 
                beatitudes of Matthew are pronounced not upon character, but upon those in 
                certain trying conditions. They are addressed to the disciples (<span class="comm"><span class="style7">Luke 6: 17</span></span>), and are meant to strengthen and 
                encourage them to continue in the life of sacrifice when discipleship demanded. 
                For light upon the meaning of these beatitudes, see such passages as these: <span class="style7">Matthew 10: 37-39; 16: 24-26; Mark 10: 28-30 Matthew 10: 22-25</span>. The service to which Jesus called 
                meant poverty, hunger, and tears, but it led to rich reward--<span class="style7">1 Corinthians 11: 23-33; 12: 1-5</span>.</span>)

        <p align="left" class="style4"><span class="style5">22</span> Blessed are ye, when men shall hate you, and when 

            they 
            shall separate you from their company,
            and reproach you, and cast out your name as evil,and persecute you, and say all manner of evil against you 
            falsely, for my  the Son of man's sake. (<span class="comm">The Master 
                here presents the various forms of suffering which would come upon the 
                disciples by reason of their loyalty to him. We shall find several like 
                statements as we proceed with the gospel story. They would first be conscious 
                of the coldness of their brethren before the secret hate became outspoken and 
                active. Later they should find themselves excommunicated from the synagogue 
                (<span class="comm"><span class="style7">John 16: 2</span></span>). This act in turn would 
                be followed by bitter reproaches and blasphemy of the sacred name by which they 
                were called--the name Christian (<span class="comm"><span class="style7">James 2: 7; 1 Peter 4: 4</span></span>). "'Malefic' or 'execrable superstition' was the 
                favorite description of Christianity among Pagans (<span class="comm">Tac., Ann. 15: 44; 
                    Suet. Nero, 16:</span>), and Christians were charged with incendiarism, 
                cannibalism and every infamy" (<span class="comm">Farrar</span>). All this would finally 
                culminate in bloody-handed persecution, and procure the death of Christ's 
                followers by forms of law; all manner of false and evil accusations would be 
                brought against them.</span>)

        <p align="left" class="style4"><span class="style5">23</span> Rejoice ye in that day,  
            and be exceeding glad:  and leap for joy: for behold, your reward is great in 
            heaven; for in the same manner did their fathers unto the prophets.for so persecuted they the prophets that were before you. (<span class="comm">In 
                commanding rejoicing under such circumstances Jesus seemed to make a heavy 
                demand upon his disciples, but it is a demand which very many have responded to 
                (<span class="comm"><span class="style7">Acts 5: 41; 16: 25</span></span>). Anticipations of 
                the glorious future are a great tonic. For instances of persecution of the 
                prophets, see <span class="style7">1 Kings 19: 10; 2 Chronicles 16: 10; 1 Kings 22: 27; 2 Chronicles 24: 20-21; Jeremiah 26: 23 and 32: and 37; Hebrews 11: 
                    36-38</span>.</span>)

        <p align="left" class="style4"><span class="style5">24</span> But woe unto you that 
            are rich! for ye have received your consolation. (<span class="comm"><span class="style7">Luke 16: 25</span>.</span>)

        <p align="left" class="style4"><span class="style5">25</span> Woe unto you that are full now! for ye 
            shall hunger. Woe unto you, ye 
            that laugh now! for ye shall mourn and weep. (<span class="comm">These three woes are 
                respectively the converse of the three beatitudes recorded by 

                Luke. This converse is to be expected, for as long as sin lasts woes stand over 
                against beatitudes as Ebal against Gerizim. But the woe here expressed by the 
                Saviour is more of a cry of compassion than a denunciation, and may be 
                translated, "Alas for you!" The first woe applies to those who love 
                and trust in riches (<span class="comm"><span class="style7">Mark 10: 24</span></span>). Jesus 
                does not clearly define the line beyond which the possession of riches becomes 
                a danger, lest any, fancying himself to be on the safe side of the line, should 
                lull himself to repose and be taken off his guard. Riches are always 
                dangerous, and we must be ever watchful against their seduction. The second woe 
                is kindred to the first. Righteousness is the soul's true food. Those who feast 
                upon it shall be satisfied, but those who satiate themselves with this world 
                shall waken some day to a sense of emptiness, since they have filled themselves 
                with vanity (<span class="comm"><span class="style7">Ecclesiastes 2: 1-11; James 5: 1-6</span></span>). The third woe is not pronounced upon those who make 
                merriment an occasional relief (<span class="comm"><span class="style7">Proverbs 17: 22; 15: 13, 15</span></span>); but upon those who, through lack of earnestness, make 
                it a constant aim. Half the world has no higher object in life than to be 
                amused (<span class="comm"><span class="style7">Proverbs 13: 14; Ecclesiastes 7: 6</span></span>). 
                Those who sow folly shall reap a harvest of tears. The truth of this saying was 
                abundantly fulfilled in the Jewish wars, which culminated in the destruction of 
                Jerusalem about forty years later.</span>)

        <p align="left" class="style4"><span class="style5">26</span> Woe 
            unto you, when all men shall speak well of you! for in the same 
            manner did their fathers to the false prophets. (<span class="comm">This is the converse to 
                the beatitudes pronounced upon those who are reviled, etc. A righteous life 
                rebukes an evil one, and the general tendency of evil is to deride that which 
                rebukes it. This tendency caused the wicked of Christ's times to say that he 
                had a demon, and that he cast out demons by the power of Beelzebub. If our 
                lives draw to themselves no reproach, they can not be right in the sight of 
                God. A good name is more to be desired than great riches; but we must not 
                sacrifice our fidelity to Christ in order to attain it. If we adhere strictly 
                to the virtues which Christ enjoined, we shall find that the world has an evil 
                name for every one of them. Earnest contention for his 

                truth is 
                called bigotry; loyalty to his ordinances is dubbed narrowness; strict 
                conformity to the laws of purity is named puritanism; liberality is looked upon 
                as an effort to court praise; piety is scorned as hypocrisy, and faith is 
                regarded as fanaticism.</span>) 


            </ion-content>