<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>81B. THIRD WITHDRAWAL FROM HEROD'S TERRITORY.</h3>
        <h3>THE GREAT CONFESSION.</h3>
        <h3>(<span class="comm">NEAR C&AElig;SAREA PHILIPPI, SUMMER, A.D. 29.</span>)</h3>
        <h3>MATTHEW 16: 13-20;  MARK 8: 27-30; LUKE 9: 18-21.</h3>
        <p align="left" class="style4"><span class="style5">Mark 8: 27</span> And Jesus went forth, and his disciples, into the 
            villages of C&aelig;sarea Philippi (<span class="comm">The city of Paneas was enlarged by 
                Herod Philip I., and named in honor of Tiberias C&aelig;sar. It also bore the 
                name Philippi because of the name of its builder, and to distinguish it from 
                C&aelig;sarea Palestin&aelig; or C&aelig;sarea Strotonis, a city on the 
                Mediterranean coast. Paneas, the original name, still pertains to the village, 
                though now corrupted to Banias. It is situated under the shadow of Mt. Hermon 
                at the eastern of the two principal sources of the Jordan, and is the most 
                northern city of the Holy Land visited by Jesus, and save Sidon, the most 
                northern point of his travels</span>):

        <p align="left" class="style4"><span class="style5">Matthew 16: 13</span> Now when Jesus 
            came into the parts of C&aelig;sarea Philippi,  it came 
            to pass,  on the way  as he was 
            praying apart, the disciples were with him: and he asked  
            his disciples, saying, unto them,  Who do men say 
            that the Son of man is?  Who do men {the multitude} say that I am? (<span class="comm">Jesus asks them to state the popular 
                opinion concerning himself as contrasted with the opinion of the rulers, 
                Pharisees, etc.</span>)

        <p align="left" class="style4"><span class="style5">Luke 9: 19</span> And they answering  told him, 
            saying, {said,}  Some
            say John the Baptist;  but {and}  
            some,  others, Elijah; but {and} others,  Jeremiah, or  
            that one of the old prophets is risen again. (<span class="comm">For comment on similar 
                language, see page 370 (<span class="comm">Section 73</span>). It should be noted that popular opinion 
                did not honor him as Messiah, but since it accepted him as a prophet, the 
                people were therefore inexcusable in not receiving the statements which he made 
                in regard to himself, and admitting the Messianic claims which he set forth.</span>)

        <p align="left" class="style4"><span class="style5">20</span> And he said {saith} unto them,

        <p align="left" class="style4"><span class="style5">Mark 8: 29</span> And he 

            asked them, 
            But who say ye that I am? (<span class="comm">Jesus here first asks the disciples this 
                question, having given them abundant time and opportunity in which to form a 
                correct judgment. The proper answer of the heart to this question forms the 
                starting-point of the true Christian life.</span>)

        <p align="left" class="style4"><span class="style5">Matthew 16: 16</span> And 
            Simon Peter answered and said, {answeringanswereth and saith} unto him, Thou art the Christ.  of God.  the Son of the living God. 
            (<span class="comm">Peter asserts this as an assured fact and not as a mere opinion. This 
                confession embraces two propositions: 1. The office of Jesus--the Christ; 
                2. The divinity of Jesus--the Son of God. The Christhood of Jesus implies 
                his humanity, for as such he was to be the son of David. It also identifies him 
                as the hero or subject of prophecy, the long-expected deliverer. In declaring 
                Jesus to be the Son of God, Peter rose above the popular theories as to the 
                personality of Messiah, for the Jews generally did not expect him to be divine. 
                The term "living God" was used by prophets to express the contrast 
                between dead idols and the supreme Being who is possessed of vitality, reason, 
                and feeling.</span>)

        <p align="left" class="style4"><span class="style5">17</span> And Jesus answered and said unto him, Blessed art thou, 
            Simon Bar-Jonah (<span class="comm">Jesus gives the full name to make his saying more 
                personally emphatic</span>): for flesh and blood (<span class="comm">The common words of 
                contrast by which humanity was distinguished from divinity. See also <span class="style7">Galatians 1: 16</span></span>) hath not revealed it unto thee, but 
            my Father who is in heaven. (<span class="comm">Peter was blessed by having a revelation from 
                God by which facts were made known that could not be discovered by the unaided 
                human reason. God had revealed the truth to him in the words and works of 
                Jesus, and this revealed truth was to him a source of happiness both temporal 
                and eternal. Like confessions as to this truth had been made before (<span class="comm"><span class="style7">Matthew 14: 33; John 1: 49</span></span>), but they had been 
                made under the pressure of miraculous display and strong emotion. Hence they 
                were rather exclamatory guesses at the truth, and differed from this now made 
                by Peter which was the calm expression of a settled conviction produced both by 
                the character and by the miracles of Jesus.</span>)

        <p align="left" class="style4"><span class="style5">18</span> And I say also unto 

            thee, That thou art Peter (<span class="comm">petros, a noun masculine</span>) 
            and upon this rock (<span class="comm">Petra, a noun feminine</span>) I will build my 
            church (<span class="comm">The tense here is future. Christ had followers, but they were not 
                yet organized, and hence had no such structural form as to suggest a similitude 
                to a building</span>); and the gates of Hades (<span class="comm">Hades was the name of the 
                abode of the dead. Its gate symbolized its power because the military forces of 
                an ancient city always sallied forth from its gates</span>) shall not prevail 
            against it. (<span class="comm">Death shall neither destroy the organic church which is in the 
                world, nor the members thereof which go down into the grave (<span class="comm"><span class="style7">1 Thessalonians 4: 15; 1 Corinthians 15: 54-56</span></span>). No 
                passage in the word of God has called forth more discussion than this and the 
                succeeding verse, the first point in dispute being as to what is meant by the 
                rock; i. e., whether Christ or Peter or Peter's confession is the 
                foundation of the church; the second point being as to the extent of the power 
                and authority bestowed on Peter by the symbol of the keys. To aid us in 
                reaching a correct conclusion we must note that Jesus speaks in metaphorical 
                language. He represents: 1. His kingdom as a city about to be built upon a 
                rock. 2. Himself as a builder of the city. 3. Simon Peter as the one who holds 
                the keys to the gates by which egress and regress is had to the city. 4. The 
                gates or powers of the opposing city of Hades are not able to prevail against 
                this kingdom city. Now, since Jesus himself occupies the position of builder in 
                the metaphor, and Simon Peter the position of key-bearer, neither of them can 
                properly be regarded as the foundation. The foundation must therefore be the 
                confession which Peter has just spoken, since it is all that remains that is 
                liable to such application. The case could present no difficulty at all were it 
                not for the unmistakable allusion to Peter (<span class="comm">petros, a loose stone</span>) as in 
                some way associated with petra, the bedrock or foundation. But in the 
                light of other Scriptures this allusion presents no difficulty; for all the 
                apostles were such stones, and were closely allied to the foundation (<span class="comm"><span class="style7">Ephesians 2: 19-22; Galatians 2: 9</span></span>). Compare 
                also <span class="style7">1 Peter 2: 3-8</span>. The 
                Christian religion in all its redemptive completeness rests and can rest on no 
                other 

                foundation than Christ (<span class="comm"><span class="style7">1 Corinthians 3: 11</span></span>). But the church or kingdom of Christ among men rests 
                organically and constitutionally upon a foundation of apostolic authority, for 
                the apostles were the mouthpieces of the Holy Spirit; but in this apostolic 
                foundation the other apostles had equal rights, each one of them becoming a 
                living foundation stone as soon as his faith led him to make a like confession 
                with Simon Peter. Hence we find the apostle Paul asserting the superior 
                authority of the apostles to all other Christian teachers and workers 
                (<span class="comm"><span class="style7">1 Corinthians 12: 28</span></span>), and times without 
                number asserting his apostolic office and authority--<span class="style7">1 Corinthians 9: 1-2; 2 Corinthians 12: 12; 13: 1-4; Galatians 1: 
                    1, 8; Ephesians 3: 1-6; Philippians 8-9.</span>)</span>

        <p align="left" class="style4"><span class="style5">19</span> I will give unto thee 
            the keys of the kingdom of heaven: and whatsoever thou shalt bind on earth 
            shall be bound in heaven: and whatsoever thou shalt loose on earth shall be 
            loosed in heaven. (<span class="comm">Continuing his metaphorical language, Jesus promised to 
                Peter the keys; i. e., the authority to lay down the rules or laws 
                (<span class="comm">under the guidance of the Holy Spirit, however</span>) for admission to or exclusion 
                from the kingdom or church. This office was, of course, given to Peter in a 
                secondary sense, since it must ever belong to Christ in a primary sense 
                (<span class="comm"><span class="style7">Revlation 3: 7</span></span>). The figure of key-bearer 
                is taken from <span class="style7">Isaiah 22: 22</span>. Peter 
                used the keys on the day of Pentecost to open the church to the Jews, and about 
                seven years afterward, at C&aelig;sarea Palestin&aelig;, he used them again to 
                admit the Gentiles. In fixing the terms of admission, he also fixed the terms 
                of exclusion, for all who are not admitted are excluded. The keys as used by 
                Peter have never been changed; that is to say, the terms of admission abide 
                forever. Plurality of keys is merely part of the parabolic drapery, since 
                cities were accustomed to have several gates, thus requiring a plurality of 
                keys. The kingdom was not opened to Jews and Gentiles by different keys, since 
                both were admitted on the same terms. The words "bind" and 
                "loose" were commonly used among the Jews in the sense of forbid 
                and allow. Abundant instances of this usage have been collected by Lightfoot. 
                They relate to the binding and annulling of laws and rules. 

                In this sense the word for loose, is used very many times in the New Testament, 
                but it is translated by the word break or broken (<span class="comm"><span class="style7">Matthew 5: 19; John 7: 23; 10: 35</span></span>). The power here given to Peter was 
                soon after extended to the rest of the apostles (<span class="comm"><span class="style7">Matthew 18: 18</span></span>). The apostles were to lay down, as they afterward 
                did, the organic law of the new kingdom, defining what things were prohibited 
                and what permitted. Their actions in this behalf would of course be ratified in 
                heaven, because they were none other than the acts of the Holy Spirit expressed 
                through the apostles.</span>)

        <p align="left" class="style4"><span class="style5">Mark 8: 30</span> And <span class="style5">Matthew 16: 20</span> Then <span class="style5">Luke 9: 21</span> {But} charged he the disciples  and commanded them to tell this to no man;that they should tell no man of him.  
            that he was the Christ. (<span class="comm">The people were not ready to receive this truth, 
                nor were the apostles sufficiently instructed to rightly proclaim it. Their 
                heads were full of wrong ideas with regard to Christ's work and office, and had 
                they been permitted to teach about him, they would have said that which it 
                would have been necessary for them to subsequently correct, thus producing 
                confusion.</span>)



    </div> 


</ion-content>