<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>50. CONCERNING PRAYER.</h3>
        <h3>MATTHEW 7: 7-11.</h3>
        <p align="left" class="style4"><span class="style5"></span> 


        <p align="left" class="style4"><span class="style5">7</span>  Ask, and it shall be given you; seek, and ye shall 
            find; knock, and it shall be opened unto you (<span class="comm">The words here are slightly 
                climacteric. Asking is a simple use of voice, seeking is a motion of the body, 
                and knocking is an effort to open and pass through obstacles</span>): 


        <p align="left" class="style4"><span class="style5">8</span>  for 
            every one that asketh receiveth; and he that seeketh findeth; and to him that 
            knocketh it shall be opened. (<span class="comm">Jesus here uses the universal "every 
                one," but he means every one of a class, for the term is modified by the 
                prescribed conditions of acceptable prayer (<span class="comm">
                    <span class="style7">
                        Matthew 6: 14, 15; James 1: 6, 7; 4: 3; 1 John 5: 14</span></span>). We see also by the 
                next verse that it means every one who is 
                recognized by God as a son. All God's children who pray rightly are heard.</span>) 

        <p align="left" class="style4"><span class="style5">9</span>  Or what man is there of you, who, if his son shall ask him for a loaf, will 
            give him a stone; 

        <p align="left" class="style4"><span class="style5">10</span>  or if he shall ask for a fish, will give him 
            a serpent? (<span class="comm">Fish and bread were the common food of the peasants of Galilee. 
                A stone might resemble a cake, but if given it would deceive the child. A 
                serpent might resemble an eel or a perch, but if given it would be both 
                deceptive and injurious. We often misunderstand God's answer thus. But our 
                sense of sonship should teach us better.</span>) 

        <p align="left" class="style4"><span class="style5">11</span>  If ye then, being evil, know 
            how to give good gifts unto your children, how much more shall your Father who 
            is in heaven give good things to them that ask him? (<span class="comm">Here is an argument 
                from analogy. It is assumed that the paternal feeling which prompts us to give 
                good 

                things to our children, is still a higher degree in God with 
                reference to his children; and hence it is argued that he will much more give 
                good things to those who ask him. Since it is Jesus who assumes the likeness on 
                which the argument rests, we may rely on the correctness of the reasoning; but 
                we must be cautious how we derive arguments of our own from the analogy between 
                God's attributes and the corresponding characteristics of man. For example, 
                this attribute of paternal feeling has been employed to disprove the reality of 
                the eternal punishment with which God himself threatens the sinner, because the 
                paternal feeling in man would prevent him from so punishing his own children. 
                The fallacy in the argument consists in assuming that the feeling in question 
                must work the same results in every particular in God that it does in man. But 
                Revelation teaches that such is not the case.</span>)
    </div>


</ion-content>