<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>42. THE SERMON ON THE MOUNT.</h3>
        <h3>(<span class="comm">CONCERNING THE PRIVILEGES AND REQUIREMENTS OF THE MESSIANIC REIGN.
                A MOUNTAIN PLATEAU NOT FAR FROM CAPERNAUM.</span>)</h3>
        <h3>MATTHEW 5: 1-2;  LUKE 6: 17-20.</h3>
        <p align="left" class="style4"><span class="style5">Luke 6:17</span> and he came down with them (<span class="comm">the twelve apostles 
                whom he had just chosen</span>), and stood on a level place (<span class="comm">Harmonists 
                who wish to make this sermon in Luke identical with the sermon on the mount 
                recorded by Matthew, say that Jesus stood during the healing of the multitude, 
                and that he afterwards went a little way up the mountain-side and sat down when 
                he taught (<span class="comm"><span class="style7">Matthew 5: 1</span></span>). The "level 
                place" is meant by our translators to indicate a plateau on the side of 
                the mountain, and not the plain at its base. In this translation they were 
                influenced somewhat by a desire to make the two sermons one. It is more likely 
                that the sermons were not identical, yet they were probably delivered about the 
                same time, for in each Evangelist the sermon is followed by an account of the 
                healing of the centurion's servant. As it is a matter of no great importance 
                whether there was one sermon or two, and as they contain many things in common, 
                we have taken the liberty of combining them to save time and space. The sermon 
                is an announcement of certain distinctive features of the kingdom of heaven, 
                which was said to be at hand</span>), and a great multitude of his 
            disciples, and a great number of people from all Jud&aelig;a and Jerusalem, and 
            from the sea coast of Tyre and Sidon, who came to hear him, and to be healed of 
            their diseases;

        <p align="left" class="style4"><span class="style5">18</span> and they that were troubled with unclean 
            spirits were

        <p align="left" class="style4"><span class="style5">19</span> And all the multitude 
            sought to touch him; for power came forth from him, and healed them all. (<span class="comm">By comparing this with the 
                foregoing section, we shall find that Mark had described this same crowd; the 
                only difference between him and Luke being that he tells about it the day 
                before Jesus chose the twelve apostles, while Luke describes its presence on 
                the day after the event. Thus one substantiates the other.</span>) 


            </ion-content>