<div class="popup-head-close"><h3>CLOSE WINDOW <i class="ion-android-close" id="closePopup4" ng-click="$buttonTapped(button, $event)" ng-repeat="button in buttons"></i></h3></div>
<ion-content scroll="true">
    <div class="section-one angel-page common-padding">
        <h3>130. JUDAS' BETRAYAL FORETOLD.</h3>
        <h3>(<span class="comm">JERUSALEM. EVENING BEFORE THE CRUCIFIXION.</span>)</h3>
        <h3>MATTHEW 26: 21-25, 31-35;  MARK 14: 18-21, 27-31;  LUKE 22: 21-23, 31-38; JOHN 13: 21-38.</h3>
        <p align="left" class="style4"><span class="style5">18</span> And  </p>

        <p align="left" class="style4"><span class="style5">21</span> When 
            Jesus had thus said,  as they sat and were eating,
            he was troubled in the spirit, and  
            Jesus  testified, and said, Verily, verily, I say


            unto you, that one of you shall betray me.  
            even he that eateth with me.
        </p>

        <p align="left" class="style4"><span class="style5">21</span> But behold, the hand of him that 
            betrayeth me is with me on the table. (<span class="comm">The foreknowledge of Judas' crime 
                did not relieve the Lord from the sting of it. By the use of the word 
                "betray" Jesus revealed to Judas that he had perfect knowledge of 
                the peculiar crime which he was about to commit. To induce repentance the 
                enormity of the crime is pointed out in two ways: 1. It was the act of one, an 
                act in which no other could be found willing to have a part. 2. It was the act 
                of one whose hand rested on the table, who was admitted to the closest 
                intercourse and fellowship.</span>)</p>   


        <p align="left" class="style4"><span class="style5">22</span> The disciples 
            looked one on another (<span class="comm">in startled amazement</span>), doubting of whom 
            he spake.  </p>

        <p align="left" class="style4"><span class="style5">22</span> And they
            began to be {were} exceeding 
            sorrowful (<span class="comm">that the Lord should be betrayed was sorrow enough, but that one 
                of the twelve should do the deed was an added grief</span>), </p> 

        <p align="left" class="style4"><span class="style5">23</span> And they began to question among themselves, which of them it 
            was that should do this thing.  and  
            began  to say unto him one by one,every one, Is it I, Lord? (<span class="comm">The form of the question in the 
                Greek indicates that it expects "No" for an answer, so that it may 
                be rendered, "Surely it is not I?"</span>) </p>

        <p align="left" class="style4"><span class="style5">23</span> And he answered and 
            said,  unto them, It 
            is one of the twelve,  He that dipped 
            {dippeth}  his hand with me 
            in the dish, the same shall betray me. (<span class="comm">According to Oriental custom, 
                knives and forks were not used. One dish served to hold the sop for several 
                people, that they might dip their bread into it. In so large a company, two or 
                three bowls would be used for convenience' sake. The words of Jesus, therefore, 
                limited the circle of accused ones from twelve to four or five, and also 
                further emphasized the tender and close intimacy between the traitor and the 
                Master.</span>)   </p>

        <p align="left" class="style4"><span class="style5">21</span> For the Son of man goeth,  as it hath been determined:  even as it 
            is written of him: but woe unto that man through whom the Son of man is 
            betrayed! good were it for that man if he had not been born. (<span class="comm">Jesus was 
                following with unfaltering step the path of suffering marked out by the 
                prophets. 

                But this fact in no way exculpated the authors of his 
                death. The prophecies referred to are many. As examples, see <span class="style7">Psalm 22:, Isaiah 53</span>. The woe pronounced upon 
                Judas was no vindictive or vengeful wish; it is the solemn announcement of the 
                divine judgment. The words of Jesus stop the mouths of the apologists for 
                Judas. When the judge thus speaks in condemnation, who shall presume to argue 
                in extenuation?</span>)  </p> 

        <p align="left" class="style4"><span class="style5">23</span>  There was at the table 
            reclining in Jesus' bosom one of his disciples, whom Jesus loved. (<span class="comm">John 
                thus speaks of himself. His couch was in front of that of the Lord, so that 
                when he laid his head back it rested upon Jesus' bosom. See p. 513.</span>) </p>

        <p align="left" class="style4"><span class="style5">24</span> 
            Simon Peter therefore beckoneth to him, and saith unto him, Tell us who it is of whom he speaketh. </p>

        <p align="left" class="style4"><span class="style5">25</span> He leaning back, as he was, on Jesus' breast saith unto him, Lord, who is 
            it? </p>

        <p align="left" class="style4"><span class="style5">26</span> Jesus therefore answereth, He it is, for whom I shall dip 
            the sop, and give it him. (<span class="comm">It was a mark of special respect and courtesy to 
                thus dip a sop and hand it to a guest.</span>) So when he had dipped the sop, he 
            taketh and giveth it to Judas, the son
            of Simon Iscariot. (<span class="comm">Thus Jesus advanced in his disclosure from 
                twelve to three or four, and from three or four to one, and that one a friend 
                most highly honored. But Judas was neither to be warned nor wooed from his 
                purpose.</span>)  </p> 

        <p align="left" class="style4"><span class="style5">25</span> And Judas, who betrayed him, answered 
            and said, Is it I, Rabbi? He saith unto him, Thou hast said. (<span class="comm">It seems 
                strange that the disciples showed no resentment toward Judas, and made no 
                effort to interfere with this course, but their conduct is plain if we regard 
                them as viewing the predictions of Jesus as referring to the indefinite future, 
                and not the immediate present.</span>)   </p>


        <p align="left" class="style4"><span class="style5">27</span> And after the 
            sop, then entered Satan into him. (<span class="comm">Exposure only hardened Judas and made 
                him resign himself more fully to the influence of the devil.</span>) Jesus 
            therefore saith unto him, What thou doest, do quickly. (<span class="comm">Jesus does not 
                command the deed, but since it has already been determined upon, he dismisses 
                Judas from his presence with words which fix the manner in which the deed 
                should be done. Judas was still 

                under divine command in a limited 
                sense, for Satan himself is not beyond divine authority.</span>) </p>

        <p align="left" class="style4"><span class="style5">28</span> Now no man at 
            the table knew for what intent he spake this unto him. (<span class="comm">Jesus had not fully 
                and openly revealed Judas as the traitor. To have done so in the presence of 
                the fiery Galil&aelig;ans might have resulted in violence to the person of the 
                betrayer.</span>) 
        </p>
        <p align="left" class="style4"><span class="style5">29</span> For some thought, because Judas had the bag, that Jesus said 
            unto him, Buy what things we have need of for the feast (<span class="comm">the feast on the 
                evening of the first day of the festival of unleavened bread appears to have 
                been both joyful and very bountiful</span>); or, that he should give 
            something to the poor. (<span class="comm">Probably to aid them in preparing for this feast.</span>) </p>
        <p align="left" class="style4"><span class="style5">30</span> He then having received the sop went out straightway: and it was 
            night. (<span class="comm">Though this expression, "it was night," is merely one 
                which marks the time of day, nearly all commentators feel the weird force of it 
                (<span class="comm"><span class="style7">Luke 22: 53</span></span>). Alford says, "I 
                feel, with Meyer, that there is something awful in this termination--'it 
                was night.'"</span>) </p>

        <p align="left" class="style4"><span class="style5">31</span> When therefore he was gone out, Jesus saith, Now is 
            the Son of man glorified, and God is glorified in him; </p>

        <p align="left" class="style4"><span class="style5">32</span> and God 
            shall glorify him in himself, and straightway shall he glorify him. (<span class="comm">The 
                departure of Judas was the first step in the progress of the Lord's Passion, 
                and in this moment of its beginning Jesus exults in the prospect of its end. 
                Having just condemned the false pride and glory of men by washing his 
                disciples' feet, Jesus rejoices that the true glory of God is about to be 
                immediately manifested in himself--the glory of humility, charity, 
                service, and self-sacrifice, which was realized to the utmost in the person of 
                Jesus.</span>) </p>

        <p align="left" class="style4"><span class="style5">33</span> Little children, yet a little while I am with you. Ye shall seek 
            me: and as I said unto the Jews (<span class="comm">see pp. 447, 448</span>), Whither I go, 
            ye cannot come; so now I say unto you. </p>

        <p align="left" class="style4"><span class="style5">34</span> A new commandment I give 
            unto you, that ye love one another; even as I have loved you, that ye also love 
            one another. </p>

        <p align="left" class="style4"><span class="style5">35</span> By this shall all men know that ye are my 
            disciples, if ye have love one to another. (<span class="comm">In the term of tenderness 
                "my little children," with which 

                Jesus opens this 
                paragraph, we see one of the marks of love referred to by John (<span class="comm"><span class="style7">John 13: 1</span></span>). It is found nowhere else in the 
                Gospels. In the light of his near separation Jesus looked upon his apostles as 
                about to be made orphan children. As to this new commandment, love had been 
                commanded before (<span class="comm"><span class="style7">Leviticus 19: 18</span></span>), but 
                the Christian love here commanded is different from that which the Jew was bade 
                to feel for the Jew, just as the affection of a loving family differs from the 
                mere broad and kindly spirit of neighborliness. A love which had Christ's heart 
                as the standard would of necessity be new, and would distinguish those who 
                possessed it from all men.</span>) </p> 

        <p align="left" class="style4"><span class="style5">27</span> And 
        </p> 

        <p align="left" class="style4"><span class="style5">31</span> Then saith Jesus unto them, All ye shall be 
            offended in me this night: for it is written (<span class="comm"><span class="style7">Zecheriah 13: 7</span></span>), I will smite the shepherd, and the sheep 
            of the flock shall be scattered abroad. </p>

        <p align="left" class="style4"><span class="style5">32</span> But  
        </p>

        <p align="left" class="style4"><span class="style5">28</span> Howbeit, after I am raised up, I will go before you 
            into Galilee. (<span class="comm">The scattering would take place after the return of the 
                apostles to Galilee, and there after his resurrection, Jesus would gather them 
                together as their shepherd.</span>)  </p> 

        <p align="left" class="style4"><span class="style5">36</span> Simon Peter saith 
            unto him, Lord, whither goest thou? Jesus answered, Whither I go, thou canst 
            not follow now; but thou shalt follow afterwards. </p>

        <p align="left" class="style4"><span class="style5">37</span> Peter saith 
            unto him, Lord, why cannot I follow thee even now? I will lay down my life for 
            thee. (<span class="comm">Peter, grieved at the prospect of separation, can see no reason why 
                he should not follow, since he is willing to pass even through the portal of 
                the grave that he may do so. Though perhaps prevented by no moral inability, he 
                was prevented by the plan of life which God had designed for him. It was not in 
                accordance with the divine will that he should die at this time.</span>) </p>

        <p align="left" class="style4"><span class="style5">38</span> Jesus 
            answereth, Wilt thou lay down thy life for me?  </p>
        <p align="left" class="style4"><span class="style5">31</span> Simon, Simon, behold, Satan asked to have you, that he might sift you 
            as wheat: </p>

        <p align="left" class="style4"><span class="style5">32</span> but I made supplication for thee, that thy faith fail 
            not (<span class="comm">The language here suggests a repetition, in some degree, of Satan's 
                conduct in the case of Job. See <span class="style7">Job 1, 2</span>. Jesus, having insight into what was going on in the spirit 
                world, made supplication that Peter 

                might be enabled to endure the 
                trial</span>); and do thou, when once thou hast turned again, establish thy 
            brethren. (<span class="comm">The language sadly intimates that Satan's test would leave him 
                in need of repentance. As the one who perhaps exercised the strongest influence 
                over the other ten apostles, Peter is exhorted to use his own bitter experience 
                for their benefit and strengthening.</span>) </p>

        <p align="left" class="style4"><span class="style5">33</span> And he said unto him, Lord, with 
            thee I am ready to go both to prison and to death. 
        </p>

        <p align="left" class="style4"><span class="style5">33</span> But Peter answered and said unto him,Although, {If} all shall be offended in 
            thee,  yet will not 1:  I will 
            never be offended. (<span class="comm">Thus Peter repudiates the idea that he could not stand 
                the test.</span>)  </p>

        <p align="left" class="style4"><span class="style5">30</span> And Jesus saith {
            said} unto him, Verily I say unto thee,  I tell 
            thee, Peter,  that thou to-day, even this night, before the cock crow 
            twice,  thou shalt thrice deny that thou knowest me.
            Verily, verily, I say unto thee, The cock shall not 
            crow,  this day,  till {
            until}  thou hast denied me 
            thrice. (<span class="comm">Mark speaks of two cock-crowings and shows that the denial of 
                Peter occurred between them (<span class="comm"><span class="style7">Mark 14: 68-72</span></span>). But Matthew, Luke, and John speak of but one 
                cock-crowing and place the denial before it. The discrepancy is not an 
                important one. Luke and John look upon the night in its entirety and speak of 
                the cock-crowing at three in the morning, the signal of the dawning day. Mark 
                looks at the night in its details, and shows that the denials of Peter began at 
                midnight, the time of the first cock-crowing, and were finished before the 
                last, or about three in the morning. Peter appears to have been thunderstruck 
                at this prediction, which showed the nature, the details, and the nearness of 
                his sin. He lapsed into silence, and we hear no more from him during the 
                discourses which followed. But he did not yield without one final protest, as 
                the sequel shows.</span>)   </p>

        <p align="left" class="style4"><span class="style5">31</span> But  
            Peter  spake exceedingly vehemently,  
            saith unto him, Even  If I must die with thee, I 
            will not deny thee. And in like manner {Likewise} 
            also said all the disciples. (<span class="comm">According to Matthew's account these 
                accusations of our Lord and protestations of Peter were taken up again after 


                Jesus left the upper room and was on his way to Gethsemane. The 
                reader may therefore conceive of them as occurring again in the opening lines 
                of Section 134.</span>)   </p>

        <p align="left" class="style4"><span class="style5">35</span> And 
            he said unto them, When I sent you forth without purse, and wallet, and shoes, 
            lacked ye anything? (<span class="comm">See pp. 363, 364.</span>) And they said, Nothing.</p>


        <p align="left" class="style4"><span class="style5">36</span> And he said unto them, But now, he that hath a purse, let him take 
            it, and likewise a wallet; and he that hath none, let him sell his cloak, and 
            buy a sword. </p>

        <p align="left" class="style4"><span class="style5">37</span> For I say unto you, that this which is written 
            (<span class="comm"><span class="style7">Isaiah 53: 12</span></span>) must be fulfilled 
            in me, And he was reckoned with transgressors: for that which concerneth me 
            hath fulfilment. </p>


        <p align="left" class="style4"><span class="style5">38</span> And they said, Lord, behold, here are two 
            swords. And he said unto them, It is enough. (<span class="comm">In this passage our Lord 
                draws a contrast between the favor with which his messengers had been received 
                on their former mission and the trials and persecutions which awaited 
                them in their future course. If they had prepared then to be received 
                with joy, they were to prepare now to be opposed with bitterness; for the utter 
                rejection of the Master would be followed by the violent persecution of the 
                servants. The apostles took the words of Jesus literally, and showed two 
                swords, and the Lord, for their future enlightenment, said, "It is 
                enough," thus intimating that he did not mean a literal arming with 
                carnal weapons, for had he done so, two swords would not have sufficed for 
                twelve men.</span>)</p>
    </div> 


</ion-content>